interactions:
- request:
    body: '{"query": "\n            query CasbAppReport(\n                $startTime:
      Long!, $endTime: Long!, $limit: Int,\n                $filter_by: CasbEntriesFilterBy,
      $order_by: [CasbEntryOrderBy]\n            ) {\n                SAAS_SECURITY
      {\n                    casb_app(start_time: $startTime, end_time: $endTime)
      {\n                        obfuscated\n                        entries(limit:
      $limit, filter_by: $filter_by, order_by: $order_by) {\n                            name\n                            total\n                        }\n                    }\n                }\n            }\n        ",
      "variables": {"startTime": 1765158718994, "endTime": 1765763518994, "limit":
      10, "filterBy": null, "orderBy": null}, "operationName": "CasbAppReport"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zins/graphql
  response:
    body:
      string: '{"data":{"SAAS_SECURITY":{"casb_app":{"obfuscated":false,"entries":[]}}}}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 544f3c4c-6835-91fa-9ca0-b5ecc5a3ac5f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 1278d80a-edb5-4899-b653-4d650c426caa
    status:
      code: 200
      message: OK
version: 1
