interactions:
- request:
    body: '{"query": "\n            query WebTrafficByLocation(\n                $startTime:
      Long!, $endTime: Long!, $trafficUnit: WebTrafficUnits!,\n                $includeTrend:
      Boolean, $trendInterval: TrendInterval, $limit: Int,\n                $filter_by:
      WebEntriesFilterBy, $order_by: [WebOrderBy]\n            ) {\n                WEB_TRAFFIC
      {\n                    location(\n                        start_time: $startTime,\n                        end_time:
      $endTime,\n                        traffic_unit: $trafficUnit,\n                        include_trend:
      $includeTrend,\n                        trend_interval: $trendInterval\n                    )
      {\n                        obfuscated\n                        entries(limit:
      $limit, filter_by: $filter_by, order_by: $order_by) {\n                            name\n                            total\n                            trend
      {\n                                trend_start_time\n                                trend_interval\n                                trend_values\n                            }\n                        }\n                    }\n                }\n            }\n        ",
      "variables": {"startTime": 1765158719331, "endTime": 1765763519331, "trafficUnit":
      "TRANSACTIONS", "includeTrend": false, "trendInterval": null, "limit": 10, "filterBy":
      null, "orderBy": null}, "operationName": "WebTrafficByLocation"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zins/graphql
  response:
    body:
      string: '{"errors":[{"message":"Something went wrong","locations":[{"line":8,"column":21}],"path":["WEB_TRAFFIC","location"],"extensions":{"classification":"INTERNAL_ERROR"}}],"data":{"WEB_TRAFFIC":{"location":null}}}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d66d0445-60f5-98d4-9de2-36ac8980a55b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 1278d80a-edb5-4899-b653-4d650c426caa
    status:
      code: 200
      message: OK
version: 1
