interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"loginName": "REDACTED", "displayName": "John Doe", "firstName":
      "John", "lastName": "Doe", "primaryEmail": "REDACTED", "secondaryEmail":
      "REDACTED", "status": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://identity.test.zscaler.com/admin/api/v1/users
  response:
    body:
      string: '{"loginName":"REDACTED","displayName":"John Doe","firstName":"John","lastName":"Doe","primaryEmail":"REDACTED","secondaryEmail":"REDACTED","department":{},"status":true,"customAttrsInfo":{},"id":"ihm28qmb5077b","source":"API","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '148'
      x-ratelimit-reset:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"loginName": "REDACTED", "displayName": "John Doe", "firstName":
      "John", "lastName": "Doe", "primaryEmail": "REDACTED", "secondaryEmail":
      "REDACTED", "status": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://identity.test.zscaler.com/admin/api/v1/users/ihm28qmb5077b
  response:
    body:
      string: '{"loginName":"REDACTED","displayName":"John Doe","firstName":"John","lastName":"Doe","primaryEmail":"REDACTED","secondaryEmail":"REDACTED","department":{},"status":true,"customAttrsInfo":{},"id":"ihm28qmb5077b","source":"API","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '147'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://identity.test.zscaler.com/admin/api/v1/users
  response:
    body:
      string: '{"pageOffset":0,"pageSize":100,"results_total":156,"records":[{"loginName":"REDACTED","displayName":"Albert
        Amin","firstName":"Albert","lastName":"Amin","primaryEmail":"REDACTED","department":{"id":"tpsipgoilg66e","name":"Engineering"},"status":true,"customAttrsInfo":{},"id":"ihsipgoqf066s","source":"SCIM","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"}},{"loginName":"REDACTED","displayName":"Allison
        Ashley","firstName":"Allison","lastName":"Ashley","primaryEmail":"REDACTED","department":{"id":"tpsipgoilg66e","name":"Engineering"},"sta[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://identity.test.zscaler.com/admin/api/v1/users/ihm28qmb5077b
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
