interactions:
- request:
    body: '{"loginName": "john.doe@securitygeek.io", "displayName": "John Doe", "firstName":
      "John", "lastName": "Doe", "primaryEmail": "john.doe@securitygeek.io", "secondaryEmail":
      "jdoe@acme.com", "status": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://identity.test.zscaler.com/admin/api/v1/users
  response:
    body:
      string: '{"loginName":"john.doe@securitygeek.io","displayName":"John Doe","firstName":"John","lastName":"Doe","primaryEmail":"john.doe@securitygeek.io","secondaryEmail":"jdoe@acme.com","department":{},"status":true,"customAttrsInfo":{},"id":"ihm28qmb5077b","source":"API","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '148'
      x-ratelimit-reset:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"loginName": "john.doe@securitygeek.io", "displayName": "John Doe", "firstName":
      "John", "lastName": "Doe", "primaryEmail": "john.doe@securitygeek.io", "secondaryEmail":
      "jdoe1@acme.com", "status": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://identity.test.zscaler.com/admin/api/v1/users/ihm28qmb5077b
  response:
    body:
      string: '{"loginName":"john.doe@securitygeek.io","displayName":"John Doe","firstName":"John","lastName":"Doe","primaryEmail":"john.doe@securitygeek.io","secondaryEmail":"jdoe1@acme.com","department":{},"status":true,"customAttrsInfo":{},"id":"ihm28qmb5077b","source":"API","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '147'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://identity.test.zscaler.com/admin/api/v1/users
  response:
    body:
      string: '{"pageOffset":0,"pageSize":100,"results_total":156,"records":[{"loginName":"albert.amin@securitygeek.io","displayName":"Albert
        Amin","firstName":"Albert","lastName":"Amin","primaryEmail":"albert.amin@securitygeek.io","department":{"id":"tpsipgoilg66e","name":"Engineering"},"status":true,"customAttrsInfo":{},"id":"ihsipgoqf066s","source":"SCIM","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"}},{"loginName":"allison.ashley@securitygeek.io","displayName":"Allison
        Ashley","firstName":"Allison","lastName":"Ashley","primaryEmail":"allison.ash[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://identity.test.zscaler.com/admin/api/v1/users/ihm28qmb5077b
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
