interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://identity.test.zscaler.com/admin/api/v1/resource-servers
  response:
    body:
      string: '{"pageOffset":0,"pageSize":100,"results_total":2,"records":[{"id":"jhlm4bhr7g7j2","name":"Zscaler
        APIs","displayName":"Zscaler APIs","description":"Zscaler APIs endpoint","primaryAud":"https://api.zscaler.com","defaultApi":true,"serviceScopes":[{"service":{"id":"hhlm4bhr9g7ja","name":"ZIAM","displayName":"ZIdentity
        Administration"},"scopes":[{"id":"hhlm4bhr9g7ja::9hl7h09lvg6kc","name":"Role:CXO
        Insight User"},{"id":"hhlm4bhr9g7ja::9h727vp4t02tc","name":"Role:Super Admin"},{"id":"hhlm4bhr9g7ja::9hivdvq44060o","name":"Role:Users
        Admin"},{"id":"hhlm4bhr9g7ja::9h727vpadg2td","name":"Role:View Only Admin"}]},{"service":{"id":"hhlm4bhmag7iq","name":"ZCC","displayName":"Zscaler
        Client Connector","cloudName":"zscalerthree.net","orgName":"Security Geek
        IO"},"scopes":[{"id":"hhlm4bhmag7iq::hq6ja786l06bl","name":"Role:API_Role_READONLY"},{"id":"hhlm4bhmag7iq::hplm4bkrmg7k2","name":"Role:Read
        Only"},{"id":"hhlm4bhmag7iq::hplm4bkrm07jj","name":"Role:Super Admin"}]},{"service":{"id":"hhlm4bhma07ip","name":"CLOUD_CONNECTOR","displayName":"Zscaler
        Cloud and Branch Connector","cloudName":"zscalerthree.net","orgName":"William
        Guilherme"},"scopes":[{"id":"hhlm4bhma07ip::hplm4bko6g7jn","name":"Role:Branch
  [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://identity.test.zscaler.com/admin/api/v1/resource-servers/jhlm4bhr7g7j2
  response:
    body:
      string: '{"id":"jhlm4bhr7g7j2","name":"Zscaler APIs","displayName":"Zscaler
        APIs","description":"Zscaler APIs endpoint","primaryAud":"https://api.zscaler.com","defaultApi":true,"serviceScopes":[{"service":{"id":"hhlm4bhr9g7ja","name":"ZIAM","displayName":"ZIdentity
        Adm[...]
