interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "ZidentityGroup_2097", "description": "ZidentityGroup_6959", "source":
      "SCIM", "adminEntitlementEnabled": true, "serviceEntitlementEnabled": true,
      "dynamicGroup": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://identity.test.zscaler.com/admin/api/v1/groups
  response:
    body:
      string: '{"name":"ZidentityGroup_2097","description":"ZidentityGroup_6959","id":"ia80so5do076d","source":"API","adminEntitlementEnabled":true,"serviceEntitlementEnabled":true,"dynamicGroup":false}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '148'
      x-ratelimit-reset:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "ZidentityGroupUpdate_9773", "description": "ZidentityGroupUpdate_3486",
      "source": "SCIM", "adminEntitlementEnabled": true, "serviceEntitlementEnabled":
      true, "dynamicGroup": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://identity.test.zscaler.com/admin/api/v1/groups/ia80so5do076d
  response:
    body:
      string: '{"name":"ZidentityGroupUpdate_9773","description":"ZidentityGroupUpdate_3486","id":"ia80so5do076d","source":"API","adminEntitlementEnabled":true,"serviceEntitlementEnabled":true,"dynamicGroup":false}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://identity.test.zscaler.com/admin/api/v1/groups?search=ZidentityGroupUpdate_9773
  response:
    body:
      string: '{"pageOffset":0,"pageSize":100,"results_total":1431,"records":[{"name":"A000","id":"i9sipegdrg7nl","source":"SCIM","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"},"adminEntitlementEnabled":true,"serviceEntitlementEnabled":true,"dynamicGroup":false},{"name":"A001","id":"i9sipk8bfg67v","source":"SCIM","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"},"adminEntitlementEnabled":true,"serviceEntitlementEnabled":true,"dynamicGroup":false},{"name":"A002","id":"i9sipel4bg668","source":"SCIM","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"},"adminEntitlementEnabled":true,"serviceEntitlementEnabled":true,"dynamicGr[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://identity.test.zscaler.com/admin/api/v1/groups/ia80so5do076d
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
