aenum==3.1.16 ; python_full_version >= "3.9.2" and python_version < "4.0"
arrow==1.4.0 ; python_full_version >= "3.9.2" and python_version < "4.0"
certifi==2025.11.12 ; python_full_version >= "3.9.2" and python_version < "4.0"
cffi==2.0.0 ; python_full_version >= "3.9.2" and platform_python_implementation != "PyPy" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_full_version >= "3.9.2" and python_version < "4.0"
cryptography==46.0.3 ; python_full_version >= "3.9.2" and python_version < "4.0"
flatdict==4.0.1 ; python_full_version >= "3.9.2" and python_version < "4.0"
idna==3.11 ; python_full_version >= "3.9.2" and python_version < "4.0"
jwcrypto==1.5.6 ; python_full_version >= "3.9.2" and python_version < "4.0"
pycparser==2.23 ; python_full_version >= "3.9.2" and platform_python_implementation != "PyPy" and python_version < "4.0" and implementation_name != "PyPy"
pydash==8.0.5 ; python_full_version >= "3.9.2" and python_version < "4.0"
pyjwt==2.10.1 ; python_full_version >= "3.9.2" and python_version < "4.0"
python-box==7.3.2 ; python_full_version >= "3.9.2" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.9.2" and python_version < "4.0"
pytz==2025.2 ; python_full_version >= "3.9.2" and python_version < "4.0"
pyyaml==6.0.3 ; python_full_version >= "3.9.2" and python_version < "4.0"
requests==2.32.5 ; python_full_version >= "3.9.2" and python_version < "4.0"
six==1.17.0 ; python_full_version >= "3.9.2" and python_version < "4.0"
typing-extensions==4.15.0 ; python_full_version >= "3.9.2" and python_version < "4.0"
tzdata==2025.3 ; python_full_version >= "3.9.2" and python_version < "4.0"
urllib3==2.6.2 ; python_full_version >= "3.9.2" and python_version < "4.0"
