arrow
certifi
charset-normalizer
idna
python-box
python-dateutil
requests
responses
restfly
six
urllib3
flatdict
pyyaml
xmltodict
yarl
pycryptodomex
aenum
pydash
flake8
sphinx
sphinx-autobuild
sphinx_rtd_theme
pytz

# Testing dependencies
pytest
pytest-asyncio
pytest-mock
pytest-recording
pytest-cov
pyfakefs
aenum==3.1.11
pydash