interactions:
- request:
    body: '{"query": "\n            query FirewallByAction(\n                $startTime:
      Long!, $endTime: Long!, $limit: Int,\n                $filter_by: FirewallEntriesFilterBy,
      $order_by: [FirewallEntryOrderBy]\n            ) {\n                ZERO_TRUST_FIREWALL
      {\n                    action(start_time: $startTime, end_time: $endTime) {\n                        obfuscated\n                        entries(limit:
      $limit, filter_by: $filter_by, order_by: $order_by) {\n                            name\n                            total\n                        }\n                    }\n                }\n            }\n        ",
      "variables": {"startTime": 1765158714778, "endTime": 1765763514778, "limit":
      10, "filterBy": null, "orderBy": null}, "operationName": "FirewallByAction"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zins/graphql
  response:
    body:
      string: '{"data":{"ZERO_TRUST_FIREWALL":{"action":{"obfuscated":false,"entries":[]}}}}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2a17bee4-1db3-9393-9a06-10f1623c3828
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 1278d80a-edb5-4899-b653-4d650c426caa
    status:
      code: 200
      message: OK
version: 1
