interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n            query CyberSecurityIncidents(\n                $startTime:
      Long!, $endTime: Long!,\n                $categorizeBy: [IncidentsGroupBy!]!,
      $limit: Int\n            ) {\n                CYBER_SECURITY {\n                    incidents(\n                        categorize_by:
      $categorizeBy,\n                        start_time: $startTime,\n                        end_time:
      $endTime\n                    ) {\n                        obfuscated\n                        entries(limit:
      $limit) {\n                            name\n                            total\n                            entries(limit:
      $limit) {\n                                name\n                                total\n                            }\n                        }\n                    }\n                }\n            }\n        ",
      "variables": {"startTime": 1765158714168, "endTime": 1765763514168, "categorizeBy":
      ["THREAT_CATEGORY_ID"], "limit": 10}, "operationName": "CyberSecurityIncidents"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zins/graphql
  response:
    body:
      string: '{"data":{"CYBER_SECURITY":{"incidents":{"obfuscated":false,"entries":[]}}}}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 39fb0132-b5d5-936f-a99e-867653faa62f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 1278d80a-edb5-4899-b653-4d650c426caa
    status:
      code: 200
      message: OK
version: 1
