interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webAppService/listByCompany
  response:
    body:
      string: "[ {\n  \"id\" : 3,\n  \"appVersion\" : 0,\n  \"appSvcId\" : 1234567,\n
        \ \"appName\" : \"ZOOMMEETING\",\n  \"active\" : true,\n  \"uid\" : \"e1a99b58-705d-4b52-93ef-0a3cec3876d9\",\n
        \ \"appDataBlob\" : [ {\n    \"proto\" : \"UDP\",\n    \"port\" : \"3478,3479,8801-8810\",\n
        \   \"ipaddr\" : \"3.7.35.0/25 ,3.235.82.0/23 ,3.235.96.0/23 ,4.34.125.128/25
        ,4.35.64.128/25 ,8.5.128.0/23 ,15.220.80.0/24 ,15.220.81.0/25 ,18.254.23.128/25
        ,18.254.61.0/25 ,20.203.158.80/28 ,20.203.190.192/26 ,50.239.202.0/23 ,50.239.204.0/24
        ,52.61.100.128/25 ,64.125.62.0/24 ,64.211.144.0/24 ,64.224.32.0/19 ,65.39.152.0/24
        ,69.174.57.0/24 ,69.174.108.0/22 ,101.36.167.0/24 ,101.36.170.0/23 ,103.122.166.0/23
        ,111.33.115.0/25 ,111.33.181.0/25 ,115.110.154.192/26 ,115.114.56.192/26 ,115.114.115.0/26
        ,115.114.131.0/26 ,120.29.148.0/24 ,121.244.146.0/27 ,134.224.0.0/16 ,137.66.128.0/17
        ,144.195.0.0/16 ,147.124.96.0/19 ,149.137.0.0/17 ,156.45.0.0/17 ,159.124.0.0/16
        ,160.1.56.128/25 ,161.199.136.0/22 ,162.12.232.0/22 ,162.255.36.0/22 ,165.254.88.0/23
        ,166.108.64.0/18 , 168.140.0.0/17, 170.114.0.0/16 ,173.231.80.0/20 ,192.204.12.0/22
        ,198.251.128.0/17 ,202.177.207.128/27 ,203.200.219.128/27 ,204.80.104.0/21
        ,204.141.28.0/22 ,206.247.0.0/16 ,207.226.132.0/24 ,209.9.211.0/24 ,209.9.215.0/24
        ,213.19.144.0/24 ,213.19.153.0/24 ,213.244.140.0/24 ,221.122.63.0/24 ,221.122.64.0/24
        ,221.122.88.64/27 ,221.122.88.128/25 ,221.122.89.128/25 ,221.123.139.192/27\",\n
        \   \"fqdn\" : \"\"\n  }, {\n    \"proto\" : \"TCP\",\n    \"port\" : \"443,8801,8802\",\n
        \   \"ipaddr\" : \"3.7.35.0/25 ,3.235.82.0/23 ,3.235.96.0/23 ,4.34.125.128/25
        ,4.35.64.128/25 ,8.5.128.0/23 ,15.220.80.0/24 ,15.220.81.0/25 ,18.254.23.128/25
        ,18.254.61.0/25 ,20.203.158.80/28 ,20.203.190.192/26 ,50.239.202.0/23 ,50.239.204.0/24
        ,52.61.100.128/25 ,64.125.62.0/24 ,64.211.144.0/24 ,64.224.32.0/19 ,65.39.152.0/24
        ,69.174.57.0/24 ,69.174.108.0/22 ,101.36.167.0/24 ,101.36.170.0/23 ,103.122.166.0/23
        ,111.33.115.0/25 ,111.33.181.0/25 ,115.110.154.192/26 ,115.114.56.192/26 ,115.114.115.0/26
        ,115.114.131.0/26 ,120.29.148.0/24 ,121.244.146.0/27 ,134.224.0.0/16 ,137.66.128.0/17
        ,144.195.0.0/16 ,147.124.96.0/19 ,149.137.0.0/17 ,156.45.0.0/17 ,159.124.0.0/16
        ,160.1.56.128/25 ,161.199.136.0/22 ,162.12.232.0/22 ,162.255.36.0/22 ,165.254.88.0/23
        ,166.108.64.0/18 , 168.140.0.0/17, 170.114.0.0/16 ,173.231.80.0/20 ,192.204.12.0/22
        ,198.251.128.0/17 ,202.177.207.128/27 ,203.200.219.128/27 ,204.80.104.0/21
        ,204.141.28.0/22 ,206.247.0.0/16 ,207.226.132.0/24 ,209.9.211.0/24 ,209.9.215.0/24
        ,213.19.144.0/24 ,213.19.153.0/24 ,213.244.140.0/24 ,221.122.63.0/24 ,221.122.64.0/24
        ,221.122.88.64/27 ,221.122.88.128/25 ,221.122.89.128/25 ,221.123.139.192/27
        ,52.84.151.0/24 ,170.114.45.0/24 ,170.114.46.0/24\",\n    \"fqdn\" : \"\"\n
        \ } ],\n  \"appDataBlobV6\" : [ {\n    \"proto\" : \"UDP\",\n    \"port\"
        : \"3478,3479,8801-8810\",\n    \"ipaddr\" : \"2407:30C0::/32,2600:9000:2600::/48,2620:123:2000::/40\",\n
        \   \"fqdn\" : \"\"\n  }, {\n    \"proto\" : \"TCP\",\n    \"port\" : \"443,8801,8802\",\n
        \   \"ipaddr\" : \"2407:30C0::/32,2600:9000:2600::/48,2620:123:2000::/40,2407:30c0:180::/48,2407:30c0:181::/48\",\n
        \   \"fqdn\" : \"\"\n  } ],\n  \"createdBy\" : \"16327\",\n  \"editedBy\"
        : \"0\",\n  \"editedTimestamp\" : \"1751228573\",\n  \"version\" : 0\n}, {\n
        \ \"id\" : 5,\n  \"appVersion\" : 0,\n  \"appSvcId\" : 123456,\n  \"appName\"
        : \"Microsoft Teams\",\n  \"active\" : true,\n  \"uid\" : \"33f85c91-598b-4db6-8f12-b74116ea3560\",\n
        \ \"appDataBlob\" : [ {\n    \"proto\" : \"UDP\",\n    \"port\" : \"3478,3479,3480,3481\",\n
        \   \"ipaddr\" : \"52.112.0.0/14,52.122.0.0/15,42.159.34.32/27,42.159.34.64/27,42.159.34.96/28,42.159.162.32/27,42.159.162.64/27,42.159.162.96/28,159.27.160.0/21\",\n
        \   \"fqd[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webAppService/listByCompany?page=1&pageSize=10
  response:
    body:
      string: "[ {\n  \"id\" : 3,\n  \"appVersion\" : 0,\n  \"appSvcId\" : 1234567,\n
        \ \"appName\" : \"ZOOMMEETING\",\n  \"active\" : true,\n  \"uid\" : \"e1a99b58-705d-4b52-93ef-0a3cec3876d9\",\n
        \ \"appDataBlob\" : [ {\n    \"proto\" : \"UDP\",\n    \"po[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webAppService/listByCompany?search=test
  response:
    body:
      string: '[ ]'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bb5cf38a-14f0-9c03-993e-8ea3762521c8
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '95'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '60'
      x-ratelimit-reset:
      - '2128'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
version: 1
