interactions:
- request:
    body: '{"name": "Test Policy for Coverage", "description": "Automated test policy",
      "device_type": 3, "enabled": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/web/policy/edit
  response:
    body:
      string: "{\n  \"success\" : \"false\",\n  \"id\" : 0\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6f260256-2bfd-98ac-89a2-d5488e35cff3
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '84'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '13'
      x-ratelimit-reset:
      - '1413'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
version: 1
