interactions:
- request:
    body: '{"clientConnectorVersion": ["99.99.99"], "udids": ["NON_EXISTENT_UDID_FOR_TESTING"],
      "username": "nonexistent@test.com", "osType": "3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/removeDevices
  response:
    body:
      string: "{\n  \"devicesRemoved\" : 0\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5157407a-273f-95fc-a06e-dee05bd50285
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '441'
      x-transaction-id:
      - c3df4d19-a5b2-4282-a5a4-9d29deb4769e
    status:
      code: 200
      message: OK
- request:
    body: '{"clientConnectorVersion": ["99.99.99"], "udids": ["NON_EXISTENT_UDID_FOR_TESTING"],
      "userName": "nonexistent@test.com", "osType": "3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/forceRemoveDevices
  response:
    body:
      string: "{\n  \"devicesRemoved\" : 0,\n  \"errorMsg\" : \"REDACTED\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e3786269-3ba6-91f3-98e9-3902b6c16129
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '98'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '58'
      x-ratelimit-reset:
      - '440'
      x-transaction-id:
      - c3df4d19-a5b2-4282-a5a4-9d29deb4769e
    status:
      code: 400
      message: Bad Request
version: 1
