interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webFailOpenPolicy/listByCompany
  response:
    body:
      string: "[ {\n  \"id\" : \"4441\",\n  \"active\" : \"1\",\n  \"captivePortalWebSecDisableMinutes\"
        : 10,\n  \"enableWebSecOnProxyUnreachable\" : \"0\",\n  \"tunnelFailureRetryCount\"
        : 25,\n  \"enableWebSecOnTunnelFailure\" : \"0\",\n  \"enableCaptivePortalDetection\"
        : 1,\n  \"enableFailOpen\" : 1,\n  \"enableStrictEnforcementPrompt\" : 0,\n
        \ \"strictEnforcementPromptDelayMinutes\" : 2,\n  \"strictEnforcementPromptMessage\"
        : \"\"\n} ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c4cfc0fd-00dc-9385-8577-205b6640432e
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '92'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '62'
      x-ratelimit-reset:
      - '1442'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webFailOpenPolicy/listByCompany?page=1&pageSize=10
  response:
    body:
      string: "[ {\n  \"id\" : \"4441\",\n  \"active\" : \"1\",\n  \"captivePortalWebSecDisableMinutes\"
        : 10,\n  \"enableWebSecOnProxyUnreachable\" : \"0\",\n  \"tunnelFailureRetryCount\"
        : 25,\n  \"enableWebSecOnTunnelFailure\" : \"0\",\n  \"enableCaptivePortalDetection\"
        : 1,\n  \"enableFailOpen\" : 1,\n  \"enableStrictEnforcementPrompt\" : 0,\n
        \ \"strictEnforcementPromptDelayMinutes\" : 2,\n  \"strictEnforcementPromptMessage\"
        : \"\"\n} ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c12007a0-c41d-9379-8a71-c596a7477121
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '61'
      x-ratelimit-reset:
      - '1442'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
version: 1
