interactions:
- request:
    body: '{"clientConnectorVersion": ["99.99.99"], "udids": ["NON_EXISTENT_UDID_FOR_TESTING"],
      "username": "nonexistent@test.com", "osType": "3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/removeDevices
  response:
    body:
      string: "{\n  \"devicesRemoved\" : 0\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1c4631a4-505d-9b43-9632-4a33e775cd69
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '75'
      x-ratelimit-reset:
      - '1448'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{"clientConnectorVersion": ["99.99.99"], "udids": ["NON_EXISTENT_UDID_FOR_TESTING"],
      "userName": "nonexistent@test.com", "osType": "3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/forceRemoveDevices
  response:
    body:
      string: "{\n  \"devicesRemoved\" : 0,\n  \"errorMsg\" : \"REDACTED\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f39136f2-170e-90ce-b1cb-25eb85b26c24
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '74'
      x-ratelimit-reset:
      - '1447'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 400
      message: Bad Request
version: 1
