interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/downloadDevices
  response:
    body:
      string: '"User","Device type","Device model","External Device ID","UDID","Mac
        Address","Company Name","OS Version","Zscaler Client Connector Version","Zscaler
        Digital Experience Version","Policy Name","Last Seen Connected to ZIA","VPN
        State","Device State","Owner","Hostname[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/downloadServiceStatus
  response:
    body:
      string: '"User","UDID","ZIA Enabled","ZIA Health","Last Seen Connected to ZIA","ZPA
        Enabled","ZPA Health","Last Seen Connected to ZPA","ZDX Enabled","ZDX Health","Last
        Seen Connected to ZDX","ZDX Version","ZDP Enabled","ZDP Health","Last Seen
        Connected to ZDP","ZDP Ve[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceCleanupInfo
  response:
    body:
      string: "{\n  \"id\" : \"0\",\n  \"active\" : \"1\",\n  \"forceRemoveType\"
        : \"0\",\n  \"deviceExceedLimit\" : \"16\",\n  \"autoRemovalDays\" : \"0\",\n
        \ \"autoPurgeDays\" : \"0\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e4e3d564-1671-9973-9464-a8e454cfd554
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '91'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '61'
      x-ratelimit-reset:
      - '442'
      x-transaction-id:
      - c3df4d19-a5b2-4282-a5a4-9d29deb4769e
    status:
      code: 200
      message: OK
- request:
    body: '{"hostNames": ["NON_EXISTENT_HOST"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/removeMachineTunnel
  response:
    body:
      string: "{\n  \"devicesRemoved\" : 0,\n  \"errorMsg\" : \"No devices to delete\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4b7d71cf-ff00-9b42-84be-516f71ae5b85
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '60'
      x-ratelimit-reset:
      - '441'
      x-transaction-id:
      - c3df4d19-a5b2-4282-a5a4-9d29deb4769e
    status:
      code: 200
      message: OK
version: 1
