interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/listByCompany
  response:
    body:
      string: "{\n  \"totalCount\" : 24,\n  \"trustedNetworkContracts\" : [ {\n    \"id\"
        : \"9913\",\n    \"companyId\" : \"4543\",\n    \"createdBy\" : \"247739\",\n
        \   \"editedBy\" : \"0\",\n    \"guid\" : \"928c092b-3fe1-49bb-b01f-0618e4f38468\",\n
        \   \"networkName\" : \"BDTrustedNetwork01\",\n    \"conditionType\" : 1,\n
        \   \"dnsServers\" : \"8.8.8.8\",\n    \"dnsSearchDomains\" : \"\",\n    \"hostnames\"
        : \"\",\n    \"resolvedIpsForHostname\" : \"\",\n    \"active\" : true\n  },
        {\n    \"id\" : \"9915\",\n    \"companyId\" : \"4543\",\n    \"createdBy\"
        : \"247739\",\n    \"editedBy\" : \"453111\",\n    \"guid\" : \"3c3e55e7-cfe1-4abf-974f-276ac586309b\",\n
        \   \"networkName\" : \"BDTrustedNetwork02\",\n    \"conditionType\" : 1,\n
        \   \"dnsServers\" : \"\",\n    \"dnsSearchDomains\" : \"server2.bd-hashicorp.com\",\n
        \   \"hostnames\" : \"\",\n    \"resolvedIpsForHostname\" : \"\",\n    \"trustedSubnets\"
        : \"\",\n    \"trustedGateways\" : \"\",\n    \"trustedDhcpServers\" : \"\",\n
        \   \"active\" : true\n  }, {\n    \"id\" : \"13381\",\n    \"companyId\"
        : \"4543\",\n    \"createdBy\" : \"453111\",\n    \"editedBy\" : \"453111\",\n
        \   \"guid\" : \"ca624ef9-703b-45ed-8c6c-6b6217f2b355\",\n    \"networkName\"
        : \"BD-TrustedNetwork01\",\n    \"conditionType\" : 1,\n    \"dnsServers\"
        : \"8.8.8.8\",\n    \"dnsSearchDomains\" : \"\",\n    \"hostnames\" : \"\",\n
        \   \"resolvedIpsForHostname\" : \"\",\n    \"trustedSubnet[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/listByCompany?page=1&pageSize=10
  response:
    body:
      string: "{\n  \"totalCount\" : 24,\n  \"trustedNetworkContracts\" : [ {\n    \"id\"
        : \"9913\",\n    \"companyId\" : \"4543\",\n    \"createdBy\" : \"247739\",\n
        \   \"editedBy\" : \"0\",\n    \"guid\" : \"928c092b-3fe1-49bb-b01f-0618e4f38468\",\n[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/listByCompany?search=test
  response:
    body:
      string: "{\n  \"totalCount\" : 3,\n  \"trustedNetworkContracts\" : [ {\n    \"id\"
        : \"19687\",\n    \"companyId\" : \"4543\",\n    \"createdBy\" : \"0\",\n
        \   \"editedBy\" : \"0\",\n    \"guid\" : \"142f4831-9721-4bff-82ee-45ae205ec8c6\",\n
        \  [...]
- request:
    body: '{"active": true, "networkName": "tests-trusted-network-vcr0001", "dnsServers":
      "10.10.10.10, 10.10.10.11", "dnsSearchDomains": "test.example.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/create
  response:
    body:
      string: "{\n  \"conditionType\" : 0,\n  \"active\" : false\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e94ffd29-267c-9bda-a75b-5efc2f7ceb3e
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '92'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '39'
      x-ratelimit-reset:
      - '1422'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
version: 1
