interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 10000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zcc/papi/public/v1/process-based-apps
  response:
    body:
      string: "{\n  \"totalCount\" : 1,\n  \"appIdentities\" : [ {\n    \"id\" : 7119,\n
        \   \"appName\" : \"App01\",\n    \"fileNames\" : [ \"\" ],\n    \"filePaths\"
        : [ \"*\\\\Program\\\\Apps\\\\MSApps\\\\ms-teams.exe\", \"*\\\\Program\\\\Apps\\\\MSApps\\\\ms-teams1.exe.\"
        ],\n    \"matchingCriteria\" : 2,\n    \"signaturePayload\" : \"{\\\"signatures\\\":[]}\",\n
        \   \"certificatePayload\" : \"{\\\"certificates\\\":[{\\\"certName\\\":\\\"cert02\\\",\\\"thumbprint\\\":\\\"304B4346F337146144839209C6C79146D05E4764\\\"}]}\",\n
        \   \"createdBy\" : \"140371\",\n    \"editedBy\" : \"140371\",\n    \"editedTimestamp\"
        : \"1773900472\"\n  } ]\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 59f5509f-38a2-9c5d-a4da-b41f2a4b6d34
      x-oneapi-version:
      - 111.1.27
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '89'
      x-ratelimit-reset:
      - '1646'
      x-transaction-id:
      - 771da375-052a-45dc-952a-b3ee5957d8ab
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zcc/papi/public/v1/process-based-apps/7119
  response:
    body:
      string: "{\n  \"id\" : 7119,\n  \"appName\" : \"App01\",\n  \"fileNames\" :
        [ \"\" ],\n  \"filePaths\" : [ \"*\\\\Program\\\\Apps\\\\MSApps\\\\ms-teams.exe\",
        \"*\\\\Program\\\\Apps\\\\MSApps\\\\ms-teams1.exe.\" ],\n  \"matchingCriteria\"
        : 2,\n  \"signaturePayload\" : \"{\\\"signatures\\\":[]}\",\n  \"certificatePayload\"
        : \"{\\\"certificates\\\":[{\\\"certName\\\":\\\"cert02\\\",\\\"thumbprint\\\":\\\"304B4346F337146144839209C6C79146D05E4764\\\"}]}\",\n
        \ \"createdBy\" : \"140371\",\n  \"editedBy\" : \"140371\",\n  \"editedTimestamp\"
        : \"1773900472\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5ea9aee6-c622-913b-92b9-fac81569c81f
      x-oneapi-version:
      - 111.1.27
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '88'
      x-ratelimit-reset:
      - '1646'
      x-transaction-id:
      - 771da375-052a-45dc-952a-b3ee5957d8ab
    status:
      code: 200
      message: OK
version: 1
