interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 10000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zcc/papi/public/v1/custom-ip-based-apps
  response:
    body:
      string: "{\n  \"totalCount\" : 1,\n  \"customAppContracts\" : [ {\n    \"id\"
        : 6089,\n    \"appName\" : \"App01\",\n    \"active\" : false,\n    \"uid\"
        : null,\n    \"appData\" : [ {\n      \"proto\" : \"TCP\",\n      \"port\"
        : \"8080\",\n      \"ipaddr\" : \"10.10.10.1\",\n      \"fqdn\" : \"\"\n    }
        ],\n    \"appDataV6\" : [ {\n      \"proto\" : \"\",\n      \"port\" : \"\",\n
        \     \"ipaddr\" : \"\",\n      \"fqdn\" : \"\"\n    } ],\n    \"createdBy\"
        : \"140371\",\n    \"editedBy\" : \"140371\",\n    \"editedTimestamp\" : \"1773897128\",\n
        \   \"zappDataBlob\" : \"10.10.10.1\",\n    \"zappDataBlobV6\" : \"\"\n  }
        ]\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - de327953-7a2e-9015-89aa-6a3427ebd53d
      x-oneapi-version:
      - 111.1.27
      x-rate-limit-remaining:
      - '98'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '93'
      x-ratelimit-reset:
      - '1862'
      x-transaction-id:
      - 87c90b97-b8a2-43c6-bed3-343f5e3da87a
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zcc/papi/public/v1/custom-ip-based-apps/6089
  response:
    body:
      string: "{\n  \"id\" : 6089,\n  \"appName\" : \"App01\",\n  \"active\" : false,\n
        \ \"uid\" : null,\n  \"appData\" : [ {\n    \"proto\" : \"TCP\",\n    \"port\"
        : \"8080\",\n    \"ipaddr\" : \"10.10.10.1\",\n    \"fqdn\" : \"\"\n  } ],\n
        \ \"appDataV6\" : [ {\n    \"proto\" : \"\",\n    \"port\" : \"\",\n    \"ipaddr\"
        : \"\",\n    \"fqdn\" : \"\"\n  } ],\n  \"createdBy\" : \"140371\",\n  \"editedBy\"
        : \"140371\",\n  \"editedTimestamp\" : \"1773897128\",\n  \"zappDataBlob\"
        : \"10.10.10.1\",\n  \"zappDataBlobV6\" : \"\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - f48903b0-b3cf-9940-adda-e6dce44706a6
      x-oneapi-version:
      - 111.1.27
      x-rate-limit-remaining:
      - '98'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '92'
      x-ratelimit-reset:
      - '1861'
      x-transaction-id:
      - 87c90b97-b8a2-43c6-bed3-343f5e3da87a
    status:
      code: 200
      message: OK
version: 1
