interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/downloadDevices
  response:
    body:
      string: '"User","Device type","Device model","External Device ID","UDID","Mac
        Address","Company Name","OS Version","Zscaler Client Connector Version","Zscaler
        Digital Experience Version","Policy Name","Last Seen Connected to ZIA","VPN
        State","Device State","Owner","Hostname","Manufacturer","Config Download Count","Registration
        TimeStamp","Last Deregistration TimeStamp","Config Download TimeStamp","Last
        Seen with Client Connector Active","Device Hardware Fingerpri[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/downloadServiceStatus
  response:
    body:
      string: '"User","UDID","ZIA Enabled","ZIA Health","Last Seen Connected to ZIA","ZPA
        Enabled","ZPA Health","Last Seen Connected to ZPA","ZDX Enabled","ZDX Health","Last
        Seen Connected to ZDX","ZDX Version","ZDP Enabled","ZDP Health","Last Seen
        Connected to ZDP","ZDP Ve[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceCleanupInfo
  response:
    body:
      string: "{\n  \"id\" : \"0\",\n  \"active\" : \"1\",\n  \"forceRemoveType\"
        : \"0\",\n  \"deviceExceedLimit\" : \"16\",\n  \"autoRemovalDays\" : \"0\",\n
        \ \"autoPurgeDays\" : \"0\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e18045e8-35b6-9246-98e1-66cb5d0d7f53
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '77'
      x-ratelimit-reset:
      - '1448'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{"hostNames": ["NON_EXISTENT_HOST"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/removeMachineTunnel
  response:
    body:
      string: "{\n  \"devicesRemoved\" : 0,\n  \"errorMsg\" : \"No devices to delete\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1fc09efd-3574-9845-8c0b-dbcf45381aac
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '98'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '76'
      x-ratelimit-reset:
      - '1448'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
version: 1
