interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zcc/papi/public/v1/getDevices?page=1&pageSize=10&osType=3
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n
        \ \"state\" : 1,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" : \"00:50:56:82:34:A2\",\n  \"user\" : \"adam.ashcroft@securitygeek.io\",\n
        \ \"detail\" : \"VMware, Inc. VMware Virtual Platform\",\n  \"policyName\"
        : \"SGIOLab\",\n  \"last_seen_time\" : \"1759822506\",\n  \"osVersion\" :
        \"Microsoft Windows 10 Pro;64 bit;amd64\",\n  \"agentVersion\" : \"4.7.0.88
        (64-bit)\",\n  \"registrationState\" : \"Registered\",\n  \"owner\" : \"WilliamGuilherme\",\n
        \ \"machineHostname\" : \"VCD138-WIN10\",\n  \"manufacturer\" : \"VMware,
        Inc.\",\n  \"download_count\" : 1,\n  \"registration_time\" : \"1759822502\",\n
        \ \"deregistrationTimestamp\" : \"1759796303\",\n  \"config_download_time\"
        : \"1759822502\",\n  \"keepAliveTime\" : \"1759822506\",\n  \"hardwareFingerprint\"
        : \"N2U3YzVmZjU3MmVlMThlODQ2ZGYzN2U2ZWE5ODlkZWVjM2IwYmE5MDQ2NTAyNzRjMDA4NmJmOTZkOTcyMzNjYg==\",\n
        \ \"tunnelVersion\" : \"20:1\",\n  \"vpnState\" : 0,\n  \"upmVersion\" : \"4.5.0.33
        (32-bit)\",\n  \"zappArch\" : \"x64\"\n}, {\n  \"companyName\" : \"William
        Guilherme\",\n  \"type\" : 3,\n  \"state\" : 3,\n  \"udid\" : \"VMware-42-1d-29-9b-7c-c5-3f-d2-90-3c-d5-4e-9c-75-6d-d0:19D0764C0D09DF81361B52530353FD5A52A34D68\",\n
        \ \"macAddress\" : \"00:50:56:9D:F5:23\",\n  \"user\" : \"wguilherme@securitygeek.io\",\n
        \ \"detail\" : \"VMware, Inc. VMware Virtual Platform\",\n  \"policyName\"
        : \"SGIOLab\",\n  \"last_seen_time\" : \"1645213834\",\n  \"osVersion\" :
        \"Microsof[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zcc/papi/public/v1/getDevices
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n
        \ \"state\" : 1,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" : \"00:50:56:82:34:A2\",\n  \"user\" : \"adam.ashcroft@securitygeek.[...]
