interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webForwardingProfile/listByCompany
  response:
    body:
      string: "[ {\n  \"id\" : \"11925\",\n  \"active\" : \"1\",\n  \"name\" : \"SGIO-Tunnel2.0\",\n
        \ \"conditionType\" : 1,\n  \"dnsServers\" : \"\",\n  \"dnsSearchDomains\"
        : \"\",\n  \"enableLWFDriver\" : \"1\",\n  \"hostname\" : \"\",\n  \"resolvedIpsForHostname\"
        : \"\",\n  \"trustedSubnets\" : \"\",\n  \"trustedGateways\" : \"\",\n  \"trustedDhcpServers\"
        : \"\",\n  \"trustedEgressIps\" : \"\",\n  \"predefinedTrustedNetworks\" :
        false,\n  \"predefinedTnAll\" : false,\n  \"forwardingProfileActions\" : [
        {\n    \"networkType\" : 1,\n    \"actionType\" : 1,\n    \"systemProxy\"
        : 0,\n    \"customPac\" : \"\",\n    \"enablePacketTunnel\" : 1,\n    \"systemProxyData\"
        : {\n      \"proxyAction\" : 1,\n      \"enableAutoDetect\" : 0,\n      \"enablePAC\"
        : 0,\n      \"pacURL\" : \"\",\n      \"enableProxyServer\" : 0,\n      \"proxyServerAddress\"
        : \"\",\n      \"proxyServerPort\" : \"0\",\n      \"bypassProxyForPrivateIP\"
        : 0,\n      \"performGPUpdate\" : 0,\n      \"pacDataPath\" : \"\"\n    },\n
        \   \"primaryTransport\" : 1,\n    \"DTLSTimeout\" : 9,\n    \"UDPTimeout\"
        : 9,\n    \"TLSTimeout\" : 5,\n    \"mtuForZadapter\" : 0,\n    \"blockUnreachableDomainsTraffic\"
        : 0,\n    \"allowTLSFallback\" : 1,\n    \"tunnel2FallbackType\" : 0,\n    \"dropIpv6Traffic\"
        : 0,\n    \"redirectWebTraffic\" : 0,\n    \"dropIpv6IncludeTrafficInT2\"
        : 0,\n    \"useTunnel2ForProxiedWebTraffic\" : 0,\n    \"useTunnel2ForUnencryptedWebTraffic\"
        : 0,\n    \"pathMtuDiscovery\" : 1,\n    \"latencyBasedZenEnablement\" : 0,\n
        \   \"zenProbeInterval\" : 60,\n    \"zenProbeSampleSize\" : 5,\n    \"zenThresholdLimit\"
        : 2,\n    \"dropIpv6TrafficInIpv6Network\" : 0\n  }, {\n    \"networkType\"
        : 2,\n    \"actionType\" : 1,\n    \"systemProxy\" : 0,\n    \"customPac\"
        : \"\",\n    \"enablePacketTunnel\" : 1,\n    \"systemProxyData\" : {\n      \"proxyAction\"
        : 1,\n      \"enableAutoDetect\" : 0,\n      \"enablePAC\" : 0,\n      \"pacURL\"
        : \"\",\n      \"enableProxyServer\" : 0,\n      \"proxyServerAddress\" :
        \"\",\n      \"proxyServerPort\" : \"0\",\n      \"bypassProxyForPrivateIP\"
        : 0,\n      \"perfo[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webForwardingProfile/listByCompany?page=1&pageSize=1
  response:
    body:
      string: "[ {\n  \"id\" : \"11925\",\n  \"active\" : \"1\",\n  \"name\" : \"SGIO-Tunnel2.0\",\n
        \ \"conditionType\" : 1,\n  \"dnsServers\" : \"\",\n  \"dnsSearchDomains\"
        : \"\",\n  \"enableLWFDriver\" : \"1\",\n  \"hostname\" : \"\",\n  \"resolv[...]
- request:
    body: '{"active": "1", "conditionType": 1, "dnsSearchDomains": "", "dnsServers":
      "", "evaluateTrustedNetwork": 1, "forwardingProfileActions": [{"actionType":
      1, "blockUnreachableDomainsTraffic": 0, "customPac": "", "dropIpv6IncludeTrafficInT2":
      0, "dropIpv6Traffic": 0, "dropIpv6TrafficInIpv6Network": 0, "enablePacketTunnel":
      1, "latencyBasedZenEnablement": 0, "mtuForZadapter": 0, "networkType": 1, "pathMtuDiscovery":
      1, "primaryTransport": 1, "redirectWebTraffic": 0, "systemProxy": 0, "useTunnel2ForProxiedWebTraffic":
      0, "zenProbeInterval": 60, "zenProbeSampleSize": 5, "zen[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webForwardingProfile/999999999/delete
  response:
    body:
      string: "{\n  \"success\" : \"false\",\n  \"id\" : 0\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8069d918-3f8a-95f2-94d1-fe6b516e8b10
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '82'
      x-ratelimit-reset:
      - '1234'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
version: 1
