interactions:
- request:
    body: '{"name": "Test Forwarding Profile for Coverage", "hostname": "test-server.example.com",
      "resolvedIpsForHostname": "192.168.1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webForwardingProfile/edit
  response:
    body:
      string: "{\n  \"success\" : \"false\",\n  \"id\" : 0\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 35cd6b17-0a41-9303-a9d0-4384d3073866
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '94'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '81'
      x-ratelimit-reset:
      - '1234'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
version: 1
