interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getAdminUsers
  response:
    body:
      string: '[ ]'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 90a4bf6a-8a04-9c71-a316-ec1419f3ea53
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '1460'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getAdminUsers?page=1&pageSize=5
  response:
    body:
      string: '[ ]'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bd10011f-fecd-9234-a13d-8f78af3f1e41
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '96'
      x-ratelimit-reset:
      - '1459'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getAdminUsersSyncInfo
  response:
    body:
      string: "{\n  \"id\" : 4981,\n  \"companyId\" : \"4543\",\n  \"ziaInitialSyncDone\"
        : true,\n  \"zpaInitialSyncDone\" : true,\n  \"ziaSyncErrorCode\" : \"0\",\n
        \ \"zpaSyncErrorCode\" : \"0\",\n  \"ziaSyncStatus\" : 0,\n  \"zpaSyncStatus\"
        : 0,\n  \"ziaLastSyncTime\" : \"1718127029\",\n  \"zpaLastSyncTime\" : \"1716560257\",\n
        \ \"ziaStartSyncTime\" : \"1718127029\",\n  \"zpaStartSyncTime\" : \"1716560257\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 67a7852b-c1aa-9afd-aaef-a9889fc50528
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '95'
      x-ratelimit-reset:
      - '1458'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getAdminRoles
  response:
    body:
      string: "[ {\n  \"id\" : \"2133\",\n  \"roleName\" : \"API_Role_READONLY\",\n
        \ \"isEditable\" : true,\n  \"companyId\" : \"4543\",\n  \"dashboard\" : \"1\",\n
        \ \"enrolledDevicesGroup\" : \"1\",\n  \"deviceOverview\" : \"1\",\n  \"machineTunnel\"
        : \"1\",\n  \"partnerDeviceOverview\" : \"1\",\n  \"appProfileGroup\" : \"1\",\n
        \ \"windowsProfile\" : \"1\",\n  \"macProfile\" : \"1\",\n  \"linuxProfile\"
        : \"1\",\n  \"iosProfile\" : \"1\",\n  \"androidProfile\" : \"1\",\n  \"administratorGroup\"
        : \"1\",\n  \"clientConnectorAppStore\" : \"1\",\n  \"clientConnectorNotifications\"
        : \"1\",\n  \"clientConnectorSupport\" : \"1\",\n  \"clientConnectorIdp\"
        : \"1\",\n  \"auditLogs\" : \"1\",\n  \"forwardingProfile\" : \"1\",\n  \"trustedNetwork\"
        : \"1\",\n  \"zscalerEntitlement\" : \"1\",\n  \"userAgent\" : \"1\",\n  \"devicePosture\"
        : \"1\",\n  \"appBypass\" : \"1\",\n  \"locationBased\" : \"1\",\n  \"dedicatedProxyPorts\"
        : \"1\",\n  \"authSetting\" : \"1\",\n  \"publicApi\" : \"1\",\n  \"deviceGroups\"
        : \"1\",\n  \"zpaPartnerLogin\" : \"1\",\n  \"zscalerDeception\" : \"1\",\n
        \ \"ddilConfiguration\" : \"1\",\n  \"adminManagement\" : \"1\",\n  \"obfuscateData\"
        : \"1\",\n  \"createdBy\" : \"453095\",\n  \"updatedBy\" : \"453095\"\n},
        {\n  \"id\" : \"1\",\n  \"roleName\" : \"Super Admin\",\n  \"isEditable\"
        : false,\n  \"dashboard\" : \"1\",\n  \"enrolledDevicesGroup\" : \"2\",\n
        \ \"deviceOverview\" : \"2\",\n  \"machineTunnel\" : \"2\",\n  \"partnerDeviceOverview\"
        : \"2\",\n  \"appProfileGroup\" : \"2\",\n  \"windowsProfile\" : \"2\",\n
        \ \"macProfile\" : \"2\",\n  \"linuxProfile\" : \"2\",\n  \"iosProfile\" :
        \"2\",\n  \"androidProfile\" : \"2\",\n  \"adminis[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getAdminRoles?page=1&pageSize=10
  response:
    body:
      string: "[ {\n  \"id\" : \"2133\",\n  \"roleName\" : \"API_Role_READONLY\",\n
        \ \"isEditable\" : true,\n  \"companyId\" : \"4543\",\n  \"dashboard\" : \"1\",\n
        \ \"enrolledDevicesGroup\" : \"1\",\n  \"deviceOverview\" : \"1\",\n  \"machineTunnel\"
        : \"1\",\[...]
