interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getAdminUsers
  response:
    body:
      string: '[ ]'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f20adbd7-b630-9a02-a6c2-e48350434431
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '92'
      x-ratelimit-reset:
      - '1457'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/syncZiaZdxAdminUsers
  response:
    body:
      string: 404 Not Found
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6a23ab8c-ebef-923a-8221-a1742e2d3934
      x-oneapi-version:
      - 109.1.111
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/syncZpaAdminUsers
  response:
    body:
      string: 404 Not Found
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e5120f42-2432-96e7-94fa-dfcabbf02142
      x-oneapi-version:
      - 109.1.111
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getAdminRoles
  response:
    body:
      string: "[ {\n  \"id\" : \"2133\",\n  \"roleName\" : \"API_Role_READONLY\",\n
        \ \"isEditable\" : true,\n  \"companyId\" : \"4543\",\n  \"dashboard\" : \"1\",\n
        \ \"enrolledDevicesGroup\" : \"1\",\n  \"deviceOverview\" : \"1\",\n  \"machineTunnel\"
        : \"1\",\n  \"partnerDeviceOverview\" : \"1\",\n  \"appProfileGroup\" : \"1\",\n
        \ \"windowsProfile\" : \"1\",\n  \"macProfile\" : \"1\",\n  \"linuxProfile\"
        : \"1\",\n  \"iosProfile\" : \"1\",\n  \"androidProfile\" : \"1\",\n  \"administratorGroup\"
        : \"1\",\n  \"clientConnectorAppStore\" : \"1\",\n  \"clientConnectorNotifications\"
        : \"1\",\n  \"clientConnectorSupport\" : \"1\",\n  \"clientConnectorIdp\"
        : \"1\",\n  \"auditLogs\" : \"1\",\n  \"forwardingProfile\" : \"1\",\n  \"trustedNetwork\"
        : \"1\",\n  \"zscalerEntitlement\" : \"1\",\n  \"userAgent\" : \"1\",\n  \"devicePosture\"
        : \"1\",\n  \"appBypass\" : \"1\",\n  \"locationBased\" : \"1\",\n  \"dedicatedProxyPorts\"
        : \"1\",\n  \"authSetting\" : \"1\",\n  \"publicApi\" : \"1\",\n  \"deviceGroups\"
        : \"1\",\n  \"zpaPartnerLogin\" : \"1\",\n  \"zscalerDeception\" : \"1\",\n
        \ \"ddilConfiguration\" : \"1\",\n  \"adminManagement\" : \"1\",\n  \"obfuscateData\"
        : \"1\",\n  \"createdBy\" : \"453095\",\n  \"updatedBy\" : \"453095\"\n},
        {\n  \"id\" : \"1\",\n  \"roleName\" : \"Super Admin\",\n  \"isEditable\"
        : false,\n  \"dashboard\" : \"1\",\n  \"enrolledDevicesGroup\" : \"2\",\n
        \ \"deviceOverview\" : \"2\",\n  \"machineTunnel\" : \"2\",\n  \"partnerDeviceOverview\"
        : \"2\",\n  \"appProfileGroup\" : \"2\",\n  \"windowsProfile\" : \"2\",\n
        \ \"macProfile\" : \"2\",\n  \"linuxProfile\" : \"2\",\n  \"iosProfile\" :
        \"2\",\n  \"androidProfile\" : \"2\",\n  \"adminis[...]
