interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getCompanyInfo
  response:
    body:
      string: "{\n  \"orgId\" : \"24326813\",\n  \"masterCustomerId\" : \"216196257331281920\",\n
        \ \"name\" : \"William Guilherme\",\n  \"businessName\" : \"\",\n  \"businessContactNumber\"
        : \"\",\n  \"activationRecipient\" : \"\",\n  \"activationCopy\" : \"\",\n
        \ \"mdmStatus\" : \"0\",\n  \"sendEmail\" : \"0\",\n  \"proxyEnabled\" : \"1\",\n
        \ \"zpnEnabled\" : \"1\",\n  \"upmEnabled\" : \"1\",\n  \"zadEnabled\" : \"0\",\n
        \ \"enableDeceptionForAll\" : \"0\",\n  \"dlpEnabled\" : \"1\",\n  \"tunnelProtocolType\"
        : \"1\",\n  \"secureAgentBasic\" : \"1\",\n  \"secureAgentAdvanced\" : \"1\",\n
        \ \"supportAdminEmail\" : \"\",\n  \"supportEnabled\" : 0,\n  \"fetchLogsForAdminsEnabled\"
        : 0,\n  \"enableRectifyUtils\" : 1,\n  \"supportTicketEnabled\" : 0,\n  \"disableLoggingControls\"
        : 0,\n  \"defaultAuthType\" : 0,\n  \"version\" : \"4.5.0\",\n  \"policyActivationRequired\"
        : 1,\n  \"enableAutofillUsername\" : 1,\n  \"autoFillUsingLoginHint\" : 0,\n
        \ \"dcServiceReadOnly\" : 0,\n  \"enableTunnelZappTrafficToggle\" : \"1\",\n
        \ \"machineIdpAuth\" : \"1\",\n  \"linuxVisibility\" : \"1\",\n  \"registryPathForPac\"
        : \"1\",\n  \"usePollsetForSocketReactor\" : \"0\",\n  \"enableDtlsForZpa\"
        : \"0\",\n  \"useV8JsEngine\" : \"1\",\n  \"disableParallelIpv4AndIPv6\" :
        \"1\",\n  \"send64BitBuild\" : \"0\",\n  \"useAddIfscopeRoute\" : \"0\",\n
        \ \"useClearArpCache\" : \"0\",\n  \"useDnsPriorityOrdering\" : \"1\",\n  \"enableBrowserAuth\"
        : \"1\",\n  \"enablePublicAPI\" : \"1\",\n  \"disableReasonVisibility\" :
        \"1\",\n  \"followRoutingTable\" : \"1\",\n  \"useDefaultAdapterForDNS\" :
        \"1\",\n  \"enableMinimumDeviceCleanupAsOne\" : \"0\",\n  \"dnsPriorityOrderingForTrustedDnsCriteria\"
        : \"1\",\n  \"machineTunnelPosture\" : \"1\",\n  \"zpaPartnerLogin\" : \"1\",\n
        \ \"proxyPort\" : 443,\n  \"dnsCacheTtlWindows\" : 30,\n  \"dnsCacheTtlMac\"
        : 30,\n  \"dnsCacheTtlAndroid\" : 30,\n  \"dnsCacheTtlIos\" : 30,\n  \"dnsCacheTtlLinux\"
        : 30,\n  \"zpaClientCertExpInDays\" : 0,\n  \"enableFlowLogger\" : \"0\",\n
        \ \"flowLoggingBufferLimit\" : 65536,\n  \"flowLoggingTimeInterval\" : 1,\n
        \ \"postureBasedService\" : \"0\",\n  \"enablePostureBasedProfile\" : \"0\",\n
        \ \"disasterRecovery\" : \"1\",\n  \"ziaGlobalDbUrlForDR\" : \"https://dll7xpq8c5ev0.cloudfront.net/drdb.txt\",\n
        \ \"enableReactUI\" : \"1\",\n  \"launchReactUIbyDefault\" : \"1\",\n  \"dlpNotification\"
        : \"1\",\n  \"vpnGatewayCharLimit\" : 12288,\n  \"deviceGroupsCount\" : 4,\n
        \ \"vpnBypassRefreshInterval\" : 5,\n  \"destIncludeExcludeCharLimit\" : 6144,\n
        \ \"ipV6SupportForTunnel2\" : \"0\",\n  \"destIncludeExcludeCharLimitForIpv6\"
        : 6144,\n  \"enableSetProxyOnVPNAdapters\" : \"1\",\n  \"disableDNSRouteExclusion\"
        : \"1\",\n  \"showVPNTunNotification\" : \"1\",\n  \"addAppBypassToVPNGateway\"
        : \"1\",\n  \"enableZscalerFirewall\" : \"1\",\n  \"persistentZscalerFirewall\"
        : \"0\",\n  \"clearMupCache\" : \"0\",\n  \"executeGpoUpdate\" : \"0\",\n
        \ \"enablePortBasedZPAFilter\" : \"0\",\n  \"enableAntiTampering\" : \"1\",\n
        \ \"zpaReauthEnabled\" : 1,\n  \"zpaAutoReauthTimeout\" : 30,\n  \"enableZpaAuthUserName\"
        : 1,\n  \"enableGlobalZCCTelemetry\" : 1,\n  \"configureTunnel2fallbackForZia\"
        : \"1\",\n  \"webAppConfig\" : {\n    \"enableFipsMode\" : \"0\",\n    \"deviceCleanup\"
        : \"true\",\n    \"syncTimeHours\" : \"3\",\n    \"hideNonFedSettings\" :
        \"false\",\n    \"hideAuditLogs\" : \"false\",\n    \"activatePolicy\" : \"false\",\n
        \   \"trustedNetwork\" : \"true\",\n    \"processPostures\" : \"3,4,5\",\n
        \   \"zpaReauth\" : \"true\",\n    \"inactiveDeviceCleanup\" : \"true\",\n
        \   \"zpaAuthUsername\" : \"true\",\n    \"machineTunnel\" : \"true\",\n    \"cacheSystemProxy\"
        : \"true\",\n    \"hideDTLSSupportSettings\" : \"false\",\n    \"machineToken\"
        : \"true\",\n    \"applicationBypassInfo\" : \"true\",\n    \"tunnelTwoForAndroidDevices\"
        : \"false\",\n    \"tunnelTwoForiOSDevices\" : \"true\",\n    \"ownershipVariablePosture\"
        : \"true\",\n    \"blockUnreachableDomainsTrafficFlag\" : \"true\",\n    \"prioritizeIPv4OverIpv6\"
        : \"true\",\n    \"crowdStrikeZTAScoreVisibility\" : \"true\",\n    \"notificationForZPAReauthVisibility\"
        : \"true\",\n    \"crlCheckVisibilityFlag\" : \"true\",\n    \"dedicatedProxyPortsVisibility\"
        : \"true\",\n    \"remoteFetchLogs\" : \"MSwyLDMsNCw1\",\n    \"msDefenderPostureVisibility\"
        : \"true\",\n    \"exitPasswordVisibility\" : \"3,4,5\",\n    \"collectZdxLocationVisibility\"
        : \"true\",\n    \"useV8JsEngineVisibility\" : \"3,4\",\n    \"zdxDisablePasswordVisibility\"
        : \"2,3,4\",\n    \"zadDisablePasswordVisibility\" : \"3\",\n    \"zpaDisablePasswordVisibility\"
        : \"1,2,3,4,5\",\n    \"defaultProtocolForZPA\" : \"0\",\n    \"dropIpv6TrafficVisibility\"
        : \"true\",\n    \"macCacheSystemProxyVisibility\" : \"true\",\n    \"useWsaPollForZpa\"
        : \"false\",\n    \"enable64BitFeature\" : \"true\",\n    \"antivirusPostureVisibility\"
        : \"3,4\",\n    \"systemProxyOnAnyNetworkChangeVisibility\" : \"true\",\n
        \   \"devicePostureOsVersionVisibility\" : \"2,3,4,5\",\n    \"sccmConfigVisibility\"
        : \"true\",\n    \"browserAuthFlagVisibility\" : \"1,2,3,4,5\",\n    \"installWebView2FlagVisibility\"
        : \"3\",\n    \"allowWebView2ToFollowSPVisibility\" : \"\",\n    \"enableIpv6ResolutionForZscalerDomainsVisibility\"
        : \"\",\n    \"disableReasonVisibility\" : \"1,2,3,4,5\",\n    \"followRoutingTableVisibility\"
        : \"3,4\",\n    \"ziaDevicePostureVisibility\" : \"1,2,3,4,5\",\n    \"useCustomDNS\"
        : \"false\",\n    \"useDefaultAdapterForDNSVisibility\" : \"3,4,5\",\n    \"t2FallbackBlockAllTrafficAndTlsFallback\"
        : \"true\",\n    \"overrideT2ProtocolSetting\" : \"true\",\n    \"grantAccessToZscalerLogFolderVisibility\"
        : \"true\",\n    \"adminManagementVisibility\" : \"true\",\n    \"redirectWebTrafficToZccListeningProxyVisibility\"
        : \"true\",\n    \"useZtunnel2_0ForProxiedWebTrafficVisibility\" : \"true\",\n
        \   \"splitVpnVisibility\" : \"true\",\n    \"evaluateTrustedNetworkVisibility\"
        : \"true\",\n    \"vpnAdaptersConfigurationVisibility\" : \"true\",\n    \"vpnServicesVisibility\"
        : \"true\",\n    \"skipTrustedCriteriaMatchVisibility\" : \"true\",\n    \"externalDeviceIdVisibility\"
        : \"true\",\n    \"flowLoggerLoopbackTypeVisibility\" : \"false\",\n    \"flowLoggerZPATypeVisibility\"
        : \"true\",\n    \"flowLoggerVPNTypeVisibility\" : \"true\",\n    \"flowLoggerVPNTunnelTypeVisibility\"
        : \"true\",\n    \"flowLoggerDirectTypeVisibility\" : \"true\",\n    \"useZscalerNotificationFramework\"
        : \"3,4\",\n    \"fallbackToGatewayDomain\" : \"1,2,3,4\",\n    \"zccRevertVisibility\"
        : \"3,4\",\n    \"forceZccRevertVisibility\" : \"3,4\",\n    \"disasterRecoveryVisibility\"
        : \"1,2,3,4,5\",\n    \"deviceGroupVisibility\" : \"1,2,3,4\",\n    \"ipV6SupportForTunnel2\"
        : \"1,3,4,5\",\n    \"pathMtuDiscovery\" : \"true\",\n    \"postureDiscEncryptionVisibilityForLinux\"
        : \"true\",\n    \"postureMsDefenderVisibilityForLinux\" : \"true\",\n    \"postureOsVersionVisibilityForLinux\"
        : \"true\",\n    \"postureCrowdStrikeZTAScoreVisibilityForLinux\" : \"false\",\n
        \   \"flowLoggerZCCBlockedTrafficVisibility\" : \"true\",\n    \"flowLoggerIntranetTrafficVisibility\"
        : \"true\",\n    \"customMTUForZpaVisibility\" : \"false\",\n    \"zpaAutoReauthTimeoutVisibility\"
        : \"true\",\n    \"forceZpaAuthExpireVisibility\" : \"3,4\",\n    \"enableSetProxyOnVPNAdaptersVisibility\"
        : \"4\",\n    \"dnsServerRouteExclusionVisibility\" : \"4\",\n    \"enableSeparateOtpForDevice\"
        : \"2,3,4\",\n    \"uninstallPasswordForProfileVisibility\" : \"2,3,4\",\n
        \   \"zpaAdvanceReauthVisibility\" : \"3,4\",\n    \"latencyBasedZenEnablementVisibility\"
        : \"true\",\n    \"dynamicZPAServiceEdgeAssignmenttVisibility\" : \"true\",\n
        \   \"customProxyPortsVisibility\" : \"1,2,3,4\",\n    \"domainInclusionExclusionForDNSRequestVisibility\"
        : \"1,2,3,4,5\",\n    \"appNotificationConfigVisibility\" : \"true\",\n    \"enableAntiTamperingVisibility\"
        : \"3\",\n    \"strictEnforcementStatusVisibility\" : \"3,4\",\n    \"antiTamperingOtpSupportVisibility\"
        : \"true\",\n    \"overrideATCmdByPolicyVisibility\" : \"3\",\n    \"deviceTrustLevelVisibility\"
        : \"1,2,3,4\",\n    \"sourcePortBasedBypassesVisibility\" : \"3\",\n    \"processBasedApplicationBypassVisibility\"
        : \"true\",\n    \"customBasedApplicationBypassVisibility\" : \"1,2,3,4\",\n
        \   \"clientCertificateTemplateVisibility\" : \"3,4\",\n    \"supportedZccVersionChartVisibility\"
        : \"true\",\n    \"iosIpv6ModeVisibility\" : \"false\",\n    \"deviceGroupMultiplePosturesVisibility\"
        : \"false\",\n    \"dropNonZscalerPacketsVisibility\" : \"true\",\n    \"zccSyntheticIPRangeVisibility\"
        : \"true\",\n    \"devicePostureFrequencyVisibility\" : \"true\",\n    \"enforceSplitDNSVisibility\"
        : \"1\",\n    \"dataProtectionVisibility\" : \"3,4\",\n    \"dropQuicTrafficVisibility\"
        : \"1,2\",\n    \"truncateLargeUDPDNSResponseVisibility\" : \"3,4\",\n    \"prioritizeDnsExclusionsVisibility\"
        : \"3\",\n    \"fetchLogConfigurationOptionVisibility\" : \"3\",\n    \"enableSerialNumberVisibility\"
        : \"3,4\",\n    \"supportMultiplePWLPostures\" : \"true\",\n    \"restrictRemotePacketCaptureVisibility\"
        : \"true\",\n    \"enableApplicationBasedBypassForMacVisibility\" : \"true\",\n
        \   \"removeExemptedContainersVisibility\" : \"false\",\n    \"captivePortalDetectionVisibility\"
        : \"false\",\n    \"deviceGroupInProfileVisibility\" : \"\",\n    \"updateDnsSearchOrder\"
        : \"4\",\n    \"installActivityBasedMonitoringDriverVisibility\" : \"false\",\n
        \   \"slowRolloutZCC\" : \"1\",\n    \"zccTunnelVersionVisibility\" : \"1\",\n
        \   \"antiTamperingStatusVisibility\" : \"true\",\n    \"lbbThresholdRankToPercentMapping\"
        : \"50,100,200,500,1000,2000\",\n    \"removeZscalerSslCertUrl\" : \"1\",\n
        \   \"lbzThresholdRankToPercentMapping\" : \"30,50,100,200,500,1000\",\n    \"splashScreenUrl\"
        : \"https://webapi.zscaler.com/api/admin-ui-messages/zcc/mobileadmin.zscalerthree.net\",\n
        \   \"splashScreenVisibility\" : \"true\",\n    \"trustedNetworkRangeCriteriaVisibility\"
        : \"true\",\n    \"trustedEgressIpsVisibility\" : \"true\",\n    \"domainProfileDetectionVisibility\"
        : \"true\",\n    \"allInboundTrafficVisibility\" : \"true\",\n    \"exportLogsForNonAdminVisibility\"
        : \"true\",\n    \"enableAutoLogSnippetVisibility\" : \"true\",\n    \"enableCliVisibility\"
        : \"3,4\",\n    \"zccUserTypeVisibility\" : \"true\",\n    \"installWindowsFirewallInboundRule\"
        : \"false\",\n    \"retryAfterInSeconds\" : \"86400\",\n    \"azureADPostureVisibility\"
        : \"true\",\n    \"serverCertPostureVisibility\" : \"3\",\n    \"performCRLCheckServerPostureVisibility\"
        : \"\",\n    \"autoFillUsingLoginHintVisibility\" : \"true\",\n    \"sendDefaultPolicyForInvalidPolicyToken\"
        : \"true\",\n    \"enableZccPasswordSettings\" : \"3\",\n    \"cliPasswordExpiryMinutes\"
        : \"120\",\n    \"ssoUsingWindowsPrimaryAccount\" : \"true\",\n    \"enableVerboseLog\"
        : \"false\",\n    \"zpaAuthExpOnWinLogonSession\" : \"true\",\n    \"zpaAuthExpOnWinSessionLockVisibility\"
        : \"true\",\n    \"enableZccSlowRolloutByDefault\" : \"false\",\n    \"purgeKerberosPreferredDCCacheVisibility\"
        : \"3\",\n    \"postureJamfDetectionVisibility\" : \"true\",\n    \"postureJamfDeviceRiskVisibility\"
        : \"true\",\n    \"windowsAPCaptivePortalDetectionVisibility\" : \"true\",\n
        \   \"windowsAPEnableFailOpenVisibility\" : \"false\",\n    \"automaticCaptureDuration\"
        : \"5\",\n    \"forceLocationRefreshSccm\" : \"true\",\n    \"enablePostureFailureDashboard\"
        : \"true\",\n    \"enableOneIDPhase2Changes\" : \"true\",\n    \"dropIpv6TrafficInIpv6NetworkVisibility\"
        : \"true\",\n    \"enablePosturesForPartner\" : \"3\",\n    \"enablePartnerConfigInPrimaryPolicy\"
        : \"3\",\n    \"enableOneIDAdminMigrationChanges\" : \"true\",\n    \"ddilConfigVisibility\"
        : \"3\",\n    \"addZDXServiceEntitlement\" : \"true\",\n    \"useZcdn\" :
        \"true\",\n    \"deleteDHCPOption121RoutesVisibility\" : \"\",\n    \"zdxRolloutControlVisibility\"
        : \"false\",\n    \"showM365ServicesInAppBypasses\" : \"true\",\n    \"allowWebView2IgnoreClientCertErrors\"
        : \"\",\n    \"linuxRPMBuildVisibility\" : \"true\",\n    \"helpBannerDataVisibility\"
        : \"true\",\n    \"zpaOnlyDeviceCleanupVisibility\" : \"false\",\n    \"appProfileFailOpenPolicyVisibility\"
        : \"3\",\n    \"showRegistryOptionInEnforceAndNone\" : \"true\",\n    \"strictEnforcementNotificationVisibility\"
        : \"true\",\n    \"crowdStrikeZTAOsScoreVisibility\" : \"3\",\n    \"crowdStrikeZTASensorConfigScoreVisibility\"
        : \"3\",\n    \"resizeWindowToFitToPageVisibility\" : \"3\",\n    \"enableZCCFailCloseSettingsForSEMode\"
        : \"\"\n  },\n  \"enableInstallWebView2\" : \"1\",\n  \"enableCustomProxyPorts\"
        : \"1\",\n  \"interceptZIATrafficAllAdapters\" : \"1\",\n  \"swaggerLink\"
        : \"https://help.zscaler.com/client-connector/about-zscaler-client-connector-api\",\n
        \ \"enableOneIdAdmin\" : \"1\",\n  \"enableOneIdUser\" : \"0\",\n  \"restrictAdminAccess\"
        : \"0\",\n  \"enableZiaUserDepartmentSync\" : \"false\",\n  \"enableUDPTransportSelection\"
        : \"false\",\n  \"computeDeviceGroupsForZIA\" : \"0\",\n  \"computeDeviceGroupsForZPA\"
        : \"0\",\n  \"computeDeviceGroupsForZDX\" : \"0\",\n  \"computeDeviceGroupsForZAD\"
        : \"0\",\n  \"useTunnel2SmeForTunnel1\" : \"0\",\n  \"maCloudName\" : \"zscalerthree\",\n
        \ \"ziaCloudName\" : \"zscalerthree\",\n  \"zt2HealthProbeInterval\" : 0,\n
        \ \"devicePostureFrequency\" : [ {\n    \"postureId\" : 24,\n    \"postureName\"
        : \"Zscaler Client Connector Version\",\n    \"iosValue\" : 5,\n    \"androidValue\"
        : 5,\n    \"windowsValue\" : 2,\n    \"macValue\" : 2,\n    \"linuxValue\"
        : 2,\n    \"defaultValue\" : 15\n  }, {\n    \"postureId\" : 23,\n    \"postureName\"
        : \"CrowdStrike ZTA Sensor Setting Score\",\n    \"iosValue\" : 5,\n    \"androidValue\"
        : 5,\n    \"windowsValue\" : 2,\n    \"macValue\" : 2,\n    \"linuxValue\"
        : 2,\n    \"defaultValue\" : 15\n  }, {\n    \"postureId\" : 22,\n    \"postureName\"
        : \"CrowdStrike ZTA Device OS Score\",\n    \"iosValue\" : 5,\n    \"androidValue\"
        : 5,\n    \"windowsValue\" : 2,\n    \"macValue\" : 2,\n    \"linuxV[...]
