interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Time-Zone:
      - UTC
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/downloadDisableReasons?osTypes=3&startDate=2024-01-01+00%3A00%3A00+GMT&endDate=2024-12-31+00%3A00%3A00+GMT
  response:
    body:
      string: '"User","UDID","Platform","Service","Disable Time","Disable Reason"

        '
    headers:
      content-disposition:
      - attachment; filename=export_2026-02-11_02_35.csv
      content-type:
      - application/octet-stream;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - add85eba-0d3c-9f34-87ad-c107b31290d1
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '2'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '73'
      x-ratelimit-reset:
      - '1447'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=5
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 4,\n
        \ \"state\" : 2,\n  \"udid\" : \"053AF529-6506-5BF4-974E-A78C00AA51BD:501\",\n
        \ \"macAddress\" : \"06:5F:DD:5A:83:66\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"Apple Mac16,7\",\n  \"policyName\" : \"ZTunnel2.0\",\n  \"last_seen_time\"
        : \"1759852321\",\n  \"osVersion\" : \"Version 15.6.1 (Build 24G90) ;arm\",\n
        \ \"agentVersion\" : \"4.5.2.73\",\n  \"registrationState\" : \"Unregistered\",\n
        \ \"owner\" : \"wguilherme\",\n  \"machineHostname\" : \"F99LXTG6YY\",\n  \"manufacturer\"
        : \"Apple\",\n  \"download_count\" : 8,\n  \"registration_time\" : \"1759793919\",\n
        \ \"deregistrationTimestamp\" : \"1759854271\",\n  \"config_download_time\"
        : \"1759831631\",\n  \"keepAliveTime\" : \"1759852321\",\n  \"hardwareFingerprint\"
        : \"6455319b50424227afe83202e4cf67ce4d633bd5\",\n  \"tunnelVersion\" : \"20:1\",\n
        \ \"vpnState\" : 0,\n  \"upmVersion\" : \"4.4.1.12\",\n  \"zappArch\" : null\n},
        {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n  \"state\"
        : 3,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" : \"00:50:56:82:34:A2\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"VMware, Inc. VMware Virtual Platform\",\n  \"policyName\" : \"SGIOLab\",\n
        \ \"last_seen_time\" : \"1759822506\",\n  \"osVersion\" : \"Microsoft Windows
        10 [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceDetails?udid=053AF529-6506-5BF4-974E-A78C00AA51BD%3A501
  response:
    body:
      string: '{"id":"190286315","type":4,"state":2,"user_name":"REDACTED","owner":"wguilherme","machineHostname":"F99LXTG6YY","manufacturer":"Apple","internal_model":"Mac16,7","external_model":"Mac16,7","os_version":"Version
        15.6.1 (Build 24G90) ;arm","unique_id":"053AF529-6506-5BF4-974E-A78C00AA51BD:501","carrier":"","mac_address":"06:5F:DD:5A:83:66","device_locale":"en-CA","agent_version":"4.5.2.73","rooted":0,"config_download_time":"1759831631","registration_time":"1759793919","download_count":8,"deregistration_time":"1759854271","last_seen_time":"1759852321","keep_alive_time":"1759852321","hardwareFingerprint":"6455319b50424227afe83202e4cf67ce4d633bd5","devicePolicyName":"ZTunnel2.0","tunnelVersion":"20:1","logFetchInfo":{"logTs":0,"logAckTs":0,"error":0,"logFetchPCAPEnabled":false,"logFetchDBEnabled":false,"logFetchFromNoOfDays":0},"upmVersion":"4.4.1.12","zdpVersion":"25.3.16.1167","zappArch":"","serialNumber":"F99LXTG6YY","ziaEnabled":"true","zpaEnabled":"true","zdxEnabled":"true","zdEnabled":"Not
        Applicable","zdpEnabled":"true","ziaHealth":"Active","zpaHealth":"Active","zdxHealth":"Active","zdHealth":"Not
        Applicable","zdpHealth":"Active","zpaLastSeenTime":"1759852321","zdxLastSeenTime":"1759852321","zdLastSeenTime":"Not
        Applicable","zdpLastSeenTime":"1759852321","zccLoggedInUserType":"","externalDeviceId":"","zccForceRevert":"0","deviceOtpArray":["cx6t2c5scf","fnkkbwbypk","lffzktv8mt","ufpjz5hgqg","sillrh50xd","bq9oc4q9er","uvrh2lvbb9","tw5h9tbjjw","la7pcom35l","ybpiuirwuf"],"antiTamperingStatus":"","deviceTrust":0,"zccTunnelVersion":"","vdi":0,"strictEnforcement":"0","expectedZCCVersion":"4.5.2.73","expectedZCCVersionTimestamp":"1759852701","zccUpgradeStatus":"In
        Progress","lastLocationSourceUsed":"Source IP"}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8962ef6e-364a-93e9-b4f1-d15f8223e81d
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '94'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '70'
      x-ratelimit-reset:
      - '1445'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
version: 1
