interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=1
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 4,\n
        \ \"state\" : 2,\n  \"udid\" : \"053AF529-6506-5BF4-974E-A78C00AA51BD:501\",\n
        \ \"macAddress\" : \"06:5F:DD:5A:83:66\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"Apple Mac16,7\",\n  \"policyName\" : \"ZTunnel2.0\",\n  \"last_seen_time\"
        : \"1759852321\",\n  \"osVersion\" : \"Version 15.6.1 (Build 24G90) ;arm\",\n
        \ \"agentVersion\" : \"4.5.2.73\",\n  \"registrationState\" : \"Unregistered\",\n
        \ \"owner\" : \"wguilherme\",\n  \"machineHostname\" : \"F99LXTG6YY\",\n  \"manufacturer\"
        : \"Apple\",\n  \"download_count\" : 8,\n  \"registration_time\" : \"1759793919\",\n
        \ \"deregistrationTimestamp\" : \"1759854271\",\n  \"config_download_time\"
        : \"1759831631\",\n  \"keepAliveTime\" : \"1759852321\",\n  \"hardwareFingerprint\"
        : \"6455319b50424227afe83202e4cf67ce4d633bd5\",\n  \"tunnelVersion\" : \"20:1\",\n
        \ \"vpnState\" : 0,\n  \"upmVersion\" : \"4.4.1.12\",\n  \"zappArch\" : null\n}
        ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8ad84f2d-7184-96da-bec1-fea37015e9c1
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '92'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '49'
      x-ratelimit-reset:
      - '1438'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getOtp?udid=053AF529-6506-5BF4-974E-A78C00AA51BD%3A501
  response:
    body:
      string: "{\n  \"logoutOtp\" : \"cx6t2c5scf\",\n  \"revertOtp\" : \"fnkkbwbypk\",\n
        \ \"uninstallOtp\" : \"lffzktv8mt\",\n  \"exitOtp\" : \"ufpjz5hgqg\",\n  \"ziaDisableOtp\"
        : \"sillrh50xd\",\n  \"zpaDisableOtp\" : \"bq9oc4q9er\",\n  \"zdxDisableOtp\"
        : \"uvrh2lvbb9\",\n  \"zdpDisableOtp\" : \"ybpiuirwuf\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 02bcec75-0d8e-96bc-946f-4a898ba9fc93
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '48'
      x-ratelimit-reset:
      - '1437'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getPasswords?username=REDACTED&osType=3
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6fec96b8-2932-9bd0-a841-fda38e4a8ca4
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '47'
      x-ratelimit-reset:
      - '1435'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getPasswords?username=REDACTED&osType=2
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9923ec7b-9d9f-9e94-9faf-efb2757524d5
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '43'
      x-ratelimit-reset:
      - '1425'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 400
      message: Bad Request
version: 1
