interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 10000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zcc/papi/public/v1/application-profiles
  response:
    body:
      string: "{\n  \"totalCount\" : 9,\n  \"policies\" : [ {\n    \"deviceType\"
        : \"DEVICE_TYPE_IOS\",\n    \"id\" : 473851,\n    \"name\" : \"IOS_Dev01\",\n
        \   \"description\" : \"IOS_Dev01\",\n    \"pac_url\" : \"\",\n    \"active\"
        : 1,\n    \"ruleOrder\" : 1,\n    \"logMode\" : -1,\n    \"logLevel\" : 0,\n
        \   \"logFileSize\" : 100,\n    \"reauth_period\" : \"12\",\n    \"reactivateWebSecurityMinutes\"
        : \"0\",\n    \"highlightActiveControl\" : 0,\n    \"sendDisableServiceReason\"
        : 0,\n    \"refreshKerberosToken\" : 0,\n    \"enableDeviceGroups\" : 0,\n
        \   \"groups\" : [ ],\n    \"deviceGroups\" : [ ],\n    \"onNetPolicy\" :
        null,\n    \"notificationTemplateContract\" : {\n      \"id\" : 4487,\n      \"templateName\"
        : \"Legacy Notification Settings\",\n      \"companyId\" : null,\n      \"defaultTemplate\"
        : \"1\",\n      \"enableClientNotification\" : \"0\",\n      \"enableZiaNotification\"
        : \"0\",\n      \"enableAppUpdatesNotification\" : \"0\",\n      \"enableServiceStatusNotification\"
        : \"0\",\n      \"enableNotificationForZPAReauth\" : \"1\",\n      \"zpaReauthNotificationTime\"
        : 5,\n      \"customTimer\" : 5,\n      \"ziaNotificationPersistant\" : \"0\",\n
        \     \"enablePersistantNotification\" : \"0\",\n      \"ziaFirewall\" : \"0\",\n
        \     \"ziaFirewallPopup\" : \"0\",\n      \"ziaDNS\" : \"0\",\n      \"ziaDNSPopup\"
        : \"0\",\n      \"ziaIPS\" : \"0\",\n      \"ziaIPSPopup\" : \"0\",\n      \"doNotDisturb\"
        : \"0\",\n      \"showDevicePostureFailureNotification\" : \"0\",\n      \"createdBy\"
        : \"0\",\n      \"editedBy\" : \"0\"\n    },\n    \"notificationTemplateId\"
        : 4487,\n    \"forwardingProfileId\" : null,\n    \"ziaPostureConfigId\" :
        null,\n    \"policyToken\":\"REDACTED_TOKEN\",\n    \"tunnelZappTraffic\"
        : 0,\n    \"groupAll\" : 0,\n    \"users\" : [ ],\n    \"policyExtension\"
        : {\n      \"rscModeOnAllAdapters\" : 0,\n      \"enableAdapterHardwareOffloading\"
        : \"0\",\n      \"sourcePortBasedBypasses\" : \"3389:*\",\n      \"vpnGateways\"
        : \"\",\n      \"packetTunnelExcludeList\" : \"10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,224.0.0.0/4,255.255.255.255,169.254.0.0/16\",\n
        \     \"packetTunnelIncludeList\" : \"0.0.0.0/0\",\n      \"packetTunnelDnsIncludeList\"
        : \"\",\n      \"packetTunnelDnsExcludeList\" : \"\",\n      \"nonce\" : \"\",\n
        \     \"machineIdpAuth\" : false,\n      \"exitPassword\":\"REDACTED\",\n
        \     \"useV8JsEngine\" : \"1\",\n      \"zdxDisablePassword\":\"REDACTED\",\n
        \     \"zdDisablePassword\":\"REDACTED\",\n      \"zpaDisablePassword\":\"REDACTED\",\n
        \     \"zdpDisablePassword\":\"REDACTED\",\n      \"followRoutingTable\" :
        \"1\",\n      \"useWsaPollForZpa\" : \"0\",\n      \"useDefaultAdapterForDNS\"
        : \"1\",\n      \"useZscalerNotificationFramework\" : \"0\",\n      \"switchFocusToNotification\"
        : \"0\",\n      \"fallbackToGatewayDomain\" : \"1\",\n      \"enableZCCRevert\"
        : \"0\",\n      \"zccRevertPassword\":\"REDACTED\",\n      \"zpaAuthExpOnSleep\"
        : 0,\n      \"zpaAuthExpOnSysRestart\" : 0,\n      \"zpaAuthExpOnNetIpChange\"
        : 0,\n      \"instantForceZPAReauthStateUpdate\" : 0,\n      \"zpaAuthExpOnWinLogonSession\"
        : 0,\n      \"zpaAuthExpOnWinSessionLock\" : 0,\n      \"zpaAuthExpSessionLockStateMinTimeInSecond\"
        : 0,\n      \"packetTunnelExcludeListForIPv6\" : \"[FF00::/8],[FE80::/10],[FC00::/7]\",\n
        \     \"packetTunnelIncludeListForIPv6\" : \"\",\n      \"enableSetProxyOnVPNAdapters\"
        : 1,\n      \"disableDNSRouteExclusion\" : 0,\n      \"advanceZpaReauth\"
        : false,\n      \"useProxyPortForT1\" : \"0\",\n      \"useProxyPortForT2\"
        : \"0\",\n      \"allowPacExclusionsOnly\" : \"0\",\n      \"interceptZIATrafficAllAdapters\"
        : \"0\",\n      \"enableAntiTampering\" : \"0\",\n      \"overrideATCmdByPolicy\"
        : \"0\",\n      \"reactivateAntiTamperingTime\" : 0,\n      \"enforceSplitDNS\"
        : 0,\n      \"dropQuicTraffic\" : 0,\n      \"enableZdpService\" : \"0\",\n
        \     \"updateDnsSearchOrder\" : 1,\n      \"truncateLargeUDPDNSResponse\"
        : 0,\n      \"prioritizeDnsExclusions\" : 1,\n      \"purgeKerberosPreferredDCCache\"
        : \"0\",\n      \"deleteDHCPOption121Routes\" : \"{\\\"trusted\\\":1,\\\"offTrusted\\\":1,\\\"vpnTrusted\\\":1,\\\"splitVpnTrusted\\\":1}\",\n
        \     \"enableLocationPolicyOverride\" : 0,\n      \"enableCustomTheme\" :
        0,\n      \"locationRulesetPolicies\" : {\n        \"offTrusted\" : {\n          \"id\"
        : 0,\n          \"name\" : \"\"\n        },\n        \"trusted\" : {\n          \"id\"
        : 0,\n          \"name\" : \"\"\n        },\n        \"vpnTrusted\" : {\n
        \         \"id\" : 0,\n          \"name\" : \"\"\n        },\n        \"splitVpnTrusted\"
        : {\n          \"id\" : 0,\n          \"name\" : \"\"\n        }\n      },\n
        \     \"generateCliPasswordContract\" : {\n        \"policyId\" : 473851,\n
        \       \"enableCli\" : false,\n        \"allowZpaDisableWithoutPassword\"
        : true,\n        \"allowZiaDisableWithoutPassword\" : true,\n        \"allowZdxDisableWithoutPassword\"
        : true\n      },\n      \"zdxLiteConfigObj\" : \"{\\\"localMetrics\\\":1,\\\"endToEndDiagnostics\\\":{\\\"trusted\\\":0,\\\"vpnTrusted\\\":0,\\\"offTrusted\\\":0,\\\"splitVpnTrusted\\\":0}}\",\n
        \     \"ddilConfig\" : \"{\\\"ddilEnabled\\\":0,\\\"businessContinuityActivationDomain\\\":\\\"\\\",\\\"businessContinuityTestModeEnabled\\\":0}\",\n
        \     \"zccFailCloseSettingsIpBypasses\" : \"\",\n      \"zccFailCloseSettingsExitUninstallPassword\":\"REDACTED\",\n
        \     \"zccFailCloseSettingsLockdownOnTunnelProcessExit\" : 1,\n      \"zccFailCloseSettingsLockdownOnFirewallError\"
        : 0,\n      \"zccFailCloseSettingsLockdownOnDriverError\" : 0,\n      \"zccFailCloseSettingsThumbPrint\"
        : \"GjqjzPQ3Vic35+o3Y12EsXOSV3rOJaeYTpcBmotISts=\",\n      \"zccAppFailOpenPolicy\"
        : 0,\n      \"zccTunnelFailPolicy\" : 0,\n      \"followGlobalForPartnerLogin\"
        : \"1\",\n      \"userAllowedToAddPartner\" : \"0\",\n      \"allowClientCertCachingForWebView2\"
        : \"0\",\n      \"showConfirmationDialogForCachedCert\" : \"0\",\n      \"enableFlowBasedTunnel\"
        : 0,\n      \"enableNetworkTrafficProcessMapping\" : 0,\n      \"enableLocalPacketCapture\"
        : \"1\",\n      \"oneIdMTDeviceAuthEnabled\" : \"0\",\n      \"enableCustomProxyDetection\"
        : \"0\",\n      \"preventAutoReauthDuringDeviceLock\" : \"0\",\n      \"useEndPointLocationForDCSelection\"
        : \"0\",\n      \"enableCrashReporting\" : 0,\n      \"recacheSystemProxy\"
        : \"0\",\n      \"followGlobalForZpaReauth\" : \"1\",\n      \"zpaAutoReauthTimeout\"
        : 30,\n      \"enableAutomaticPacketCapture\" : 0,\n      \"enableAPCforCriticalSections\"
        : 0,\n      \"enableAPCforOtherSections\" : 0,\n      \"enablePCAdditionalSpace\"
        : 0,\n      \"pcAdditionalSpace\" : 0,\n      \"clientConnectorUiLanguage\"
        : 0,\n      \"blockPrivateRelay\" : \"0\",\n      \"bypassDNSTrafficUsingUDPProxy\"
        : 0,\n      \"reconnectTunOnWakeup\" : 0\n    },\n    \"disasterRecovery\"
        : {\n      \"policyId\" : \"473851\",\n      \"enableZiaDR\" : false,\n      \"enableZpaDR\"
        : false,\n      \"ziaDRMethod\" : 0,\n      \"ziaCustomDbUrl\" : \"\",\n      \"useZiaGlobalDb\"
        : false,\n      \"ziaGlobalDbUrl\" : \"\",\n      \"ziaGlobalDbUrlv2\" : \"\",\n
        \     \"ziaDomainName\" : \"\",\n      \"ziaRSAPubKeyName\" : \"\",\n      \"ziaRSAPubKey\"
        : \"\",\n      \"zpaDomainName\" : \"\",\n      \"zpaRSAPubKeyName\" : \"\",\n
        \     \"zpaRSAPubKey\" : \"\",\n      \"allowZiaTest\" : false,\n      \"allowZpaTest\"
        : false\n    },\n    \"ziaPostureConfig\" : null,\n    \"groupIds\" : null,\n
        \   \"deviceGroupIds\" : null,\n    \"userIds\" : null,\n    \"bypassAppIds\"
        : null,\n    \"appServiceIds\" : null,\n    \"bypassCustomAppIds\" : null,\n
        \   \"bypassApps\" : null,\n    \"bypassCustomApps\" : null,\n    \"appServices\"
        : null,\n    \"passcode\" : \"\",\n    \"logout_password\":\"REDACTED\",\n
        \   \"disable_password\":\"REDACTED\",\n    \"uninstall_password\":\"REDACTED\",\n
        \   \"showVPNTunNotification\" : 0,\n    \"useTunnelSDK4_3\" : 0,\n    \"ipv6Mode\"
        : 3\n  }, {\n    \"deviceType\" : \"DEVICE_TYPE_IOS\",\n    \"id\" : 0,\n
        \   \"name\" : \"Default\",\n    \"description\" : \"Default Policy\",\n    \"pac_url\"
        : \"\",\n    \"active\" : 1,\n    \"ruleOrder\" : 2,\n    \"logMode\" : 3,\n
        \   \"logLevel\" : 0,\n    \"logFileSize\" : 100,\n    \"reauth_period\" :
        null,\n    \"reactivateWebSecurityMinutes\" : \"0\",\n    \"highlightActiveControl\"
        : 0,\n    \"sendDisableServiceReason\" : 0,\n    \"refreshKerberosToken\"
        : 0,\n    \"enableDeviceGroups\" : 0,\n    \"groups\" : [ ],\n    \"deviceGroups\"
        : [ ],\n    \"onNetPolicy\" : null,\n    \"notificationTemplateContract\"
        : null,\n    \"notificationTemplateId\" : 4487,\n    \"forwardingProfileId\"
        : null,\n    \"ziaPostureConfigId\" : null,\n    \"policyToken\" : null,\n
        \   \"tunnelZappTraffic\" : 0,\n    \"groupAll\" : 1,\n    \"users\" : null,\n
        \   \"policyExtension\" : {\n      \"rscModeOnAllAdapters\" : 0,\n      \"enableAdapterHardwareOffloading\"
        : \"0\",\n      \"sourcePortBasedBypasses\" : \"3389:*\",\n      \"packetTunnelExcludeList\"
        : \"10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,224.0.0.0/4,255.255.255.255,169.254.0.0/16\",\n
        \     \"packetTunnelIncludeList\" : \"0.0.0.0/0\",\n      \"customDNS\" :
        \"\",\n      \"exitPassword\":\"REDACTED\",\n      \"useV8JsEngine\" : \"1\",\n
        \     \"zdxDisablePassword\":\"REDACTED\",\n      \"zdDisablePassword\":\"REDACTED\",\n
        \     \"zpaDisablePassword\":\"REDACTED\",\n      \"zdpDisablePassword\":\"REDACTED\",\n
        \     \"followRoutingTable\" : \"1\",\n      \"useWsaPollForZpa\" : \"0\",\n
        \     \"useDefaultAdapterForDNS\" : \"1\",\n      \"useZscalerNotificationFramework\"
        : \"0\",\n      \"switchFocusTo[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zcc/papi/public/v1/application-profiles/473851
  response:
    body:
      string: "{\n  \"deviceType\" : \"DEVICE_TYPE_IOS\",\n  \"id\" : 473851,\n  \"name\"
        : \"IOS_Dev01\",\n  \"description\" : \"IOS_Dev01\",\n  \"pac_url\" : \"\",\n
        \ \"active\" : 1,\n  \"ruleOrder\" : 1,\n  \"logMode\" : -1,\n  \"logLevel\"
        : 0,\n  \"logFileSize\" : [...]
- request:
    body: '{"name": "IOS_Dev01", "description": "IOS_Dev01", "packetTunnelExcludeList":
      "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,224.0.0.0/4,255.255.255.255,169.254.0.0/16",
      "deviceType": "1", "policyId": 473851}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.beta.zsapi.net/zcc/papi/public/v1/application-profiles/473851
  response:
    body:
      string: "{\n  \"success\" : \"true\",\n  \"id\" : 473851\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d256c3ed-9199-9103-a232-08e023654b7c
      x-oneapi-version:
      - 111.1.27
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '95'
      x-ratelimit-reset:
      - '2107'
      x-transaction-id:
      - 793c5eaa-f547-4b83-8d50-d96f60e8f570
    status:
      code: 200
      message: OK
version: 1
