interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=10&osType=3
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n
        \ \"state\" : 3,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" : \"00:50:56:82:34:A2\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"VMware, Inc. VMware Virtual Platform\",\n  \"policyName\" : \"SGIOLab\",\n
        \ \"last_seen_time\" : \"1759822506\",\n  \"osVersion\" : \"Microsoft Windows
        10 Pro;64 bit;amd64\",\n  \"agentVersion\" : \"4.7.0.88 (64-bit)\",\n  \"registrationState\"
        : \"Remove pending\",\n  \"owner\" : \"WilliamGuilherme\",\n  \"machineHostname\"
        : \"VCD138-WIN10\",\n  \"manufacturer\" : \"VMware, Inc.\",\n  \"download_count\"
        : 1,\n  \"registration_time\" : \"1759822502\",\n  \"deregistrationTimestamp\"
        : \"1759796303\",\n  \"config_download_time\" : \"1759822502\",\n  \"keepAliveTime\"
        : \"1759822506\",\n  \"hardwareFingerprint\" : \"N2U3YzVmZjU3MmVlMThlODQ2ZGYzN2U2ZWE5ODlkZWVjM2IwYmE5MDQ2NTAyNzRjMDA4NmJmOTZkOTcyMzNjYg==\",\n
        \ \"tunnelVersion\" : \"20:1\",\n  \"vpnState\" : 0,\n  \"upmVersion\" : \"4.5.0.33
        (32-bit)\",\n  \"zappArch\" : \"x64\"\n}, {\n  \"companyName\" : \"William
        Guilherme\",\n  \"type\" : 3,\n  \"state\" : 3,\n  \"udid\" : \"VMware-42-1d-29-9b-7c-c5-3f-d2-90-3c-d5-4e-9c-75-6d-d0:19D0764C0D09DF81361B52530353FD5A52A34D68\",\n
        \ \"macAddress\" : \"00:50:56:9D:F5:23\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"VMware, Inc. VMware Virtual Platform\",\n  \"policyName\" : \"SGIOLab\",\n
        \ \"last_seen_time\" : \"1645213834\",\n  \"osVersion\" : \"Microsoft Windows
        10 Pro;6[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 4,\n
        \ \"state\" : 2,\n  \"udid\" : \"053AF529-6506-5BF4-974E-A78C00AA51BD:501\",\n
        \ \"macAddress\" : \"06:5F:DD:5A:83:66\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"Apple Mac16,7\",\n  \"policyName\" :[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?username=adam.ashcroft%40securitygeek.io&page=1&pageSize=10
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 4,\n
        \ \"state\" : 2,\n  \"udid\" : \"053AF529-6506-5BF4-974E-A78C00AA51BD:501\",\n
        \ \"macAddress\" : \"06:5F:DD:5A:83:66\",\n  \"user\" : \"REDACTED\",\n [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=5&osType=4
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 4,\n
        \ \"state\" : 2,\n  \"udid\" : \"053AF529-6506-5BF4-974E-A78C00AA51BD:501\",\n
        \ \"macAddress\" : \"06:5F:DD:5A:83:66\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"Apple Mac16,7\",\n  \"policyName\" : \"ZTunnel2.0\",\n  \"last_seen_time\"
        : \"1759852321\",\n  \"osVersion\" : \"Version 15.6.1 (Build 24G90) ;arm\",\n
        \ \"agentVersion\" : \"4.5.2.73\",\n  \"registrationState\" : \"Unregistered\",\n
        \ \"owner\" : \"wguilherme\",\n  \"machineHostname\" : \"F99LXTG6YY\",\n  \"manufacturer\"
        : \"Apple\",\n  \"download_count\" : 8,\n  \"registration_time\" : \"1759793919\",\n
        \ \"deregistrationTimestamp\" : \"1759854271\",\n  \"config_download_time\"
        : \"1759831631\",\n  \"keepAliveTime\" : \"1759852321\",\n  \"hardwareFingerprint\"
        : \"6455319b50424227afe83202e4cf67ce4d633bd5\",\n  \"tunnelVersion\" : \"20:1\",\n
        \ \"vpnState\" : 0,\n  \"upmVersion\" : \"4.4.1.12\",\n  \"zappArch\" : null\n}
        ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 71c284a0-daf8-9f40-b38d-8df39cf481b8
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '87'
      x-ratelimit-reset:
      - '1453'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=1
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 4,\n
        \ \"state\" : 2,\n  \"udid\" : \"053AF529-6506-5BF4-974E-A78C00AA51BD:501\",\n
        \ \"macAddress\" : \"06:5F:DD:5A:83:66\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"Apple Mac16,7\",\n[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceDetails?username=adam.ashcroft%40securitygeek.io
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 567c0a34-305a-9a74-8abd-b0e97c9a0bd5
      x-oneapi-version:
      - 109.1.111
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '82'
      x-ratelimit-reset:
      - '1451'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceDetails?udid=053AF529-6506-5BF4-974E-A78C00AA51BD%3A501
  response:
    body:
      string: '{"id":"190286315","type":4,"state":2,"user_name":"REDACTED","owner":"wguilherme","machineHostname":"F99LXTG6YY","manufacturer":"Apple","internal_model":"Mac16,7","external_model":"Mac16,7","os_version":"Version
        15.6.1 (Build 24G90) ;arm","unique_id":"053AF529-6506-5BF4-974E-A78C00AA51BD:501","carrier":"","mac_address":"06:5F:DD:5A:83:66","device_locale":"en-CA","agent_version":"4.5.2.73","rooted":0,"config_download_time":"1759831631","registration_time":"1759793919","download_count":8,"deregistration_time":"1759854271","last_seen_time":"1759852321","keep_alive_time":"1759852321","hardwareFingerprint":"6455319b50424227afe83202e4cf67ce4d633bd5","devicePolicyName":"ZTunnel2.0","tunnelVersion":"20:1","logFetchInfo":{"logTs":0,"logAckTs":0,"error":0,"logFetchPCAPEnabled":false,"logFetchDBEnabled":false,"logFetchFromNoOfDays":0},"upmVersion":"4.4.1.12","zdpVersion":"25.3.16.1167","zappArch":"","serialNumber":"F99LXTG6YY","ziaEnabled":"true","zpaEnabled":"true","zdxEnabled":"true","zdEnabled":"Not
        Applicable","zdpEnabled":"true","ziaHealth":"Active","zpaHealth":"Active","zdxHealth":"Active","zdHealth":"Not
        Applicable","zdpHealth":"Active","zpaLastSeenTime":"1759852321","zdxLastSeenTime":"1759852321","zdLastSeenTime":"Not
        Applicable","zdpLastSeenTime":"1759852321","zccLoggedInUserType":"","externalDeviceId":"","zccForceRevert":"0","deviceOtpArray":["cx6t2c5scf","fnkkbwbypk","lffzktv8mt","ufpjz5hgqg","sillrh50xd","bq9oc4q9er","uvrh2lvbb9","tw5h9tbjjw","la7pcom35l","ybpiuirwuf"],"antiTamperingStatus":"","deviceTrust":0,"zccTunnelVersion":"","vdi":0,"strictEnforcement":"0","expectedZCCVersion":"4.5.2.73","expectedZCCVersionTimestamp":"1759852701","zccUpgradeStatus":"In
        Progress","lastLocationSourceUsed":"Source IP"}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6a408f2f-8ba8-9d6f-b063-f4942e9dbf82
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '81'
      x-ratelimit-reset:
      - '1450'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceCleanupInfo
  response:
    body:
      string: "{\n  \"id\" : \"0\",\n  \"active\" : \"1\",\n  \"forceRemoveType\"
        : \"0\",\n  \"deviceExceedLimit\" : \"16\",\n  \"autoRemovalDays\" : \"0\",\n
        \ \"autoPurgeDays\" : \"0\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6001ba8e-4123-90b6-88b3-c71f77edd003
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '80'
      x-ratelimit-reset:
      - '1450'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
version: 1
