interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=1
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n
        \ \"state\" : 1,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" : \"00:50:56:82:34:A2\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"VMware, Inc. VMware Virtual Platform\",\n  \"policyName\" : \"SGIOLab\",\n
        \ \"last_seen_time\" : \"1759822506\",\n  \"osVersion\" : \"Microsoft Windows
        10 Pro;64 bit;amd64\",\n  \"agentVersion\" : \"4.7.0.88 (64-bit)\",\n  \"registrationState\"
        : \"Registered\",\n  \"owner\" : \"WilliamGuilherme\",\n  \"machineHostname\"
        : \"VCD138-WIN10\",\n  \"manufacturer\" : \"VMware, Inc.\",\n  \"download_count\"
        : 1,\n  \"registration_time\" : \"1759822502\",\n  \"deregistrationTimestamp\"
        : \"1759796303\",\n  \"config_download_time\" : \"1759822502\",\n  \"keepAliveTime\"
        : \"1759822506\",\n  \"hardwareFingerprint\" : \"N2U3YzVmZjU3MmVlMThlODQ2ZGYzN2U2ZWE5ODlkZWVjM2IwYmE5MDQ2NTAyNzRjMDA4NmJmOTZkOTcyMzNjYg==\",\n
        \ \"tunnelVersion\" : \"20:1\",\n  \"vpnState\" : 0,\n  \"upmVersion\" : \"4.5.0.33
        (32-bit)\",\n  \"zappArch\" : \"x64\"\n} ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 62d13f07-bb5e-9a70-9359-7f405f006eac
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '94'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '73'
      x-ratelimit-reset:
      - '2150'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getOtp?udid=VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90%3A92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8
  response:
    body:
      string: "{\n  \"logoutOtp\" : \"afzawxx3f5\",\n  \"revertOtp\" : \"irog3l8n2b\",\n
        \ \"uninstallOtp\" : \"8sus4ooi3l\",\n  \"exitOtp\" : \"756hb0ndvq\",\n  \"ziaDisableOtp\"
        : \"nmemrvsk9k\",\n  \"zpaDisableOtp\" : \"fhbwfljveu\",\n  \"zdxDisableOtp\"
        : \"w5rkichq4d\",\n  \"antiTemperingDisableOtp\" : \"yqd7s8gohf\",\n  \"zdpDisableOtp\"
        : \"40cygtumje\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bd1af92b-ccd8-9346-b86d-d586cc5bced7
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '72'
      x-ratelimit-reset:
      - '2149'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getPasswords?username=REDACTED&osType=3
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cfad3ea6-2990-9a1e-ab57-76a0a258403b
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '98'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '71'
      x-ratelimit-reset:
      - '2146'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getPasswords?username=REDACTED&osType=2
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b2fbab23-8a8c-916c-9baf-7ecabeca0621
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '67'
      x-ratelimit-reset:
      - '2134'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 400
      message: Bad Request
version: 1
