interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/listByCompany
  response:
    body:
      string: "{\n  \"totalCount\" : 21,\n  \"trustedNetworkContracts\" : [ {\n    \"id\"
        : \"9913\",\n    \"companyId\" : \"4543\",\n    \"createdBy\" : \"247739\",\n
        \   \"editedBy\" : \"247739\",\n    \"guid\" : \"928c092b-3fe1-49bb-b01f-0618e4f38468\",\n
        \   \"networkName\" : \"BDTrustedNetwork01\",\n    \"conditionType\" : 1,\n
        \   \"dnsServers\" : \"8.8.8.8\",\n    \"dnsSearchDomains\" : \"\",\n    \"hostnames\"
        : \"\",\n    \"resolvedIpsForHostname\" : \"\",\n    \"active\" : true\n  },
        {\n    \"id\" : \"9915\",\n    \"companyId\" : \"4543\",\n    \"createdBy\"
        : \"247739\",\n    \"editedBy\" : \"453111\",\n    \"guid\" : \"3c3e55e7-cfe1-4abf-974f-276ac586309b\",\n
        \   \"networkName\" : \"BDTrustedNetwork02\",\n    \"conditionType\" : 1,\n
        \   \"dnsServers\" : \"\",\n    \"dnsSearchDomains\" : \"server2.bd-hashicorp.com\",\n
        \   \"hostnames\" : \"\",\n    \"resolvedIpsForHostname\" : \"\",\n    \"trustedSubnets\"
        : \"\",\n    \"trustedGateways\" : \"\",\n    \"trustedDhcpServers\" : \"\",\n
        \   \"active\" : true\n  }, {\n    \"id\" : \"13381\",\n    \"companyId\"
        : \"4543\",\n    \"createdBy\" : \"453111\",\n    \"editedBy\" : \"453111\",\n
        \   \"guid\" : \"ca624ef9-703b-45ed-8c6c-6b6217f2b355\",\n    \"networkName\"
        : \"BD-TrustedNetwork01\",\n    \"conditionType\" : 1,\n    \"dnsServers\"
        : \"8.8.8.8\",\n    \"dnsSearchDomains\" : \"\",\n    \"hostnames\" : \"\",\n
        \   \"resolvedIpsForHostname\" : \"\",\n    \"trustedSubnet[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/listByCompany?page=1&pageSize=10
  response:
    body:
      string: "{\n  \"totalCount\" : 21,\n  \"trustedNetworkContracts\" : [ {\n    \"id\"
        : \"9913\",\n    \"companyId\" : \"4543\",\n    \"createdBy\" : \"247739\",\n
        \   \"editedBy\" : \"247739\",\n    \"guid\" : \"928c092b-3fe1-49bb-b01f-0618e4f38468[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/listByCompany?search=test
  response:
    body:
      string: "{\n  \"totalCount\" : 0,\n  \"trustedNetworkContracts\" : [ ]\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0a92b2ec-bdfa-98df-9dd4-a104b9deed66
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '64'
      x-ratelimit-reset:
      - '2130'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
- request:
    body: '{"active": true, "networkName": "tests-trusted-network-vcr0001", "dnsServers":
      "10.10.10.10, 10.10.10.11", "dnsSearchDomains": "test.example.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/create
  response:
    body:
      string: "{\n  \"networkName\" : \"tests-trusted-network-vcr0001\",\n  \"conditionType\"
        : 0,\n  \"dnsServers\" : \"10.10.10.10, 10.10.10.11\",\n  \"dnsSearchDomains\"
        : \"test.example.com\",\n  \"active\" : true\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 49384d60-77e7-9795-a437-a3dace862fb0
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '91'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '63'
      x-ratelimit-reset:
      - '2130'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
version: 1
