interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webForwardingProfile/listByCompany
  response:
    body:
      string: "[ {\n  \"id\" : \"11925\",\n  \"active\" : \"1\",\n  \"name\" : \"SGIO-Tunnel2.0\",\n
        \ \"conditionType\" : 1,\n  \"dnsServers\" : \"\",\n  \"dnsSearchDomains\"
        : \"\",\n  \"enableLWFDriver\" : \"1\",\n  \"hostname\" : \"\",\n  \"resolvedIpsForHostname\"
        : \"\",\n  \"trustedSubnets\" : \"\",\n  \"trustedGateways\" : \"\",\n  \"trustedDhcpServers\"
        : \"\",\n  \"trustedEgressIps\" : \"\",\n  \"predefinedTrustedNetworks\" :
        false,\n  \"predefinedTnAll\" : false,\n  \"forwardingProfileActions\" : [
        {\n    \"networkType\" : 1,\n    \"actionType\" : 1,\n    \"systemProxy\"
        : 0,\n    \"customPac\" : \"\",\n    \"enablePacketTunnel\" : 1,\n    \"systemProxyData\"
        : {\n      \"proxyAction\" : 1,\n      \"enableAutoDetect\" : 0,\n      \"enablePAC\"
        : 0,\n      \"pacURL\" : \"\",\n      \"enableProxyServer\" : 0,\n      \"proxyServerAddress\"
        : \"\",\n      \"proxyServerPort\" : \"0\",\n      \"bypassProxyForPrivateIP\"
        : 0,\n      \"performGPUpdate\" : 0,\n      \"pacDataPath\" : \"\"\n    },\n
        \   \"primaryTransport\" : 1,\n    \"DTLSTimeout\" : 9,\n    \"UDPTimeout\"
        : 9,\n    \"TLSTimeout\" : 5,\n    \"mtuForZadapter\" : 0,\n    \"blockUnreachableDomainsTraffic\"
        : 0,\n    \"allowTLSFallback\" : 1,\n    \"tunnel2FallbackType\" : 0,\n    \"dropIpv6Traffic\"
        : 0,\n    \"redirectWebTraffic\" : 0,\n    \"dropIpv6IncludeTrafficInT2\"
        : 0,\n    \"useTunnel2ForProxiedWebTraffic\" : 0,\n    \"useTunnel2ForUnencryptedWebTraffic\"
        : 0,\n    \"pathMtuDiscovery\" : 1,\n    \"latencyBasedZenEnablement\" : 0,\n
        \   \"zenProbeInterval\" : 60,\n    \"zenProbeSampleSize\" : 5,\n    \"zenThresholdLimit\"
        : 2,\n    \"dropIpv6TrafficInIpv6Network\" : 0\n  }, {\n    \"networkType\"
        : 2,\n    \"actionType\" : 1,\n    \"systemProxy\" : 0,\n    \"customPac\"
        : \"\",\n    \"enablePacketTunnel\" : 1,\n    \"systemProxyData\" : {\n      \"proxyAction\"
        : 1,\n      \"enableAutoDetect\" : 0,\n      \"enablePAC\" : 0,\n      \"pacURL\"
        : \"\",\n      \"enableProxyServer\" : 0,\n      \"proxyServerAddress\" :
        \"\",\n      \"proxyServerPort\" : \"0\",\n      \"bypassProxyForPrivateIP\"
        : 0,\n      \"perfo[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webForwardingProfile/listByCompany?page=1&pageSize=10
  response:
    body:
      string: "[ {\n  \"id\" : \"11925\",\n  \"active\" : \"1\",\n  \"name\" : \"SGIO-Tunnel2.0\",\n
        \ \"conditionType\" : 1,\n  \"dnsServers\" : \"\",\n  \"dnsSearchDomains\"
        : \"\",\n  \"enableLWFDriver\" : \"1\",\n  \"hostname\" : \"\",\n  \"resol[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webForwardingProfile/listByCompany?search=test
  response:
    body:
      string: '[ ]'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6795c7de-d290-9072-a65d-5f3addafac6b
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '74'
      x-ratelimit-reset:
      - '2150'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
version: 1
