interactions:
- request:
    body: '{"name": "Test Policy for Coverage", "description": "Automated test policy",
      "device_type": 3, "enabled": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/web/policy/edit
  response:
    body:
      string: "{\n  \"success\" : \"false\",\n  \"id\" : 0\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8767724f-34ea-9b4e-ae52-da1a08a274a9
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '92'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '66'
      x-ratelimit-reset:
      - '1227'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
version: 1
