interactions:
- request:
    body: '{"name": "Test Forwarding Profile for Coverage", "hostname": "test-server.example.com",
      "resolvedIpsForHostname": "192.168.1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webForwardingProfile/edit
  response:
    body:
      string: "{\n  \"success\" : \"false\",\n  \"id\" : 0\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 55bbfedb-c747-953b-b82c-2ba0764ad98f
      x-oneapi-version:
      - 109.1.111
      x-rate-limit-remaining:
      - '89'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '50'
      x-ratelimit-reset:
      - '1438'
      x-transaction-id:
      - b4f2ba96-af19-4c5f-ada8-da85f767d2d4
    status:
      code: 200
      message: OK
version: 1
