interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=10&osType=3
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n
        \ \"state\" : 1,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" : \"00:50:56:82:34:A2\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"VMware, Inc. VMware Virtual Platform\",\n  \"policyName\" : \"SGIOLab\",\n
        \ \"last_seen_time\" : \"1759822506\",\n  \"osVersion\" : \"Microsoft Windows
        10 Pro;64 bit;amd64\",\n  \"agentVersion\" : \"4.7.0.88 (64-bit)\",\n  \"registrationState\"
        : \"Registered\",\n  \"owner\" : \"WilliamGuilherme\",\n  \"machineHostname\"
        : \"VCD138-WIN10\",\n  \"manufacturer\" : \"VMware, Inc.\",\n  \"download_count\"
        : 1,\n  \"registration_time\" : \"1759822502\",\n  \"deregistrationTimestamp\"
        : \"1759796303\",\n  \"config_download_time\" : \"1759822502\",\n  \"keepAliveTime\"
        : \"1759822506\",\n  \"hardwareFingerprint\" : \"N2U3YzVmZjU3MmVlMThlODQ2ZGYzN2U2ZWE5ODlkZWVjM2IwYmE5MDQ2NTAyNzRjMDA4NmJmOTZkOTcyMzNjYg==\",\n
        \ \"tunnelVersion\" : \"20:1\",\n  \"vpnState\" : 0,\n  \"upmVersion\" : \"4.5.0.33
        (32-bit)\",\n  \"zappArch\" : \"x64\"\n}, {\n  \"companyName\" : \"William
        Guilherme\",\n  \"type\" : 3,\n  \"state\" : 3,\n  \"udid\" : \"VMware-42-1d-29-9b-7c-c5-3f-d2-90-3c-d5-4e-9c-75-6d-d0:19D0764C0D09DF81361B52530353FD5A52A34D68\",\n
        \ \"macAddress\" : \"00:50:56:9D:F5:23\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"VMware, Inc. VMware Virtual Platform\",\n  \"policyName\" : \"SGIOLab\",\n
        \ \"last_seen_time\" : \"1645213834\",\n  \"osVersion\" : \"Microsoft Windows
        10 Pro;6[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n
        \ \"state\" : 1,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" : \"00:50:56:82:34:A2\",\n  \"user\" : \"REDACTED\",\n  \"de[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?username=adam.ashcroft%40securitygeek.io&page=1&pageSize=10
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n
        \ \"state\" : 1,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=5&osType=4
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 4,\n
        \ \"state\" : 2,\n  \"udid\" : \"053AF529-6506-5BF4-974E-A78C00AA51BD:501\",\n
        \ \"macAddress\" : \"06:5F:DD:5A:83:66\",\n  \"user\" : \"REDACTED\",\n  \"detail\"
        : \"Apple Mac16,7\",\n  \"policyName\" : \"ZTunnel2.0\",\n  \"last_seen_time\"
        : \"1759852321\",\n  \"osVersion\" : \"Version 15.6.1 (Build 24G90) ;arm\",\n
        \ \"agentVersion\" : \"4.5.2.73\",\n  \"registrationState\" : \"Unregistered\",\n
        \ \"owner\" : \"wguilherme\",\n  \"machineHostname\" : \"F99LXTG6YY\",\n  \"manufacturer\"
        : \"Apple\",\n  \"download_count\" : 8,\n  \"registration_time\" : \"1759793919\",\n
        \ \"deregistrationTimestamp\" : \"1759854271\",\n  \"config_download_time\"
        : \"1759831631\",\n  \"keepAliveTime\" : \"1759852321\",\n  \"hardwareFingerprint\"
        : \"6455319b50424227afe83202e4cf67ce4d633bd5\",\n  \"tunnelVersion\" : \"20:1\",\n
        \ \"vpnState\" : 0,\n  \"upmVersion\" : \"4.4.1.12\",\n  \"zappArch\" : null\n}
        ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8798105b-993a-9206-8959-cc02340fd5fc
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '93'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '44'
      x-ratelimit-reset:
      - '1981'
      x-transaction-id:
      - 5f0e8a76-b712-4661-817d-f0f74461af49
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDevices?page=1&pageSize=1
  response:
    body:
      string: "[ {\n  \"companyName\" : \"William Guilherme\",\n  \"type\" : 3,\n
        \ \"state\" : 1,\n  \"udid\" : \"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8\",\n
        \ \"macAddress\" : \"00:50:56:82:34:A2\",\n  \"user\" : \"R[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceDetails?username=adam.ashcroft%40securitygeek.io
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4352596c-b5d3-9a0c-a218-e23545596286
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '39'
      x-ratelimit-reset:
      - '1977'
      x-transaction-id:
      - 5f0e8a76-b712-4661-817d-f0f74461af49
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceDetails?udid=VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90%3A92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8
  response:
    body:
      string: '{"id":"137111309","type":3,"state":1,"user_name":"REDACTED","owner":"WilliamGuilherme","machineHostname":"VCD138-WIN10","manufacturer":"VMware,
        Inc.","internal_model":"VMware Virtual Platform","external_model":"VMware
        Virtual Platform","os_version":"Microsoft Windows 10 Pro;64 bit;amd64","unique_id":"VMware-42-02-38-a5-5f-9c-86-39-ff-5a-d0-60-5c-35-68-90:92DA6D4B7D0C828275C63C4BCA15A1EDFE5463E8","carrier":"","mac_address":"00:50:56:82:34:A2","device_locale":"en","agent_version":"4.7.0.88","rooted":0,"config_download_time":"1759822502","registration_time":"1759822502","download_count":1,"deregistration_time":"1759796303","last_seen_time":"1759822506","keep_alive_time":"1759822506","hardwareFingerprint":"N2U3YzVmZjU3MmVlMThlODQ2ZGYzN2U2ZWE5ODlkZWVjM2IwYmE5MDQ2NTAyNzRjMDA4NmJmOTZkOTcyMzNjYg\u003d\u003d","devicePolicyName":"SGIOLab","tunnelVersion":"20:1","logFetchInfo":{"logTs":0,"logAckTs":0,"error":0,"logFetchPCAPEnabled":false,"logFetchDBEnabled":false,"logFetchFromNoOfDays":0},"upmVersion":"4.5.0.33
        (32-bit)","zdpVersion":"25.3.15.9","zappArch":"x64","serialNumber":"VMware-42
        02 38 a5 5f 9c 86 39-ff 5a d0 60 5c 35 6","ziaEnabled":"true","zpaEnabled":"true","zdxEnabled":"true","zdEnabled":"Not
        Applicable","zdpEnabled":"true","ziaHealth":"Active","zpaHealth":"Active","zdxHealth":"Inactive","zdHealth":"Not
        Applicable","zdpHealth":"Inactive","zpaLastSeenTime":"1759822506","zdxLastSeenTime":"1759795462","zdLastSeenTime":"Not
        Applicable","zdpLastSeenTime":"1759795462","zccLoggedInUserType":"No","externalDeviceId":"","zccForceRevert":"0","deviceOtpArray":["afzawxx3f5","irog3l8n2b","8sus4ooi3l","756hb0ndvq","nmemrvsk9k","fhbwfljveu","w5rkichq4d","zk2huol2n4","yqd7s8gohf","40cygtumje"],"antiTamperingStatus":"0","deviceTrust":0,"zccTunnelVersion":"","vdi":0,"strictEnforcement":"0","expectedZCCVersion":"4.7.0.88","expectedZCCVersionTimestamp":"1759822509","zccUpgradeStatus":"In
        Progress","lastLocationSourceUsed":"Source IP"}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f641fffa-8f98-9615-b1fd-f7d98904d03e
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '89'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '38'
      x-ratelimit-reset:
      - '1977'
      x-transaction-id:
      - 5f0e8a76-b712-4661-817d-f0f74461af49
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceCleanupInfo
  response:
    body:
      string: "{\n  \"id\" : \"0\",\n  \"active\" : \"1\",\n  \"forceRemoveType\"
        : \"0\",\n  \"deviceExceedLimit\" : \"16\",\n  \"autoRemovalDays\" : \"0\",\n
        \ \"autoPurgeDays\" : \"0\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c5ec2e51-25b2-986a-a797-6e4dc63464f0
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '93'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '37'
      x-ratelimit-reset:
      - '1976'
      x-transaction-id:
      - 5f0e8a76-b712-4661-817d-f0f74461af49
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getDeviceDetails?username=REDACTED
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - de02e630-f87f-952d-8132-35f99f7f6c3e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '1243'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 400
      message: Bad Request
version: 1
