interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getWebPrivacyInfo
  response:
    body:
      string: "{\n  \"id\" : \"1537\",\n  \"active\" : \"1\",\n  \"collectUserInfo\"
        : \"1\",\n  \"collectMachineHostname\" : \"1\",\n  \"collectZdxLocation\"
        : \"1\",\n  \"enablePacketCapture\" : \"1\",\n  \"disableCrashlytics\" : \"0\",\n
        \ \"overrideT2ProtocolSetting\" : \"0\",\n  \"restrictRemotePacketCapture\"
        : \"0\",\n  \"grantAccessToZscalerLogFolder\" : \"0\",\n  \"exportLogsForNonAdmin\"
        : \"1\",\n  \"enableAutoLogSnippet\" : \"0\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 18803914-0940-9ca8-83ad-34b93b9a739e
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '93'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '51'
      x-ratelimit-reset:
      - '2124'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
- request:
    body: '{"active": "1", "collectUserInfo": "1", "collectMachineHostname": "1"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/setWebPrivacyInfo
  response:
    body:
      string: '{ }'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0b18609a-30d5-9b43-82ec-23f6be35c4a7
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '87'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '50'
      x-ratelimit-reset:
      - '2123'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
version: 1
