interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/updateZdxGroupEntitlement
  response:
    body:
      string: 404 Not Found
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 75694547-0477-9d3d-ad6c-a270159debaf
      x-oneapi-version:
      - 109.1.92
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/updateZpaGroupEntitlement
  response:
    body:
      string: 404 Not Found
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d249e5e8-c035-965f-8e74-0019f46fd67b
      x-oneapi-version:
      - 109.1.92
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getZdxGroupEntitlements
  response:
    body:
      string: "{\n  \"totalCount\" : 0,\n  \"upmEnableForAll\" : 1,\n  \"logoutZCCForZDXService\"
        : 0,\n  \"computeDeviceGroupsForZDX\" : 0,\n  \"upmGroupList\" : [ ],\n  \"upmDeviceGroupList\"
        : [ ],\n  \"collectZdxLocation\" : 1\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b6bcce95-6830-9cad-afef-703f5f481baa
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '90'
      x-ratelimit-reset:
      - '1238'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/getZpaGroupEntitlements
  response:
    body:
      string: "{\n  \"totalCount\" : 0,\n  \"zpaEnableForAll\" : 1,\n  \"computeDeviceGroupsForZPA\"
        : 0,\n  \"machineTunEnabledForAll\" : 1,\n  \"groupList\" : [ ],\n  \"deviceGroupList\"
        : [ ]\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - da3c32c3-06ce-9e14-9b15-b2eda7814660
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '89'
      x-ratelimit-reset:
      - '1238'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
version: 1
