interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webFailOpenPolicy/listByCompany
  response:
    body:
      string: "[ {\n  \"id\" : \"4441\",\n  \"active\" : \"1\",\n  \"captivePortalWebSecDisableMinutes\"
        : 10,\n  \"enableWebSecOnProxyUnreachable\" : \"0\",\n  \"tunnelFailureRetryCount\"
        : 25,\n  \"enableWebSecOnTunnelFailure\" : \"0\",\n  \"enableCaptivePortalDetection\"
        : 1,\n  \"enableFailOpen\" : 1,\n  \"enableStrictEnforcementPrompt\" : 0,\n
        \ \"strictEnforcementPromptDelayMinutes\" : 2,\n  \"strictEnforcementPromptMessage\"
        : \"\"\n} ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 11267f20-3e3c-9424-b87e-736b6c7f99c4
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '97'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '78'
      x-ratelimit-reset:
      - '2151'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webFailOpenPolicy/listByCompany?page=1&pageSize=10
  response:
    body:
      string: "[ {\n  \"id\" : \"4441\",\n  \"active\" : \"1\",\n  \"captivePortalWebSecDisableMinutes\"
        : 10,\n  \"enableWebSecOnProxyUnreachable\" : \"0\",\n  \"tunnelFailureRetryCount\"
        : 25,\n  \"enableWebSecOnTunnelFailure\" : \"0\",\n  \"enableCaptivePortalDetection\"
        : 1,\n  \"enableFailOpen\" : 1,\n  \"enableStrictEnforcementPrompt\" : 0,\n
        \ \"strictEnforcementPromptDelayMinutes\" : 2,\n  \"strictEnforcementPromptMessage\"
        : \"\"\n} ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a45bbd0c-6b25-9579-ab63-9f7d02cd1e2d
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '94'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '77'
      x-ratelimit-reset:
      - '2151'
      x-transaction-id:
      - 40721a9f-fa0d-4e0a-9b6e-7aa00800b47b
    status:
      code: 200
      message: OK
version: 1
