interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webFailOpenPolicy/listByCompany
  response:
    body:
      string: "[ {\n  \"id\" : \"4441\",\n  \"active\" : \"1\",\n  \"captivePortalWebSecDisableMinutes\"
        : 10,\n  \"enableWebSecOnProxyUnreachable\" : \"0\",\n  \"tunnelFailureRetryCount\"
        : 25,\n  \"enableWebSecOnTunnelFailure\" : \"0\",\n  \"enableCaptivePortalDetection\"
        : 1,\n  \"enableFailOpen\" : 1,\n  \"enableStrictEnforcementPrompt\" : 0,\n
        \ \"strictEnforcementPromptDelayMinutes\" : 2,\n  \"strictEnforcementPromptMessage\"
        : \"\"\n} ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - aa89da8d-2346-9573-8d2a-f5a6b56edec8
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '88'
      x-ratelimit-reset:
      - '1237'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webFailOpenPolicy/listByCompany?page=1&pageSize=1
  response:
    body:
      string: "[ {\n  \"id\" : \"4441\",\n  \"active\" : \"1\",\n  \"captivePortalWebSecDisableMinutes\"
        : 10,\n  \"enableWebSecOnProxyUnreachable\" : \"0\",\n  \"tunnelFailureRetryCount\"
        : 25,\n  \"enableWebSecOnTunnelFailure\" : \"0\",\n  \"enableCaptivePortalDetection\"
        : 1,\n  \"enableFailOpen\" : 1,\n  \"enableStrictEnforcementPrompt\" : 0,\n
        \ \"strictEnforcementPromptDelayMinutes\" : 2,\n  \"strictEnforcementPromptMessage\"
        : \"\"\n} ]"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 31de1c29-d421-9572-b3b3-f1360c90ff6f
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '95'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '87'
      x-ratelimit-reset:
      - '1237'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
- request:
    body: '{"active": "1", "captivePortalWebSecDisableMinutes": 10, "enableCaptivePortalDetection":
      1, "enableFailOpen": 1, "enableStrictEnforcementPrompt": 0, "enableWebSecOnProxyUnreachable":
      "0", "enableWebSecOnTunnelFailure": "0", "id": "4441", "strictEnforcementPromptDelayMinutes":
      2, "strictEnforcementPromptMessage": "", "tunnelFailureRetryCount": 25}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webFailOpenPolicy/edit
  response:
    body:
      string: "{\n  \"success\" : \"true\"\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 64c0e79f-c6be-9559-9811-56208d8bac08
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '98'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '86'
      x-ratelimit-reset:
      - '1236'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
version: 1
