interactions:
- request:
    body: '{"active": true, "networkName": "Test CRUD Trusted Network", "dnsServers":
      "8.8.8.8, 8.8.4.4", "dnsSearchDomains": "crud-test.example.com", "hostnames":
      "", "trustedSubnets": "192.168.1.0/24", "trustedGateways": "192.168.1.1", "trustedDhcpServers":
      ""}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/webTrustedNetwork/create
  response:
    body:
      string: "{\n  \"networkName\" : \"Test CRUD Trusted Network\",\n  \"conditionType\"
        : 0,\n  \"dnsServers\" : \"8.8.8.8, 8.8.4.4\",\n  \"dnsSearchDomains\" : \"crud-test.example.com\",\n
        \ \"hostnames\" : \"\",\n  \"trustedSubnets\" : \"192.168.1.0/24\",\n  \"trustedGateways\"
        : \"192.168.1.1\",\n  \"trustedDhcpServers\" : \"\",\n  \"active\" : true\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6a556c3b-bb4d-9952-b5e3-d8c72f2a34d1
      x-oneapi-version:
      - 109.1.92
      x-rate-limit-remaining:
      - '96'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '75'
      x-ratelimit-reset:
      - '1231'
      x-transaction-id:
      - c017c331-e676-4a1b-acf5-f895621efec9
    status:
      code: 200
      message: OK
version: 1
