interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ruleOrder": 1, "name": "tests-web-policy-vcr0001", "groupIds": [62718389,
      62718428, 62718420], "userIds": ["5807211"], "appServiceIds": [], "groupAll":
      0, "description": "", "pac_url": "", "registryPath": "", "logMode": -1, "logLevel":
      0, "logFileSize": 100, "reactivateWebSecurityMinutes": 0, "tunnelZappTraffic":
      0, "active": "1", "mdm": 0, "passcode": "", "exitPassword":"REDACTED", "sendDisableServiceReason":
      0, "highlightActiveControl": 0, "pacType": 1, "pacDataPath": "", "install_ssl_certs":
      1, "reauth_period": 8, "disableLoopBackRestriction": 0, "removeExemptedContainers":
      1, "overrideWpad": 0, "restartWinHttpSvc": 0, "flowLoggerConfig": null, "domainProfileDetectionConfig":
      null, "allInboundTrafficConfig": null, "disableParallelIpv4AndIPv6": -1, "enforced":
      0, "bypass_mms_apps": 0, "quota_in_roaming": 0, "wifi_ssid": "", "limit": "1",
      "billing_day": "1", "allowed_apps": "", "custom_text": "", "bypass_android_apps":
      [], "clearArpCache": 0, "enableZscalerFirewall": 0, "persistentZscalerFirewall":
      0, "dnsPriorityOrdering": ["State:/Network/Service/com.cisco.anyconnect/DNS"],
      "installWindowsFirewallInboundRule": "1", "forceLocationRefreshSccm": 0, "wfpMtr":
      0, "enableLocalPacketCaptureTabValue": 0, "captivePortalUrlId": [{"label": "Zscaler",
      "value": 1}], "clientConnectorUiLanguageSelected": [{"label": "Use System Language",
      "value": 0}], "policyExtension": {"vpnGateways": "", "partnerDomains": "", "zccFailCloseSettingsIpBypasses":
      "", "zccFailCloseSettingsLockdownOnTunnelProcessExit": "1", "zccFailCloseSettingsExitUninstallPassword":"REDACTED",
      "zccFailCloseSettingsAppByPassIds": [], "userAllowedToAddPartner": "1", "followGlobalForPartnerLogin":
      "1", "followGlobalForZpaReauth": "1", "zpaReauthConfig": null, "zpaAutoReauthTimeout":
      30, "followGlobalForPacketCapture": "1", "enableLocalPacketCapture": "0", "enableLocalPacketCaptureV2":
      0, "exitPassword":"REDACTED", "followRoutingTable": "1", "useDefaultAdapterForDNS":
      "1", "updateDnsSearchOrder": "1", "useZscalerNotificationFramework": "0", "switchFocusToNotification":
      "0", "fallbackToGatewayDomain": "1", "useProxyPortForT1": "0", "useProxyPortForT2":
      "0", "allowPacExclusionsOnly": "0", "useWsaPollForZpa": "0", "enableZCCRevert":
      "0", "zccRevertPassword":"REDACTED", "zpaAuthExpOnSleep": 0, "zpaAuthExpOnSysRestart":
      0, "zpaAuthExpOnNetIpChange": 0, "instantForceZpaReauthStateUpdate": 0, "zpaAuthExpOnWinLogonSession":
      0, "enableSetProxyOnVPNAdapters": 1, "disableDNSRouteExclusion": 0, "packetTunnelIncludeListForIPv6":
      "", "interceptZIATrafficAllAdapters": 0, "enableAntiTampering": 0, "reactivateAntiTamperingTime":
      0, "zpaAuthExpSessionLockStateMinTimeInSecond": "0", "zpaAuthExpOnWinSessionLock":
      0, "sourcePortBasedBypasses": "3389:*", "enforceSplitDNS": 0, "dropQuicTraffic":
      0, "zdpDisablePassword":"REDACTED", "useV8JsEngine": "1", "zdDisablePassword":"REDACTED",
      "zdxDisablePassword":"REDACTED", "zpaDisablePassword":"REDACTED", "advanceZpaReauth":
      false, "bypassDNSTrafficUsingUDPProxy": "0", "reconnectTunOnWakeup": "0", "enableCustomTheme":
      0, "deleteDHCPOption121Routes": "{\"trusted\":1,\"offTrusted\":1,\"vpnTrusted\":1,\"splitVpnTrusted\":1}",
      "machineIdpAuth": false, "nonce": "", "packetTunnelDnsExcludeList": "", "packetTunnelDnsIncludeList":
      "", "packetTunnelExcludeList": "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,224.0.0.0/4,255.255.255.255,169.254.0.0/16",
      "packetTunnelExcludeListForIPv6": "[FF00::/8],[FE80::/10],[FC00::/7]", "packetTunnelIncludeList":
      "0.0.0.0/0", "truncateLargeUDPDNSResponse": 0, "overrideATCmdByPolicy": 0, "purgeKerberosPreferredDCCache":
      0, "rscModeOnAllAdapters": 0, "enableAdapterHardwareOffloading": 0, "supportZpaSearchDomainsInTrp":
      0, "prioritizeDnsExclusions": 1, "generateCliPasswordContract": {"enableCli":
      false, "allowZpaDisableWithoutPassword": true, "allowZiaDisableWithoutPassword":
      true, "allowZdxDisableWithoutPassword": true}, "locationRulesetPolicies": {"splitVpnTrusted":
      {"id": 0}, "vpnTrusted": {"id": 0}}, "ddilConfig": "{\"ddilEnabled\":0,\"businessContinuityActivationDomain\":\"\",\"businessContinuityTestModeEnabled\":0}",
      "zccAppFailOpenPolicy": 0, "zccTunnelFailPolicy": 0, "allowClientCertCachingForWebView2":
      "0", "showConfirmationDialogForCachedCert": "0", "zccFailCloseSettingsLockdownOnFirewallError":
      "0", "zccFailCloseSettingsLockdownOnDriverError": "0", "enableFlowBasedTunnel":
      "0", "oneIdMTDeviceAuthEnabled": "0", "preventAutoReauthDuringDeviceLock": "0",
      "clientConnectorUiLanguage": 0, "enableNetworkTrafficProcessMapping": 0, "useEndPointLocationForDCSelection":
      "0", "recacheSystemProxy": "0", "enableLocationPolicyOverride": 0, "blockPrivateRelay":
      "0", "enableAutomaticPacketCapture": "0", "enableAPCforCriticalSections": "1",
      "enableAPCforOtherSections": "1", "enablePCAdditionalSpace": "1", "pcAdditionalSpace":
      "512", "enableCustomProxyDetection": "0", "enableCrashReporting": "0", "zdxLiteConfigObj":
      "{\"localMetrics\":1,\"endToEndDiagnostics\":{\"trusted\":0,\"vpnTrusted\":0,\"offTrusted\":0,\"splitVpnTrusted\":0}}"},
      "refreshKerberosToken": 0, "bypassCustomAppIds": [], "prioritizeDnsExclusions":
      "1", "allowZpaDisableWithoutPassword": false, "allowZiaDisableWithoutPassword":
      false, "allowZdxDisableWithoutPassword": false, "useDefaultAdapterForDNS": "1",
      "updateDnsSearchOrder": "1", "enforceSplitDNS": "0", "disableDNSRouteExclusion":
      "0", "enableSetProxyOnVPNAdapters": "0", "dropQuicTraffic": "0", "followRoutingTable":
      "1", "ruleOrderSelectedOption": {"label": "2", "value": 2}, "billingDaySelectedOption":
      {"label": "1", "value": "1"}, "forwardingProfileId": 0, "ziaPostureProfile":
      [], "usersOption": 0, "usersSelected": [], "deviceGroupsOption": 0, "deviceGroups":
      [], "deviceGroupsSelected": [], "notificationTemplateSelected": [], "registryName":
      "", "machineTokenOption": 0, "machineTokenSelectedOption": 0, "zpaAuthExpSessionLockStateMinTimeInSecond":
      "1", "forceZpaAuthenticationToExpire": [], "logModeSelected": {"label": "Debug",
      "value": 3}, "ipv6ModeSelected": {"label": "IPv6Native", "value": 4}, "flowLoggingSelected":
      [], "blockDomainSelected": [], "zpaReauthConfig": [], "zpaAutoReauthTimeout":
      [{"label": "30", "value": 30}], "endToEndDiagnosticsSelected": [], "blockInboundTrafficSelected":
      [], "enableCaptivePortalDetection": 1, "enableFailOpen": 1, "captivePortalWebSecDisableMinutes":
      10, "localMetrics": 1, "endToEndDiagnostics": {"trusted": 0, "vpnTrusted": 0,
      "offTrusted": 0, "splitVpnTrusted": 0}, "reactivateAntiTamperingTime": 0, "ziaDRMethod":
      {"label": "Policy Based Access (Web only)", "value": 2}, "vpnGateways": [],
      "partnerDomains": [], "zccFailCloseSettingsIpBypasses": [], "zccFailCloseSettingsLockdownOnTunnelProcessExit":
      1, "zccFailCloseSettingsExitUninstallPassword":"REDACTED", "userAllowedToAddPartner":
      1, "followGlobalForPartnerLogin": "1", "followGlobalForZpaReauth": "1", "followGlobalForPacketCapture":
      "1", "enableLocalPacketCapture": "0", "enableLocalPacketCaptureV2": [], "packetTunnelIncludeList":
      ["0.0.0.0/0"], "packetTunnelExcludeList": ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16",
      "224.0.0.0/4", "255.255.255.255", "169.254.0.0/16"], "packetTunnelIncludeListForIPv6":
      [], "packetTunnelExcludeListForIPv6": ["[FF00::/8]", "[FE80::/10]", "[FC00::/7]"],
      "packetTunnelDnsIncludeList": [], "packetTunnelDnsExcludeList": [], "sourcePortBasedBypasses":
      ["3389:*"], "useV8JsEngine": "1", "disableParallelIpv4andIpv6": "-1", "device_type":
      3, "windowsPolicy": {"cacheSystemProxy": "0", "disable_password": "", "disableLoopBackRestriction":
      "0", "removeExemptedContainers": "1", "disableParallelIpv4andIpv6": "-1", "flowLoggerConfig":
      "", "domainProfileDetectionConfig": "{\"trusted\":0,\"vpnTrusted\":0,\"offTrusted\":0,\"splitVpnTrusted\":0}",
      "zpaReauthConfig": "{\"trusted\":0,\"vpnTrusted\":0,\"offTrusted\":0,\"splitVpnTrusted\":0}",
      "allInboundTrafficConfig": "", "install_ssl_certs": 1, "triggerDomainProfleDetection":
      0, "logout_password": "", "overrideWPAD": 0, "pacDataPath": "", "pacType": 1,
      "prioritizeIPv4": 0, "restartWinHttpSvc": 0, "sccmConfig": null, "uninstall_password":
      "", "wfpDriver": 0, "captivePortalConfig": "{\"automaticCapture\":1,\"enableCaptivePortalDetection\":1,\"enableFailOpen\":1,\"captivePortalWebSecDisableMinutes\":10,\"enableEmbeddedCaptivePortal\":0}",
      "installWindowsFirewallInboundRule": "1", "forceLocationRefreshSccm": 0, "wfpMtr":
      0, "enableCustomProxyDetection": "0", "enableZscalerFirewall": "0", "captivePortalUrlId":
      1}, "enableZCCRevert": false, "disasterRecovery": {"allowZiaTest": false, "allowZpaTest":
      false, "enableZiaDR": false, "enableZpaDR": false, "ziaDRMethod": 2, "ziaCustomDbUrl":
      "", "useZiaGlobalDb": true, "ziaDomainName": "", "ziaRSAPubKeyName": "", "ziaRSAPubKey":
      "", "zpaDomainName": "", "zpaRSAPubKeyName": "", "zpaRSAPubKey": ""}, "customDNS":
      [], "enableCustomProxyDetection": "0", "clientConnectorUiLanguage": 0, "oneIdMTDeviceAuthEnabled":
      "0", "preventAutoReauthDuringDeviceLock": "0", "instantForceZpaReauthStateUpdate":
      0, "enableNetworkTrafficProcessMapping": 0, "useEndPointLocationForDCSelection":
      "0", "recacheSystemProxy": "0", "enableLocationPolicyOverride": 0, "vpnTrusted":
      [], "splitVpnTrusted": [], "trusted": [], "offTrusted": [], "blockPrivateRelay":
      "0", "enableCrashReporting": "0", "enableAutomaticPacketCapture": "0", "enableAPCforCriticalSections":
      "1", "enableAPCforOtherSections": "1", "enablePCAdditionalSpace": "1", "pcAdditionalSpace":
      [{"label": "1GB", "value": "1024"}], "appServiceCustomIdsSelected": [], "bypassAppIds":
      [], "bypassMacAppIds": [], "zccFailCloseSettingsAppByPassSelected": [], "zccFailCloseSettingsAppByPassIds":
      [], "browserAuthType": {"label": "FOLLOW_GLOBAL_CONFIG", "value": -1}, "useDefaultBrowser":
      0}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/web/policy/edit
  response:
    body:
      string: "{\n  \"success\" : \"true\",\n  \"id\" : 205229\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7609d8f1-4626-9afd-9613-5cee7fe202fd
      x-oneapi-version:
      - 109.1.146-hotfix-20260409
      x-rate-limit-remaining:
      - '98'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '82'
      x-ratelimit-reset:
      - '1683'
      x-transaction-id:
      - f264a2b5-4dfa-4cbe-8a4c-46f0006f4ab2
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/web/policy/listByCompany?deviceType=3
  response:
    body:
      string: "[ {\n  \"logout_password\":\"REDACTED\",\n  \"uninstall_password\":\"REDACTED\",\n
        \ \"disable_password\":\"REDACTED\",\n  \"install_ssl_certs\" : 1.0,\n  \"disableLoopBackRestriction\"
        : 0.0,\n  \"removeExemptedContainers\" : 0.0,\n  \"overrideWPAD\"[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zcc/papi/public/v1/web/policy/205229/delete
  response:
    body:
      string: "{\n  \"success\" : \"true\",\n  \"id\" : 205229\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fbb61748-7852-98b4-a734-38d5d22e4596
      x-oneapi-version:
      - 109.1.146-hotfix-20260409
      x-rate-limit-remaining:
      - '99'
      x-ratelimit-limit:
      - 100, 100;w=3600, 100;w=3600
      x-ratelimit-remaining:
      - '79'
      x-ratelimit-reset:
      - '1681'
      x-transaction-id:
      - f264a2b5-4dfa-4cbe-8a4c-46f0006f4ab2
    status:
      code: 200
      message: OK
version: 1
