interactions:
- request:
    body: '{"query": "\n            query ListTagNamespaces(\n                $customerId:
      ID!, $pageNum: Int, $pageSize: Int,\n                $filter: NamespaceFilter,
      $orderBy: NamespaceQueryOrderBy\n            ) {\n                tagNamespaces(\n                    customerId:
      $customerId,\n                    pageNum: $pageNum,\n                    pageSize:
      $pageSize,\n                    filter: $filter,\n                    orderBy:
      $orderBy\n                ) {\n                    nodes {\n                        id\n                        name\n                        description\n                        origin\n                    }\n                    pageInfo
      {\n                        pageNumber\n                        pageSize\n                        totalCount\n                        totalPages\n                    }\n                }\n            }\n        ",
      "variables": {"customerId": "72058304855015424", "pageNum": 1, "pageSize": 20},
      "operationName": "ListTagNamespaces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zms/graphql
  response:
    body:
      string: '{"data":{"tagNamespaces":{"nodes":[{"id":"72057594037927936-00000000000000000000000000000001","name":"CLOUD","description":"Cloud
        namespace","origin":"EXTERNAL"},{"id":"72057594037927936-00000000000000000000000000000002","name":"ML","description":"ML
        namespace","origin":"ML"}],"pageInfo":{"pageNumber":1,"pageSize":20,"totalCount":2,"totalPages":1}}}}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"161-xq+fHuFwwa69CEdryJ2f3htR6hE"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 0789ccb4-0a75-9126-9b3b-722e3085aa9e
      x-oneapi-version:
      - 109.1.146-hotfix
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 4b11a4bc-f13e-41aa-8b99-47582577ff56
    status:
      code: 200
      message: OK
version: 1
