interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n            query ListAgentGroups(\n                $customerId:
      ID!, $page: Int, $pageSize: Int,\n                $search: String, $sort: String,
      $sortDir: SortDirection\n            ) {\n                agentGroups(\n                    customerId:
      $customerId,\n                    page: $page,\n                    pageSize:
      $pageSize,\n                    search: $search,\n                    sort:
      $sort,\n                    sortDir: $sortDir\n                ) {\n                    nodes
      {\n                        name\n                        eyezId\n                        agentGroupType\n                        cloudProvider\n                        adminStatus\n                        agentCount\n                        description\n                        policyStatus\n                        upgradeStatus\n                        tamperProtectionStatus\n                        agentAutoUpgrade\n                        agentDeletionTimeoutSeconds\n                        timezone\n                        upgradeDay\n                        upgradeTime\n                        versionProfileName\n                    }\n                    pageInfo
      {\n                        pageNumber\n                        pageSize\n                        totalCount\n                        totalPages\n                    }\n                }\n            }\n        ",
      "variables": {"customerId": "72058304855015424", "page": 1, "pageSize": 20},
      "operationName": "ListAgentGroups"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zms/graphql
  response:
    body:
      string: '{"data":{"agentGroups":{"nodes":[],"pageInfo":{"pageNumber":1,"pageSize":0,"totalCount":0,"totalPages":0}}}}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6d-7s/S/9or0UwjmIN6gvGGMRhYLIU"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 228556d4-9861-9861-bfe8-ea2c53381f2c
      x-oneapi-version:
      - 109.1.146-hotfix
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 4b11a4bc-f13e-41aa-8b99-47582577ff56
    status:
      code: 200
      message: OK
version: 1
