interactions:
- request:
    body: '{"query": "\n            query ListAppCatalog(\n                $customerId:
      ID!, $pageNum: Int, $pageSize: Int,\n                $filter: AppCatalogQueryFilter,
      $orderBy: AppCatalogQueryOrderBy\n            ) {\n                appCatalog(\n                    customerId:
      $customerId,\n                    pageNum: $pageNum,\n                    pageSize:
      $pageSize,\n                    filter: $filter,\n                    orderBy:
      $orderBy\n                ) {\n                    nodes {\n                        id\n                        name\n                        category\n                        creationTime\n                        modifiedTime\n                        details
      {\n                            portAndProtocol {\n                                protocol\n                                portRanges
      {\n                                    startPort\n                                    endPort\n                                }\n                            }\n                            processes\n                        }\n                    }\n                    pageInfo
      {\n                        pageNumber\n                        pageSize\n                        totalCount\n                        totalPages\n                    }\n                }\n            }\n        ",
      "variables": {"customerId": "72058304855015424", "pageNum": 1, "pageSize": 20},
      "operationName": "ListAppCatalog"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zms/graphql
  response:
    body:
      string: '{"data":{"appCatalog":{"nodes":[{"id":"72057594037927936-00000000000000000000000000000102","name":"CHARGEN","category":"Network
        Utilities","creationTime":"2025-12-04T19:06:19.587Z","modifiedTime":"2025-12-04T19:06:19.587Z","details":[{"portAndProtocol":{"protocol":"TCP","portRanges":[{"startPort":19,"endPort":19}]},"processes":[]},{"portAndProtocol":{"protocol":"UDP","portRanges":[{"startPort":19,"endPort":19}]},"processes":[]}]},{"id":"72057594037927936-00000000000000000000000000000103","name":"FTP","category":"File
        Transfer Services","creationTime":"2025-12-04T19:06:19.587Z","modifiedTime":"2025-12-04T19:06:19.587Z","details":[{"portAndProtocol":{"protocol":"TCP","portRanges":[{"startPort":20,"endPort":20}]},"processes":["ftpd"]},{"portAndProtocol":{"protocol":"TCP","portRanges":[{"startPort":21,"endPort":21[...]
