interactions:
- request:
    body: '{"query": "\n            query ListAgents(\n                $customerId:
      ID!, $page: Int, $pageSize: Int,\n                $search: String, $sort: String,
      $sortDir: SortDirection\n            ) {\n                agents(\n                    customerId:
      $customerId,\n                    page: $page,\n                    pageSize:
      $pageSize,\n                    search: $search,\n                    sort:
      $sort,\n                    sortDir: $sortDir\n                ) {\n                    nodes
      {\n                        name\n                        eyezId\n                        connectionStatus\n                        agentType\n                        hostOs\n                        currentSoftwareVersion\n                        upgradeStatus\n                        description\n                        cloudProvider\n                        publicIp\n                        privateIps\n                        adminStatus\n                        agentGroupName\n                        agentGroupType\n                    }\n                    pageInfo
      {\n                        pageNumber\n                        pageSize\n                        totalCount\n                        totalPages\n                    }\n                }\n            }\n        ",
      "variables": {"customerId": "72058304855015424", "page": 1, "pageSize": 20},
      "operationName": "ListAgents"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zms/graphql
  response:
    body:
      string: '{"data":{"agents":{"nodes":[],"pageInfo":{"pageNumber":1,"pageSize":0,"totalCount":0,"totalPages":0}}}}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"68-97IB6tfQLeoEqKkQ1asQgsM+L28"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 407648c8-e8db-985a-bcd1-b2bd8e2227be
      x-oneapi-version:
      - 109.1.146-hotfix
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 4b11a4bc-f13e-41aa-8b99-47582577ff56
    status:
      code: 200
      message: OK
version: 1
