interactions:
- request:
    body: '{"query": "\n            query ListNonces(\n                $customerId:
      ID!, $page: Int, $pageSize: Int,\n                $search: String, $sort: String,
      $sortDir: SortDirection\n            ) {\n                nonces(\n                    customerId:
      $customerId,\n                    page: $page,\n                    pageSize:
      $pageSize,\n                    search: $search,\n                    sort:
      $sort,\n                    sortDir: $sortDir\n                ) {\n                    nodes
      {\n                        eyezId\n                        name\n                        key\n                        maxUsage\n                        usageCount\n                        agentGroupEyezId\n                        agentGroupName\n                        agentGroupType\n                        product\n                        creationTime\n                        modifiedTime\n                    }\n                    pageInfo
      {\n                        pageNumber\n                        pageSize\n                        totalCount\n                        totalPages\n                    }\n                }\n            }\n        ",
      "variables": {"customerId": "72058304855015424", "page": 1, "pageSize": 20},
      "operationName": "ListNonces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zms/graphql
  response:
    body:
      string: '{"data":{"nonces":{"nodes":[],"pageInfo":{"pageNumber":1,"pageSize":0,"totalCount":0,"totalPages":0}}}}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"68-KaCy2q4kZRHw5caf5+Tow6byQZk"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 77fd3d60-b3cf-9fce-8e48-07810d46e35a
      x-oneapi-version:
      - 109.1.146-hotfix
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 4b11a4bc-f13e-41aa-8b99-47582577ff56
    status:
      code: 200
      message: OK
version: 1
