interactions:
- request:
    body: '{"query": "\n            query ListPolicyRules(\n                $customerId:
      ID!, $pageNum: Int, $pageSize: Int,\n                $fetchAll: Boolean, $filter:
      PolicyRuleFilter\n            ) {\n                policyRules(\n                    customerId:
      $customerId,\n                    pageNum: $pageNum,\n                    pageSize:
      $pageSize,\n                    fetchAll: $fetchAll,\n                    filter:
      $filter\n                ) {\n                    nodes {\n                        id\n                        name\n                        action\n                        priority\n                        description\n                        deleted\n                        sourceTargetType\n                        destinationTargetType\n                        appZoneScopeTargetType\n                        creationTime\n                        modifiedTime\n                        lastHit\n                        portAndProtocols
      {\n                            protocol\n                            portRanges
      {\n                                startPort\n                                endPort\n                            }\n                        }\n                    }\n                    pageInfo
      {\n                        pageNumber\n                        pageSize\n                        totalCount\n                        totalPages\n                    }\n                }\n            }\n        ",
      "variables": {"customerId": "72058304855015424", "pageNum": 1, "pageSize": 20,
      "fetchAll": false}, "operationName": "ListPolicyRules"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zms/graphql
  response:
    body:
      string: '{"data":{"policyRules":{"nodes":[],"pageInfo":{"pageNumber":1,"pageSize":20,"totalCount":0,"totalPages":0}}}}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6e-yz07OS3p+VudIIQwPKcgR/QuRiU"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - ca17bc4f-0b47-9bd4-899d-7ff21e6500ce
      x-oneapi-version:
      - 109.1.146-hotfix
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '996'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 4b11a4bc-f13e-41aa-8b99-47582577ff56
    status:
      code: 200
      message: OK
version: 1
