interactions:
- request:
    body: '{"name": "tests-vcr0001", "customPhraseMatchType": "MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY",
      "dictionaryType": "PATTERNS_AND_PHRASES", "description": "tests-vcr0002", "phrases":
      [{"action": "PHRASE_COUNT_TYPE_ALL", "phrase": "YourPhrase"}], "patterns": [{"action":
      "PATTERN_COUNT_TYPE_UNIQUE", "pattern": "YourPattern"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries
  response:
    body:
      string: '{"id":24,"name":"tests-vcr0001","description":"tests-vcr0002","phrases":[{"action":"PHRASE_COUNT_TYPE_ALL","phrase":"YourPhrase"}],"customPhraseMatchType":"MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY","patterns":[{"action":"PATTERN_COUNT_TYPE_UNIQUE","pattern":"YourPattern"}],"nameL10nTag":false,"dictionaryType":"PATTERNS_AND_PHRASES","exactDataMatchDetails":[],"idmProfileMatchAccuracyDetails":[],"proximity":0,"parentDictionaryId":0,"predefinedPhrases":[],"ignoreExactMatchIdmDict":false,"includeBinNumbers":true,"dictTemplateId":0,"predefinedClone":false,"thresholdAllowed":false,"proximityEnabledForCustomDictionary":false,"includeSsnNumbers":true,"unicodePhraseMatchingEnabled":false,"custom":true,"parentDictionary":true,"dictionaryCloningEnabled":false,"viewOnly":false,"proximityLengthEnabled":true,"customPhraseSupported":false,"hierarchicalDictionary":false,"lowConfidenceDisabled":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 648ca1fe-45d7-9399-9b91-9f6cbbca8ddb
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4957'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "updated-vcr0003", "description": "updated-vcr0003", "customPhraseMatchType":
      "MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY", "dictionaryType": "PATTERNS_AND_PHRASES",
      "phrases": [{"action": "PHRASE_COUNT_TYPE_ALL", "phrase": "YourUpdatedPhrase"}],
      "patterns": [{"action": "PATTERN_COUNT_TYPE_UNIQUE", "pattern": "YourUpdatedPattern"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zi[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries
  response:
    body:
      string: "[{\"id\":1,\"name\":\"DictionaryTest01\",\"description\":\"test_test_1761180039256_test_1761191407330_test_1761418092202-test-1761429749486-test-1761429910048\",\"phrases\":[],\"patterns\":[],\"nameL10nTag\":false,\"dictionaryType\":\"EXACT_DATA_MATCH\",\"exactDataMatchDetails\":[{\"dictionaryEdmMappingId\":2749911,\"schemaId\":4,\"primaryFields\":[1],\"secondaryFields\":[],\"secondaryFieldMatchOn\":\"MATCHON_NONE\"}],\"idmProfileMatchAccuracyDetails\":[],\"proximity\":0,\"parentDictionaryId\":0,\"predefinedPhrases\":[],\"ignoreExactMatchIdmDict\":false,\"includeBinNumbers\":true,\"dictTemplateId\":0,\"predefinedClone\":false,\"thresholdAllowed\":true,\"proximityEnabledForCustomDictionary\":false,\"includeSsnNumbers\":true,\"unicodePhraseMatchingEnabled\":false,\"custom\":true,\"parentDictionary\":true,\"dictionaryCloningEnabled\":false,\"viewOnly\":false,\"proximityLengthEnabled\":false,\"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries/lite
  response:
    body:
      string: "[{\"id\":1,\"name\":\"DictionaryTest01\",\"phrases\":[],\"nameL10nTag\":false,\"exactDataMatchDetails\":[],\"idmProfileMatchAccuracyDetails\":[],\"proximity\":0,\"parentDictionaryId\":0,\"predefinedPhrases\":[],\"ignoreExactMatchIdmDict\":false,\"includeBinNumbers\":true,\"dictTemplateId\":0[...]
- request:
    body: '{"data": "test-pattern"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries/validateDlpPattern
  response:
    body:
      string: '{"status":0,"errPosition":-1,"errMsg":"Valid regular expression","errParameter":null,"errSuggestion":null,"idList":null,"subIdsMap":null}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8809a278-4aac-9f00-96c2-f233b0f75ad6
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4953'
      x-ratelimit-reset:
      - '5'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries/24
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ede7931d-64ba-9ec0-b293-6a37781d99ec
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4951'
      x-ratelimit-reset:
      - '4'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
