interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-bdwrule-vcr0001", "webApplications": ["ACADEMICGPT", "AD_CREATIVES"],
      "urls": ["test1.acme.com", "test2.acme.com"], "urlCategories": ["AI_ML_APPS",
      "GENERAL_AI_ML", "PROFESSIONAL_SERVICES"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/bandwidthClasses
  response:
    body:
      string: '{"id":16,"isNameL10nTag":true,"name":"tests-bdwrule-vcr0001","webApplications":["ACADEMICGPT","AD_CREATIVES"],"urls":["test1.acme.com","test2.acme.com"],"urlCategories":["AI_ML_APPS","GENERAL_AI_ML","PROFESSIONAL_SERVICES"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 97b2c4fd-1a8f-95f6-8171-5afaa88e58e7
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 969ad2bc-78a1-4441-91c4-8ac97b30e3ee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-bdwrule-vcr0002", "description": "Integration test Bandwidth
      Rule", "order": 1, "rank": 7, "maxBandwidth": "100", "minBandwidth": "20", "protocols":
      ["WEBSOCKETSSL_RULE", "WEBSOCKET_RULE", "DOHTTPS_RULE", "TUNNELSSL_RULE", "HTTP_PROXY",
      "FOHTTP_RULE", "FTP_RULE", "HTTPS_RULE", "HTTP_RULE", "SSL_RULE", "TUNNEL_RULE"],
      "state": "ENABLED", "bandwidthClasses": [{"id": 16}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/bandwidthControlRules
  response:
    body:
      string: '{"id":1571789,"name":"tests-bdwrule-vcr0002","order":1,"state":"ENABLED","description":"Integration
        test Bandwidth Rule","protocols":["WEBSOCKETSSL_RULE","WEBSOCKET_RULE","DOHTTPS_RULE","TUNNELSSL_RULE","HTTP_PROXY","FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE","SSL_RULE","TUNNEL_RULE"],"maxBandwidth":100,"minBandwidth":20,"bandwidthClasses":[{"id":16,"name":"tests-bdwrule-vcr0001"}],"rank":7,"lastModifiedTime":1764201818,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"accessControl":"READ_WRITE","defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7af020ef-7536-9a71-b09a-29be1a4a2480
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 969ad2bc-78a1-4441-91c4-8ac97b30e3ee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/bandwidthControlRules/1571789
  response:
    body:
      string: '{"id":1571789,"name":"tests-bdwrule-vcr0002","order":1,"state":"ENABLED","description":"Integration
        test Bandwidth Rule","protocols":["WEBSOCKETSSL_RULE","WEBSOCKET_RULE","DOHTTPS_RULE","TUNNELSSL_RULE","HTTP_PROXY","FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE","SSL_RULE","TUNNEL_RULE"],"maxBandwidth":100,"minBandwidth":20,"bandwidthClasses":[{"id":16,"name":"tests-bdwrule-vcr0001"}],"rank":7,"lastModifiedTime":1764201818,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"accessControl":"READ_WRITE","defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0d586308-6c97-9492-8d81-989911c7ae86
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 969ad2bc-78a1-4441-91c4-8ac97b30e3ee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/bandwidthClasses/16
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b9d17fb5-0964-929d-89e9-03f25f79f4e6
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 969ad2bc-78a1-4441-91c4-8ac97b30e3ee
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
