interactions:
- request:
    body: '{"ipAddress": "104.239.237.2", "comment": "tests-vcr0001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP
  response:
    body:
      string: '{"id":3603317,"ipAddress":"104.239.237.2","geoOverride":false,"latitude":37.6325999,"longitude":-97.7724999,"city":{"id":4269447,"name":"Cheney,
        Kansas, United States"},"routableIP":true,"lastModificationTime":1764980280,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-vcr0001"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fbb658c3-02d2-9665-ae99-27ae570b3826
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4965'
      x-ratelimit-reset:
      - '4'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vips/recommendedList?sourceIp=104.239.237.2
  response:
    body:
      string: '[{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":false,"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US","region":"NorthAmerica"},{"id":213857,"virtualIp":"170.85.96.129","privateServiceEdge":false,"datacenter":"DFW2","latitude":31.0,"longitude":-96.0,"city":"Dallas","countryCode":"US","region":"NorthAmerica"},{"id":65303,"virtualIp":"165.225.10.32","privateServiceEdge":false,"datacenter":"DEN3","latitude":42.0,"longitude":-106.0,"city":"Denver","countryCode":"US","region":"NorthAmerica"},{"id":270926,"virtualIp":"170.85.86.129","privateServiceEdge":false,"datacenter":"WAS4","latitude":38.0,"longitude":-77.0,"city":"Washington,
        DC","countryCode":"US","region":"NorthAmerica"},{"id":56315,"virtualIp":"165.225.218.32","privateServiceEdge":false,"datacenter":"NLD1","latitude":27.0,"longitude":-100.0,"city":"Nuevo
        Laredo","countryCode":"MX","region":"NorthAmerica"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3c189732-2887-9bd8-a967-71b4d8c7c38e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"ipUnnumbered": true, "comment": "tests-vcr0002", "sourceIp": "104.239.237.2",
      "primaryDestVip": {"id": 170301}, "secondaryDestVip": {"id": 213857}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/greTunnels
  response:
    body:
      string: '{"id":3603317,"sourceIp":"104.239.237.2","primaryDestVip":{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":false,"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US  ","region":"NorthAmerica","dontProvision":true},"secondaryDestVip":{"id":213857,"virtualIp":"170.85.96.129","privateServiceEdge":false,"datacenter":"DFW2","latitude":31.0,"longitude":-96.0,"city":"Dallas","countryCode":"US  ","region":"NorthAmerica"},"lastModificationTime":1764980283,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-vcr0002","ipUnnumbered":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7ed1be82-ec1e-901b-9388-dedca4511deb
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ipUnnumbered": true, "comment": "Updated GRE Tunnel vcr0003", "sourceIp":
      "104.239.237.2", "primaryDestVip": {"id": 170301}, "secondaryDestVip": {"id":
      213857}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/greTunnels/3603317
  response:
    body:
      string: '{"id":3603317,"sourceIp":"104.239.237.2","primaryDestVip":{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":fa[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP/3603317
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cd0140bd-a5e7-9379-b790-6460021cba55
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vips/groupByDatacenter?sourceIp=104.239.237.2
  response:
    body:
      string: '[{"datacenter":{"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":170301,"virtualIp":"170.85.14.129"}]},{"datacenter":{"datacenter":"DFW2","latitude":31.0,"longitude":-96.0,"city":"Dallas","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":213857,"virtualIp":"170.85.96.129"}]},{"datacenter":{"datacenter":"DEN3","latitude":42.0,"longitude":-106.0,"city":"Denver","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":65303,"virtualIp":"165.225.10.32"}]},{"datacenter":{"datacenter":"WAS4","latitude":38.0,"longitude":-77.0,"city":"Washington,
        DC","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":270926,"virtualIp":"170.85.86.129"}]},{"datacenter":{"datacenter":"NLD1","latitude":27.0,"longitude":-100.0,"city":"Nuevo
        Laredo","countryCode":"MX","region":"NorthAmerica"},"greVips":[{"id":56315,"virtualIp":"165.225.218.32"}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e83f3f8c-d32d-9422-b061-d560995f1626
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vips?pageSize=10
  response:
    body:
      string: '[{"cloudName":"zscalerthree.net","region":"Oceania","country":"New
        Zealand","city":"Auckland","dataCenter":"AKL2","location":"173 E, 37 S","vpnIps":["147.161.216.40","147.161.216.41","147.161.216.42","147.161.216.43"],"vpnDomainName":"akl2-vpn.zscalerthree.net","greIps":["147.161.216.34"],"greDomainName":"akl2.gre.zscalerthree.net","pacIps":["147.161.216.36","147.161.216.37","147.161.216.38","147.161.216.39"],"pacDomainName":"akl2.sme.zscalerthree.net","svpnIps":["147.161.216.44"],"svpnDomainName":"akl2.svpn.zscalerthree.net"},{"cloudName":"zscalerthree.net","region":"Europe","country":"The
        Netherlands","city":"Amsterdam","dataCenter":"AMS2","location":"5 E, 52 N","vpnIps":["165.225.240.38","165.225.28.14"],"vpnDomainName":"ams2-vpn.zscalerthree.net","greIps":[],"greDomainName":"","pacIps":["165.225.240.34","165.225.240.35","165.225.240.36","165.225.240.37","165.225.28.13"],"pacDomainName":"ams2.sme.zscalerthree.net","svpnIps":["165.225.240.58","165.225.28.23"],"svpnDomainName":"a[...]
