interactions:
- request:
    body: '{"name": "tests-nss-server", "status": "ENABLED", "type": "NSS_FOR_FIREWALL"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/nssServers
  response:
    body:
      string: '{"id":25235,"name":"tests-nss-server","status":"ENABLED","type":"NSS_FOR_FIREWALL"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 477ae881-c154-9a74-86af-15e68c936404
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4974'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-nss-server-updated", "status": "DISABLED", "type": "NSS_FOR_FIREWALL"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/nssServers/25235
  response:
    body:
      string: '{"id":25235,"name":"tests-nss-server","status":"DISABLED","state":"UNHEALTHY","type":"NSS_FOR_FIREWALL"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - dcd0cf82-4d26-9ef6-bb41-8b6399f95e80
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4973'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/nssServers?search=tests-nss-server
  response:
    body:
      string: '[{"id":25235,"name":"tests-nss-server","status":"DISABLED","state":"UNHEALTHY","type":"NSS_FOR_FIREWALL"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3560fa0b-4e2f-9371-b2cf-f7bb525be69b
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4971'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/nssServers/25235
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5223614e-9279-94b3-9829-d291848a8385
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4970'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
