interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/urlFilteringRules
  response:
    body:
      string: '[{"id":1153400,"accessControl":"READ_WRITE","name":"URL_Filtering_1","order":1,"protocols":["WEBSOCKETSSL_RULE","WEBSOCKET_RULE","DOHTTPS_RULE","TUNNELSSL_RULE","HTTP_PROXY","FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE","SSL_RULE","TUNNEL_RULE"],"locations":[{"id":23712563,"name":"Vancouver01"}],"urlCategories":["OTHER_ADULT_MATERIAL","ADULT_THEMES","LINGERIE_BIKINI","NUDITY","PORNOGRAPHY","SEXUALITY","ADULT_SEX_EDUCATION","K_12_SEX_EDUCATION","SOCIAL_ADULT"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["OPTIONS","GET","HEAD","POST","PUT","DELETE","TRACE","CONNECT","OTHER","PROPFIND","PROPPATCH","MOVE","MKCOL","LOCK","COPY","UNLOCK","PATCH"],"blockOverride":false,"lastModifiedTime":1766179195,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"enforceTimeValidity":false,"cbiProfileId":0,"capturePCAP":false,"sourceIpGroups":[],"browserEunTemplateId":0,"httpHeaderProfiles":[],"httpHeaderActionProfiles":[],"usersAndGroupsSet":false,"groupsAndDepartmentsSet":false,"action":"BLOCK","predefined":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7fa07ee2-cb82-9309-a189-11688b0332fa
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - 689f9123-efcf-4103-871c-99c8f09deb61
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/urlFilteringRules/1153400
  response:
    body:
      string: '{"id":1153400,"accessControl":"READ_WRITE","name":"URL_Filtering_1","order":1,"protocols":["WEBSOCKETSSL_RULE","WEBSOCKET_RULE","DOHTTPS_RULE","TUNNELSSL_RULE","HTTP_PROXY","FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE","SSL_RULE","TUNNEL_RULE"],"locations":[{"id":23712563,"name":"Vanco[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/advancedUrlFilterAndCloudAppSettings
  response:
    body:
      string: '{"enableDynamicContentCat":false,"considerEmbeddedSites":false,"enforceSafeSearch":false,"safeSearchApps":[],"enableOffice365":true,"enableMsftO365":false,"enableUcaasZoom":false,"enableUcaasLogMeIn":false,"enableUcaasRingCentral":false,"enableUcaasWebex":false,"enableChatGptPrompt":false,"enableMicrosoftCoPilotPrompt":false,"enableGeminiPrompt":false,"enablePOEPrompt":false,"enableMetaPrompt":false,"enablePerPlexityPrompt":false,"enableDeepSeekPrompt":false,"enableWriterPrompt":false,"enableGrokPrompt":false,"enableMistralAIPrompt":false,"enableClaudePrompt":false,"enableNewlyRegisteredDomains":false,"enableBlockOverrideForNonAuthUser":false,"enableCIPACompliance":false,"enableUcaasTalkdesk":false,"zveloDbLookupDisabled":false,"enableCreativeCommonsSearchResults":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d53529d7-24f6-9946-b61a-0ae5c0842ad2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '48'
      x-transaction-id:
      - 689f9123-efcf-4103-871c-99c8f09deb61
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
