interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vpnCredentials
  response:
    body:
      string: '[{"id":29339942,"type":"IP","ipAddress":"96.53.93.170","comments":"excepturi_1fphDugX","location":{"id":149873535,"name":"Location01"}},{"id":165338059,"type":"UFQDN","fqdn":"REDACTED","comments":"Branch
        Office VPN"},{"id":166108767,"type":"UFQDN","fqdn":"REDACTED"},{"id":166777386,"type":"UFQDN","fqdn":"REDACTED"},{"id":167319792,"type":"UFQDN","fqdn":"REDACTED"},{"id":165341341,"type":"UFQDN","fqdn":"REDACTED","comments":"Branch
        Office VPN"},{"id":165435444,"type":"UFQDN","fqdn":"REDACTED"},{"id":167435061,"type":"UFQDN","fqdn":"REDACTED"},{"id":166108773,"type":"UFQDN","fqdn":"REDACTED"},{"id":166777389,"type":"UFQDN","fqdn":"REDACTED"},{"id":1673[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vpnCredentials?type=UFQDN
  response:
    body:
      string: '[{"id":165338059,"type":"UFQDN","fqdn":"REDACTED","comments":"Branch
        Office VPN"},{"id":166108767,"type":"UFQDN","fqdn":"REDACTED"},{"id":166777386,"type":"UFQDN","fqdn":"REDACTED"},{"id":167319792,"type":"UFQDN","fqdn":"REDACTED"},{"id":165341341,"type":"UFQDN","fqdn":"REDACTED[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vpnCredentials?page=1&pageSize=10
  response:
    body:
      string: '[{"id":29339942,"type":"IP","ipAddress":"96.53.93.170","comments":"excepturi_1fphDugX","location":{"id":149873535,"name":"Location01"}},{"id":165338059,"type":"UFQDN","fqdn":"REDACTED","comments":"Branch
        Office VPN"},{"id":166108767,"type":"UFQDN","fqdn":"REDACTED"},{"id":166777386,"type":"UFQDN","fqdn":"REDACTED"},{"id":167319792,"type":"UFQDN","fqdn":"REDACTED"},{"id":165341341,"type":"UFQDN","fqdn":"REDACTED","comments":"Branch
        Office VPN"},{"id":165435444,"type":"UFQDN","fqdn":"REDACTED"},{"id":167435061,"type":"UFQDN","fqdn":"REDACTED"},{"id":166108773,"type":"UFQDN","fqdn":"REDACTED"},{"id":166777389,"type":"UFQDN","fqdn":"REDACTED"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ad5db22c-3980-9013-a0d9-533ea914e997
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vpnCredentials/29339942
  response:
    body:
      string: '{"id":29339942,"type":"IP","ipAddress":"96.53.93.170","comments":"excepturi_1fphDugX","location":{"id":149873535,"name":"Location01"}}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 031de3a7-2d65-9b9c-8c49-1985ee7dd931
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
