interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/incidentReceiverServers
  response:
    body:
      string: '[{"id":1664,"name":"ZS_BD_INC_RECEIVER_01","url":"icaps://192.168.100.1:1344/","status":"ENABLED","flags":1},{"id":1809,"name":"ZS_BD_INC_RECEIVER_02","url":"icaps://192.168.100.2:1344/","status":"ENABLED","flags":1},{"id":1819,"name":"ZIR-BD-SA01","url":"icaps://44.234.89.194:1344/","status":"ENABLED","flags":1},{"id":1823,"name":"ZIR-BD-TITANIAM","url":"icaps://18.117.103.173:1344/","status":"ENABLED","flags":1}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d29120c2-433f-9463-95cc-99b609f555c0
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4965'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/incidentReceiverServers/1664
  response:
    body:
      string: '{"id":1664,"name":"ZS_BD_INC_RECEIVER_01","url":"icaps://192.168.100.1:1344/","status":"ENABLED","flags":1}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cf330c42-5cba-982b-92e6-f3e864c6144a
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4964'
      x-ratelimit-reset:
      - '5'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
