interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/workloadGroups
  response:
    body:
      string: '[{"id":2665545,"name":"BD_WORKLOAD_GROUP01","description":"demo_CSUljL7d","expressionJson":{"expressionContainers":[{"tagType":"ATTR","operator":"AND","tagContainer":{"tags":[{"key":"GroupId","value":"12345"}],"operator":"AND"}},{"tagType":"ENI","operator":"AND","tagContainer":{"tags":[{"key":"GroupName","value":"test"}],"operator":"AND"}},{"tagType":"SUBNET","operator":"AND","tagContainer":{"tags":[{"key":"GroupName","value":"test"}],"operator":"AND"}}]},"expression":"\u0000\u0001\u0000\u0003\u0000\u0001\u0000\u0003\u0000\"\u0000\u0004\u0000\u0001\u0000\u0003\u0000
        \u0000\u0004\u0000\u0001\u0000\u0003\u0000!\u0000\u0004\u0000\u0004","lastModifiedTime":1772133321,"lastModifiedBy":{"id":117810311,"name":"REDACTED"}},{"id":9931582,"name":"BD_WORKLOAD_GROUP010","description":"BD_WORKLOAD_GROUP010","expressionJson":{"expressionContainers":[{"tagType":"ATTR","operator":"AND","tagContainer":{"tags":[{"key":"GroupName","value":"example"}],"operator":"AND"}}]},"expression":"\u0000\u0001\u0000\u0003\u0000\u0001\u0000\u0003\u0000&\u0000\u0004\u0000\u0004","lastModifiedTime":1759949985,"lastModifiedBy":{"id":117810311,"name":"REDACTED"}},{"id":9977816,"name":"BD_WORKLOAD_GROUP01_17[...]
- request:
    body: '{"name": "TestWorkloadGroup_VCR", "description": "Test workload group for
      VCR testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/workloadGroups
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"Workload group expression
        info is missing!"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d78cb0ac-5584-91ae-a304-428ed8096ea4
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4977'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/workloadGroups/2665545
  response:
    body:
      string: '{"id":2665545,"name":"BD_WORKLOAD_GROUP01","description":"demo_CSUljL7d","expressionJson":{"expressionContainers":[{"tagType":"ATTR","operator":"AND","tagContainer":{"tags":[{"key":"GroupId","value":"12345"}],"operator":"AND"}},{"tagType":"ENI","operator":"AND","tagContainer":{"tags":[{"ke[...]
