interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/proxyGateways
  response:
    body:
      string: '[{"id":18206643,"name":"Proxy_GW01","type":"PROXYCHAIN","primaryProxy":{"id":18206641,"name":"Proxy01"},"secondaryProxy":{"id":18206642,"name":"Proxy02"},"description":"Proxy_GW01","lastModifiedBy":{"id":19474996,"name":"REDACTED"},"lastModifiedTime":1733268664,"failClosed":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 220e03c6-8358-91b3-aebf-67aaf4b8409b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/proxyGateways/lite
  response:
    body:
      string: '[{"id":18206643,"name":"Proxy_GW01","type":"PROXYCHAIN","failClosed":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fe763539-f55d-9c8a-a5a4-143b886ebf0b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/proxies
  response:
    body:
      string: '[{"id":18206641,"name":"Proxy01","type":"PROXYCHAIN","address":"192.168.100.1","port":5000,"description":"Proxy01test","insertXauHeader":true,"base64EncodeXauHeader":true,"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"lastModifiedTime":1745861609},{"id":18206642,"name":"Proxy02","type":"PROXYCHAIN","address":"192.168.100.2","port":5001,"description":"Proxy02","insertXauHeader":false,"base64EncodeXauHeader":false,"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"lastModifiedTime":1733268542},{"id":18442168,"name":"Proxy01Ansible","type":"PROXYCHAIN","address":"192.168.1.1","port":5000,"description":"Proxy01Ansible","insertXauHeader":true,"base64EncodeXauHeader":true,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"lastModifiedTime":1746257224}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 210e829a-8dd2-94b9-98d3-3859dcd3ff9d
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/proxies/lite
  response:
    body:
      string: '[{"id":18206641,"name":"Proxy01","type":"PROXYCHAIN","insertXauHeader":false,"base64EncodeXauHeader":false},{"id":18206642,"name":"Proxy02","type":"PROXYCHAIN","insertXauHeader":false,"base64EncodeXauHeader":false},{"id":18442168,"name":"Proxy01Ansible","type":"PROXYCHAIN","insertXauHeader":false,"base64EncodeXauHeader":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 687acc98-513d-9d94-b4ba-9f9b7cf65a26
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/proxies/18206641
  response:
    body:
      string: '{"id":18206641,"name":"Proxy01","type":"PROXYCHAIN","address":"192.168.100.1","port":5000,"description":"Proxy01test","insertXauHeader":true,"base64EncodeXauHeader":true,"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"lastModifiedTime":1745861609}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fcbdd90c-87b3-95bc-a8fd-5bd7a342280c
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
