interactions:
- request:
    body: '{"name": "tests-bandwidth-class", "webApplications": ["ACADEMICGPT", "AD_CREATIVES"],
      "urls": ["test1.acme.com", "test2.acme.com"], "urlCategories": ["AI_ML_APPS",
      "GENERAL_AI_ML"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses
  response:
    body:
      string: '{"id":18,"isNameL10nTag":true,"name":"tests-bandwidth-class","webApplications":["ACADEMICGPT","AD_CREATIVES"],"urls":["test1.acme.com","test2.acme.com"],"urlCategories":["AI_ML_APPS","GENERAL_AI_ML"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - aaf040a3-4d9d-98ce-a642-d75221447691
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4968'
      x-ratelimit-reset:
      - '37'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-bandwidth-class-updated", "webApplications": ["ACADEMICGPT",
      "AD_CREATIVES"], "urls": ["test1.acme.com", "test2.acme.com", "test3.acme.com"],
      "urlCategories": ["AI_ML_APPS", "GENERAL_AI_ML", "PROFESSIONAL_SERVICES"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses/18
  response:
    body:
      string: '{"id":18,"isNameL10nTag":true,"name":"tests-bandwidth-class-updated","webApplications":["ACADEMICGPT","AD_CREATIVES"],"urls":["test1.acme.com","test3.acme.com","test2.acme.com"],"urlCategories":["AI_ML_APPS","GENERAL_AI_ML","PROFESSIONAL_SERVICES"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3150efde-c44c-90a5-b271-c1b80f9384a1
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4967'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses
  response:
    body:
      string: '[{"id":2,"isNameL10nTag":true,"name":"LARGE_FILE","type":"BANDWIDTH_CAT_LARGE_FILE","fileSize":"FILE_1GB"},{"id":6,"isNameL10nTag":true,"name":"BANDWIDTH_CAT_WEBCONF","type":"BANDWIDTH_CAT_WEBCONF","applications":["CONNECT","INTERCALL"]},{"id":11,"isNameL10nTag":true,"name":"Office
        Applications","webApplications":["WINDOWS_LIVE_HOTMAIL","YAMMER","SHAREPOINTONLINE","OTHER_OFFICE365","ONEDRIVE","ONEDRIVE_PERSONAL"]},{"id":12,"isNameL10nTag":true,"name":"Productivity","webApplications":["GOTOMEETING","GOTOWEBINAR","SALESFORCE","GOOGLEANALYTICS","GOOGLEBUSINESSAPPS","EVERNOTE","TWILIO","ZOHOCRM","SUGARCRM","SLIDESHARE","ECHOSIGN","DOCUSIGN","ARIBA","DOCSTOC","GITHUB"],"urlCategories":["OTHER_BUSINESS[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses/lite
  response:
    body:
      string: '[{"id":2,"isNameL10nTag":true,"name":"LARGE_FILE","type":"BANDWIDTH_CAT_LARGE_FILE"},{"id":6,"isNameL10nTag":true,"name":"BANDWIDTH_CAT_WEBCONF","type":"BANDWIDTH_CAT_WEBCONF"},{"id":11,"isNameL10nTag":true,"name":"Office
        Applications","webApplications":["WINDOWS_LIVE_HOTMAIL","YAMM[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses/18
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ae20ed77-3cd9-9386-8a49-b03636406e57
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4963'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
