interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "Integration test file type control
      rule", "order": 1, "rank": 7, "filteringAction": "ALLOW", "operation": "DOWNLOAD",
      "urlCategories": ["OTHER_ADULT_MATERIAL"], "protocols": ["FOHTTP_RULE", "FTP_RULE",
      "HTTPS_RULE", "HTTP_RULE"], "deviceTrustLevels": ["UNKNOWN_DEVICETRUSTLEVEL",
      "LOW_TRUST", "MEDIUM_TRUST", "HIGH_TRUST"], "fileTypes": ["FTCATEGORY_ALZ",
      "FTCATEGORY_P7Z", "FTCATEGORY_B64"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/fileTypeRules
  response:
    body:
      string: '{"id":1582213,"protocols":["FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE"],"order":1,"description":"Integration
        test file type control rule","urlCategories":["OTHER_ADULT_MATERIAL"],"fileTypes":["FTCATEGORY_ALZ","FTCATEGORY_P7Z","FTCATEGORY_B64"],"fileTypeCategories":[{"id":247,"name":"FTCATEGORY_ALZ","parent":"ARCHIVES"},{"id":53,"name":"FTCATEGORY_P7Z","parent":"ARCHIVES"},{"id":257,"name":"FTCATEGORY_B64","parent":"ARCHIVES"}],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"minSize":0,"maxSize":409600,"filteringAction":"ALLOW","capturePCAP":false,"operation":"DOWNLOAD","activeContent":false,"unscannable":false,"passwordProtected":false,"state":"ENABLED","rank":7,"name":"tests-vcr0001"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d129a758-2f5b-9be7-b44d-2cacbb5950d0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '30'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/fileTypeRules/1582213
  response:
    body:
      string: '{"id":1582213,"protocols":["FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE"],"order":1,"description":"Integration
        test file type control rule","browserEunTemplateId":0,"urlCategories":["OTHER_ADULT_MATERIAL"],"fileTypes":["FTCATEGORY_ALZ","FTCATEGORY_P7Z","FTCATEGORY_B64"],"fileTypeCategories":[{"id":247,"name":"FTCATEGORY_ALZ","parent":"ARCHIVES"},{"id":53,"name":"FTCATEGORY_P7Z","parent":"ARCHIVES"},{"id":257,"name":"FTCATEGORY_B64","parent":"ARCHIVES"}],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"minSize":0,"maxSize":409600,"filteringAction":"ALLOW","capturePCAP":false,"operation":"DOWNLOAD","activeContent":false,"unscannable":false,"passwordProtected":false,"state":"ENABLED","rank":7,"lastModifiedTime":1764980133,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"accessControl":"READ_WRITE","name":"tests-vcr0001","cloudApplications":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d2c8196a-41e5-9bef-a2fe-5b96ecc2eaea
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/fileTypeRules/1582213
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 56864e0b-8657-901b-960f-83540d7c7e05
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
