interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/browserControlSettings
  response:
    body:
      string: '{"pluginCheckFrequency":"DAILY","bypassAllBrowsers":true,"blockedInternetExplorerVersions":["NONE"],"blockedChromeVersions":["NONE"],"blockedFirefoxVersions":["NONE"],"blockedSafariVersions":["NONE"],"blockedOperaVersions":["NONE"],"allowAllBrowsers":false,"enableWarnings":true,"enableSmartBrowserIsolation":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 504d5be7-8cf7-9f16-9dc2-33e895ca37ed
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"pluginCheckFrequency": "DAILY", "bypassPlugins": ["ACROBAT", "FLASH"],
      "bypassApplications": ["OUTLOOKEXP"], "bypassAllBrowsers": false, "allowAllBrowsers":
      true, "enableWarnings": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/browserControlSettings
  response:
    body:
      string: '{"pluginCheckFrequency":"DAILY","bypassPlugins":["ACROBAT","FLASH"],"bypassApplications":["OUTLOOKEXP"],"bypassAllBrowsers":false,"allowAllBrowsers":true,"enableWarnings":true,"enableSmartBrowserIsolation":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2ba307d1-ea04-91a7-8e85-94706c3e0762
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"allowAllBrowsers": true, "enableWarnings": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/browserControlSettings
  response:
    body:
      string: '{"bypassAllBrowsers":false,"allowAllBrowsers":true,"enableWarnings":false,"enableSmartBrowserIsolation":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 6574cf25-1d5c-987b-81f4-31fb1b413e07
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '36'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
