interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "type": "DSTN_IP",
      "addresses": ["192.168.100.4", "192.168.100.5"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"id":10596685,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["192.168.100.4","192.168.100.5"],"description":"tests-vcr0002","ipCategories":[],"countries":[]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 126f8ebc-38e1-9702-8888-ac50b4f78cfa
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0003", "description": "Integration test source group",
      "ipAddresses": ["192.168.100.1", "192.168.100.2", "192.168.100.3"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups
  response:
    body:
      string: '{"id":10596690,"name":"tests-vcr0003","ipAddresses":["192.168.100.1","192.168.100.2","192.168.100.3"],"description":"Integration
        test source group"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3f93de44-b71b-98bd-a46a-538ddb5862c4
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0004", "description": "Integration test Forwarding Control
      Rule", "order": 1, "rank": 7, "type": "FORWARDING", "forwardMethod": "DIRECT",
      "state": "ENABLED", "destIpGroups": [{"id": 10596685}], "srcIpGroups": [{"id":
      10596690}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/forwardingRules
  response:
    body:
      string: '{"id":1690935,"name":"tests-vcr0004","type":"FORWARDING","order":1,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Integration
        test Forwarding Control Rule","srcIpGroups":[{"id":10596690}],"destIpCategories":["ANY"],"resCategories":[],"destCountries":[],"destIpGroups":[{"id":10596685}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 132bad38-429d-9b8d-bddd-6ae56db18750
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/forwardingRules/1690935
  response:
    body:
      string: '{"accessControl":"READ_WRITE","id":1690935,"name":"tests-vcr0004","type":"FORWARDING","order":1,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Integration
        test Forwarding Control Rule","lastModifiedTime":1773371953,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"srcIpGroups":[{"id":10596690,"name":"tests-vcr0003"}],"destIpCategories":[],"resCategories":[],"destCountries":[],"destIpGroups":[{"id":10596685,"name":"tests-vcr0001"}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 54640505-47f0-907b-92a7-f97de3255b5b
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/forwardingRules
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":241782,"name":"ZPA Pool For Stray
        Traffic","type":"FORWARDING","order":-2,"rank":7,"forwardMethod":"DROP","state":"ENABLED","description":"Automatically
        created ZPA Pool Stray Traffic for ZIA","lastModifiedTime":1634768070,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":537035,"name":"Client
        Connector Traffic Direct","type":"FORWARDING","order":-3,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Client
        Connector Traffic Direct","lastModifiedTime":1666399026,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":752922,"name":"ZIA
        Inspected ZPA Apps","type":"FORWARDING","order":-4,"rank":7,"forwardMethod":"ZPA","state":"DISABLED","description":"Forwards
        all ZPA application requiring ZIA inspection","lastModifiedTime":1694912902,"destIpCategories":[],"resCategories":[],"destCountries":[],"zpaAppSegments":[{"id":2387144,"name":"Inspect
        App Segments","externalId":"2"}],"zpaGateway":{"id":2387145,"name":"Auto ZPA
        Gateway"}},{"accessControl":"READ_WRITE","id":802935,"name":"Fallback mode
        of ZPA Forwarding","type":"FORWARDING","order":-5,"rank":7,"forwardMethod":"ZPA","state":"DISABLED","description":"Forwards
        all ZPA application to fallback ZPA Pool","lastModifiedTime":1696730204,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":1557997,"name":"Allow
        Extranet DNS Traffic","type":"FORWARDING","order":-100,"rank":0,"locationGroups":[{"id":157892460,"name":"All
        Extranet Location Group"}],"forwardMethod":"DIRECT","state":"ENABLED","description":"Allow
        DNS traffic from Extranet Locations","lastModifiedTime":1763256805,"destIpCategories":[],"resCategories":[],"destCountries":[],"nwServices":[{"id":774003,"name":"DNS","isNameL10nTag":true}]},{"accessControl":"READ_WRITE","id":1557998,"name":"Extranet
        Traffic to ZPA","type":"FORWARDING","order":-101,"rank":0,"locationGroups":[{"id":157892460,"name":"All
        Extranet Location Group"}],"forwardMethod":"ZPA","state":"ENABLED","description":"Forwards
        all Extranet applications to ZPA","lastModifiedTime":1763256805,"destIpCategories":[],"resCategories":[],"destCountries":[],"zpaAppSegments":[{"id":10130735,"name":"Extranet
        App Segment","externalId":"3"}][...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups/10596685
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 50412851-882a-9da1-b6b3-4edc59b1f7ac
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups/10596690
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6a31c2ab-2c7c-9fdd-953a-a31c4eee7ff0
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
