interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "type": "DSTN_IP",
      "addresses": ["192.168.100.4", "192.168.100.5"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"code":"EDIT_LOCK_NOT_AVAILABLE"}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 874f6283-1710-9564-a59b-5d30915c31fa
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 409
      message: Conflict
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "type": "DSTN_IP",
      "addresses": ["192.168.100.4", "192.168.100.5"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"id":10226653,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["192.168.100.4","192.168.100.5"],"description":"tests-vcr0002","ipCategories":[],"countries":[]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 563a7634-ac9e-93d5-8363-97aff49a5c18
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '37'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0003", "description": "Integration test source group",
      "ipAddresses": ["192.168.100.1", "192.168.100.2", "192.168.100.3"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups
  response:
    body:
      string: '{"id":10226658,"name":"tests-vcr0003","ipAddresses":["192.168.100.1","192.168.100.2","192.168.100.3"],"description":"Integration
        test source group"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d205f47f-4548-93f0-bfa1-174d24d50ebc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '34'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0004", "description": "Integration test firewall rule",
      "action": "BLOCK_DROP", "order": 1, "rank": 7, "destCountries": ["COUNTRY_CA",
      "COUNTRY_US", "COUNTRY_MX", "COUNTRY_AU", "COUNTRY_GB"], "state": "ENABLED",
      "destIpGroups": [{"id": 10226653}], "srcIpGroups": [{"id": 10226658}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallIpsRules
  response:
    body:
      string: '{"id":1582155,"name":"tests-vcr0004","order":1,"rank":7,"action":"BLOCK_DROP","capturePCAP":false,"state":"ENABLED","description":"Integration
        test firewall rule","srcIpGroups":[{"id":10226658}],"destIpCategories":["ANY"],"resCategories":[],"destCountries":["COUNTRY_CA","COUNTRY_US","COUNTRY_MX","COUNTRY_AU","COUNTRY_GB"],"destIpGroups":[{"id":10226653}],"isEunEnabled":false,"eunTemplateId":16,"defaultRule":false,"enableFullLogging":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 65f083e6-00df-9277-be9e-eb36335345eb
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '32'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallIpsRules/1582155
  response:
    body:
      string: '{"accessControl":"READ_WRITE","id":1582155,"name":"tests-vcr0004","order":1,"rank":7,"action":"BLOCK_DROP","capturePCAP":false,"state":"ENABLED","description":"Integration
        test firewall rule","lastModifiedTime":1764980011,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"srcIpGroups":[{"id":10226658,"name":"tests-vcr0003"}],"destIpCategories":[],"resCategories":[],"destCountries":["COUNTRY_AU","COUNTRY_CA","COUNTRY_GB","COUNTRY_MX","COUNTRY_US"],"sourceCountries":[],"destIpGroups":[{"id":10226653,"name":"tests-vcr0001"}],"isEunEnabled":false,"eunTemplateId":16,"defaultRule":false,"enableFullLogging":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8a3d7f83-8b55-90bb-ba2f-667f22a2b76a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallIpsRules
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":184228,"name":"Default Cloud IPS
        Rule","order":0,"rank":7,"action":"BLOCK_DROP","capturePCAP":false,"state":"ENABLED","description":"_test_1761191399599_test_1761418085011-test-1761429740961-test-1761429901739","lastModifiedTime":1761584738,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"destIpCategories":[],"resCategories":[],"destCountries":[],"isEunEnabled":false,"eunTemplateId":16,"predefined":true,"defaultRule":false,"enableFullLogging":true},{"accessControl":"READ_WRITE","id":1536551,"name":"Default
        Cloud IPS Rule_1761584734259","order":-1,"rank":7,"action":"BLOCK_DROP","capturePCAP":false,"state":"ENABLED","description":"_test_1761191399599_test_1761418085011-test-1761429740961-test-1761429901739","lastModifiedTime":1761584750,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"destIpCategories":[],"resCategories":[],"destCountries":[],"isEunEnabled":false,"eunTemplateId":[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups/10226653
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8af93c26-00cb-920d-b293-e3ad96527299
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '34'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups/10226658
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4c60e9a1-64f2-9526-acc4-e9649de106c8
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
