interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "ipAddresses":
      ["192.168.1.1", "192.168.1.2", "192.168.1.3"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups
  response:
    body:
      string: '{"id":10226652,"name":"tests-vcr0001","ipAddresses":["192.168.1.1","192.168.1.2","192.168.1.3"],"description":"tests-vcr0002"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d4c6f88a-499d-9cb6-949b-1e6a70ae12ff
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
