interactions:
- request:
    body: '{"name": "tests-vcr0001", "customPhraseMatchType": "MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY",
      "dictionaryType": "PATTERNS_AND_PHRASES", "description": "tests-vcr0002", "phrases":
      [{"action": "PHRASE_COUNT_TYPE_ALL", "phrase": "YourPhrase"}], "patterns": [{"action":
      "PATTERN_COUNT_TYPE_UNIQUE", "pattern": "YourPattern"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries
  response:
    body:
      string: '{"id":3,"name":"tests-vcr0001","description":"tests-vcr0002","phrases":[{"action":"PHRASE_COUNT_TYPE_ALL","phrase":"YourPhrase"}],"customPhraseMatchType":"MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY","patterns":[{"action":"PATTERN_COUNT_TYPE_UNIQUE","pattern":"YourPattern"}],"nameL10nTag":false,"dictionaryType":"PATTERNS_AND_PHRASES","exactDataMatchDetails":[],"idmProfileMatchAccuracyDetails":[],"proximity":0,"parentDictionaryId":0,"predefinedPhrases":[],"ignoreExactMatchIdmDict":false,"includeBinNumbers":true,"dictTemplateId":0,"predefinedClone":false,"thresholdAllowed":false,"proximityEnabledForCustomDictionary":false,"includeSsnNumbers":true,"unicodePhraseMatchingEnabled":false,"custom":true,"dictionaryCloningEnabled":false,"viewOnly":false,"proximityLengthEnabled":true,"customPhraseSupported":false,"hierarchicalDictionary":false,"lowConfidenceDisabled":false,"parentDictionary":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 244f4841-e923-9989-af5b-fd079d003de3
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "updated-vcr0003", "description": "updated-vcr0003", "customPhraseMatchType":
      "MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY", "dictionaryType": "PATTERNS_AND_PHRASES",
      "phrases": [{"action": "PHRASE_COUNT_TYPE_ALL", "phrase": "YourUpdatedPhrase"}],
      "patterns": [{"action": "PATTERN_COUNT_TYPE_UNIQUE", "pattern": "YourUpdatedPattern"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zi[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries
  response:
    body:
      string: "[{\"id\":1,\"name\":\"DictionaryTest01\",\"description\":\"test_test_1761180039256_test_1761191407330_test_1761418092202-test-1761429749486-test-1761429910048\",\"phrases\":[],\"patterns\":[],\"nameL10nTag\":false,\"dictionaryType\":\"EXACT_DATA_MATCH\",\"exactDataMatchDetails\":[{\"dictionaryEdmMappingId\":2749911,\"schemaId\":4,\"primaryFields\":[1],\"secondaryFields\":[],\"secondaryFieldMatchOn\":\"MATCHON_NONE\"}],\"idmProfileMatchAccuracyDetails\":[],\"proximity\":0,\"parentDictionaryId\":0,\"predefinedPhrases\":[],\"ignoreExactMatchIdmDict\":false,\"includeBinNumbers\":true,\"dictTemplateId\":0,\"predefinedClone\":false,\"thresholdAllowed\":true,\"proximityEnabledForCustomDictionary\":false,\"includeSsnNumbers\":true,\"unicodePhraseMatchingEnabled\":false,\"custom\":true,\"dictionaryCloningEnabled\":false,\"viewOnly\":false,\"proximityLengthEnabled\":false,\"customPhraseSupported\":fa[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries/3
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4b0962d5-1d74-9410-b7a8-a7c72d3bf2c9
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
