interactions:
- request:
    body: '{"name": "TestLabel_VCR_Integration", "description": "Test Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/ruleLabels
  response:
    body:
      string: 'getAttribute: Session already invalidated'
    headers:
      content-type:
      - text/plain;charset=UTF-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 352de0d7-8696-9bbb-9d26-89df42956ceb
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestLabel_VCR_Integration", "description": "Test Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/ruleLabels
  response:
    body:
      string: '{"id":3339334,"name":"TestLabel_VCR_Integration","description":"Test
        Description for VCR","lastModifiedTime":1764201106,"lastModifiedBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"createdBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"referencedRuleCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c1b4d3e1-09da-9c7a-86d9-bf0e38286b74
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "UpdatedLabel_VCR_Integration", "description": "Updated Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.zsapi.net/zia/api/v1/ruleLabels/3339334
  response:
    body:
      string: '{"id":3339334,"name":"UpdatedLabel_VCR_Integration","description":"Updated
        Description for VCR","lastModifiedTime":1764201108,"lastModifiedBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"createdBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"referencedRuleCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a5fb44f3-f30d-9515-9a88-241f6aba07f5
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/ruleLabels?search=UpdatedLabel_VCR_Integration
  response:
    body:
      string: '[{"id":3339334,"name":"UpdatedLabel_VCR_Integration","description":"Updated
        Description for VCR","lastModifiedTime":1764201108,"lastModifiedBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"createdBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"referencedRuleCount":0}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 91d5390e-18e0-9710-a467-8d0ce9523970
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4976'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
