interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "Integration test Sandbox Rule",
      "baRuleAction": "BLOCK", "state": "ENABLED", "order": 1, "rank": 7, "firstTimeEnable":
      true, "mlActionEnabled": true, "firstTimeOperation": "ALLOW_SCAN", "urlCategories":
      ["OTHER_ADULT_MATERIAL"], "protocols": ["FOHTTP_RULE", "FTP_RULE", "HTTPS_RULE",
      "HTTP_RULE"], "baPolicyCategories": ["ADWARE_BLOCK", "BOTMAL_BLOCK", "ANONYP2P_BLOCK",
      "RANSOMWARE_BLOCK"], "fileTypes": ["FTCATEGORY_BZIP2", "FTCATEGORY_P7Z"], "byThreatScore":
      40}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/sandboxRules
  response:
    body:
      string: '{"id":1582215,"name":"tests-vcr0001","protocols":["FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE"],"order":1,"baPolicyCategories":["ADWARE_BLOCK","BOTMAL_BLOCK","ANONYP2P_BLOCK","RANSOMWARE_BLOCK"],"description":"Integration
        test Sandbox Rule","urlCategories":["OTHER_ADULT_MATERIAL"],"fileTypes":["FTCATEGORY_BZIP2","FTCATEGORY_P7Z"],"state":"ENABLED","rank":7,"baRuleAction":"BLOCK","firstTimeEnable":true,"firstTimeOperation":"ALLOW_SCAN","mlActionEnabled":true,"defaultRule":false,"byThreatScore":40}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c8ec9b4f-2c6e-935e-82ec-a94cc811767f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/sandboxRules/1582215
  response:
    body:
      string: '{"id":1582215,"name":"tests-vcr0001","protocols":["FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE"],"order":1,"baPolicyCategories":["ADWARE_BLOCK","BOTMAL_BLOCK","ANONYP2P_BLOCK","RANSOMWARE_BLOCK"],"description":"Integration
        test Sandbox Rule","urlCategories":["OTHER_ADULT_MATERIAL"],"fileTypes":["FTCATEGORY_BZIP2","FTCATEGORY_P7Z"],"cbiProfileId":0,"state":"ENABLED","rank":7,"lastModifiedTime":1764980259,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"accessControl":"READ_WRITE","baRuleAction":"BLOCK","firstTimeEnable":true,"firstTimeOperation":"ALLOW_SCAN","mlActionEnabled":true,"defaultRule":false,"byThreatScore":40}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 005c5279-a83b-9cf9-91f5-d4621f10234c
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/sandboxRules/1582215
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 18f480bc-44ff-9208-88ea-59b478081431
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
