interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/pacFiles
  response:
    body:
      string: '[{"id":6155,"name":"kerberos.pac","description":"Service Default.","domain":"zscalerbeta.net","pacUrl":"https://pac.zscalerbeta.net/zscalerbeta.net/kerberos.pac","pacContent":"function
        FindProxyForURL(url, host) {\n            var privateIP = /^(0|10|127|192\\.168|172\\.1[6789]|172\\.2[0-9]|172\\.3[01]|169\\.254|192\\.88\\.99)\\.[0-9.]+$/;\n            var
        resolved_ip = dnsResolve(host);\n\n            /* Don''t send non-FQDN or
        private IP auths to us */\n            if (isPlainHostName(host) || isInNet(resolved_ip,
        \"192.0.2.0\",\"255.255.255.0\") || privateIP.test(resolved_ip))\n\t            return
        \"DIRECT\";\n\t\t\t\n\t\t\[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/pacFiles/6155/version
  response:
    body:
      string: '[{"id":6155,"name":"kerberos.pac","description":"Service Default.","domain":"zscalerbeta.net","pacUrl":"https://pac.zscalerbeta.net/zscalerbeta.net/kerberos.pac","pacContent":"function
        FindProxyForURL(url, host) {\n            var privateIP = /^(0|10|127|192\\.168|172\\.1[6789]|172\\.2[...]
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/pacFiles/6155/version/1
  response:
    body:
      string: '{"id":6155,"name":"kerberos.pac","description":"Service Default.","domain":"zscalerbeta.net","pacUrl":"https://pac.zscalerbeta.net/zscalerbeta.net/kerberos.pac","pacContent":"function
        FindProxyForURL(url, host) {\n            var privateIP = /^(0|10|127|192\\.168|172\\.1[6789]|172\\.[...]
- request:
    body: "function FindProxyForURL(url, host) {\n    return \"DIRECT\";\n}"
    headers:
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/pacFiles/validate
  response:
    body:
      string: '{"success":true,"message":null,"severity":null,"messages":[],"warningCount":0,"errorCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fd951996-c03c-9e65-a525-1b13f58a42fc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 8b954864-803b-44a0-a08d-d49004055dbd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/pacFiles?search=default
  response:
    body:
      string: '[{"id":6155,"name":"kerberos.pac","description":"Service Default.","domain":"zscalerbeta.net","pacUrl":"https://pac.zscalerbeta.net/zscalerbeta.net/kerberos.pac","pacContent":"function
        FindProxyForURL(url, host) {\n            var privateIP = /^(0|10|127|192\\.168|172\\.1[6789]|172\\[...]
