interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/greTunnels
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2b0d1a40-79c2-95cc-8b1b-d297e268e421
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '4'
      x-transaction-id:
      - 5508ba3c-37fb-4b29-b973-280af2af5bd7
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/greTunnels/availableInternalIpRanges
  response:
    body:
      string: '[{"startIPAddress":"172.17.21.24","endIPAddress":"172.17.21.31"},{"startIPAddress":"172.17.27.32","endIPAddress":"172.17.27.39"},{"startIPAddress":"172.17.40.0","endIPAddress":"172.17.40.7"},{"startIPAddress":"172.17.49.72","endIPAddress":"172.17.49.79"},{"startIPAddress":"172.17.151.56","endIPAddress":"172.17.151.63"},{"startIPAddress":"172.17.151.80","endIPAddress":"172.17.151.87"},{"startIPAddress":"172.17.151.96","endIPAddress":"172.17.151.103"},{"startIPAddress":"172.17.151.192","endIPAddress":"172.17.151.199"},{"startIPAddress":"172.17.151.232","endIPAddress":"172.17.151.239"},{"startIPAddress":"172.17.151.240","endIPAddress":"172.17.151.247"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d9041c04-bfd9-9e9c-b615-6c7620f4bd69
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '3'
      x-transaction-id:
      - 5508ba3c-37fb-4b29-b973-280af2af5bd7
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/vips/recommendedList
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"Please provide valid source
        IP address to get the GRE vips."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5ae9bc94-fa23-95d2-bf68-ddde292045ab
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 5508ba3c-37fb-4b29-b973-280af2af5bd7
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/vips/recommendedList?sourceIp=8.8.8.8
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fcaf74b9-7bcc-9027-a223-b35b1596c1c8
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/vips/groupByDatacenter
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 81dbe6cd-3506-9b97-930f-a5639e10c9d6
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/vips/groupByDatacenter
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 841a3e9c-e2c1-9da4-93e1-32a89d3a2703
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
version: 1
