interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/webApplicationRules/ruleTypeMapping
  response:
    body:
      string: '{"Webmail":"WEBMAIL","Social Networking":"SOCIAL_NETWORKING","Finance":"FINANCE","Legal":"LEGAL","AI
        & ML Applications":"AI_ML","Human Resources":"HUMAN_RESOURCES","DNS Over HTTPS
        Services":"DNS_OVER_HTTPS","System & Development":"SYSTEM_AND_DEVELOPMENT","Instant
        Messaging":"INSTANT_MESSAGING","Video Streaming":"STREAMING_MEDIA","Health
        Care":"HEALTH_CARE","File Sharing":"FILE_SHARE","Consumer":"CONSUMER","Hosting
        Providers":"HOSTING_PROVIDER","Collaboration and Online Meetings":"ENTERPRISE_COLLABORATION","Custom
        Applications":"CUSTOM_CAPP","Sales & Marketing":"SALES_AND_MARKETING","IT
        Services":"IT_SERVICES","Productivity and CRM Tools":"BUSINESS_PRODUCTIVITY"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 16710f93-6633-9899-9cdd-5bbcd62e17d3
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4964'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/webApplicationRules/STREAMING_MEDIA
  response:
    body:
      string: '[{"id":1657455,"type":"STREAMING_MEDIA","order":50,"description":"tests-uubieammna","applications":["YOUTUBE","GOOGLE_STREAMING"],"actions":["ALLOW_STREAMING_VIEW_LISTEN","ALLOW_STREAMING_UPLOAD"],"state":"ENABLED","rank":7,"lastModifiedTime":1773269139,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"enforceTimeValidity":false,"accessControl":"READ_WRITE","name":"tests-uubieammna","cascadingEnabled":false,"promptCaptureEnabled":false,"eunEnabled":false,"eunTemplateId":0,"browserEunTemplateId":0,"predefined":false},{"id":1672661,"type":"STREAMING_MEDIA","order":22,"actions":["ALLOW_STREAMING_VIEW_LISTEN","ALLOW_STREAMING_UPLOAD"],"state":"DISABLED","rank":7,"lastModifiedTime":1773269139,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"enforceTimeValidity":false,"accessControl":"READ_WRITE","name":"test_web_app_rule_cd935d62","cascadingEnabled":false,"promptCaptureEnabled":false,"eunEnabled":false,"eunTemplateId":0,"browserEunTemplateId":0,"predefined":false},{"id":1672666,"type":"STREAMING_MEDIA[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/webApplicationRules/STREAMING_MEDIA/1657455
  response:
    body:
      string: '{"id":1657455,"type":"STREAMING_MEDIA","order":50,"description":"tests-uubieammna","applications":["YOUTUBE","GOOGLE_STREAMING"],"actions":["ALLOW_STREAMING_VIEW_LISTEN","ALLOW_STREAMING_UPLOAD"],"state":"ENABLED","rank":7,"lastModifiedTime":1773269139,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"enforceTimeValidity":false,"accessControl":"READ_WRITE","name":"tests-uubieammna","cascadingEnabled":false,"promptCaptureEnabled":false,"eunEnabled":false,"eunTemplateId":0,"browserEunTemplateId":0,"predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e6090f0d-b618-922a-8f88-21ab3c56ee94
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4962'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
