interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 240, 500;w=1, 240;w=1, 735;w=1
      x-ratelimit-remaining:
      - '239'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestEmailProfile_VCR_Integration", "description": "Test Description
      for VCR", "emails": ["john.doe@example.com", "mary.jane@example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/emailRecipientProfile
  response:
    body:
      string: '{"id":21172,"name":"TestEmailProfile_VCR_Integration","description":"Test
        Description for VCR","emails":["REDACTED","REDACTED"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e44016fa-eba1-917b-b4c2-625046fd1688
      x-oneapi-version:
      - 111.1.42
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '34'
      x-transaction-id:
      - 38f50e90-a387-4ae7-9032-eb6ffa152aab
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "UpdatedEmailProfile_VCR_Integration", "description": "Updated
      Description for VCR", "emails": ["john.doe@example.com", "mary.jane@example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/emailRecipientProfile/21172
  response:
    body:
      string: '{"id":21172,"name":"UpdatedEmailProfile_VCR_Integration","description":"Updated
        Description for VCR","emails":["REDACTED","REDACTED"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - f6d935d2-ed5c-9222-910d-67bbb72aee05
      x-oneapi-version:
      - 111.1.42
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '30'
      x-transaction-id:
      - 38f50e90-a387-4ae7-9032-eb6ffa152aab
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/emailRecipientProfile?search=UpdatedEmailProfile_VCR_Integration
  response:
    body:
      string: '[{"id":21170,"name":"Profile01","description":"Profile01","emails":["REDACTED"]},{"id":21172,"name":"UpdatedEmailProfile_VCR_Integration","description":"Updated
        Description for VCR","emails":["REDACTED","REDACTED"]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 3706e9bb-91da-9764-b3a7-644fe9e487b8
      x-oneapi-version:
      - 111.1.42
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 38f50e90-a387-4ae7-9032-eb6ffa152aab
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.beta.zsapi.net/zia/api/v1/emailRecipientProfile/21172
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e3bccfc1-a540-9f31-a1d7-964a355be7a4
      x-oneapi-version:
      - 111.1.42
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 38f50e90-a387-4ae7-9032-eb6ffa152aab
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
