interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/auditlogEntryReport
  response:
    body:
      string: '{"code":"RESOURCE_NOT_FOUND","message":"No Report to download"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 6fa26f4b-c620-9f70-9731-5bb50597c200
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - e6d96497-3e8f-4612-a22d-3fd728368f5f
      x-zscaler-mode:
      - read-write
    status:
      code: 404
      message: Not Found
- request:
    body: '{"startTime": "1766038299004", "endTime": "1766124699004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/auditlogEntryReport%22
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 89db01d1-1d8f-926c-9ad2-aa6ea9586bd2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - e6d96497-3e8f-4612-a22d-3fd728368f5f
      x-zscaler-mode:
      - read-write
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/auditlogEntryReport/download
  response:
    body:
      string: "<!doctype html><html lang=\"en\"><head><title>HTTP Status 406 \u2013
        Not Acceptable</title><style type=\"text/css\">body {font-family:Tahoma,Arial,sans-serif;}
        h1, h2, h3, b {color:white;background-color:#525D76;} h1 {font-size:22px;}
        h2 {font-size:16px;} h3 {font-size:14px;} p {font-size:12px;} a {color:black;}
        .line {height:1px;background-color:#525D76;border:none;}</style></head><body><h1>HTTP
        Status 406 \u2013 Not Acceptable</h1></body></html>"
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-language:
      - en
      content-type:
      - text/html;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 58a8fe58-d498-9aea-80df-48ecfa27e63a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - e6d96497-3e8f-4612-a22d-3fd728368f5f
      x-zscaler-mode:
      - read-write
    status:
      code: 406
      message: Not Acceptable
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.beta.zsapi.net/zia/api/v1/auditlogEntryReport%22
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - da2aa43c-6467-95d1-b9e9-f1f63047b497
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - e6d96497-3e8f-4612-a22d-3fd728368f5f
      x-zscaler-mode:
      - read-write
    status:
      code: 404
      message: Not Found
version: 1
