interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/casbDlpRules/all
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b527779f-63f3-9843-a616-2eb95b92452c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '37'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/casbDlpRules?ruleType=OFLCASB_DLP_ITSM
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 77470212-e518-9e54-86ff-c927542ecf07
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '36'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/casbDlpRules?ruleType=OFLCASB_DLP_FILE
  response:
    body:
      string: '{"message":"Rate Limit (1/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 28df1c82-1882-9bc9-89eb-626bb17c582e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '36'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/casbDlpRules?ruleType=OFLCASB_DLP_EMAIL
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 66863b0f-63a9-9228-914a-a95a2f85ea29
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestCASBDLPRule_VCR", "description": "Test CASB DLP rule for
      VCR", "ruleType": "OFLCASB_DLP_ITSM", "order": 1, "rank": 7, "action": "BLOCK",
      "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/casbDlpRules
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f667e39d-c4f2-953e-8e38-a8362782c8ca
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
