interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/cyberThreatProtection/advancedThreatSettings
  response:
    body:
      string: '{"riskTolerance":75,"riskToleranceCapture":false,"cmdCtlServerBlocked":true,"cmdCtlServerCapture":false,"cmdCtlTrafficBlocked":true,"cmdCtlTrafficCapture":false,"malwareSitesBlocked":true,"malwareSitesCapture":false,"activeXBlocked":true,"activeXCapture":false,"browserExploitsBlocked":true,"browserExploitsCapture":false,"fileFormatVunerabilitesBlocked":true,"fileFormatVunerabilitesCapture":false,"knownPhishingSitesBlocked":true,"knownPhishingSitesCapture":false,"suspectedPhishingSitesBlocked":true,"suspectedPhishingSitesCapture":false,"suspectAdwareSpywareSitesBlocked":true,"suspectAdwareSpywareSitesCapture":false,"webspamBlocked":true,"webspamCapture":false,"ircTunnellingBlocked":true,"ircTunnellingCapture":false,"anonymizerBlocked":true,"anonymizerCapture":false,"cookieStealingBlocked":true,"cookieStealingPCAPEnabled":false,"potentialMaliciousRequestsBlocked":true,"potentialMaliciousRequestsCapture":false,"blockCountriesCapture":false,"bitTorrentBlocked":true,"bitTorrentCapture":false,"torBlocked":true,"torCapture":false,"googleTalkBlocked":true,"googleTalkCapture":false,"sshTunnellingBlocked":true,"sshTunnellingCapture":false,"cryptoMiningBlocked":true,"cryptoMiningCapture":false,"adSpywareSitesBlocked":true,"adSpywareSitesCapture":false,"dgaDomainsBlocked":true,"wpadBlocked":false,"alertForUnknownOrSuspiciousC2Traffic":false,"dgaDomainsCapture":false,"maliciousUrlsCapture":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 33427c40-39e4-9fc3-ba14-5a0265d7060c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"malwareUrlFilterEnabled": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/cyberThreatProtection/advancedThreatSettings
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bb2e95f9-e911-9142-8be6-b0a50ecaeefc
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/cyberThreatProtection/securityExceptions
  response:
    body:
      string: '{"bypassUrls":[".example.com",".test.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f4340ce0-6772-9dbe-bc0a-c5e0e45d767b
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/cyberThreatProtection/maliciousUrls
  response:
    body:
      string: '{"maliciousUrls":[".newexample.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 04174673-55ed-9b9c-823e-8b7db43e97a6
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"maliciousUrls": ["malicious-test-site.example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/cyberThreatProtection/maliciousUrls?action=ADD_TO_LIST
  response:
    body:
      string: '{"maliciousUrls":["malicious-test-site.example.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f9f02524-975f-9653-9aab-c5fd07a0c664
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"maliciousUrls": ["malicious-test-site.example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/cyberThreatProtection/maliciousUrls?action=REMOVE_FROM_LIST
  response:
    body:
      string: '{"maliciousUrls":["malicious-test-site.example.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5b8ca167-b165-97f8-95cf-876b9c1b0b2e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/cyberThreatProtection/maliciousUrls
  response:
    body:
      string: '{"maliciousUrls":[".newexample.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 02afbac9-d92c-9911-97ad-3728fa8846fa
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
