interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users
  response:
    body:
      string: '[{"id":12008045,"name":"Adam Ashcroft","email":"REDACTED","groups":[{"id":12006786,"name":"Engineering"},{"id":12007253,"name":"Normal_Internet"}],"department":{"id":12007922,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":8061243,"name":"DEFAULT
        ADMIN","email":"REDACTED","groups":[{"id":8061241,"name":"Service Admin"}],"department":{"id":8061242,"name":"Service
        Admin"},"adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":19474996,"name":"William
        Guilherme","email":"REDACTED","groups":[],"adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":12008008,"name":"Ajith
        Almond"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users?search=admin
  response:
    body:
      string: '{"message":"Rate Limit (1/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5add3ab0-dab6-950b-84df-4829bc6587da
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '30'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users/references
  response:
    body:
      string: '[{"id":12008045,"name":"REDACTED"},{"id":19474996,"name":"REDACTED"},{"id":12008008,"name":"REDACTED"},{"id":12007943,"name":"REDACTED"},{"id":12008020,"name":"REDACTED"},{"id":12008074,"name":"REDACTED"},{"id":12007984,"name":"REDACTED"},{"id":12008055,"name":"REDACTED"},{"id":12007980,"name":"RED[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users/references?page=1&pageSize=10
  response:
    body:
      string: '[{"id":12008045,"name":"REDACTED"},{"id":19474996,"name":"REDACTED"},{"id":12008008,"name":"REDACTED"},{"id":12007943,"name":"REDACTED"},{"id":12008020,"name":"REDACTED"},{"id":12008074,"name":"REDACTED"},{"id":12007984,"name":"REDACTED"},{"id":12008055,"name":"REDACTED"},{"id":12007980,"name":"REDACTED"},{"id":12008067,"name":"REDACTED"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - c1f564b5-0b6f-91b3-b85a-9ec22f620e87
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users/12008045
  response:
    body:
      string: '{"id":12008045,"name":"fhlaqZWSyFU3PgNxTcKPpQ==","email":"REDACTED","groups":[{"id":12006786,"name":"Engineering"},{"id":12007253,"name":"Normal_Internet"}],"department":{"id":12007922,"name":"Engineering"},"adminUser":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - bbb1e3d6-323c-9590-9f75-d1a927d5487f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users/auditors
  response:
    body:
      string: '[{"id":22725462,"name":"auditor01","email":"REDACTED","pwdLastModifiedTime":0,"deleted":false,"pilotUser":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - cb42e924-705a-96c3-a60e-6326719fa186
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/groups
  response:
    body:
      string: '[{"id":12006601,"name":"A000"},{"id":12006580,"name":"A001"},{"id":12006615,"name":"A002"},{"id":12006606,"name":"A003"},{"id":12006590,"name":"A004"},{"id":12006585,"name":"A005"},{"id":12006608,"name":"A006"},{"id":12006583,"name":"A007"},{"id":12006581,"name":"A008"},{"id":12006625,"name":"A009"},{"id":12[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/groups?search=Default
  response:
    body:
      string: '{"message":"Rate Limit (1/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 85509efd-c0f0-9d58-ac73-5b5824d09599
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/groups/12006601
  response:
    body:
      string: '{"id":12006601,"name":"A000"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d2635e08-5868-911f-b410-2c82106ce3e7
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/groups/lite
  response:
    body:
      string: '[{"id":12006601,"name":"A000"},{"id":12006580,"name":"A001"},{"id":12006615,"name":"A002"},{"id":12006606,"name":"A003"},{"id":12006590,"name":"A004"},{"id":12006585,"name":"A005"},{"id":12006608,"name":"A006"},{"id":12006583,"name":"A007"},{"id":12006581,"name":"A008"},{"id":12006625,"name":"A009"},{"i[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/departments
  response:
    body:
      string: '[{"id":15616629,"name":"A000","comments":"A000"},{"id":15616630,"name":"A001","comments":"A001"},{"id":15616631,"name":"A002","comments":"A002"},{"id":15616632,"name":"A003","comments":"A003"},{"id":15616633,"name":"A004","comments":"A004"},{"id":15616634,"name":"A005","comments":"A005"},{"id":15616635,"name":"A006","comments":"A006"},{"id":15616636,"name":"A007","comments":"A007"},{"id":15616637,"name":"A008","comments":"A008"},{"id":15616638,"name":"A009","comments":"A009"},{"id":15616639,"name":"A010","comments":"A010"},{"id":156166[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/departments?search=Default
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7a7139ad-a30e-95d6-9d14-b3002bb8292f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/departments/15616629
  response:
    body:
      string: '{"id":15616629,"name":"A000","comments":"A000"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 429bf8cb-ad9f-9de3-b735-fb43edd5b5ba
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/departments/lite/15616629
  response:
    body:
      string: '{"id":15616629,"name":"A000"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 03cee99e-c5e9-9a70-9660-eb1592d20389
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.beta.zsapi.net/zia/api/v1/departments/24466209
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 05fb545b-7858-9a42-a49f-841a91ebece2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - ecbe218e-89cf-4672-9837-dd7ad29e287d
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
