interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestLabel_VCR_Integration", "description": "Test Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/ruleLabels
  response:
    body:
      string: '{"id":1887090,"name":"TestLabel_VCR_Integration","description":"Test
        Description for VCR","lastModifiedTime":1770660576,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"createdBy":{"id":19475409,"name":"REDACTED"},"referencedRuleCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5c42fd90-0b5a-9a4c-b954-38af9d70c708
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - d5025a2a-9329-4262-b41d-eb669d6776de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "UpdatedLabel_VCR_Integration", "description": "Updated Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/ruleLabels/1887090
  response:
    body:
      string: '{"id":1887090,"name":"UpdatedLabel_VCR_Integration","description":"Updated
        Description for VCR","lastModifiedTime":1770660577,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"createdBy":{"id":19475409,"name":"REDACTED"},"referencedRuleCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7e1a9173-d033-9889-82d8-db7747270552
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - d5025a2a-9329-4262-b41d-eb669d6776de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ruleLabels?search=UpdatedLabel_VCR_Integration
  response:
    body:
      string: '[{"id":1887090,"name":"UpdatedLabel_VCR_Integration","description":"Updated
        Description for VCR","lastModifiedTime":1770660577,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"createdBy":{"id":19475409,"name":"REDACTED"},"referencedRuleCount":0}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 9871c002-641e-9e07-926f-428f2982a1ad
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - d5025a2a-9329-4262-b41d-eb669d6776de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.beta.zsapi.net/zia/api/v1/ruleLabels/1887090
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 3b69eee2-6803-9ba9-afc5-1f0f4ce6fa74
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - d5025a2a-9329-4262-b41d-eb669d6776de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
