interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/timeIntervals
  response:
    body:
      string: '[{"id":552,"name":"Work hours_test_1761418071930-test-1761429728452-test-1761429889328","startTime":540,"endTime":1080,"daysOfWeek":["MON","TUE","WED","THU","FRI"]},{"id":553,"name":"Weekends","startTime":0,"endTime":1439,"daysOfWeek":["SUN","SAT"]},{"id":554,"name":"Off
        hours","startTime":0,"endTime":420,"daysOfWeek":["SUN","MON","TUE","WED","THU","FRI","SAT"]},{"id":2493,"name":"test_interval_639d126c_updated","startTime":600,"endTime":1080,"daysOfWeek":["MON","TUE","WED","THU","FRI"]},{"id":2494,"name":"test_interval_43605930","startTime":540,"endTime":1020,"daysOfWeek":["MON","TUE","WED","THU","FRI"]},{"id":2515,"name":"test_interval_8fe9f681","startTime":540,"endTime":1020,"daysOfWeek":["MON","TUE","WED","THU","FRI"]}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 88e9de32-7c63-9b46-accc-085a3e364971
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4962'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/timeIntervals/2535
  response:
    body:
      string: '{"id":2535,"name":"TestInterval_VCR","startTime":480,"endTime":1020,"daysOfWeek":["MON","TUE","WED","THU","FRI"]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3ef35ee4-910b-9329-a9b8-11572a1a03df
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4960'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/timeIntervals/2535
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a77fe32a-6074-9fcf-bfcb-fbaf3e788942
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
