interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 240, 500;w=1, 240;w=1, 735;w=1
      x-ratelimit-remaining:
      - '239'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/browserControlSettings
  response:
    body:
      string: '{"pluginCheckFrequency":"DAILY","bypassPlugins":["ACROBAT","DOTNET"],"bypassApplications":["OUTLOOKEXP","MSOFFICE"],"bypassAllBrowsers":true,"blockedInternetExplorerVersions":["NONE"],"blockedChromeVersions":["NONE"],"blockedFirefoxVersions":["NONE"],"blockedSafariVersions":["NONE"],"blockedOperaVersions":["NONE"],"allowAllBrowsers":true,"enableWarnings":true,"enableSmartBrowserIsolation":true,"smartIsolationUsers":[{"id":12008045,"name":"Adam
        Ashcroft"},{"id":12008008,"name":"Ajith Almond"}],"smartIsolationGroups":[{"id":12006601,"name":"A000"},{"id":12006580,"name":"A001"}],"smartIsolationProfile":{"profileSeq":24894997,"id":"161d0907-0a57-4aab-98c2-eccbd651c448","name":"BD_SA_Profile1_ZIA","url":"https://redirect.isolation-beta.zscaler.com/tenant/support/profile/161d0907-0a57-4aab-98c2-eccbd651c448"},"smartIsolationProfileId":24894997}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 3c3f2964-206c-922e-80a8-59426513f846
      x-oneapi-version:
      - 111.1.41
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '3'
      x-transaction-id:
      - c7981b7a-06e9-44b4-9854-cb706315426b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/browserControlSettings/supportedBrowserVersions
  response:
    body:
      string: '[{"browserType":"OPERA","versions":["O117X","O118X","O119X","O120X","O121X","O122X","O123X","O124X","O125X","O126X","O127X","O128X"],"olderVersions":["O85","O9","O39X","O40X","O41X","O42X","O43X","O44X","O45X","O46X","O47X","O48X","O49X","O50X","O51X","O52X","O53X","O54X","O55X","O56X","O57X","O58X","O59X","O60X","O61X","O62X","O63X","O64X","O65X","O66X","O67X","O68X","O69X","O70X","O71X","O72X","O73X","O74X","O75X","O76X","O77X","O78X","O79X","O80X","O81X","O82X","O83X","O84X","O85X","O86X","O87X","O88X","O89X","O90X","O91X","O92X","O93X","O94X","O95X","O96X","O97X","O98X","O99X","O100X","O101X","O102X","O103X","O104X","O105X","O106X","O107[...]
- request:
    body: '{"enableSmartBrowserIsolation": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/browserControlSettings/smartIsolation
  response:
    body:
      string: '{"bypassAllBrowsers":false,"allowAllBrowsers":false,"enableWarnings":false,"enableSmartBrowserIsolation":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e21ea519-306c-96af-b4e4-5326a466f8b9
      x-oneapi-version:
      - 111.1.41
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - c7981b7a-06e9-44b4-9854-cb706315426b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
