interactions:
- request:
    body: '{"description": "Test Alert Subscription", "email": "alert@acme.com", "pt0Severities":
      ["CRITICAL", "MAJOR", "INFO", "MINOR", "DEBUG"], "secureSeverities": ["CRITICAL",
      "MAJOR", "INFO", "MINOR", "DEBUG"], "manageSeverities": ["CRITICAL", "MAJOR",
      "INFO", "MINOR", "DEBUG"], "complySeverities": ["CRITICAL", "MAJOR", "INFO",
      "MINOR", "DEBUG"], "systemSeverities": ["CRITICAL", "MAJOR", "INFO", "MINOR",
      "DEBUG"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/alertSubscriptions
  response:
    body:
      string: '{"id":5223,"description":"Test Alert Subscription","email":"REDACTED","pt0Severities":["CRITICAL","MAJOR","INFO","MINOR","DEBUG"],"secureSeverities":["CRITICAL","MAJOR","INFO","MINOR","DEBUG"],"manageSeverities":["CRITICAL","MAJOR","INFO","MINOR","DEBUG"],"complySeverities":["CRITICAL","MAJOR","INFO","MINOR","DEBUG"],"systemSeverities":["CRITICAL","MAJOR","INFO","MINOR","DEBUG"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0720fe82-05e5-901b-91f9-51381c5d5d23
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Updated Test Alert Subscription", "email": "alert@acme.com",
      "pt0Severities": ["CRITICAL", "MAJOR", "INFO", "MINOR", "DEBUG"], "secureSeverities":
      ["CRITICAL", "MAJOR", "INFO", "MINOR", "DEBUG"], "manageSeverities": ["CRITICAL",
      "MAJOR", "INFO", "MINOR", "DEBUG"], "complySeverities": ["CRITICAL", "MAJOR",
      "INFO", "MINOR", "DEBUG"], "systemSeverities": ["CRITICAL", "MAJOR", "INFO",
      "MINOR", "DEBUG"], "id": 5223}'
    headers:
  [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/alertSubscriptions/5223
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f5f24fa4-5b27-9150-b5c6-fae0450f1e3a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '56'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
