interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "destTcpPorts":
      [{"start": 389}, {"start": 636}, {"start": 3268, "end": 3269}], "destUdpPorts":
      [{"start": 389}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServices
  response:
    body:
      string: '{"id":10226708,"name":"tests-vcr0001","destTcpPorts":[{"start":389},{"start":636},{"start":3268,"end":3269}],"destUdpPorts":[{"start":389}],"type":"CUSTOM","description":"tests-vcr0002","isNameL10nTag":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - af92381f-440a-9474-bf6f-1bf6b9937030
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServices/10226708
  response:
    body:
      string: '{"id":10226708,"name":"tests-vcr0001","srcTcpPorts":[],"destTcpPorts":[{"start":389},{"start":636},{"start":3268,"end":3269}],"srcUdpPorts":[],"destUdpPorts":[{"start":389}],"type":"CUSTOM","description":"tests-vcr0002","creatorContext":"ZIA","isNameL10nTag":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fa95adb8-169b-9d2c-abc6-9e813ddc5267
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServices
  response:
    body:
      string: '[{"id":773995,"name":"ICMP_ANY","tag":"ICMP_ANY","type":"STANDARD","description":"ICMP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true},{"id":773997,"name":"UDP_ANY","tag":"UDP_ANY","srcUdpPorts":[],"destUdpPorts":[],"type":"STANDARD","description":"UDP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true},{"id":773999,"name":"TCP_ANY","tag":"TCP_ANY","srcTcpPorts":[],"destTcpPorts":[],"type":"STANDARD","description":"TCP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true},{"id":774003,"name":"DNS","tag":"DNS","srcTcpPorts[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServices/10226708
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ab4ab213-9646-942c-a1ee-06a1606ed54f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '9'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
