interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/mobileAdvanceThreatSettings
  response:
    body:
      string: '{"blockAppsWithMaliciousActivity":true,"blockAppsWithKnownVulnerabilities":true,"blockAppsSendingUnencryptedUserCredentials":true,"blockAppsSendingLocationInfo":true,"blockAppsSendingPersonallyIdentifiableInfo":true,"blockAppsSendingDeviceIdentifier":true,"blockAppsCommunicatingWithAdWebsites":true,"blockAppsCommunicatingWithRemoteUnknownServers":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1745068f-7ac7-9d5d-9535-64c31d2cc48a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"smsPhishingEnabled": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/mobileAdvanceThreatSettings
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2271a78e-6e56-9af1-8027-80cdba5fe879
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
