interactions:
- request:
    body: '{"urls": ["vcr-test-url-1.vcr-test.com", "vcr-test-url-2.vcr-test.com",
      "vcr-test-url-3.vcr-test.com", "vcr-test-url-4.vcr-test.com", "vcr-test-url-5.vcr-test.com"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/authSettings/exemptedUrls?action=ADD_TO_LIST
  response:
    body:
      string: '{"urls":["vcr-test-url-1.vcr-test.com","vcr-test-url-2.vcr-test.com","vcr-test-url-5.vcr-test.com","vcr-test-url-4.vcr-test.com","vcr-test-url-3.vcr-test.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ac6035fb-e47d-9b9d-9dd2-6a1ea1f1fda8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/authSettings/exemptedUrls
  response:
    body:
      string: '{"urls":[".newexample2.com","vcr-test-url-1.vcr-test.com",".newexample1.com","vcr-test-url-2.vcr-test.com","vcr-test-url-5.vcr-test.com","vcr-test-url-4.vcr-test.com","vcr-test-url-3.vcr-test.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 51174041-acec-968a-a6ac-d3470386a70a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4974'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/authSettings
  response:
    body:
      string: '{"orgAuthType":"SAFECHANNEL_DIR","oneTimeAuth":"OTP_DISABLED","samlEnabled":false,"kerberosEnabled":false,"kerberosPwd":"REDACTED","authFrequency":"PERMANENT_COOKIE","passwordStrength":"STRONG","passwordExpiry":"NEVER","mobileAdminSamlIdpEnabled":false,"autoProvision":false,"directorySyncMigrateToScimEnabled":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 89761821-3832-91ca-8c9c-0f04f363ff82
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4972'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/authSettings/lite
  response:
    body:
      string: '{"orgAuthType":"SAFECHANNEL_DIR","oneTimeAuth":"OTP_DISABLED","samlEnabled":false,"kerberosEnabled":false,"kerberosPwd":"TNUcIO2J/YbYpJtJam7NdpPjZORcCD3os5izXIYUTqQ=","passwordStrength":"STRONG","passwordExpiry":"NEVER","mobileAdminSamlIdpEnabled":false,"autoProvision":false,"directorySyncMigrateToScimEnabled":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a35d8a9f-7616-9567-89f8-47c3f6bc8d68
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4971'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"urls": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/authSettings/exemptedUrls?action=REMOVE_FROM_LIST
  response:
    body:
      string: '{"urls":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f65a07e8-5e81-9d82-aa18-4a764562751c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4970'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/authSettings/exemptedUrls
  response:
    body:
      string: '{"urls":[".newexample2.com","vcr-test-url-1.vcr-test.com",".newexample1.com","vcr-test-url-2.vcr-test.com","vcr-test-url-5.vcr-test.com","vcr-test-url-4.vcr-test.com","vcr-test-url-3.vcr-test.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 08e695e4-19cd-97ea-b61b-b906365e3e71
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4969'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
