interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/casbMalwareRules/all
  response:
    body:
      string: '[{"type":"OFLCASB_AVP_REPO","id":1128701,"order":1,"name":"Rule1","cloudAppTenants":[{"id":11743520,"name":"Bitbucket1"}],"cloudApplicationTenant":[{"tenantId":11743520,"enterpriseTenantId":"REDACTED","zscalerAppTenantId":{"id":77662,"name":"bSGALZ5H5n8fC7xgTA"},"encryptedTenantIdentityInfo":"AchFIZfzdWIC17OzWn6hYpigd4SBjlBP+pCJPmesYkxZyapnhdXnlTKsZlqdQc5E8/1bUUqJe85oyz1chkDPBMIAZGNlJ98UsHP9/wxgBSXNkW8HAtPUk6wYle8mwu0w9w==","tenantName":"Bitbucket1","saasApplication":"BITBUCKET","status":["CASB_TENANT_ACTIVE","CASB_TENANT_VALIDATION_SUCCESS"],"modifiedTime":0,"lastTenantValidationTime":1678837181,"tenantDeleted":false,"tenantWebhookEnabled":false,"reAuth":false,"featuresSupported":["CASB","SSPM"]}],"state":"ENABLED","action":"OFLCASB_AVP_REPORT_MALWARE","lastModifiedTime":1757544290,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"accessControl":"READ_WRITE","labels":[{"id":1503197,"name":"NewLabel_1864"}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 02e72a84-83bc-96dd-81f5-b36d901b1a98
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '8'
      x-transaction-id:
      - be5f3a6b-8107-469a-b89c-f19a2b174fa5
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/casbMalwareRules?ruleType=OFLCASB_AVP_REPO
  response:
    body:
      string: '{"message":"Rate Limit (1/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 315db4ba-6137-94a9-a411-e387106c7ebd
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - be5f3a6b-8107-469a-b89c-f19a2b174fa5
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{"name": "tests-vcr0001", "type": "OFLCASB_AVP_REPO", "order": 1, "action":
      "OFLCASB_AVP_REPORT_MALWARE", "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/casbMalwareRules
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"Cloud App Tenant must be
        specified"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 897295f7-8755-9a04-91f6-69bad15ecbf1
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '4'
      x-transaction-id:
      - be5f3a6b-8107-469a-b89c-f19a2b174fa5
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/casbMalwareRules?ruleType=OFLCASB_AVP_FILE
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 6dc1aee7-852c-9832-b0d5-1415201e8add
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - ec70062b-c06c-4310-a397-3aaa3815aa6d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/casbMalwareRules?ruleType=OFLCASB_AVP_EMAIL
  response:
    body:
      string: '{"message":"Rate Limit (1/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - c03949bc-2832-9f06-a382-129908e37c3a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - ec70062b-c06c-4310-a397-3aaa3815aa6d
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/casbMalwareRules/1128701?ruleType=OFLCASB_AVP_REPO
  response:
    body:
      string: '{"type":"OFLCASB_AVP_REPO","id":1128701,"order":1,"name":"Rule1","cloudAppTenants":[{"id":11743520,"name":"Bitbucket1"}],"state":"ENABLED","action":"OFLCASB_AVP_REPORT_MALWARE","lastModifiedTime":1757544290,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"accessControl":"READ_WRITE","labels":[{"id":1503197,"name":"NewLabel_1864"}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fac44c71-bde4-9345-9e67-b61a1db775fc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - ec70062b-c06c-4310-a397-3aaa3815aa6d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
