interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/iotDiscovery/deviceTypes
  response:
    body:
      string: '{"code":"RBA_LIMITED","message":"Functional scope restriction requires
        Reports"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 331aebe0-b12d-95f3-9662-e94725e9cadb
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/iotDiscovery/categories
  response:
    body:
      string: '{"code":"RBA_LIMITED","message":"Functional scope restriction requires
        Reports"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 6a0d5fb9-c9cd-9204-9c11-139bfddf891d
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - 32e5eb9d-8b47-4a8f-af72-83c82c7325eb
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/iotDiscovery/classifications
  response:
    body:
      string: '{"code":"RBA_LIMITED","message":"Functional scope restriction requires
        Reports"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 4d5f96b6-86ef-9ae4-aade-79a94500cd43
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 32e5eb9d-8b47-4a8f-af72-83c82c7325eb
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/iotDiscovery/deviceList
  response:
    body:
      string: '{"code":"RBA_LIMITED","message":"Functional scope restriction requires
        Reports"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 82532a3c-98c3-9c16-aff1-8ad6e8731a56
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 32e5eb9d-8b47-4a8f-af72-83c82c7325eb
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
version: 1
