interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlCategories
  response:
    body:
      string: '[{"id":"OTHER_ADULT_MATERIAL","superCategory":"ADULT_MATERIAL","keywords":[],"keywordsRetainingParentCategory":["test"],"urls":[],"dbCategorizedUrls":["test1.acme.com","test2.acme.com"],"ipRanges":["10.0.1.0/24"],"ipRangesRetainingParentCategory":["10.0.0.0/24"],"customCategory":false,"editable":true,"type":"URL_CATEGORY","val":1,"customUrlsCount":0,"urlsRetainingParentCategoryCount":2,"customIpRangesCount":1,"ipRangesRetainingParentCategoryCount":1,"categoryGroup":"REGULAR","urlType":"EXACT"},{"id":"ADULT_THEMES","superCategory":"ADULT_MATERIAL","urls":[],"dbCategorizedUrls":[],"customCategory":false,"editable":true,"type":"URL_CATEGORY","val":2,"customUrlsCount":0,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0,"categoryGroup":"REGULAR","urlType":"EXACT"},{"id":"LINGERIE_BIKINI","superCategory":"ADULT_MATERIAL","urls":[],"dbCategorizedUrls":[],"customCategory":false,"editable":true,"type":"URL_CATEGORY","val":3,"customUr[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlCategories?customOnly=True
  response:
    body:
      string: '[{"id":"CUSTOM_03","configuredName":"Allow House Apps","superCategory":"USER_DEFINED","keywords":["minecraft"],"keywordsRetainingParentCategory":[],"urls":[".minecraft.net"],"dbCategorizedUrls":[],"customCategory":true,"editable":true,"description":"Allow
        House Apps","type":"URL_CATEGORY","val":130,"customUrlsCount":1,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0,"categoryGroup":"REGULAR","urlType":"EXACT"},{"id":"CUSTOM_04","configuredName":"Test
        URL Category 1765220757","superCategory":"USER_DEFINED","keywords":["minecraft"],"keywordsRetainingParentCategory":[],"urls":[".minecraft.net"],"dbCategorizedUrls":[],"customCategory":true,"editable":true,"description":"Test
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlCategories/urlQuota
  response:
    body:
      string: '{"uniqueUrlsProvisioned":2988,"remainingUrlsQuota":22012}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss; detail=shadow-mode
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2e8e6797-0bad-9cc5-b9d0-de82084739f9
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '["google.com"]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/urlLookup
  response:
    body:
      string: '[{"url":"google.com","urlClassifications":["WEB_SEARCH"],"urlClassificationsWithSecurityAlert":[]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a9a20a6b-4389-9c5b-9016-9111ccda8312
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlCategories/CUSTOM_36
  response:
    body:
      string: '{"id":"CUSTOM_36","configuredName":"TestCategory_VCR","superCategory":"USER_DEFINED","urls":["test-vcr-url1.example.com","test-vcr-url2.example.com"],"dbCategorizedUrls":[],"customCategory":true,"editable":true,"description":"Test
        URL category for VCR testing","type":"URL_CATEGORY","val":163,"customUrlsCount":2,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0,"categoryGroup":"REGULAR","urlType":"EXACT"}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a2590362-f4ed-9c06-9c1d-c5f7a3760677
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"configuredName": "TestCategory_VCR", "urls": ["test-vcr-url4.example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/urlCategories/CUSTOM_36?action=ADD_TO_LIST
  response:
    body:
      string: '{"id":"CUSTOM_36","configuredName":"TestCategory_VCR","urls":["test-vcr-url1.example.com","test-vcr-url2.example.com","test-vcr-url4.example.com","test-vcr-url3.example.com"],"dbCategorizedUrls":[],"customCategory":true,"editable":true,"description":"Updated
        test URL category","type":"URL_CATEGORY","val":163,"customUrlsCount":4,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0,"categoryGroup":"REGULAR","urlType":"EXACT"}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - af4fba89-e283-9136-9f9d-3543c188408e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"configuredName": "TestCategory_VCR", "urls": ["test-vcr-url4.example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/urlCategories/CUSTOM_36?action=REMOVE_FROM_LIST
  response:
    body:
      string: '{"id":"CUSTOM_36","configuredName":"TestCategory_VCR","urls":["test-vcr-url1.example.com","test-vcr-url2.example.com","test-vcr-url3.example.com"],"dbCategorizedUrls":[],"customCategory":true,"editable":true,"description":"Updated
        test URL category","type":"URL_CATEGORY","val":163,"customUrlsCount":3,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0,"categoryGroup":"REGULAR","urlType":"EXACT"}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b9d149af-a0b9-90bc-b50e-779f1016b84b
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '["example.com"]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/urlCategories/review/domains
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5f97eae8-3ba9-90ae-903b-6b013c517027
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '56'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/urlCategories/CUSTOM_36
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1fa716e3-2a92-98e0-8660-0215a946f435
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
