interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/tenancyRestrictionProfile
  response:
    body:
      string: '[{"id":12130430,"name":"zscaler_demo01","appType":"DROPBOX","itemTypePrimary":"TENANT_RESTRICTION_TEAM_ID","itemDataPrimary":["dbmid:AACziDn9tHAGQ0lVpDpzUi9Li-glV96qVas"],"restrictPersonalO365Domains":false,"allowGoogleConsumers":false,"msLoginServicesTrV2":false,"allowGoogleVisitors":false,"allowGcpCloudStorageRead":false},{"id":22733534,"name":"YouTubeTenant01","appType":"YOUTUBE","description":"test","itemTypePrimary":"TENANT_RESTRICTION_CATEGORY_ID","itemValue":["TENANT_RESTRICTION_ANIME_OR_ANIMATION","TENANT_RESTRICTION_ACTION_OR_ADVENTURE"],"restrictPersonalO365Domains":false,"allowGoogleConsumers":false,"msLoginServicesTrV2":false,"allowGoogleVisitors":false,"allowGcpCloudStorageRead":false},{"id":23742257,"name":"SGIO-MSFT-CA","appType":"MSLOGINSERVICES","description":"SGIO-MSFT-CA","itemTypePrimary":"TENANT_RESTRICTION_TENANT_DIRECTORY","itemDataPrimary":["76b66e9c-201a-49dc-bb7e-e9d77604a4c2"],"itemTypeSecondary":"TENANT_RESTRICTION_TENANT_NAME","itemDataSecondary":["securitygeek.ca","securitygeek.dev"],"restrictPersonalO365Domains":true,"allowGoogleConsumers":false,"msLoginServicesTrV2":false,"allowGoogleVisitors":false,"allowGcpCloudStorageRead":false},{"id":23745108,"name":"SGIO-MSFT-CA_v2","appType":"MSLOGINSERVICES","description":"SGIO-MSFT-CA","itemTypePrimary":"TENANT_RESTRICTION_TENANT_POLICY_ID","itemDataPrimary":["76b66e9c-201a-49dc-bb7e-e9d77604a4c2:quadsj"],"restrictPersonalO365Domains":false,"allowGoogleConsumers":false,"msLoginServicesTrV2":t[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/tenancyRestrictionProfile/12130430
  response:
    body:
      string: '{"id":12130430,"name":"zscaler_demo01","appType":"DROPBOX","itemTypePrimary":"TENANT_RESTRICTION_TEAM_ID","itemDataPrimary":["dbmid:AACziDn9tHAGQ0lVpDpzUi9Li-glV96qVas"],"restrictPersonalO365Domains":false,"allowGoogleConsumers":false,"msLoginServicesTrV2":false,"allowGoogleVisitors":false,"allowGcpCloudStorageRead":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 35ad6f49-c5c3-92d7-b415-ec9293a889f7
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestRestrictionProfile_VCR", "description": "Test restriction
      profile for VCR", "restrictionType": "ALLOW"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/tenancyRestrictionProfile
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 3c4cc5c8-0442-9888-9940-797b0495d9a4
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 0f5d63ae-9b19-4d82-931b-d55d0f77ff91
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
