interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/webApplicationRules/ruleTypeMapping
  response:
    body:
      string: '{"Webmail":"WEBMAIL","Social Networking":"SOCIAL_NETWORKING","Finance":"FINANCE","Legal":"LEGAL","AI
        & ML Applications":"AI_ML","Human Resources":"HUMAN_RESOURCES","DNS Over HTTPS
        Services":"DNS_OVER_HTTPS","System & Development":"SYSTEM_AND_DEVELOPMENT","Instant
        Messaging":"INSTANT_MESSAGING","Video Streaming":"STREAMING_MEDIA","Health
        Care":"HEALTH_CARE","File Sharing":"FILE_SHARE","Consumer":"CONSUMER","Hosting
        Providers":"HOSTING_PROVIDER","Collaboration and Online Meetings":"ENTERPRISE_COLLABORATION","Custom
        Applications":"CUSTOM_CAPP","Sales & Marketing":"SALES_AND_MARKETING","IT
        Services":"IT_SERVICES","Productivity and CRM Tools":"BUSINESS_PRODUCTIVITY"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 62d1cc8c-35c5-9b03-8fe4-c59a1f61ea76
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 5508ba3c-37fb-4b29-b973-280af2af5bd7
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/webApplicationRules/STREAMING_MEDIA
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - ba3ee3e6-f995-92e2-9e12-9d2ee78442ec
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 5508ba3c-37fb-4b29-b973-280af2af5bd7
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
