interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "Integration test Cloud Application
      Rule", "order": 1, "rank": 7, "actions": ["ALLOW_WEBMAIL_VIEW", "ALLOW_WEBMAIL_ATTACHMENT_SEND",
      "ALLOW_WEBMAIL_SEND"], "applications": ["GOOGLE_WEBMAIL", "YAHOO_WEBMAIL"],
      "deviceTrustLevels": ["UNKNOWN_DEVICETRUSTLEVEL", "LOW_TRUST", "MEDIUM_TRUST",
      "HIGH_TRUST"], "userAgentTypes": ["OPERA", "FIREFOX", "MSIE", "MSEDGE", "CHROME",
      "SAFARI", "MSCHREDGE"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/webApplicationRules/WEBMAIL
  response:
    body:
      string: '{"id":1571780,"type":"WEBMAIL","order":1,"description":"Integration
        test Cloud Application Rule","applications":["GOOGLE_WEBMAIL","YAHOO_WEBMAIL"],"actions":["ALLOW_WEBMAIL_VIEW","ALLOW_WEBMAIL_ATTACHMENT_SEND","ALLOW_WEBMAIL_SEND"],"state":"ENABLED","rank":7,"enforceTimeValidity":false,"userAgentTypes":["OPERA","FIREFOX","MSIE","MSEDGE","CHROME","SAFARI","MSCHREDGE"],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"name":"tests-vcr0001","cascadingEnabled":false,"eunEnabled":false,"predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 846d9a45-79e0-9ce3-9450-6ba7a9ce2dfa
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/webApplicationRules/WEBMAIL/duplicate/1571780
  response:
    body:
      string: '{"message":"Rule Name is mandatory"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e3a2e8ca-2702-9a51-97c2-8ab176dacdda
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/webApplicationRules/WEBMAIL/1571780
  response:
    body:
      string: '{"id":1571780,"type":"WEBMAIL","order":1,"description":"Integration
        test Cloud Application Rule","applications":["GOOGLE_WEBMAIL","YAHOO_WEBMAIL"],"actions":["ALLOW_WEBMAIL_VIEW","ALLOW_WEBMAIL_ATTACHMENT_SEND","ALLOW_WEBMAIL_SEND"],"state":"ENABLED","rank":7,"lastModifiedTime":1764200867,"lastModifiedBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"enforceTimeValidity":false,"userAgentTypes":["OPERA","FIREFOX","MSIE","MSEDGE","CHROME","SAFARI","MSCHREDGE"],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"accessControl":"READ_WRITE","name":"tests-vcr0001","cascadingEnabled":false,"eunEnabled":false,"eunTemplateId":0,"browserEunTemplateId":0,"predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9ad33ed3-9948-9cf0-9902-99f5e9a7934d
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4977'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"cloudApps": ["DROPBOX"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/webApplicationRules/STREAMING_MEDIA/availableActions
  response:
    body:
      string: '["ALLOW_FILE_SHARE_CREATE","ALLOW_FILE_SHARE_DELETE","ALLOW_FILE_SHARE_DOWNLOAD","ALLOW_FILE_SHARE_EDIT","ALLOW_FILE_SHARE_INVITE","ALLOW_FILE_SHARE_RENAME","ALLOW_FILE_SHARE_SHARE","DENY_FILE_SHARE_CREATE","DENY_FILE_SHARE_DELETE","DENY_FILE_SHARE_DOWNLOAD","DENY_FILE_SHARE_EDIT","DENY_FILE_SHARE_INVITE","DENY_FILE_SHARE_RENAME","DENY_FILE_SHARE_SHARE","FILE_SHARE_CONDITIONAL_ACCESS"]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8c669549-ed86-9b88-85b6-926f66e4367d
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4973'
      x-ratelimit-reset:
      - '5'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
