interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/vpnCredentials
  response:
    body:
      string: '[{"id":23712561,"type":"IP","ipAddress":"96.53.93.170","location":{"id":23712563,"name":"Vancouver01"}}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 892da243-1f86-9b36-ad6b-f7f4ecde2670
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - 689f9123-efcf-4103-871c-99c8f09deb61
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/vpnCredentials?type=UFQDN
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - cb76c950-9921-9a6a-a338-2a75771885c0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - 689f9123-efcf-4103-871c-99c8f09deb61
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/vpnCredentials?page=1&pageSize=10
  response:
    body:
      string: '{"message":"Rate Limit (2/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a2336079-3924-982a-a260-e85ecbaefead
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - 689f9123-efcf-4103-871c-99c8f09deb61
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/vpnCredentials/23712561
  response:
    body:
      string: '{"id":23712561,"type":"IP","ipAddress":"96.53.93.170","location":{"id":23712563,"name":"Vancouver01"}}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 366d20c8-04dc-99d9-a89a-54f1f90be1fc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - 689f9123-efcf-4103-871c-99c8f09deb61
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
