interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplicationInstances
  response:
    body:
      string: '[{"instanceId":1446453,"instanceType":"SLACK","instanceName":"Slack_Instance","modifiedBy":{"id":19474996,"name":"REDACTED"},"modifiedAt":1750376429,"instanceIdentifiers":[{"instanceId":1446453,"instanceIdentifier":"securitygeekio.slack.com","instanceIdentifierName":"securitygeekio","identifierType":"URL","modifiedAt":1750376429,"modifiedBy":{"id":19474996,"name":"REDACTED"}}]},{"instanceId":1442739,"instanceType":"SHAREPOINTONLINE","instanceName":"SharePointOnline","modifiedBy":{"id":19475409,"name":"REDACTED"},"modifiedAt":1750230684,"instanceIdentifiers":[{"instanceId":1442739,"instanceIdentifier":"securitygeekio.sharepoint.com","instanceIdentifierName":"securitygeekio","identifierType":"URL","modifiedAt":1750230684,"modifiedBy":{"id":19475409,"name":"REDACTED"}},{"instanceId":1442739,"instanceIdentifier":"securitygeekio1.sharepoint.com","instanceIdentifierName":"securitygeekio1","identifierType":"URL","modifiedAt":1750230684,"modifiedBy":{"id":19475409,"name":"REDACTED"}},{"instanceId":1442739,"instanceIdentifier":"securitygeekio2.sharepoint.com","instanceIdentifierName":"securitygeekio2","identifierType":"URL","modifiedAt":1750230684,"modifiedBy":{"id":19475409,"name":"REDACTED"}}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 95cd46b9-6574-9041-a0a6-98c30d084de0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - be5f3a6b-8107-469a-b89c-f19a2b174fa5
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplicationInstances?instanceType=SHAREPOINTONLINE
  response:
    body:
      string: '[{"instanceId":1442739,"instanceType":"SHAREPOINTONLINE","instanceName":"SharePointOnline","modifiedBy":{"id":19475409,"name":"REDACTED"},"modifiedAt":1750230684,"instanceIdentifiers":[{"instanceId":1442739,"instanceIdentifier":"securitygeekio.sharepoint.com",[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplicationInstances?instanceType=ONEDRIVE
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 24db0933-cbb6-9df8-8c75-987311163c88
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - ec70062b-c06c-4310-a397-3aaa3815aa6d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplicationInstances?page=1&pageSize=10
  response:
    body:
      string: '[{"instanceId":1446453,"instanceType":"SLACK","instanceName":"Slack_Instance","modifiedBy":{"id":19474996,"name":"REDACTED"},"modifiedAt":1750376429,"instanceIdentifiers":[{"instanceId":1446453,"instanceIdentifier":"securitygeekio.slack.com","instanceIdentifierName":"sec[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplicationInstances/1446453
  response:
    body:
      string: '{"instanceId":1446453,"instanceType":"SLACK","instanceName":"Slack_Instance","modifiedBy":{"id":19474996,"name":"REDACTED"},"modifiedAt":1750376429,"instanceIdentifiers":[{"instanceId":1446453,"instanceIdentifier":"securitygeekio.slack.com","instanceIdentifierName":"securitygeekio","identifierType":"URL","modifiedAt":1750376429,"modifiedBy":{"id":19474996,"name":"REDACTED"}}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 8132ede9-b4d2-9403-8fd3-d06ac7717b94
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - ec70062b-c06c-4310-a397-3aaa3815aa6d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
