interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/deviceGroups
  response:
    body:
      string: '[{"id":8935345,"name":"IOS","groupType":"ZCC_OS","description":"IOS
        predefined group","osType":"IOS","predefined":true},{"id":8935346,"name":"Android","groupType":"ZCC_OS","description":"Android
        predefined group","osType":"Android","predefined":true},{"id":8935347,"name":"Windows","groupType":"ZCC_OS","description":"Windows
        predefined group","osType":"Windows","predefined":true},{"id":8935348,"name":"Mac","groupType":"ZCC_OS","description":"Mac
        predefined group","osType":"Mac","predefined":true},{"id":8935349,"name":"Linux","groupType":"ZCC_OS","description":"Linux
        predefined group","osType":"Linux","predefined":true},{"id":8940436,"name":"No
        Client Connector","groupType":"NON_ZCC","description":"No Client Connector
        predefined group","predefined":true},{"id":11228993,"name":"Cloud Browser
        Isolation","groupType":"CBI","description":"CBI predefined group","predefined":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 408a7135-12d6-998f-a5fb-8b94aa1a10f4
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - e5e5a14b-e5f3-42a4-9ff4-1a8caa264d60
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/deviceGroups/devices
  response:
    body:
      string: '[{"id":18453126,"name":"Script entry","deviceGroupType":"ZCC_OS","deviceModel":"iPhone","osType":"IOS","osVersion":"Windows
        1.0","description":"Script comment","ownerUserId":12008034,"ownerName":"Cynthia
        Calder"},{"id":18463369,"name":"Script entry","deviceGroupType":"ZCC_OS","deviceModel":"iPhone","osType":"IOS","osVersion":"Windows
        1.0","description":"Script comment","ownerUserId":12008034,"ownerName":"Cynthia
        Calder"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - c3e02299-05b5-9816-a3ea-a885d60081cb
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - e5e5a14b-e5f3-42a4-9ff4-1a8caa264d60
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/deviceGroups/devices/lite
  response:
    body:
      string: '[{"id":18453126,"name":"Script entry (Cynthia Calder)","deviceGroupType":"ZCC_OS","ownerUserId":12008034},{"id":18463369,"name":"Script
        entry (Cynthia Calder)","deviceGroupType":"ZCC_OS","ownerUserId":12008034}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 390a23d5-3928-9b15-bf4d-b5f2871664d3
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - e5e5a14b-e5f3-42a4-9ff4-1a8caa264d60
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
