interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipv6config
  response:
    body:
      string: '{"ipV6Enabled":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d48394a1-f815-9de3-81b7-063bd8360ce2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipv6config/dns64prefix
  response:
    body:
      string: '[{"id":1323092,"name":"NAT64Prefix01","description":"NAT64Prefix01","prefixMask":"2001:db8:122:300::/56","dnsPrefix":true,"nonEditable":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e30a9b8f-b6ea-964f-8f55-15502e1a1c91
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipv6config/nat64prefix
  response:
    body:
      string: '[{"id":1323092,"name":"NAT64Prefix01","description":"NAT64Prefix01","prefixMask":"2001:db8:122:300::/56","dnsPrefix":true,"nonEditable":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7ae6e701-dc6f-9ca6-be52-1ed0fc8f7c4f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
