interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/orgInformation
  response:
    body:
      string: '{"orgId":8061240,"name":"William Guilherme - Internal","hqLocation":"United
        States","domains":["securitygeek.io","securitygeekio.ca","securitygeekio.zsloginbeta.net"],"geoLocation":"NORTH_AMERICA","industryVertical":"SERVICES","addrLine1":"Your
        company HQ location address","city":"City","state":"State","zipcode":"100100","country":"UNITED_STATES","employeeCount":"RANGE_1_2000","language":"EN","timezone":"GMT","alertTimer":"MINUTES_30","pdomain":"8061240.zscalerbeta.net","internalCompany":false,"primaryBusinessContactName":"William
        Guilherme","primaryBusinessContactEmail":"REDACTED","legacyInsightsReportWasEnabled":false,"cloudName":"zscalerbeta.net","externalEmailPortal":false,"zpaTenantId":72058304855015424,"zpaTenantCloud":"ZPABETA_NET","customerContactInherit":false}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a63bf75a-cd21-9d93-9060-b947f3cf43b7
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/orgInformation/lite
  response:
    body:
      string: '{"orgId":8061240,"name":"William Guilherme - Internal","cloudName":"zscalerbeta.net","domains":["securitygeek.io","securitygeekio.ca","securitygeekio.zsloginbeta.net"],"language":"EN","timezone":"GMT","orgDisabled":false}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 75cc4ced-5877-90c7-b1d3-0c495c76f3f3
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/subscriptions
  response:
    body:
      string: '[{"id":"AV_AS","status":"TRIAL","licenses":100,"startDate":1619506800,"strStartDate":"04/27/2021","strEndDate":"04/24/2026","endDate":1777100399,"sku":"Anti
        Virus and Anti Spam","updatedAtTimestamp":1763597239,"subscribed":true},{"id":"ZIA_ATP","status":"TRIAL","licenses":100,"startDate":1619506800,"strStartDate":"04/27/2021","strEndDate":"04/24/2026","endDate":1777100399,"sku":"Advanced
        Threat Protection","updatedAtTimestamp":1763597239,"subscribed":true},{"id":"URL_FILTER","status":"TRIAL","licenses":100,"startDate":1619506800,"strStartDate":"04/27/2021","strEndDate":"04/24/2026","endDate":1777100399,"sku":"URL
        Filter","updatedAtTimestamp":1763597239,"subscribed":true},{"id":"ZMAN_WEB_2_0","statu[...]
