interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/sslInspectionRules
  response:
    body:
      string: '[{"id":186637,"accessControl":"READ_WRITE","name":"Zscaler Recommended
        Exemptions","order":4,"rank":7,"roadWarriorForKerberos":false,"urlCategories":["GLOBAL_INT_GBL_SSL_BYPASS"],"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":true,"ocspCheck":false,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","description":"Zscaler
        Recommended Exemptions Rule created during the company creation","lastModifiedTime":1760069005,"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"predefined":true,"defaultRule":false},{"id":186638,"accessControl":"READ_WRITE","name":"Office
        365 One Click","order":5,"rank":7,"roadWarriorForKerberos":false,"urlCategories":["GLOBAL_INT_OFC_SSL_BYPASS"],"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":true,"ocspCheck":false,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","lastModifiedTime":1760069005,"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"predefined":true,"defaultRule":false},{"id":186639,"accessControl":"READ_WRITE","name":"Default
        SSL_TLS Inspection Rule","order":-1,"rank":7,"roadWarriorForKerberos":false,"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":false,"serverCertificates":"ALLOW","ocspCheck":false,"minTLSVersion":"SERVER_TLS_1_0","blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","description":"Default
        SSL_TLS Inspection Rule created during the company creation","lastModifiedTime":1619562599,"predefined":false,"defaultRule":true},{"id":331318,"accessControl":"READ_WRITE","name":"Office365
        Inspection","order":3,"rank":7,"roadWarriorForKerberos":false,"urlCategories":["GLOBAL_INT_OFC365_OPTIMIZE","GLOBAL_INT_OFC365_ALLOW","GLOBAL_INT_OFC365_DEFAULT"],"cloudApplications":["SHAREPOINTONLINE","ONEDRIVE"],"action":{"type":"DECRYPT","decryptSubActions":{"serverCertificates":"BLOCK","ocspCheck":true,"minClientTLSVersion":"CLIENT_TLS_1_0","minServerTLSVersion":"SERVER_TLS_1_0","blockUndecrypt":false,"http2Enabled":true,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","lastModifiedTime":1760069005,"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"predefined":false,"defaultRule":false},{"id":331320,"accessControl":"READ_WRITE","name":"Inspect
        Remote Users","order":2,"rank":7,"locations":[{"id":23712563,"name":"Vancouver01"}],"roadWarriorForKerberos":false,"action":{"type":"DECRYPT","decryptSubActions":{"serverCertificates":"BLOCK","ocspCheck":true,"minClientTLSVersion":"CLIENT_TLS_1_0","minServerTLSVersion":"SERVER_TLS_1_0","blockUndecrypt":false,"http2Enabled":true,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","description":"(Auto-generated)
        Inspect remote user traffic.","lastModifiedTi[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/sslInspectionRules/186637
  response:
    body:
      string: '{"id":186637,"accessControl":"READ_WRITE","name":"Zscaler Recommended
        Exemptions","order":4,"rank":7,"roadWarriorForKerberos":false,"urlCategories":["GLOBAL_INT_GBL_SSL_BYPASS"],"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":true,"ocspCheck":false,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","description":"Zscaler
        Recommended Exemptions Rule created during the company creation","lastModifiedTime":1760069005,"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"predefined":true,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e7ea9021-ef03-962c-9a25-2adf30648a21
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestSSLRule_VCR", "description": "Test SSL inspection rule for
      VCR", "order": 1, "rank": 7, "action": "INSPECT", "roadWarriorForKerberos":
      false, "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/sslInspectionRules
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a12de62c-3caf-91ad-a128-df14fdb047c8
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 7cda419a-3d0c-4805-ab19-3ba408eefb05
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
