interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/users
  response:
    body:
      string: '[{"id":165214882,"name":"20260209142140_created","email":"REDACTED","groups":[{"id":24326814,"name":"Service
        Admin"}],"department":{"id":24326815,"name":"Service Admin"},"adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":165215336,"name":"20260209143211_created","email":"REDACTED","groups":[{"id":24326814,"name":"Service
        Admin"}],"department":{"id":24326815,"name":"Service Admin"},"comments":"20260209143211_updated","adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":165215387,"name":"20260209143342_created","email":"REDACTED","groups":[{"id":24326814,"name":"Service
        Admin"}],"department":{"id":24326815,"name":"Service Admin"},"comments":"20260209143342_updated","adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":165215551,"name":"20260209143657_created","email":"REDACTED"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/users?search=admin
  response:
    body:
      string: '{"message":"Rate Limit (1/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bb79998c-456e-9a0b-8085-95d44102754e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/users/references
  response:
    body:
      string: '[{"id":165214882,"name":"REDACTED"},{"id":165215336,"name":"REDACTED"},{"id":165215387,"name":"REDACTED"},{"id":165215551,"name":"REDACTED"},{"id":165218309,"name":"REDACTED"},{"id":165218439,"name":"REDACTED"},{"id":166908682,"name":"REDACTED"},{"id":167681139,"name":"REDACTED"},{"id":117781255[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/users/references?page=1&pageSize=10
  response:
    body:
      string: '[{"id":165214882,"name":"REDACTED"},{"id":165215336,"name":"REDACTED"},{"id":165215387,"name":"REDACTED"},{"id":165215551,"name":"REDACTED"},{"id":165218309,"name":"REDACTED"},{"id":165218439,"name":"REDACTED"},{"id":166908682,"name":"REDACTED"},{"id":167681139,"name":"REDACTED"},{"id":117781255,"name":"REDACTED"},{"id":123234156,"name":"REDACTED"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f6299911-fa43-96cc-862f-a408d3701d89
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/users/165214882
  response:
    body:
      string: '{"id":165214882,"name":"kiUDkh50JxDI7zyijrXwUB44JkIvK+nQeGDbhxHJmfo=","email":"REDACTED","groups":[{"id":24326814,"name":"Service
        Admin"}],"department":{"id":24326815,"name":"Service Admin"},"adminUser":true,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 592fd093-c13c-98a2-95fe-17acfcfe411f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/users/auditors
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 181fd787-7cc5-9e97-bdd8-503d224ece1d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/groups
  response:
    body:
      string: '[{"id":165437858,"name":"20260211140950_created","comments":"haisxss4239308"},{"id":165437991,"name":"20260211141030_created","comments":"20260211141030_updated"},{"id":165438137,"name":"20260211141307_created","comments":"20260211141307_updated"},{"id":165438187,"name":"20260211141341_created","comments"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/groups?search=Default
  response:
    body:
      string: '{"message":"Rate Limit (1/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 366eaf2c-9bff-979c-8f8a-522ee4e0a8b7
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/groups/165437858
  response:
    body:
      string: '{"id":165437858,"name":"20260211140950_created","comments":"haisxss4239308"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1c1c3074-4aaf-9aaf-89ee-edefef682712
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '37'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/groups/lite
  response:
    body:
      string: '[{"id":165437858,"name":"20260211140950_created","comments":"haisxss4239308"},{"id":165437991,"name":"20260211141030_created","comments":"20260211141030_updated"},{"id":165438137,"name":"20260211141307_created","comments":"20260211141307_updated"},{"id":165438187,"name":"20260211141341_created","comm[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/departments
  response:
    body:
      string: '[{"id":68759308,"name":"A000_test_1761418096949-test-1761429754606-test-1761429914836","comments":"vilis_bgYOBk63"},{"id":68759309,"name":"A001","comments":"A001"},{"id":68759310,"name":"A002","comments":"A002"},{"id":68759311,"name":"A003","comments":"A003"},{"id":68759312,"name":"A004","comments":"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/departments?search=Default
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d60eb584-d022-9b57-b1d2-628eef4a07e7
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/departments/68759308
  response:
    body:
      string: '{"id":68759308,"name":"A000_test_1761418096949-test-1761429754606-test-1761429914836","comments":"vilis_bgYOBk63"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e3e70b58-4d0e-971f-98b1-23bf1b808464
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/departments/lite/68759308
  response:
    body:
      string: '{"id":68759308,"name":"A000_test_1761418096949-test-1761429754606-test-1761429914836"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - def9fa54-f327-9383-a122-dd86cce5b959
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/departments/168108701
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 87745850-a085-9b6c-ba5f-d301bbfc9f56
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
