interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/timeIntervals
  response:
    body:
      string: '[{"id":483,"name":"Work Hours","startTime":540,"endTime":1080,"daysOfWeek":["MON","TUE","WED","THU","FRI","SAT"]},{"id":484,"name":"Weekends","startTime":0,"endTime":1439,"daysOfWeek":["SUN","MON","TUE","WED","THU","FRI","SAT"]},{"id":485,"name":"Off
        Hours","startTime":0,"endTime":420,"daysOfWeek":["SUN","MON","TUE","WED","THU","FRI","SAT"]}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 1727e76b-bac9-98f1-b43b-be731164a203
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - e5e5a14b-e5f3-42a4-9ff4-1a8caa264d60
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/timeIntervals/483
  response:
    body:
      string: '{"id":483,"name":"Work Hours","startTime":540,"endTime":1080,"daysOfWeek":["MON","TUE","WED","THU","FRI","SAT"]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - c4607e4c-06ef-9107-88f5-00ea1c7ba46d
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - e5e5a14b-e5f3-42a4-9ff4-1a8caa264d60
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.beta.zsapi.net/zia/api/v1/timeIntervals/51862
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fc9be83a-bb59-9e67-b484-520d3ea17dc8
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - e83b5cf0-8615-46bf-bcdc-9038e0597b42
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
