interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/networkServices?search=ICMP_ANY
  response:
    body:
      string: '[{"id":773995,"name":"ICMP_ANY","tag":"ICMP_ANY","type":"STANDARD","description":"ICMP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b989f3fa-b606-93e2-b274-ee7c6833cf74
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/networkServices?search=UDP_ANY
  response:
    body:
      string: '[{"id":773997,"name":"UDP_ANY","tag":"UDP_ANY","srcUdpPorts":[],"destUdpPorts":[],"type":"STANDARD","description":"UDP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0d6b5624-bd80-9f0c-9050-080592958673
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/networkServices?search=TCP_ANY
  response:
    body:
      string: '[{"id":773999,"name":"TCP_ANY","tag":"TCP_ANY","srcTcpPorts":[],"destTcpPorts":[],"type":"STANDARD","description":"TCP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cb3e1100-6c03-9d61-9684-f20f7ef7493d
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/networkServices?search=DNS
  response:
    body:
      string: '[{"id":774003,"name":"DNS","tag":"DNS","srcTcpPorts":[],"destTcpPorts":[{"start":53}],"srcUdpPorts":[],"destUdpPorts":[{"start":53}],"type":"PREDEFINED","description":"DNS_DESC","creatorContext":"ZIA","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 89599c2c-6234-9f5e-91c3-856432029347
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '39'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "services": [{"id":
      773995}, {"id": 773997}, {"id": 773999}, {"id": 774003}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/networkServiceGroups
  response:
    body:
      string: '{"id":10177034,"name":"tests-vcr0001","services":[{"id":773995,"name":"ICMP_ANY","isNameL10nTag":true},{"id":773997,"name":"UDP_ANY","isNameL10nTag":true},{"id":773999,"name":"TCP_ANY","isNameL10nTag":true},{"id":774003,"name":"DNS","isNameL10nTag":true}],"description":"tests-vcr0002"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - dbc9c6ce-31b1-9d97-aa7c-d6174d824cf9
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/networkServiceGroups/10177034
  response:
    body:
      string: '{"id":10177034,"name":"tests-vcr0001","services":[{"id":773995,"name":"ICMP_ANY","isNameL10nTag":true},{"id":773997,"name":"UDP_ANY","isNameL10nTag":true},{"id":773999,"name":"TCP_ANY","isNameL10nTag":true},{"id":774003,"name":"DNS","isNameL10nTag":true}],"description":"tests-vcr0002","creatorContext":"ZIA"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7e121691-2075-9ba2-bc0b-63f8a29139ef
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '36'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/networkServiceGroups/10177034
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a6c616e4-1cd7-99cb-a040-b80ae1957e96
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
