interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/urlCategories/urlQuota
  response:
    body:
      string: '{"uniqueUrlsProvisioned":20,"remainingUrlsQuota":24980}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss; detail=shadow-mode
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 109989f4-184f-9949-9711-e57ad18562f9
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '39'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/urlCategories
  response:
    body:
      string: '[{"id":"OTHER_ADULT_MATERIAL","urls":[],"dbCategorizedUrls":[],"customCategory":false,"editable":true,"type":"URL_CATEGORY","val":1,"customUrlsCount":0,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0},{"id":"ADULT_THEMES","urls":[],"dbCategorizedUrls":[],"customCategory":false,"editable":true,"type":"URL_CATEGORY","val":2,"customUrlsCount":0,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0},{"id":"LINGERIE_BIKINI","urls":[],"dbCategorizedUrls":[],"customCategory":false,"editable":true,"type":"URL_CATEGORY","val":3,"customUrlsCount":0,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0},{"[...]
