interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "addresses":
      ["1.1.1.1", "8.8.8.8"], "type": "DSTN_IP"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"id":10226648,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["1.1.1.1","8.8.8.8"],"description":"tests-vcr0002","ipCategories":[],"countries":[]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fa323dc2-f1e6-9b2b-a382-d0f62cc27719
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups/10226648
  response:
    body:
      string: '{"id":10226648,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["8.8.8.8","1.1.1.1"],"description":"tests-vcr0002","creatorContext":"ZIA","ipCategories":[],"countries":[],"urlCategories":[],"ipAddresses":["8.8.8.8","1.1.1.1"]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - df5424cf-39cb-93b0-b781-9cbbd7c9db1b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups/10226648
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6191f13c-febc-9032-a3ca-a0a91f754153
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
