interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/locations/groups
  response:
    body:
      string: '[{"id":24326828,"name":"Corporate User Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["CORPORATE"]},"comments":"Default
        Location Group - Corporate User Traffic","lastModTime":1619561356,"predefined":true},{"id":24326829,"name":"Server
        Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["SERVER"]},"comments":"Default
        Location Group - Server Traffic","lastModTime":1619561356,"predefined":true},{"id":24326830,"name":"Guest
        Wifi Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["GUESTWIFI"]},"comments":"Default
        Location Group - Guest Wifi","lastModTime":1619561356,"predefined":true},{"id":24326831,"name":"IoT
        Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["IOT"]},"comments":"Default
        Location Group - IoT Traffic","lastModTime":1619561356,"predefined":true},{"id":59050241,"name":"Workload
        Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["WORKLOAD"]},"locations":[{"id":36788941,"name":"AWS-CAN-ca-central-1-vpc-096108eb5d9e68d71"},{"id":45772677,"name":"nostrud
        qui dolore"}],"locationsCount":12,"comments":"Default Location Group - Workload
        Traffic","lastModTime":1666399620,"predefined":true},{"id":66754704,"name":"SDWAN_CAN","groupType":"STATIC_GROUP","comments":"SDWAN_CAN","lastModUser":{"id":24328827,"name":"William
        Guilherme"},"lastModTime":1677799854},{"id":66754715,"name":"SDWAN_GLOBAL","groupType":"STATIC_GROUP","comments":"SDWAN_GLOBAL","lastModUser":{"id":24328827,"name":"William
        Guilherme"},"lastModTime":1677799863},{"id":66754722,"name":"SDWAN_USA","groupType":"STATIC_GROUP","comments":"SDWAN_USA","lastModUser":{"id":24328827,"name":"William
        Guilherme"},"lastModTime":1677799872},{"id":157892460,"name":"All Extranet
        Location Group","groupType":"DYNAMIC_GROUP","extranetLocationGroup":true,"dynamicLocationGroupCriteria":{"profiles":["EXTRANET"]},"comments":"Auto-created
        - All Extranet Locations","lastModUser":{"id":65544,"name":"DEFAULT ADMIN"},"lastModTime":1763256806,"predefined":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 37ad9e13-e389-9b5a-9767-4cd11199380a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/locations/groups/lite
  response:
    body:
      string: '[{"id":24326827,"name":"Unassigned Locations","dynamicLocationGroupCriteria":{"profiles":["NONE"]}},{"id":24326828,"name":"Corporate
        User Traffic Group","dynamicLocationGroupCriteria":{"profiles":["CORPORATE"]}},{"id":24326829,"name":"Server
        Traffic Group","dynamicLocationGr[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/locations/groups/count
  response:
    body:
      string: '9'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - dcaec069-2887-9349-b5fb-c02331bba051
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
