interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '[{"id":18858407,"name":"Group01","type":"DSTN_IP","addresses":["10.0.0.2"],"creatorContext":"ZIA","ipCategories":[],"countries":[],"urlCategories":[],"ipAddresses":["10.0.0.2"]},{"id":-4,"name":"All
        IPv4","type":"DSTN_IP","addresses":["0.0.0.0"],"description":"All IPv4 destination
        traffic pre-defined group","ipCategories":[],"countries":[],"isNonEditable":true,"urlCategories":[],"ipAddresses":["0.0.0.0"]}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e8fe5d9f-a6e9-9221-bc95-323f78256dd4
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipDestinationGroups/ipv6DestinationGroups
  response:
    body:
      string: '[{"id":-5,"name":"All IPv6","type":"DSTN_IP","addresses":["::"],"description":"All
        IPv6 destination traffic pre-defined group","ipCategories":[],"countries":[],"isNonEditable":true}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 0269cc20-1e8e-98cf-8ef3-d3f7480bc0f8
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"message":"Rate Limit (2/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss; detail=shadow-mode
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2b18bfd7-2fb1-972b-b1e8-5bd990e9286b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipDestinationGroups/18858407
  response:
    body:
      string: '{"id":18858407,"name":"Group01","type":"DSTN_IP","addresses":["10.0.0.2"],"creatorContext":"ZIA","ipCategories":[],"countries":[],"urlCategories":[],"ipAddresses":["10.0.0.2"]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5dac492f-5a56-9591-9ecb-6c7be6133131
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4977'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipSourceGroups
  response:
    body:
      string: '[{"id":17802406,"name":"orphan-resource-to-delete-stuck","ipAddresses":["192.168.1.1","192.168.1.3","192.168.1.2"],"description":"this
        resource is stuck and cannot be deleted.","creatorContext":"ZIA","isNonEditable":false},{"id":18858405,"name":"Group01","ipAddresses":["10.0.0.1"],"creatorContext":"ZIA","isNonEditable":false},{"id":-2,"name":"All
        IPv4","ipAddresses":["0.0.0.0"],"description":"All IPv4 source traffic pre-defined
        group","isNonEditable":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 0bebfda9-23fb-989a-ab48-30109d8438b2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4976'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipSourceGroups/lite
  response:
    body:
      string: '[{"id":17802406,"name":"orphan-resource-to-delete-stuck"},{"id":18858405,"name":"Group01"},{"id":-2,"name":"IPV4_ALL_SOURCE_GROUP_NAME","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 28fe6edd-b3ce-999d-affd-be42f05ee33d
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipSourceGroups/ipv6SourceGroups
  response:
    body:
      string: '[{"id":-3,"name":"All IPv6","ipAddresses":["::"],"description":"All
        IPv6 source traffic pre-defined group","isNonEditable":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - b2838959-0753-9138-ba22-23a6886dc0ef
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4974'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipSourceGroups/ipv6SourceGroups/lite
  response:
    body:
      string: '[{"id":-3,"name":"IPV6_ALL_SOURCE_GROUP_NAME","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 47eb69e1-cf7b-9a12-9311-9c4712115291
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4973'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/ipSourceGroups/17802406
  response:
    body:
      string: '{"id":17802406,"name":"orphan-resource-to-delete-stuck","ipAddresses":["192.168.1.1","192.168.1.3","192.168.1.2"],"description":"this
        resource is stuck and cannot be deleted.","creatorContext":"ZIA","isNonEditable":false,"extranetIpPool":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 6769977e-0a76-9281-9bae-3bcb83ab8e10
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4972'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/networkApplicationGroups
  response:
    body:
      string: '[{"id":462410,"name":"Microsoft Office365","networkApplications":["SKYPE_FOR_BUSINESS","OFFICE365","OUTLOOK","SHAREPOINT","SHAREPOINT_BLOG","SHAREPOINT_CALENDAR","SHAREPOINT_ADMIN","SHAREPOINT_DOCUMENT","SHAREPOINT_ONLINE","ONEDRIVE","YAMMER"],"description":"Microsoft
        Office365"},{"id":18561427,"name":"test_zia_ansible_b3wxE_V0iku_pSvi6","networkApplications":["APNS","APPSTORE","DICT"],"description":"test_zia_ansible_RVePE_b3wxE_V0iku_pSvi6"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a33bf652-e207-9e75-afc4-fa4bd37644a2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4971'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/networkApplicationGroups/462410
  response:
    body:
      string: '{"id":462410,"name":"Microsoft Office365","networkApplications":["YAMMER","OFFICE365","SKYPE_FOR_BUSINESS","OUTLOOK","SHAREPOINT","SHAREPOINT_ADMIN","SHAREPOINT_BLOG","SHAREPOINT_CALENDAR","SHAREPOINT_DOCUMENT","SHAREPOINT_ONLINE","ONEDRIVE"],"description":"Microsoft
        Office365"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 289c2428-bc70-93f6-9040-45dcc78a7298
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4970'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/networkApplications
  response:
    body:
      string: '[{"id":"APNS","parentCategory":"APP_SERVICE","description":"APNS_DESC","deprecated":false},{"id":"DICT","parentCategory":"APP_SERVICE","description":"DICT_DESC","deprecated":false},{"id":"EPM","parentCategory":"APP_SERVICE","description":"EPM_DESC","deprecated":false},{"id":"GARP","parentCategory":"APP_SERVICE","description":"GARP_DESC","deprecated":false},{"id":"ICLOUD","parentCategory":"APP_SERVICE","description":"ICLOUD_DESC","deprecated":false},{"id":"IOS_OTA_UPDATE","parentCategory":"APP_SERVICE","description":"IOS_OTA_UPDATE_DESC","deprecated":false},{"id":"LDAP","parentC[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/networkApplications/APNS
  response:
    body:
      string: '{"id":"APNS","parentCategory":"APP_SERVICE","description":"APNS_DESC","deprecated":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 9eb42b5e-5cc2-976c-805c-27811daf4e67
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4968'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/networkServiceGroups
  response:
    body:
      string: '[{"id":18618980,"name":"test_zia_ansible_EUvdV_H2zbw_zLSPQ_qax7Q","services":[{"id":462276,"name":"ICMP_ANY","isNameL10nTag":true},{"id":462278,"name":"UDP_ANY","isNameL10nTag":true},{"id":462280,"name":"TCP_ANY","isNameL10nTag":true}],"description":"test_zia_ansible_PR72u_EUvdV_H2zbw_zLSPQ_Hr3Vp_qax7Q","creatorContext":"ZIA"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 052b4b3a-540f-9132-be0e-104b53fea0ff
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4967'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/networkServiceGroups/lite
  response:
    body:
      string: '[{"id":18618980,"name":"test_zia_ansible_EUvdV_H2zbw_zLSPQ_qax7Q"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 42dc0c57-1c4f-9ffd-8653-030cd0b4922e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4966'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/networkServiceGroups/18618980
  response:
    body:
      string: '{"id":18618980,"name":"test_zia_ansible_EUvdV_H2zbw_zLSPQ_qax7Q","services":[{"id":462276,"name":"ICMP_ANY","isNameL10nTag":true},{"id":462278,"name":"UDP_ANY","isNameL10nTag":true},{"id":462280,"name":"TCP_ANY","isNameL10nTag":true}],"description":"test_zia_ansible_PR72u_EUvdV_H2zbw_zLSPQ_Hr3Vp_qax7Q","creatorContext":"ZIA"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 25dae457-5f9a-94a2-8b8d-d4642b44da3a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4965'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
