interactions:
- request:
    body: '{"name": "TestDLPRule_VCR", "description": "Test DLP Web Rule for VCR",
      "action": "BLOCK", "order": 1, "rank": 7, "severity": "RULE_SEVERITY_HIGH",
      "protocols": ["FTP_RULE", "HTTPS_RULE", "HTTP_RULE"], "cloudApplications": ["WINDOWS_LIVE_HOTMAIL"],
      "userRiskScoreLevels": ["LOW", "MEDIUM", "HIGH", "CRITICAL"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/webDlpRules
  response:
    body:
      string: '{"id":1690933,"order":1,"protocols":["FTP_RULE","HTTPS_RULE","HTTP_RULE"],"description":"Test
        DLP Web Rule for VCR","fileTypes":[],"cloudApplications":["WINDOWS_LIVE_HOTMAIL"],"minSize":0,"action":"BLOCK","state":"ENABLED","matchOnly":false,"withoutContentInspection":false,"inspectHttpGetEnabled":false,"name":"TestDLPRule_VCR","userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"dlpDownloadScanEnabled":false,"zccNotificationsEnabled":false,"severity":"RULE_SEVERITY_HIGH"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4aa06ec4-f1b5-9c00-9d0f-7a0201f9bcbc
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '39'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/webDlpRules
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":1685434,"order":2,"protocols":["HTTPS_RULE","HTTP_RULE"],"rank":0,"description":"updated
        description","fileTypes":[],"fileTypeCategories":[],"cloudApplications":[],"minSize":0,"action":"ALLOW","state":"ENABLED","matchOnly":false,"lastModifiedTime":1773371903,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"withoutContentInspection":false,"inspectHttpGetEnabled":false,"name":"test_web_dlp_rule_d4d0ec39","dlpDownloadScanEnabled":false,"zccNotificationsEnabled":false,"severity":"RULE_SEVERITY_INFO","sourceIpGroups":[],"eunTemplateId":0,"ucTemplateId":0},{"accessControl":"READ_WRITE","id":1690933,"order":1,"protocols":["FTP_RULE","HTTPS_RULE","HTTP_RULE"],"rank":0,"description":"Test
        DLP Web Rule for VCR","fileTypes":[],"fileTypeCategories":[],"cloudApplications":["WINDOWS_LIVE_HOTMAIL"],"minSize":0,"action":"BLOCK","state":"ENABLED","matchOnly":false,"lastModifiedTime":1773371903,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"withoutContentInspection":false,"inspectHttpGetEnabled":false,"name":"TestDLPRule_VCR","userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"dlpDownloadScanEnabled":false,"zccNotificationsEnabled":false,"severity":"RULE_SEVERITY_HIGH","sourceIpGroups":[],"eunTemplateId":0,"ucTemplateId":0}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c73387ac-4599-966a-8ef6-dc2866e41a0c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4974'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/webDlpRules/lite
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":1685434,"description":"updated
        description","fileTypes":[],"fileTypeCategories":[],"cloudApplications":[],"minSize":0,"state":"ENABLED","matchOnly":false,"withoutContentInspection":false,"inspectHttpGetEnabled":false,"name":"test_web_dlp_rule_d4d0ec39"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/webDlpRules/1690933
  response:
    body:
      string: '{"accessControl":"READ_WRITE","id":1690933,"order":1,"protocols":["FTP_RULE","HTTPS_RULE","HTTP_RULE"],"rank":0,"description":"Test
        DLP Web Rule for VCR","fileTypes":[],"fileTypeCategories":[],"cloudApplications":["WINDOWS_LIVE_HOTMAIL"],"minSize":0,"action":"BLOCK","state":"ENABLED","matchOnly":false,"lastModifiedTime":1773371903,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"withoutContentInspection":false,"inspectHttpGetEnabled":false,"name":"TestDLPRule_VCR","userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"dlpDownloadScanEnabled":false,"zccNotificationsEnabled":false,"severity":"RULE_SEVERITY_HIGH","subRules":[],"sourceIpGroups":[],"eunTemplateId":0,"ucTemplateId":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 063a440b-5b1c-91c2-8d13-af90116ef012
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4972'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/webDlpRules/1690933
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8f0ec9f9-6feb-9999-a0a4-6ff48e5f9e84
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4970'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
