interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users
  response:
    body:
      string: '[{"id":12008045,"name":"Adam Ashcroft","email":"REDACTED","groups":[{"id":12006786,"name":"Engineering"},{"id":12007253,"name":"Normal_Internet"}],"department":{"id":12007922,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":8061243,"name":"DEFAULT
        ADMIN","email":"REDACTED","groups":[{"id":8061241,"name":"Service Admin"}],"department":{"id":8061242,"name":"Service
        Admin"},"adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":19474996,"name":"William
        Guilherme","email":"REDACTED","groups":[],"adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":12008008,"name":"Ajith
        Almond"[...]
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users/references
  response:
    body:
      string: '[{"id":12008045,"name":"REDACTED"},{"id":19474996,"name":"REDACTED"},{"id":12008008,"name":"REDACTED"},{"id":12007943,"name":"REDACTED"},{"id":12008020,"name":"REDACTED"},{"id":12008074,"name":"REDACTED"},{"id":12007984,"name":"REDACTED"},{"id":12008055,"name":"REDACTED"},{"id":12007980,"name":"RED[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/users/12008045
  response:
    body:
      string: '{"id":12008045,"name":"fhlaqZWSyFU3PgNxTcKPpQ==","email":"REDACTED","groups":[{"id":12006786,"name":"Engineering"},{"id":12007253,"name":"Normal_Internet"}],"department":{"id":12007922,"name":"Engineering"},"adminUser":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 23a627da-4ff1-95e6-9316-60bb386d8d50
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - 46f78a99-de80-4cb0-9015-c3c427364106
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/groups
  response:
    body:
      string: '[{"id":12006601,"name":"A000"},{"id":12006580,"name":"A001"},{"id":12006615,"name":"A002"},{"id":12006606,"name":"A003"},{"id":12006590,"name":"A004"},{"id":12006585,"name":"A005"},{"id":12006608,"name":"A006"},{"id":12006583,"name":"A007"},{"id":12006581,"name":"A008"},{"id":12006625,"name":"A009"},{"id":12[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/groups/12006601
  response:
    body:
      string: '{"id":12006601,"name":"A000"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 58b4fefe-39a3-9d51-8e9e-3495fbdfbc67
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - 46f78a99-de80-4cb0-9015-c3c427364106
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/departments
  response:
    body:
      string: '[{"id":15616629,"name":"A000","comments":"A000"},{"id":15616630,"name":"A001","comments":"A001"},{"id":15616631,"name":"A002","comments":"A002"},{"id":15616632,"name":"A003","comments":"A003"},{"id":15616633,"name":"A004","comments":"A004"},{"id":15616634,"name":"A005","comments":"A005"},{"id":15616635,"name":"A006","comments":"A006"},{"id":15616636,"name":"A007","comments":"A007"},{"id":15616637,"name":"A008","comments":"A008"},{"id":15616638,"name":"A009","comments":"A009"},{"id":15616639,"name":"A010","comments":"A010"},{"id":156166[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/departments/15616629
  response:
    body:
      string: '{"id":15616629,"name":"A000","comments":"A000"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e0095120-48bd-9def-8a7d-3f49c616ad41
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 46f78a99-de80-4cb0-9015-c3c427364106
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.beta.zsapi.net/zia/api/v1/departments/24464030
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a05309a6-3831-90c3-9b3a-ad4734c4db4f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '48'
      x-transaction-id:
      - 46f78a99-de80-4cb0-9015-c3c427364106
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
