interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/pacFiles
  response:
    body:
      string: '[{"id":17392,"name":"kerberos.pac","description":"Service Default.","domain":"zscalerthree.net","pacUrl":"https://pac.zscalerthree.net/zscalerthree.net/kerberos.pac","pacContent":"function
        FindProxyForURL(url, host) {\n            var privateIP = /^(0|10|127|192\\.168|172\\.1[6789]|172\\.2[0-9]|172\\.3[01]|169\\.254|192\\.88\\.99)\\.[0-9.]+$/;\n            var
        resolved_ip = dnsResolve(host);\n\n            /* Don''t send non-FQDN or
        private IP auths to us */\n            if (isPlainHostName(host) || isInNet(resolved_ip,
        \"192.0.2.0\",\"255.255.255.0\") || privateIP.test(resolved_ip))\n\t            return
        \"DIRECT\";\n\t\t\t\n\t\t\[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/pacFiles/17392/version
  response:
    body:
      string: '[{"id":17392,"name":"kerberos.pac","description":"Service Default.","domain":"zscalerthree.net","pacUrl":"https://pac.zscalerthree.net/zscalerthree.net/kerberos.pac","pacContent":"function
        FindProxyForURL(url, host) {\n            var privateIP = /^(0|10|127|192\\.168|172\\.1[6789][...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/pacFiles/17392/version/1
  response:
    body:
      string: '{"id":17392,"name":"kerberos.pac","description":"Service Default.","domain":"zscalerthree.net","pacUrl":"https://pac.zscalerthree.net/zscalerthree.net/kerberos.pac","pacContent":"function
        FindProxyForURL(url, host) {\n            var privateIP = /^(0|10|127|192\\.168|172\\.1[6789[...]
- request:
    body: "function FindProxyForURL(url, host) {\n    return \"DIRECT\";\n}"
    headers:
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/pacFiles/validate
  response:
    body:
      string: '{"success":true,"message":null,"severity":null,"messages":[],"warningCount":0,"errorCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e03a43d2-21f0-9e0a-89e3-8fd8dac17a5f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4963'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/pacFiles?search=default
  response:
    body:
      string: '[{"id":17392,"name":"kerberos.pac","description":"Service Default.","domain":"zscalerthree.net","pacUrl":"https://pac.zscalerthree.net/zscalerthree.net/kerberos.pac","pacContent":"function
        FindProxyForURL(url, host) {\n            var privateIP = /^(0|10|127|192\\.168|172\\.1[6789[...]
