interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/subclouds
  response:
    body:
      string: '[{"id":31649,"name":"BIZDevZSThree01","dcs":[{"id":5313,"name":"YVR1","country":"CANADA"},{"id":2474,"name":"SEA1","country":"UNITED_STATES"}],"exclusions":[{"datacenter":{"id":5313,"name":"YVR1"},"country":"CANADA","expired":true,"disabledByOps":false,"createTime":1770401140,"startTime":1771027343,"endTime":1772280000,"lastModifiedTime":1771027343,"lastModifiedUser":{"id":117810311,"name":"REDACTED"}}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a5eebdce-fac0-9c60-b36b-5801d83ced3c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4969'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/subclouds?page=1&pageSize=10
  response:
    body:
      string: '[{"id":31649,"name":"BIZDevZSThree01","dcs":[{"id":5313,"name":"YVR1","country":"CANADA"},{"id":2474,"name":"SEA1","country":"UNITED_STATES"}],"exclusions":[{"datacenter":{"id":5313,"name":"YVR1"},"country":"CANADA","expired":true,"disabledByOps":false,"createTime":1770401140,"startTime":1771027343,"endTime":1772280000,"lastModifiedTime":1771027343,"lastModifiedUser":{"id":117810311,"name":"REDACTED"}}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5bc5f3c8-69bc-93b0-8d8f-bd5d3b2632b0
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4968'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/subclouds/isLastDcInCountry/31649?country=US
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"Provide at-least one DC
        id."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8d394f94-878d-9777-b005-501d378aeeaa
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4967'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/subclouds/31649
  response:
    body:
      string: '{"id":31649,"name":"BIZDevZSThree01"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 44ed4516-5d1b-905d-a097-9f866ec03e39
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4966'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
