interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/policy
  response:
    body:
      string: '[{"app":"CHATGPT_AI","appName":"ChatGPT","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"ANDI","appName":"Andi","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"CHARACTER_AI","appName":"Character.AI","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"CHATSONIC","appName":"ChatSonic","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"DALL_E","appName":"Dall-E","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"DEEP_DREAM_GENERATOR","appName":"Deep Dream Generator","pa[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/policy?page=1&pageSize=10
  response:
    body:
      string: '[{"app":"CHATGPT_AI","appName":"ChatGPT","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"ANDI","appName":"Andi","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"CHARACTER_AI","appName":"Character.AI","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"CHATSONIC","appName":"ChatSonic","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"DALL_E","appName":"Dall-E","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"DEEP_DREAM_GENERATOR","appName":"Deep Dream Generator","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"GANPAINT","appName":"GANPaint","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"JASPER","appName":"Jasper","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"MIDJOURNEY","appName":"Midjourney","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"NEURAL_BLENDER","appName":"Neural Blender","parent":"AI_ML","parentName":"AI
        & ML Applications"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 87d2cad1-73a2-975c-b449-d1e7e3ea8631
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - e6d96497-3e8f-4612-a22d-3fd728368f5f
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/policy?appClass=WEB_MAIL
  response:
    body:
      string: '[{"app":"GOOGLE_WEBMAIL","appName":"Gmail","parent":"WEB_MAIL","parentName":"Web
        Mail"},{"app":"YAHOO_WEBMAIL","appName":"Yahoo! Mail","parent":"WEB_MAIL","parentName":"Web
        Mail"},{"app":"WINDOWS_LIVE_HOTMAIL","appName":"Outlook (Office 365)","parent":"WEB_[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/policy?search=Google
  response:
    body:
      string: '{"message":"Rate Limit (2/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - b07ae407-ed9b-93d0-97a7-7b9409679034
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - e6d96497-3e8f-4612-a22d-3fd728368f5f
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/policy?groupResults=True
  response:
    body:
      string: '{"[Instant Messaging, INSTANT_MESSAGING]":97,"[Health Care, HEALTH_CARE]":1796,"[Productivity
        and CRM Tools, BUSINESS_PRODUCTIVITY]":11900,"[Sales & Marketing, SALES_AND_MARKETING]":6454,"[Consumer,
        CONSUMER]":2302,"[System & Development, SYSTEM_AND_DEVELOP[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/sslPolicy
  response:
    body:
      string: '[{"app":"CHATGPT_AI","appName":"ChatGPT","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"ANDI","appName":"Andi","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"CHARACTER_AI","appName":"Character.AI","parent":"AI_ML","parentName":"AI
        & M[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/sslPolicy?page=1&pageSize=10
  response:
    body:
      string: '[{"app":"CHATGPT_AI","appName":"ChatGPT","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"ANDI","appName":"Andi","parent":"AI_ML","parentName":"AI
        & ML Applications"},{"app":"CHARACTER_AI","appName":"Character.AI","parent":"AI_ML","parentNa[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/sslPolicy?appClass=WEB_MAIL
  response:
    body:
      string: '[{"app":"GOOGLE_WEBMAIL","appName":"Gmail","parent":"WEB_MAIL","parentName":"Web
        Mail"},{"app":"YAHOO_WEBMAIL","appName":"Yahoo! Mail","parent":"WEB_MAIL","parentName":"Web
        Mail"},{"app":"WINDOWS_LIVE_HOTMAIL","appName":"Outlook (Office 365)","parent":"W[...]
