interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/mobileAdvanceThreatSettings
  response:
    body:
      string: '{"blockAppsWithMaliciousActivity":true,"blockAppsWithKnownVulnerabilities":true,"blockAppsSendingUnencryptedUserCredentials":true,"blockAppsSendingLocationInfo":true,"blockAppsSendingPersonallyIdentifiableInfo":true,"blockAppsSendingDeviceIdentifier":true,"blockAppsCommunicatingWithAdWebsites":true,"blockAppsCommunicatingWithRemoteUnknownServers":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 95854b06-2f30-924c-b031-7a30db239b55
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 32e5eb9d-8b47-4a8f-af72-83c82c7325eb
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"smsPhishingEnabled": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/mobileAdvanceThreatSettings
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 8082ded3-cf86-9cb1-ab50-fd40e6c8326e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - 302dd0ba-18ce-4ef5-9adc-567234a905be
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
