interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/extranet
  response:
    body:
      string: '[{"id":165182492,"name":"20260209083516_created","description":"Automation
        Create Extranet","extranetDNSList":[{"id":4094980,"name":"65gk-DNS","primaryDNSServer":"8.8.8.88","secondaryDNSServer":"8.8.8.123","useAsDefault":true}],"extranetIpPoolList":[{"id":4094981,"name":"47dj-TP","ipStart":"9.9.9.89","ipEnd":"9.9.9.121","useAsDefault":true}],"createdAt":1770654921,"modifiedAt":1770654921},{"id":165183656,"name":"20260209084412_created","description":"Automation
        Create Extranet","extranetDNSList":[{"id":4094999,"name":"65gk-DNS","primaryDNSServer":"8.8.8.88","secondaryDNSServer":"8.8.8.123","useAsDefault":true}],"extranetIpPoolList":[{"id":4095000,"name":"47dj-TP","ipStart":"9.9.9.89","ipEnd":"9.9.9.121","useAsDefault":true}],"createdAt":1770655463,"modifiedAt":1770655464},{"id":165183949,"name":"20260209084625_created","description":"Automation
        Create [...]
- request:
    body: '{"name": "TestExtranet_VCR", "cloudName": "TestCloud_VCR", "locationIds":
      []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/extranet
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 53c6984a-0904-9c8f-aabe-9e1e0b3d23a8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/extranet/165182492
  response:
    body:
      string: '{"id":165182492,"name":"20260209083516_created","description":"Automation
        Create Extranet","extranetDNSList":[{"id":4094980,"name":"65gk-DNS","primaryDNSServer":"8.8.8.88","secondaryDNSServer":"8.8.8.123","useAsDefault":true}],"extranetIpPoolList":[{"id":4094981,"name":"47dj-TP","ipStart":"9.9.9.89","ipEnd":"9.9.9.121","useAsDefault":true}],"createdAt":1770654921,"modifiedAt":1770654921}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 29ab0de3-dba2-98ea-b266-6b363cc8b7bf
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
