interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "type": "DSTN_IP",
      "addresses": ["192.168.100.4", "192.168.100.5"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"id":10177036,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["192.168.100.4","192.168.100.5"],"description":"tests-vcr0002","ipCategories":[],"countries":[]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a6f65d7b-884b-99c0-ab22-869be12ad422
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '32'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0003", "description": "Integration test source group",
      "ipAddresses": ["192.168.100.1", "192.168.100.2", "192.168.100.3"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/ipSourceGroups
  response:
    body:
      string: '{"id":10177041,"name":"tests-vcr0003","ipAddresses":["192.168.100.1","192.168.100.2","192.168.100.3"],"description":"Integration
        test source group"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ed778ce3-6347-95d9-ab0b-5e99cbd50c81
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0004", "description": "Integration test Forwarding Control
      Rule", "order": 1, "rank": 7, "type": "FORWARDING", "forwardMethod": "DIRECT",
      "state": "ENABLED", "destIpGroups": [{"id": 10177036}], "srcIpGroups": [{"id":
      10177041}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/forwardingRules
  response:
    body:
      string: '{"id":1571785,"name":"tests-vcr0004","type":"FORWARDING","order":1,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Integration
        test Forwarding Control Rule","srcIpGroups":[{"id":10177041}],"destIpCategories":["ANY"],"resCategories":[],"destCountries":[],"destIpGroups":[{"id":10177036}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2eca935d-9bad-9460-87e1-535c19cdeeb4
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/forwardingRules/1571785
  response:
    body:
      string: '{"accessControl":"READ_WRITE","id":1571785,"name":"tests-vcr0004","type":"FORWARDING","order":1,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Integration
        test Forwarding Control Rule","lastModifiedTime":1764201037,"lastModifiedBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"srcIpGroups":[{"id":10177041,"name":"tests-vcr0003"}],"destIpCategories":[],"resCategories":[],"destCountries":[],"destIpGroups":[{"id":10177036,"name":"tests-vcr0001"}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4c16c8e3-9682-9310-b270-18d19d07feb0
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/forwardingRules
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":241782,"name":"ZPA Pool For Stray
        Traffic","type":"FORWARDING","order":-2,"rank":7,"forwardMethod":"DROP","state":"ENABLED","description":"Automatically
        created ZPA Pool Stray Traffic for ZIA","lastModifiedTime":1634768070,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":537035,"name":"Client
        Connector Traffic Direct","type":"FORWARDING","order":-3,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Client
        Connector Traffic Direct","lastModifiedTime":1666399026,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":752922,"name":"ZIA
        Inspected ZPA Apps","type":"FORWARDING","order":-4,"rank":7,"forwardMethod":"ZPA","state":"DISABLED","description":"Forwards
        all ZPA application requiring ZIA inspection","lastModifiedTime":1694912902,"destIpCategories":[],"resCategories":[],"destCountries":[],"zpaAppSegments":[{"id":2387144,"name":"Inspect
        App Segments","externalId":"2"}],"zpaGateway":{"id":2387145,"name":"Auto ZPA
        Gateway"}},{"accessControl":"READ_WRITE","id":802935,"name":"Fallback mode
        of ZPA Forwarding","type":"FORWARDING","order":-5,"rank":7,"forwardMethod":"ZPA","state":"DISABLED","description":"Forwards
        all ZPA application to fallback ZPA Pool","lastModifiedTime":1696730204,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":1557997,"name":"Allow
        Extranet DNS Traffic","type":"FORWARDING","order":-100,"rank":0,"locationGroups":[{"id":157892460,"name":"All
        Extranet Location Group"}],"forwardMethod":"DIRECT","state":"ENABLED","description":"Allow
        DNS traffic from Extranet Locations","lastModifiedTime":1763256806,"destIpCategories":[],"resCategories":[],"destCountries":[],"nwServices":[{"id":774003,"name":"DNS","isNameL10nTag":true}]},{"accessControl":"READ_WRITE","id":1557998,"name":"Extranet
        Traffic to ZPA","type":"FORWARDING","order":-101,"rank":0,"locationGroups":[{"id":157892460,"name":"All
        Extranet Location Group"}],"forwardMethod":"ZPA","state":"ENABLED","description":"Forwards
        all Extranet applications to ZPA","lastModifiedTime":1763256806,"destIpCategories":[],"resCategories":[],"destCountries":[],"zpaAppSegments":[{"id":10130735,"name":"Extranet
        App Segment","externalId":"3"}][...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/ipDestinationGroups/10177036
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c135b7dd-1d32-919e-b3d1-9c3b17127721
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/ipSourceGroups/10177041
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2514fb73-bd51-96aa-b05f-3c170fe87ea5
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
