interactions:
- request:
    body: '{"name": "tests-vzen-cluster", "type": "VIP", "ipAddress": "192.168.90.7",
      "subnetMask": "255.255.255.0", "defaultGateway": "192.168.90.254", "ipSecEnabled":
      false, "status": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters
  response:
    body:
      string: '{"id":25236,"name":"tests-vzen-cluster","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - adc7c6dc-b510-9c91-84a6-aa0210d72000
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vzen-cluster-updated", "type": "VIP", "ipAddress": "192.168.90.7",
      "subnetMask": "255.255.255.0", "defaultGateway": "192.168.90.254", "ipSecEnabled":
      false, "status": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters/25236
  response:
    body:
      string: '{"id":25236,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b12d52d5-3e37-9030-b8fc-e7d59458fa0b
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters/25236
  response:
    body:
      string: '{"id":25236,"zgatewayId":52262,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false,"virtualZenNodes":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 80fbbebf-81eb-9f7f-96a8-e41766b21ebe
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters?search=tests-vzen-cluster-updated
  response:
    body:
      string: '[{"id":25236,"zgatewayId":52262,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false,"virtualZenNodes":[]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a349d5ed-47e8-9ebd-9785-e235d2e93418
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters/25236
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - aeed881a-641c-9163-89f6-bdce304fd55b
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
