interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/domainProfiles/lite
  response:
    body:
      string: '[{"profileId":127,"profileName":"BD_Domain_Profile01","includeCompanyDomains":false,"includeSubdomains":false,"customDomains":["securitygeek.io"],"predefinedEmailDomains":[]},{"profileId":128,"profileName":"BD_Domain_Profile02","includeCompanyDomains":false,"includeSubdomains":false,"customDomains":["securitygeek.io"],"predefinedEmailDomains":[]},{"profileId":1067,"profileName":"20260209111416_created","includeCompanyDomains":false,"includeSubdomains":false,"customDomains":["ujb.rrl"],"predefinedEmailDomains":[]},{"profileId":1068,"profileName":"20260209111455_created","includeCompanyDomains":false,"includeSubdomains":false,"customDomains":["ujb.rrl"],"predefined[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/quarantineTombstoneTemplate/lite
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ec3b706a-5290-95df-bcb2-3e52f92f9d74
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/casbEmailLabel/lite
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 06319f40-fd19-91b8-b012-10b5a4f6bee8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/casbTenant/lite
  response:
    body:
      string: '[{"tenantId":71641054,"enterpriseTenantId":"02ddc0c2-02a1-40f0-b91d-f1ae13bd1f63","zscalerAppTenantId":{"id":100072,"name":"5da168aa-edc6-4e6b-b61f-d421f5878027"},"tenantName":"1","saasApplication":"MIP","status":["CASB_TENANT_ACTIVE","CASB_TENANT_VALIDATION_SUCCESS"],"modifiedTime":0,"lastTenantValidationTime":0,"tenantDeleted":false,"tenantWebhookEnabled":false,"tagsScanInfo":{"tag_prev_scan_time":1773335406,"tag_latest_success_scan_time":1773335406},"reAuth":false,"featuresSupported":["CASB"]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b94a186c-8cde-91b2-90e5-9b523518d291
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '9'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/casbTenant/scanInfo
  response:
    body:
      string: '[{"tenantName":"SGIO-OneDrive","tenantId":24486262,"saasApplication":"ONEDRIVE","scanInfo":{"cur_scan_start_time":0,"prev_scan_end_time":1653001506,"scan_reset_num":3},"scanAction":0},{"tenantName":"SGIO-SharePoint","tenantId":24486333,"saasApplication":"SHAREPOINT","scanInfo":{"cur_scan_start_time":0,"prev_scan_end_time":1653003776,"scan_reset_num":1},"scanAction":0},{"tenantName":"SecurityGeekIO","tenantId":29046351,"saasApplication":"MIP","scanInfo":{"cur_scan_start_time":0,"prev_scan_end_time":0,"scan_reset_num":0},"scanAction":0},{"tenantName":"Salesforce","tenantId":30584553,"saasApplication":"SALESFORCE","scanInfo":{"cur_scan_start_time":0,"prev_scan_end_time":0,"sc[...]
