interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "Integration test firewall rule",
      "order": 1, "rank": 7, "action": "REDIR_REQ", "redirectIp": "8.8.8.8", "destCountries":
      ["COUNTRY_CA", "COUNTRY_MX", "COUNTRY_AU", "COUNTRY_GB"], "sourceCountries":
      ["COUNTRY_CA", "COUNTRY_MX", "COUNTRY_AU", "COUNTRY_GB"], "protocols": ["ANY_RULE"],
      "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallDnsRules
  response:
    body:
      string: '{"action":"REDIR_REQ","capturePCAP":false,"id":1690929,"name":"tests-vcr0001","order":1,"rank":7,"description":"Integration
        test firewall rule","excludeContextShieldEndPoint":false,"protocols":["ANY_RULE"],"state":"ENABLED","destCountries":["COUNTRY_CA","COUNTRY_MX","COUNTRY_AU","COUNTRY_GB"],"sourceCountries":["COUNTRY_CA","COUNTRY_MX","COUNTRY_AU","COUNTRY_GB"],"destIpCategories":["ANY"],"resCategories":["ANY"],"redirectIp":"8.8.8.8","isEunEnabled":false,"eunTemplateId":15,"isWebEUNEnabled":false,"defaultDnsRuleNameUsed":false,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e70a61a3-b795-9cb7-bdcf-73a78799b225
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4954'
      x-ratelimit-reset:
      - '9'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallDnsRules/1690929
  response:
    body:
      string: '{"action":"REDIR_REQ","capturePCAP":false,"accessControl":"READ_WRITE","id":1690929,"name":"tests-vcr0001","order":1,"rank":7,"description":"Integration
        test firewall rule","endPointApplications":[],"endPointApplicationGroups":[],"excludeContextShieldEndPoint":false,"protocols":["ANY_RULE"],"state":"ENABLED","destCountries":["COUNTRY_AU","COUNTRY_CA","COUNTRY_GB","COUNTRY_MX"],"sourceCountries":["COUNTRY_AU","COUNTRY_CA","COUNTRY_GB","COUNTRY_MX"],"redirectIp":"8.8.8.8","applications":[],"applicationGroups":[],"dnsRuleRequestTypes":[],"isEunEnabled":false,"eunTemplateId":15,"lastModifiedTime":1773371752,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"isWebEUNEnabled":false,"defaultDnsRuleNameUsed":false,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8ee4aeec-05d0-9789-8866-2c0b4fcf426e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4953'
      x-ratelimit-reset:
      - '5'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallDnsRules/1690929
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e852faaf-a671-9f55-9da0-10d63e4824c8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
