interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpNotificationTemplates
  response:
    body:
      string: '[{"id":5855,"name":"BD_DLP_Notification_Template","subject":"DLP Violation:
        ${TRANSACTION_ID} ${RULENAME}","tlsEnabled":true,"attachContent":true,"plainTextMessage":"The
        attached content triggered a Web DLP rule for your organization.\n\nTransaction
        ID: ${TRANSACTION_ID}\nUser Accessing the URL: ${USER}\nURL Accessed: ${URL}\nPosting
        Type: ${TYPE}\nDLP MD5: ${DLPMD5}\nTriggered DLP Violation Engines (assigned
        to the hit rule): ${ENGINES_IN_RULE}\nTriggered DLP Violation Dictionaries
        (assigned to the hit rule): ${DICTIONARIES}\n\nNo action is required on your
        part.","htmlMessage":"<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<style>\n\t\t\t.user
        {color: rgb(1, 81, 152);}\n\t\t\t.url {color: rgb(1, 81, 152);}\n\t\t\t.postingtype
        {color: rgb(1, 81, 152);}\n\t\t\t.engines {color: rgb(1, 81, 152);}\n\t\t\t.dictionaries
        {color: rgb(1, 81, 152);}\n\t\t</style>\n\t</head>\n\t<body>\n\t\tThe attached
        content triggered a Web DLP rule for your organization.\n\t\t<br/><br/>\n\t\tTransaction
        ID: <span class=\"transaction_id\">${TRANSACTION_ID}</span>\n\t\t<br/>\n\t\tUser
        Accessing the URL: <span class=\"user\">${USER}</span>\n\t\t<br/>\n\t\tURL
        Accessed: <span class=\"url\">${URL}</span>\n\t\t<br/>\n\t\tPosting Type:
        <span class=\"postingtype\">${TYPE}</span>\n\t\t<br/>\n\t\tDLP MD5: <span
        class=\"dlpmd5\">${DLPMD5}</span>\n\t\t<br/>\n\t\tTriggered DLP Violation
        Engines (assigned to the hit rule): <span class=\"engines\">${ENGINES_IN_RULE}</span>\n\t\t<br/>\n\t\tTriggered
        DLP Violation Dictionaries (assigned to the hit rule): <span class=\"dictionaries\">${DICTIONARIES}</span>\n\t\t<br/><br/>\n\t\tNo
        action is required on your part.\n\t\t<br/><br/>\n\t</body>\n</html>"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1e309841-4669-938f-a28b-d3185e392137
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestDLPTemplate_VCR", "templateContent": "Test DLP template content
      for VCR testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpNotificationTemplates
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 99e8aa6f-baca-9954-961f-8fc58bc4a30c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4977'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpNotificationTemplates/5855
  response:
    body:
      string: '{"id":5855,"name":"BD_DLP_Notification_Template","subject":"DLP Violation:
        ${TRANSACTION_ID} ${RULENAME}","tlsEnabled":true,"attachContent":true,"plainTextMessage":"The
        attached content triggered a Web DLP rule for your organization.\n\nTransaction
        ID: ${TRAN[...]
