interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/browserControlSettings
  response:
    body:
      string: '{"pluginCheckFrequency":"DAILY","bypassAllBrowsers":true,"blockedInternetExplorerVersions":["NONE"],"blockedChromeVersions":["NONE"],"blockedFirefoxVersions":["NONE"],"blockedSafariVersions":["NONE"],"blockedOperaVersions":["NONE"],"allowAllBrowsers":false,"enableWarnings":true,"enableSmartBrowserIsolation":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9b128bba-d4b5-980a-9d4b-793d4eb8fb86
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"pluginCheckFrequency": "DAILY", "bypassPlugins": ["ACROBAT", "FLASH"],
      "bypassApplications": ["OUTLOOKEXP"], "bypassAllBrowsers": false, "allowAllBrowsers":
      true, "enableWarnings": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/browserControlSettings
  response:
    body:
      string: '{"pluginCheckFrequency":"DAILY","bypassPlugins":["ACROBAT","FLASH"],"bypassApplications":["OUTLOOKEXP"],"bypassAllBrowsers":false,"allowAllBrowsers":true,"enableWarnings":true,"enableSmartBrowserIsolation":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b92f3c98-c681-96e4-ac7e-e0ce53800b3f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"allowAllBrowsers": true, "enableWarnings": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/browserControlSettings
  response:
    body:
      string: '{"bypassAllBrowsers":false,"allowAllBrowsers":true,"enableWarnings":false,"enableSmartBrowserIsolation":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e79da84a-b90c-9f49-b47d-8fd70ab198c0
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '39'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
