interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/remoteAssistance
  response:
    body:
      string: '{"viewOnlyUntil":1734144119000,"fullAccessUntil":1734144119000,"usernameObfuscated":true,"deviceInfoObfuscate":true,"aiPromptObfuscate":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 97af6ad1-f694-9f4c-a86c-612432e4881a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"viewOnlyEnabled": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/remoteAssistance
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 56e82f59-997b-94e8-92d2-fcad86d0d1db
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - 302dd0ba-18ce-4ef5-9adc-567234a905be
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
