interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dnsGateways
  response:
    body:
      string: '[{"id":17613142,"name":"Zscaler Trusted DNS Resolver","dnsGatewayType":"OFW_PDNS_REDIR_GW","primaryIpOrFqdn":"zstrustedresolver.zscalerbeta.net","primaryPorts":[53,53],"protocols":["TCP","UDP"],"failureBehavior":"FAIL_RET_ERR","autoCreated":true,"natZtrGateway":true,"dnsGatewayProtocols":["UDP","TCP"]},{"id":18442171,"name":"DNSGatewayAnsible","dnsGatewayType":"OFW_PDNS_REDIR_GW","primaryIpOrFqdn":"8.8.8.8","primaryPorts":[53,53,443],"secondaryIpOrFqdn":"4.4.4.4","secondaryPorts":[53,53,443],"protocols":["TCP","UDP","DOH"],"failureBehavior":"FAIL_RET_ERR","autoCreated":false,"natZtrGateway":false,"dnsGatewayProtocols":["UDP","TCP","DOH"]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 852fd549-4d31-9c31-a2fb-f1e8f063b273
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dnsGateways/17613142
  response:
    body:
      string: '{"id":17613142,"name":"Zscaler Trusted DNS Resolver","dnsGatewayType":"OFW_PDNS_REDIR_GW","primaryIpOrFqdn":"zstrustedresolver.zscalerbeta.net","primaryPorts":[53,53],"protocols":["TCP","UDP"],"failureBehavior":"FAIL_RET_ERR","autoCreated":true,"natZtrGateway":true,"dnsGatewayProtocols":["UDP","TCP"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 6e1f9ab4-5f9d-9298-9c98-972ff20f5c4a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
