interactions:
- request:
    body: '{"name": "TestLabel_VCR_Integration", "description": "Test Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ruleLabels
  response:
    body:
      string: '{"id":4338882,"name":"TestLabel_VCR_Integration","description":"Test
        Description for VCR","lastModifiedTime":1773372096,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"createdBy":{"id":117810311,"name":"REDACTED"},"referencedRuleCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4aa3ba9b-c428-974c-ba3a-bea75ce2a63d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "UpdatedLabel_VCR_Integration", "description": "Updated Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/ruleLabels/4338882
  response:
    body:
      string: '{"id":4338882,"name":"UpdatedLabel_VCR_Integration","description":"Updated
        Description for VCR","lastModifiedTime":1773372097,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"createdBy":{"id":117810311,"name":"REDACTED"},"referencedRuleCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0b57a9ac-e835-90cc-870d-55d8e3e4a86d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/ruleLabels?search=UpdatedLabel_VCR_Integration
  response:
    body:
      string: '[{"id":4338882,"name":"UpdatedLabel_VCR_Integration","description":"Updated
        Description for VCR","lastModifiedTime":1773372097,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"createdBy":{"id":117810311,"name":"REDACTED"},"referencedRuleCount":0}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - af5c37b1-6cbf-9245-8db0-dd99179985cf
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ruleLabels/4338882
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 38cef3ac-059e-9161-882a-2330f1864aae
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
