interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/advancedSettings
  response:
    body:
      string: '{"authBypassUrlCategories":["NONE"],"domainFrontingBypassUrlCategories":["NONE"],"authBypassUrls":[".newexample2.com","vcr-test-url-1.vcr-test.com",".newexample1.com","vcr-test-url-2.vcr-test.com","vcr-test-url-5.vcr-test.com","vcr-test-url-4.vcr-test.com","vcr-test-url-3.vcr-test.com"],"authBypassApps":[],"kerberosBypassUrlCategories":["ADULT_THEMES","ADULT_SEX_EDUCATION"],"kerberosBypassUrls":["test1.com"],"kerberosBypassApps":[],"basicBypassUrlCategories":["NONE"],"basicBypassApps":["NONE"],"httpRangeHeaderRemoveUrlCategories":["NONE"],"digestAuthBypassUrlCategories":["NONE"],"digestAuthBypassUrls":[],"digestAuthBypassApps":[],"enableDnsResolutionOnTransparentProxy":true,"enableIPv6DnsResolutionOnTransparentProxy":false,"enableIPv6DnsOptimizationOnAllTransparentProxy":false,"enableEvaluatePolicyOnGlobalSSLBypass":true,"dnsResolutionOnTransparentProxyExemptUrlCategories":["NONE"],"dnsResolutionOnTransparentProxyIPv6ExemptUrlCategories":["NONE"],"dnsResolutionOnTransparentProxyExemptUrls":[],"dnsResolutionOnTransparentProxyExemptApps":["NONE"],"dnsResolutionOnTransparentProxyIPv6ExemptApps":["NONE"],"dnsResolutionOnTransparentProxyUrlCategories":["NONE"],"dnsResolutionOnTransparentProxyIPv6UrlCategories":["NONE"],"dnsResolutionOnTransparentProxyUrls":["test1.com","test2.com"],"dnsResolutionOnTransparentProxyApps":["CHATGPT_AI"],"dnsResolutionOnTransparentProxyIPv6Apps":["NONE"],"blockDomainFrontingApps":["NONE"],"preferSniOverConnHostApps":["NONE"],"enableOffice365":true,"logInternalIp":true,"enforceSurrogateIpForWindowsApp":true,"trackHttpTunnelOnHttpPorts":true,"blockHttpTunnelOnNonHttpPorts":false,"blockDomainFrontingOnHostHeader":false,"zscalerClientConnector1AndPacRoadWarriorInFirewall":true,"cascadeUrlFiltering":true,"enablePolicyForUnauthenticatedTraffic":true,"blockNonCompliantHttpRequestOnHttpPorts":true,"enableAdminRankAccess":true,"uiSessionTimeout":300,"http2NonbrowserTrafficEnabled":false,"ecsForAllEnabled":false,"dynamicUserRiskEnabled":false,"blockConnectHostSniMismatch":false,"preferSniOverConnHost":false,"sipaXffHeaderEnabled":false,"blockNonHttpOnHttpPortEnabled":true,"sniDnsOptimizationBypassUrlCategories":["NONE"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a0913a6a-0983-9e1a-8aac-f8e645518055
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '37'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
