interactions:
- request:
    body: '{"ipAddress": "104.239.237.2", "comment": "tests-vcr0001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/staticIP
  response:
    body:
      string: '{"id":3339427,"ipAddress":"104.239.237.2","geoOverride":false,"latitude":37.6325999,"longitude":-97.7724999,"city":{"id":4269447,"name":"Cheney,
        Kansas, United States"},"routableIP":true,"lastModificationTime":1764201194,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-vcr0001"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 819af2a6-9826-99c7-8a65-0a06c5342fdf
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "IP", "preSharedKey":"REDACTED", "ipAddress": "104.239.237.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/vpnCredentials
  response:
    body:
      string: '{"id":156964610,"type":"IP","ipAddress":"104.239.237.2"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6e3b83c1-0b14-96dd-b7f9-19be26f4fb93
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "UFQDN", "preSharedKey":"REDACTED", "fqdn": "REDACTED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/vpnCredentials
  response:
    body:
      string: '{"id":158928083,"type":"UFQDN","fqdn":"REDACTED"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 15d51eaa-b606-9adf-a351-be3807005f87
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": [156964610, 158928083]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/vpnCredentials/bulkDelete
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - db2632c3-ce14-9208-b7a2-33c73764222c
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/staticIP/3339427
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c8e86fe1-cfb0-9a1d-baaf-56080cb166d3
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
