interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dnatRules
  response:
    body:
      string: '[{"action":"ALLOW","accessControl":"READ_WRITE","id":184234,"name":"Zscaler
        Trusted DNS Resolver","order":11,"rank":7,"description":"_test_1761191415809_test_1761418104311-test-1761429762733-test-1761429922294","state":"ENABLED","nwServices":[{"id":774003,"name":"DNS","isNameL10nTag":true}],"redirectPort":0,"trustedResolverRule":true,"lastModifiedTime":1773329070,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"predefined":true,"enableFullLogging":false,"defaultRule":false},{"action":"ALLOW","accessControl":"READ_WRITE","id":418830,"name":"SGIO-HoneyPot-Rule","order":12,"rank":7,"state":"DISABLED","destAddresses":["8.8.8.8"],"redirectIp":"3.19.111.8","redirectPort":0,"trustedResolverRule":false,"lastModifiedTime":1773329070,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"predefined":false,"enableFullLogging":false,"defaultRule":false},{"action":"ALLOW","accessControl":"READ_WRITE","id":865208,"name":"DNAT_865208","order":11,"rank":7,"description":"DIRECT_FORWARDING_RULE_DNAT","state":"ENABLED","trustedResolverRule":false,"lastModifiedTime":1773329070,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"predefined":false,"en[...]
- request:
    body: '{"name": "TestNATRule_VCR", "description": "Test NAT rule for VCR testing",
      "order": 1, "rank": 7, "redirectTrafficToPublicIp": false, "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dnatRules
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f28cb534-6c60-9a7c-94f8-abf5802c0bac
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4976'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dnatRules/184234
  response:
    body:
      string: '{"action":"ALLOW","accessControl":"READ_WRITE","id":184234,"name":"Zscaler
        Trusted DNS Resolver","order":11,"rank":7,"description":"_test_1761191415809_test_1761418104311-test-1761429762733-test-1761429922294","state":"ENABLED","nwServices":[{"id":774003,"name":"DNS","isNameL10nTag":true}],"redirectPort":0,"trustedResolverRule":true,"lastModifiedTime":1773329070,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"predefined":true,"defaultRule":false,"enableFullLogging":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 34e93918-7765-9d3f-94a1-5b888cde9a72
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
