interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/zpaGateways
  response:
    body:
      string: '[{"id":18614602,"name":"Auto Extranet ZPA Gateway","zpaServerGroup":{"id":0,"name":"Auto
        Server Group"},"zpaAppSegments":[{"id":0,"name":"Inspect App Segments","externalId":"2"}],"lastModifiedBy":{"id":65544,"name":"REDACTED"},"lastModifiedTime":1758054219,"description":"Predefined
        Extranet ZPA gateway for ZIA inspection of Extranet App Segments"},{"id":18661667,"name":"ZPA_GW01","zpaServerGroup":{"id":0,"name":"test_zpa_server_group_sLUQi","externalId":"72058304855158914"},"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"lastModifiedTime":1759161459,"description":"ZPA_GW01"},{"id":17682691,"name":"Auto
        ZPA Gateway","zpaServerGroup":{"id":0,"name":"Auto Server Group"},"zpaAppSegments":[{"id":0,"name":"Inspect
        App Segments","externalId":"2"}],"lastModifiedBy":{"id":65544,"name":"REDACTED"},"lastModifiedTime":1692235143,"description":"Predefined
        ZPA gateway for ZIA inspection of App Segments","readOnly":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 798922e3-64f7-99b5-8cad-8f219401f1c1
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/zpaGateways/18614602
  response:
    body:
      string: '{"code":"RESOURCE_NOT_FOUND","message":"No server group is found with
        the id. Check if any is provisioned in ZPA tenant 72058304855015424"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - f06b95ff-ab44-9802-bca2-0fbc03aa3f42
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 404
      message: Not Found
version: 1
