interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/deviceGroups
  response:
    body:
      string: '[{"id":35227156,"name":"IOS","groupType":"ZCC_OS","description":"IOS
        predefined group","osType":"IOS","predefined":true},{"id":35227157,"name":"Android","groupType":"ZCC_OS","description":"Android
        predefined group","osType":"Android","predefined":true},{"id":35227158,"name":"Windows","groupType":"ZCC_OS","description":"Windows
        predefined group","osType":"Windows","predefined":true},{"id":35227159,"name":"Mac","groupType":"ZCC_OS","description":"Mac
        predefined group","osType":"Mac","predefined":true},{"id":35227160,"name":"Linux","groupType":"ZCC_OS","description":"Linux
        predefined group","osType":"Linux","predefined":true},{"id":35234255,"name":"No
        Client Connector","groupType":"NON_ZCC","description":"No Client Connector
        predefined group","predefined":true},{"id":35235179,"name":"Cloud Browser
        Isolation","groupType":"CBI","description":"CBI predefined group","predefined":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cf9f5102-7c89-9026-b166-691d08adf6c8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4960'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/deviceGroups/devices
  response:
    body:
      string: '[{"id":42827781,"name":"WilliamGuilherme","deviceGroupType":"ZCC_OS","deviceModel":"VMware
        Virtual Platform","osType":"WINDOWS_OS","osVersion":"Microsoft Windows 10
        Pro;64 bit;amd64","ownerUserId":29309057,"ownerName":"Fm","hostName":"VCD138-WIN10"},{"id":36452290,"name":"wguilherme","deviceGroupType":"ZCC_OS","deviceModel":"VMware
        Virtual Platform","osType":"WINDOWS_OS","osVersion":"Microsoft Windows 10
        Pro;64 bit","ownerUserId":24328827,"ownerName":"William Guilherme","hostName":"VCD138-WIN10"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b9945659-2a1f-9259-a183-b26d69d35e26
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4959'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/deviceGroups/devices/lite
  response:
    body:
      string: '[{"id":42827781,"name":"WilliamGuilherme (Fm) - VCD138-WIN10","deviceGroupType":"ZCC_OS","ownerUserId":29309057},{"id":36452290,"name":"wguilherme
        (William Guilherme) - VCD138-WIN10","deviceGroupType":"ZCC_OS","ownerUserId":24328827}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c22aca59-f0ec-9fb7-899c-b5aa36ee5a27
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4958'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
