interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514314,"certExpDate":2601650314,"description":"Zscaler
        Intermediate CA Certificate","currentState":"CERT_READY","publicKey":"-----BEGIN
        PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmioqA+ZMX9KzDDO6VXfP\nWU4dQ3Knj68Y16L50vd6cAxY6CyBclodGxA1mwyIv+Q+kV1oaaoowMGjMDQVyCWF\na3w7MaiJdx1x0XgtO1u6nEtA7hRaYnJb+/8JLRdXjXQpPNRuis7CE/jfpaUn4zik\noBWk3GPQ3ZePX8PdQDtPd47Le5AXNd8rCpFRMOJSvZYYrlcEWqMbdBs5sSE3B2UK\nxQ00Qbj8eQHpvH1/aEa48KsY+9q4ZlB2xzS7AklK0NFwuebkhR9JTN59o9rxqVwG\nJhUbQGpUhMnG+g+4b1qrxRsyOFfludc9UjS5ofjSsZk5ypGZf5W/npp6Ctz+Qc/g\nkwIDAQAB\n-----END
        PUBLIC KEY-----\n"},{"id":1401,"name":"SecurityGeek_Cert02","type":"CUSTOM_SW","region":"GLOBAL","status":"ENABLED","defaultCertificate":false,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1758057581,"certExpDate":1789594181,"description":"SecurityGeek_Cert02","currentState":"INTCERT_UPLOAD_DONE","publicKey":"-----BEGIN
        PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4KuIudoeGH3/jbsUfLSr\ngrqFHz7+KksEX35KeJe2IY5ZbHSGZxBJILtJVv9jqlZw4Js4pHTTLxrSIdavgmyd\ngNtlSMquGVmLbfaMlNsJhBmhlDYmztta+3T0V4RvmI3SpM94DLslH4KSI21VJhUw\n6qyJrhRVcctKTMm0oQMIaohkIuXgAQ4Xe1DJEOWwVyS/8/eUuooNERoDBfbzT1mk\nlSbJOR2W7yMr6DUeIoPaKygDM55LEzbqaCOvCzc7jUuRxxzfjNwBEU2dovdOwBQE\nJSJb3CX5JjvR7PBCNbxWn0/6BxQcTO9E9CPXRM/JhdNHxvt22illvGzyz5hfaIT7\n8wIDAQAB\n-----END
        PUBLIC KEY-----\n","keyGenerationTime":1758057833,"csrFileName":"IntermediateCer02","csrGenerationTime":1758057872,"uploadedCertFileName":"tmp_rxqvzd7.pem"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4aadce3d-e0f2-9e59-abe8-92d24245ef85
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate?search=Zscaler
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514314,"certExpDate":2601650314,"description":"Zscaler
        Intermediate CA C[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/lite
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514314,"certExpDate":2601650314,"description":"Zscaler
        Intermediate CA Certificate","currentState":"CERT_READY"},{"id":1401,"name":"SecurityGeek_Cert02","type":"CUSTOM_SW","region":"GLOBAL","status":"ENABLED","defaultCertificate":false,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1758057581,"certExpDate":1789594181,"description":"SecurityGeek_Cert02","currentState":"INTCERT_UPLOAD_DONE"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b7ecee5b-5fd6-9b02-b739-5d0c33d856c0
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/readyToUse
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","defaultCertificate":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4ab7212f-0bdc-9023-8b49-53eca256331e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/readyToUse?search=Zscaler
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","defaultCertificate":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a869837b-0ce0-94f5-b51b-351ed0c69cf8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/1
  response:
    body:
      string: '{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514314,"certExpDate":2601650314,"description":"Zscaler
        Intermediate CA Certificate","c[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/lite/1
  response:
    body:
      string: '{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514314,"certExpDate":2601650314,"description":"Zscaler
        Intermediate CA Certificate","currentState":"CERT_READY"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d1bb7dc8-f33a-9b8a-b526-579f2bc18347
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4977'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/showCert/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3fe9e141-67d0-9d8f-a6a5-eed87ea1f986
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4976'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/showCsr/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f164e331-6944-9ed7-afe1-695b696027ab
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/downloadCsr/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 278247fe-e619-9ba0-ac0c-6d1d3b55b0eb
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4974'
      x-ratelimit-reset:
      - '9'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/downloadPublicKey/1
  response:
    body:
      string: '-----BEGIN PUBLIC KEY-----

        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmioqA+ZMX9KzDDO6VXfP

        WU4dQ3Knj68Y16L50vd6cAxY6CyBclodGxA1mwyIv+Q+kV1oaaoowMGjMDQVyCWF

        a3w7MaiJdx1x0XgtO1u6nEtA7hRaYnJb+/8JLRdXjXQpPNRuis7CE/jfpaUn4zik

        oBWk3GPQ3ZePX8PdQDtPd47Le5AXNd8rCpFRMOJSvZYYrlcEWqMbdBs5sSE3B2UK

        xQ00Qbj8eQHpvH1/aEa48KsY+9q4ZlB2xzS7AklK0NFwuebkhR9JTN59o9rxqVwG

        JhUbQGpUhMnG+g+4b1qrxRsyOFfludc9UjS5ofjSsZk5ypGZf5W/npp6Ctz+Qc/g

        kwIDAQAB

        -----END PUBLIC KEY-----

        '
    headers:
      content-disposition:
      - attachment; filename="Zscaler Intermediate CA Certificate-PublicKey.pem"
      content-transfer-encoding:
      - binary
      content-type:
      - application/octet-stream
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fe688e2a-6edd-93fd-b336-a253402e0a43
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4973'
      x-ratelimit-reset:
      - '9'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/verifyKeyAttestation/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 78b85b60-354d-9e3a-b030-e1d3d6b86364
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4972'
      x-ratelimit-reset:
      - '9'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/finalizeCert/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 83271160-7b03-989d-adf5-843bec9cd507
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4971'
      x-ratelimit-reset:
      - '8'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/intermediateCaCertificate/uploadCertChain/1
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b4025bf2-0e07-955e-9c3f-335ade9ea2cf
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4970'
      x-ratelimit-reset:
      - '8'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 415
      message: Unsupported Media Type
version: 1
