interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/idmprofile
  response:
    body:
      string: '[{"profileId":13,"profileName":"BD_IDM_TEMPLATE01","profileType":"LOCAL","port":0,"scheduleType":"NONE","scheduleDay":0,"scheduleTime":0,"scheduleDisabled":false,"uploadStatus":"IDM_PROF_UPLOAD_COMPLETED","version":1,"idmClient":{"id":62109,"name":"ZS_DLP_IDX01"},"volumeOfDocuments":153025,"numDocuments":1,"lastModifiedTime":1702089862,"modifiedBy":{"id":24326816,"name":"REDACTED"}}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ca7be8bc-9037-91b2-826d-b3202fcf7530
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/idmprofile/13
  response:
    body:
      string: '{"profileId":13,"profileName":"BD_IDM_TEMPLATE01","profileType":"LOCAL","port":0,"scheduleType":"NONE","scheduleDay":0,"scheduleTime":0,"scheduleDisabled":false,"uploadStatus":"IDM_PROF_UPLOAD_COMPLETED","version":1,"idmClient":{"id":62109,"name":"ZS_DLP_IDX01"},"volumeOfDocuments":153025,"numDocuments":1,"lastModifiedTime":1702089862,"modifiedBy":{"id":24326816,"name":"REDACTED"}}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b2a69262-63b1-9240-99c6-639047b7fa7b
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
