interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/datacenters
  response:
    body:
      string: '[{"id":512,"name":"CA Client Node DC","provider":"Zscaler Internal","city":"San
        Jose","timezone":"NOT_SPECIFIED","lat":0,"longi":0,"latitude":0,"longitude":0,"govOnly":false,"thirdPartyCloud":false,"uploadBandwidth":0,"downloadBandwidth":0,"ownedByCustomer":false,"managedBcp":false,"dontPublish":false,"dontProvision":false,"notReadyForUse":false,"forFutureUse":false,"regionalSurcharge":false,"createTime":1486167469,"lastModifiedTime":1739410763,"virtual":false},{"id":515,"name":"SJC4","provider":"TELX","city":"San
        Francisco, CA","timezone":"UNITED_STATES_AMERICA_LOS_ANGELES","lat":38,"longi":-123,"latitude":380000000,"longitude":-1230000000,"govOnly":false,"thirdPartyCloud":false,"region":{"id":3610,"name":"NorthAmerica"},"uploadBandwidth":0,"downloadBandwidth":0,"ownedByCustomer":false,"managedBcp":false,"dontPublish":false,"dontProvision":false,"notReadyForUse":false,"forFutureUse":false,"regionalSurcharge":false,"createTime":1486423112,"lastModifiedTime":1739410763,"virtual":false},{"id":517,"name":"WAS1","provider":"Coresite","city":"Washington,
        DC","timezone":"UNITED_STATES_AMERICA_NEW_YORK","lat":39,"longi":-77,"latitude":390000000,"longitude":-770000000,"govOnly":f[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/datacenters?search=US
  response:
    body:
      string: "[{\"id\":512,\"name\":\"CA Client Node DC\",\"provider\":\"Zscaler
        Internal\",\"city\":\"San Jose\",\"timezone\":\"NOT_SPECIFIED\",\"lat\":0,\"longi\":0,\"latitude\":0,\"longitude\":0,\"govOnly\":false,\"thirdPartyCloud\":false,\"uploadBandwidth\":0,\"downloadBandwidth\":0,\"ownedBy[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dcExclusions
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3d5fa9a4-c570-9425-b80e-b73869abb93d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '[{"dcid": 512, "startTime": 1773375877142, "endTime": 1773379477142}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dcExclusions
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4effb4a8-de83-95b7-8f5f-71196aeb6b0d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
