interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/browserIsolation/profiles
  response:
    body:
      string: '[{"profileSeq":0,"id":"15e73a58-fe18-4e4a-8778-e3ae2dd50ba3","name":"BD_SA_Profile1_ZIA","url":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/15e73a58-fe18-4e4a-8778-e3ae2dd50ba3","defaultProfile":true},{"profileSeq":0,"id":"791c2d14-e9a7-4c47-8a3c-8988caad925b","name":"BD_SA_Profile2_ZIA","url":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/791c2d14-e9a7-4c47-8a3c-8988caad925b"},{"profileSeq":0,"id":"b9ea3eab-a8f7-4ec5-bbc2-ac002c9f5dd8","name":"BD   SA   Profile  ZIA","url":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/b9ea3eab-a8f7-4ec5-bbc2-ac002c9f5dd8"},{"profileSeq":0,"id":"bcee4d01-0d74-435e-b433-5a41f70b17f9","name":"BD  SA
        Profile[...]
