interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/advancedSettings
  response:
    body:
      string: '{"authBypassUrlCategories":["NONE"],"domainFrontingBypassUrlCategories":["NONE"],"authBypassUrls":[".newexample2.com",".newexample1.com"],"authBypassApps":[],"kerberosBypassUrlCategories":["ADULT_THEMES","ADULT_SEX_EDUCATION"],"kerberosBypassUrls":["test1.com"],"kerberosBypassApps":[],"basicBypassUrlCategories":["NONE"],"basicBypassApps":["NONE"],"httpRangeHeaderRemoveUrlCategories":["NONE"],"digestAuthBypassUrlCategories":["NONE"],"digestAuthBypassUrls":[],"digestAuthBypassApps":[],"enableDnsResolutionOnTransparentProxy":true,"enableIPv6DnsResolutionOnTransparentProxy":false,"enableIPv6DnsOptimizationOnAllTransparentProxy":false,"enableEvaluatePolicyOnGlobalSSLBypass":true,"dnsResolutionOnTransparentProxyExemptUrlCategories":["NONE"],"dnsResolutionOnTransparentProxyIPv6ExemptUrlCategories":["NONE"],"dnsResolutionOnTransparentProxyExemptUrls":[],"dnsResolutionOnTransparentProxyExemptApps":["NONE"],"dnsResolutionOnTransparentProxyIPv6ExemptApps":["NONE"],"dnsResolutionOnTransparentProxyUrlCategories":["NONE"],"dnsResolutionOnTransparentProxyIPv6UrlCategories":["NONE"],"dnsResolutionOnTransparentProxyUrls":["test1.com","test2.com"],"dnsResolutionOnTransparentProxyApps":["CHATGPT_AI"],"dnsResolutionOnTransparentProxyIPv6Apps":["NONE"],"blockDomainFrontingApps":["NONE"],"preferSniOverConnHostApps":["NONE"],"enableOffice365":true,"logInternalIp":true,"enforceSurrogateIpForWindowsApp":true,"trackHttpTunnelOnHttpPorts":true,"blockHttpTunnelOnNonHttpPorts":false,"blockDomainFrontingOnHostHeader":false,"zscalerClientConnector1AndPacRoadWarriorInFirewall":true,"cascadeUrlFiltering":true,"enablePolicyForUnauthenticatedTraffic":true,"blockNonCompliantHttpRequestOnHttpPorts":true,"enableAdminRankAccess":true,"uiSessionTimeout":300,"http2NonbrowserTrafficEnabled":false,"ecsForAllEnabled":false,"dynamicUserRiskEnabled":false,"blockConnectHostSniMismatch":false,"preferSniOverConnHost":false,"sipaXffHeaderEnabled":false,"blockNonHttpOnHttpPortEnabled":true,"sniDnsOptimizationBypassUrlCategories":["NONE"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 037f3e00-9c93-99ae-8bb3-ea5a73f34ece
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
