interactions:
- request:
    body: '{"name": "tests-vcr0001", "customPhraseMatchType": "MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY",
      "dictionaryType": "PATTERNS_AND_PHRASES", "description": "tests-vcr0002", "phrases":
      [{"action": "PHRASE_COUNT_TYPE_ALL", "phrase": "YourPhrase"}], "patterns": [{"action":
      "PATTERN_COUNT_TYPE_UNIQUE", "pattern": "YourPattern"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries
  response:
    body:
      string: '{"id":3,"name":"tests-vcr0001","description":"tests-vcr0002","phrases":[{"action":"PHRASE_COUNT_TYPE_ALL","phrase":"YourPhrase"}],"customPhraseMatchType":"MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY","patterns":[{"action":"PATTERN_COUNT_TYPE_UNIQUE","pattern":"YourPattern"}],"nameL10nTag":false,"dictionaryType":"PATTERNS_AND_PHRASES","exactDataMatchDetails":[],"idmProfileMatchAccuracyDetails":[],"proximity":0,"parentDictionaryId":0,"predefinedPhrases":[],"ignoreExactMatchIdmDict":false,"includeBinNumbers":true,"dictTemplateId":0,"predefinedClone":false,"thresholdAllowed":false,"proximityEnabledForCustomDictionary":false,"includeSsnNumbers":true,"unicodePhraseMatchingEnabled":false,"custom":true,"dictionaryCloningEnabled":false,"viewOnly":false,"proximityLengthEnabled":true,"customPhraseSupported":false,"hierarchicalDictionary":false,"lowConfidenceDisabled":false,"parentDictionary":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b0d025c2-0b5b-9337-a4d9-a5fa6f2e8c03
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "updated-vcr0003", "description": "updated-vcr0003", "customPhraseMatchType":
      "MATCH_ALL_CUSTOM_PHRASE_PATTERN_DICTIONARY", "dictionaryType": "PATTERNS_AND_PHRASES",
      "phrases": [{"action": "PHRASE_COUNT_TYPE_ALL", "phrase": "YourUpdatedPhrase"}],
      "patterns": [{"action": "PATTERN_COUNT_TYPE_UNIQUE", "pattern": "YourUpdatedPattern"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zi[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpDictionaries
  response:
    body:
      string: "[{\"id\":1,\"name\":\"DictionaryTest01\",\"description\":\"test_test_1761180039256_test_1761191407330_test_1761418092202-test-1761429749486-test-1761429910048\",\"phrases\":[],\"patterns\":[],\"nameL10nTag\":false,\"dictionaryType\":\"EXACT_DATA_MATCH\",\"exactDataMatchDetails\":[{\"dictionaryEdmMappingId\":2749911,\"schemaId\":4,\"primaryFields\":[1],\"secondaryFields\":[],\"secondaryFieldMatchOn\":\"MATCHON_NONE\"}],\"idmProfileMatchAccuracyDetails\":[],\"proximity\":0,\"parentDictionaryId\":0,\"predefinedPhrases\":[],\"ignoreExactMatchIdmDict\":false,\"includeBinNumbers\":true,\"dictTemplateId\":0,\"predefinedClone\":false,\"thresholdAllowed\":true,\"proximityEnabledForCustomDictionary\":false,\"includeSsnNumbers\":true,\"unicodePhraseMatchingEnabled\":false,\"custom\":true,\"dictionaryCloningEnabled\":false,\"viewOnly\":false,\"proximityLengthEnabled\":false,\"customPhraseSupported\":fa[...]
[...]
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpDictionaries/lite
  response:
    body:
      string: "[{\"id\":1,\"name\":\"Dictionary01\",\"phrases\":[],\"nameL10nTag\":false,\"exactDataMatchDetails\":[],\"idmProfileMatchAccuracyDetails\":[],\"proximity\":0,\"parentDictionaryId\":0,\"predefinedPhrases\":[],\"ignoreExactMatchIdmDict\":false,\"includeBinNumbers\":true,\"dictTemplateId\":0,\"pred[...]
- request:
    body: '{"data": "test-pattern"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpDictionaries/validateDlpPattern
  response:
    body:
      string: '{"status":0,"errPosition":-1,"errMsg":"Valid regular expression","errParameter":null,"errSuggestion":null,"idList":null,"subIdsMap":null}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - dac605f2-5ea5-9e25-9b4a-e5c4ae957560
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 1a1a542f-0b32-4050-b2dc-add18c86a84c
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
