interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "Integration test file type control
      rule", "order": 1, "rank": 7, "filteringAction": "ALLOW", "operation": "DOWNLOAD",
      "urlCategories": ["OTHER_ADULT_MATERIAL"], "protocols": ["FOHTTP_RULE", "FTP_RULE",
      "HTTPS_RULE", "HTTP_RULE"], "deviceTrustLevels": ["UNKNOWN_DEVICETRUSTLEVEL",
      "LOW_TRUST", "MEDIUM_TRUST", "HIGH_TRUST"], "fileTypes": ["FTCATEGORY_ALZ",
      "FTCATEGORY_P7Z", "FTCATEGORY_B64"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/fileTypeRules
  response:
    body:
      string: '{"id":1571784,"protocols":["FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE"],"order":1,"description":"Integration
        test file type control rule","urlCategories":["OTHER_ADULT_MATERIAL"],"fileTypes":["FTCATEGORY_ALZ","FTCATEGORY_P7Z","FTCATEGORY_B64"],"fileTypeCategories":[{"id":247,"name":"FTCATEGORY_ALZ","parent":"ARCHIVES"},{"id":53,"name":"FTCATEGORY_P7Z","parent":"ARCHIVES"},{"id":257,"name":"FTCATEGORY_B64","parent":"ARCHIVES"}],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"minSize":0,"maxSize":409600,"filteringAction":"ALLOW","capturePCAP":false,"operation":"DOWNLOAD","activeContent":false,"unscannable":false,"passwordProtected":false,"state":"ENABLED","rank":7,"name":"tests-vcr0001"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 816be933-7e06-9f8f-8941-7c3a56618557
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/fileTypeRules/1571784
  response:
    body:
      string: '{"id":1571784,"protocols":["FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE"],"order":1,"description":"Integration
        test file type control rule","browserEunTemplateId":0,"urlCategories":["OTHER_ADULT_MATERIAL"],"fileTypes":["FTCATEGORY_ALZ","FTCATEGORY_B64","FTCATEGORY_P7Z"],"fileTypeCategories":[{"id":247,"name":"FTCATEGORY_ALZ","parent":"ARCHIVES"},{"id":257,"name":"FTCATEGORY_B64","parent":"ARCHIVES"},{"id":53,"name":"FTCATEGORY_P7Z","parent":"ARCHIVES"}],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"minSize":0,"maxSize":409600,"filteringAction":"ALLOW","capturePCAP":false,"operation":"DOWNLOAD","activeContent":false,"unscannable":false,"passwordProtected":false,"state":"ENABLED","rank":7,"lastModifiedTime":1764201014,"lastModifiedBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"accessControl":"READ_WRITE","name":"tests-vcr0001","cloudApplications":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ac11f3ad-aeff-99e1-868e-a2e7cd08c0e7
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/fileTypeRules/1571784
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 574aaf47-7db2-98c1-9a1b-01c17d6a2470
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
