interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/trafficCaptureRules
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":1181479,"name":"Default","order":-1,"rank":7,"action":"SKIP","capturePCAP":false,"state":"DISABLED","description":"Default
        rule for Traffic Capture","lastModifiedTime":1763597242,"destCountries":[],"excludeSrcCountries":false,"txnSizeLimit":"TWO_MB","txnSampling":"TWENTY_FIVE_PERCENT","predefined":true,"zpaAppSegments":[],"internalDestIps":[],"internalDestFQDNs":[],"defaultRule":true},{"accessControl":"READ_WRITE","id":1183730,"name":"Capture_Rule01","order":1,"rank":7,"departments":[{"id":15616629,"name":"A000"}],"groups":[{"id":12006601,"name":"A000"}],"timeWindows":[{"id":483,"name":"Work
        Hours"}],"action":"CAPTURE","capturePCAP":true,"state":"ENABLED","description":"Capture_Rule01","lastModifiedTime":1763789105,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"srcIpGroups":[{"id":18858405,"name":"Group01"}],"destCountries":["COUNTRY_BR","COUNTRY_CA"],"sourceCountries":["COUNTRY_AS","COUNTRY_AU"],"excludeSrcCountries":false,"destIpGroups":[{"id":18858407,"name":"Group01"}],"nwServices":[{"id":462390,"name":"ZSCALER_PROXY_NW_SERVICES","isNameL10nTag":true}],"nwApplications":["APNS","DICT"],"labels":[{"id":1598870,"name":"NewLabel_1147"}],"txnSizeLimit":"TWO_MB","txnSampling":"ONE_PERCENT","zpaAppSegments":[],"internalDestIps":[],"internalDestFQDNs":[],"defaultRule":false},{"accessControl":"READ_WRITE","id":1183731,"name":"Capture_Rule02","order":2,"rank":7,"departments":[{"id":15616629,"name":"A000"}],"groups":[{"id":12006601,"name":"A000"}],"timeWindows":[{"id":483,"name":"Work
        Hours"}],"action":"CAPTURE","capturePCAP":true,"state":"ENABLED","description":"Capture_Rule02","lastMod[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/trafficCaptureRules/order
  response:
    body:
      string: '{"ruleOrderRange":{"7":{"startOrder":1,"endOrder":10}},"maxOrderConfigured":10}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2b86df5a-4a1a-9e47-b2aa-b4b5f84c936a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/trafficCaptureRules/count
  response:
    body:
      string: '11'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5bb3ab61-7b2b-9d00-8620-c96d813e94d0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/trafficCaptureRules/ruleLabels
  response:
    body:
      string: '[{"id":1598870,"name":"NewLabel_1147","orgId":8061240}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2da0635e-75a2-9f38-9d29-13e14556693a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/trafficCaptureRules/1181479
  response:
    body:
      string: '{"accessControl":"READ_WRITE","id":1181479,"name":"Default","order":-1,"rank":7,"action":"SKIP","capturePCAP":false,"state":"DISABLED","description":"Default
        rule for Traffic Capture","lastModifiedTime":1763597242,"destCountries":[],"excludeSrcCountries":false,"txnSizeLimit":"TWO_MB","txnSampling":"TWENTY_FIVE_PERCENT","predefined":true,"zpaAppSegments":[],"internalDestIps":[],"internalDestFQDNs":[],"defaultRule":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 4ab3aed9-a862-9089-951b-8a40973681a4
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
