interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallFilteringRules
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","enableFullLogging":false,"id":1583292,"name":"djk","order":-1,"rank":7,"action":"BLOCK_DROP","capturePCAP":false,"state":"DISABLED","description":"_test_1761191330606","lastModifiedTime":1765167481,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"destIpCategories":[],"destCountries":[],"excludeSrcCountries":false,"excludeContextShieldEndPoint":false,"endPointApplications":[],"endPointApplicationGroups":[],"isEunEnabled":false,"eunTemplateId":14,"defaultRule":true},{"accessControl":"READ_WRITE","enableFullLogging":false,"id":1583290,"name":"fN","order":0,"rank":7,"action":"BLOCK_DROP","capturePCAP":false,"state":"ENABLED","description":"_test_1761191330606","lastModifiedTime":1765167481,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"destIpCategories":[],"destCountries":[],"excludeSrcCountries":false,"excludeContextShieldEndPoint":false,"endPointApplications":[],"endPointApplicationGroups":[],"isEunEnabled":false,"eunTemplateId":14,"defaultRule":false},{"accessControl":"READ_WRITE","enableFullLogging":false,"id":184226,"name":"Office
        365 One Click Rule","order":3,"rank":7,"action":"ALLOW","capturePCAP":false,"state":"DISABLED","lastModifiedTime":1773245413,"lastModifiedBy":{"id":117781255,"name":"REDACTED"},"destIpCategories":[],"destCountries":[],"excludeSrcCountries":false,"excludeContextShieldEndPoint":false,"appServiceGroups":[{"id":1,"name":"OFFICE365"}],"endPointApplications":[],"endPointApplicationGroups":[],"isEunEnabled":false,"eunTemplateId":14,"predefined":true,"defaultRule":false},{"accessControl":"READ_WRITE","enableFullLogging":false,"id":996855,"name":"Block
        malicious IPs and domains","order":3,"rank":7,"action":"BLOCK_DROP","capturePCAP":false,"state":"ENABLED","description":"Block
        malicious IPs and domains","lastModifiedTime":1773245413,"lastModifiedBy":{"id":117781255,"name":"REDACTED"},"destIpCategories":["MALWARE_SITE"],"destCountries":[],"excludeSrcCountries":false,"excludeContextShieldEndPoint":false,"endPointApplications":[],"endPointApplicationGroups":[],"isEunEnabled":false,"eunTemplateId":14,"predefined":true,"defaultRule":false},{"accessControl":"READ_WRITE","enableFullLogging":false,"id":449521,"name":"UCaaS
        One Click Rule","order":4,"rank":7,"action":"ALLOW","capturePCAP":false,"state":"DISABLED","lastModifiedTime":1773327640,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"destIpCategories":[],"destCountries":[],"excludeSrcCountries":false,"excludeContextShieldEndPoint":false,"appServiceGroups":[{"id":2,"name":"ZOOM"}],"endPointApplications":[],"endPointApplicationGroups":[],"isEunEnabled":false,"eunTemplateId":14,"predefined":true,"defaultRule":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 24a8d9de-a6fd-9ece-80e8-a706962d23bd
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '36'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallFilteringRules?ruleAction=ALLOW
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","enableFullLogging":false,"id":184226,"name":"Office
        365 One Click Rule","order":3,"rank":7,"action":"ALLOW","capturePCAP":false,"state":"DISABLED","lastModifiedTime":1773245413,"lastModifiedBy":{"id":117781255,"name":"REDACTED"},"des[...]
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "order": 1, "rank":
      7, "action": "ALLOW", "enableFullLogging": true, "srcIps": ["192.168.100.0/24",
      "192.168.200.1"], "destAddresses": ["3.217.228.0-3.217.231.255"], "destCountries":
      ["COUNTRY_US"], "deviceTrustLevels": ["UNKNOWN_DEVICETRUSTLEVEL", "LOW_TRUST",
      "MEDIUM_TRUST", "HIGH_TRUST"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallFilteringRules
  response:
    body:
      string: '{"enableFullLogging":true,"id":1690931,"name":"tests-vcr0001","order":1,"rank":7,"action":"ALLOW","capturePCAP":false,"state":"ENABLED","description":"tests-vcr0002","srcIps":["192.168.100.0/24","192.168.200.1"],"destAddresses":["3.217.228.0-3.217.231.255"],"destIpCategories":[],"destCountries":["COUNTRY_US"],"excludeSrcCountries":false,"excludeContextShieldEndPoint":false,"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"isEunEnabled":false,"eunTemplateId":14,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 434d5b3c-bbbd-9ab2-ab7e-8e0b084c409c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '32'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallFilteringRules/1690931
  response:
    body:
      string: '{"accessControl":"READ_WRITE","enableFullLogging":true,"id":1690931,"name":"tests-vcr0001","order":1,"rank":7,"action":"ALLOW","capturePCAP":false,"state":"ENABLED","description":"tests-vcr0002","lastModifiedTime":1773371850,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"srcIps":["192.168.100.0/24","192.168.200.1"],"destAddresses":["3.217.228.0-3.217.231.255"],"destIpCategories":[],"destCountries":["COUNTRY_US"],"sourceCountries":[],"excludeSrcCountries":false,"excludeContextShieldEndPoint":false,"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"isEunEnabled":false,"eunTemplateId":14,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2708dc73-61bd-93ce-9517-b2d51b0ba502
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallFilteringRules?page=1&pageSize=10
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","enableFullLogging":false,"id":1583292,"name":"djk","order":-1,"rank":7,"action":"BLOCK_DROP","capturePCAP":false,"state":"DISABLED","description":"_test_1761191330606","lastModifiedTime":1765167481,"lastModifiedBy":{"id":117810311,"name":"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallFilteringRules/1690931
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8ac271d7-6f0b-9bdf-b8a5-da73a328e35e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4974'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
