interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/riskProfiles
  response:
    body:
      string: '[{"id":73698,"profileName":"RiskProfile_12345","profileType":"CLOUD_APPLICATIONS","riskIndex":[1,2,3,4,5],"status":"SANCTIONED","excludeCertificates":0,"certifications":["CCPA","CISP","AICPA"],"poorItemsOfService":"YES","adminAuditLogs":"YES","dataBreach":"YES","sourceIpRestrictions":"YES","mfaSupport":"YES","sslPinned":"YES","httpSecurityHeaders":"YES","evasive":"YES","dnsCaaPolicy":"YES","weakCipherSupport":"YES","passwordStrength":"GOOD","sslCertValidity":"YES","vulnerability":"YES","malwareScanningForContent":"YES","fileSharing":"YES","sslCertKeySize":"BITS_2048","vulnerableToHeartBleed":"YES","vulnerableToLogJam":"YES","vulnerableToPoodle":"YES","vulnerabilityDisclosure":"YES","supportForWaf":"YES","remoteScreenSharing":"YES","senderPolicyFramework":"YES","domainKeysIdentifiedMail":"YES","domainBasedMessageAuth":"YES","dataEncryptionInTransit":["UN_KNOWN","TLSV1_0","TLSV1_1","TLSV1_2","TLSV1_3","SSLV2","SSLV3"],"lastModTime":1750221441,"createTime":1750221299,"modifiedBy":{"id":19474996,"name":"William
        Guilherme"},"customTags":[{"id":1,"name":"TAG012"},{"id":2,"name":"TAG02"}]},{"id":73721,"profileName":"tests-tozoulxemm","profileType":"CLOUD_APPLICATIONS","riskIndex":[1,2,3,4,5],"status":"SANCTIONED","excludeCertificates":0,"certifications":["CCPA","CISP","AICPA"],"poorItemsOfService":"YES","adminAuditLogs":"YES","dataBreach":"YES","sourceIpRestrictions":"YES","mfaSupport":"YES","sslPinned":"YES","httpSecurityHeaders":"YES","evasive":"YES","dnsCaaPolicy":"YES","weakCipherSupport":"YES","passwordStrength":"GOOD","sslC[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/riskProfiles/lite
  response:
    body:
      string: '[{"id":73698,"profileName":"RiskProfile_12345","profileType":"CLOUD_APPLICATIONS","status":"ANY"},{"id":73721,"profileName":"tests-tozoulxemm","profileType":"CLOUD_APPLICATIONS","status":"ANY"},{"id":74071,"profileName":"tests-bijuyssvgy","profileType":"CLOUD_APPLICATIONS","status":"ANY"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d795696a-451d-917f-b5b1-1d46c271ad79
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/riskProfiles/73698
  response:
    body:
      string: '{"id":73698,"profileName":"RiskProfile_12345","profileType":"CLOUD_APPLICATIONS","riskIndex":[1,2,3,4,5],"status":"SANCTIONED","excludeCertificates":0,"certifications":["CCPA","CISP","AICPA"],"poorItemsOfService":"YES","adminAuditLogs":"YES","dataBreach":"YES","sourceIpRestrictions":"YES","mfaSup[...]
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestRiskProfile_VCR", "description": "Test risk profile for VCR
      testing", "riskIndexBucket": "LOW"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/riskProfiles
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - ddbb2501-1e9a-97c4-acf7-158a6e138c51
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - 62b43006-8b17-489e-9fef-219e04e4af48
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
