interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServices?search=ICMP_ANY
  response:
    body:
      string: '[{"id":773995,"name":"ICMP_ANY","tag":"ICMP_ANY","type":"STANDARD","description":"ICMP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 81762fe2-8c82-92dd-8052-0d5a83d51286
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServices?search=UDP_ANY
  response:
    body:
      string: '[{"id":773997,"name":"UDP_ANY","tag":"UDP_ANY","srcUdpPorts":[],"destUdpPorts":[],"type":"STANDARD","description":"UDP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d81d87f9-5f6b-9ef8-9b20-bc4c567b82ca
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServices?search=TCP_ANY
  response:
    body:
      string: '[{"id":773999,"name":"TCP_ANY","tag":"TCP_ANY","srcTcpPorts":[],"destTcpPorts":[],"type":"STANDARD","description":"TCP_ANY_DESC","creatorContext":"ZIA","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e7969902-983e-9225-89f7-6db05f7e3c70
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServices?search=DNS
  response:
    body:
      string: '[{"id":774003,"name":"DNS","tag":"DNS","srcTcpPorts":[],"destTcpPorts":[{"start":53}],"srcUdpPorts":[],"destUdpPorts":[{"start":53}],"type":"PREDEFINED","description":"DNS_DESC","creatorContext":"ZIA","isNameL10nTag":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3a709cb5-5b61-99ba-82df-090f711b4f0d
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "services": [{"id":
      773995}, {"id": 773997}, {"id": 773999}, {"id": 774003}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServiceGroups
  response:
    body:
      string: '{"id":10226687,"name":"tests-vcr0001","services":[{"id":773995,"name":"ICMP_ANY","isNameL10nTag":true},{"id":773997,"name":"UDP_ANY","isNameL10nTag":true},{"id":773999,"name":"TCP_ANY","isNameL10nTag":true},{"id":774003,"name":"DNS","isNameL10nTag":true}],"description":"tests-vcr0002"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6dcd9096-8b8d-9502-89a2-1979982c7371
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServiceGroups/10226687
  response:
    body:
      string: '{"id":10226687,"name":"tests-vcr0001","services":[{"id":773995,"name":"ICMP_ANY","isNameL10nTag":true},{"id":773997,"name":"UDP_ANY","isNameL10nTag":true},{"id":773999,"name":"TCP_ANY","isNameL10nTag":true},{"id":774003,"name":"DNS","isNameL10nTag":true}],"description":"tests-vcr0002","creatorContext":"ZIA"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 809d8a8f-61da-9a8d-971c-b08e0f6e019b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServiceGroups/10226687
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c45b6f9a-046b-9d92-8aa3-60648dd4ce39
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
