interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpNotificationTemplates
  response:
    body:
      string: '[{"id":64282,"name":"BD_DLP_Notification_Template","subject":"DLP Violation:
        ${TRANSACTION_ID} ${RULENAME}","tlsEnabled":true,"attachContent":true,"plainTextMessage":"The
        attached content triggered a Web DLP rule for your organization.\n\nTransaction
        ID: ${TRANSACTION_ID}\nUser Accessing the URL: ${USER}\nURL Accessed: ${URL}\nPosting
        Type: ${TYPE}\nDLP MD5: ${DLPMD5}\nTriggered DLP Violation Engines (assigned
        to the hit rule): ${ENGINES_IN_RULE}\nTriggered DLP Violation Dictionaries
        (assigned to the hit rule): ${DICTIONARIES}\n\nNo action is required on your
        part.","htmlMessage":"<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<style>\n\t\t\t.user
        {color: rgb(1, 81, 152);}\n\t\t\t.url {color: rgb(1, 81, 152);}\n\t\t\t.postingtype
        {color: rgb(1, 81, 152);}\n\t\t\t.engines {color: rgb(1, 81, 152);}\n\t\t\t.dictionaries
        {color: rgb(1, 81, 152);}\n\t\t</style>\n\t</head>\n\t<body>\n\t\tThe attached
        content triggered a Web DLP rule for your organization.\n\t\t<br/><br/>\n\t\tTransaction
        ID: <span class=\"transaction_id\">${TRANSACTION_ID}</span>\n\t\t<br/>\n\t\tUser
        Accessing the URL: <span class=\"user\">${USER}</span>\n\t\t<br/>\n\t\tURL
        Accessed: <span class=\"url\">${URL}</span>\n\t\t<br/>\n\t\tPosting Type:
        <span class=\"postingtype\">${TYPE}</span>\n\t\t<br/>\n\t\tDLP MD5: <span
        class=\"dlpmd5\">${DLPMD5}</span>\n\t\t<br/>\n\t\tTriggered DLP Violation
        Engines (assigned to the hit rule): <span class=\"engines\">${ENGINES_IN_RULE}</span>\n\t\t<br/>\n\t\tTriggered
        DLP Violation Dictionaries (assigned to the hit rule): <span class=\"dictionaries\">${DICTIONARIES}</span>\n\t\t<br/><br/>\n\t\tNo
        action is required on your part.\n\t\t<br/><br/>\n\t</body>\n</html>"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 00f2149e-9af6-9936-9cf9-f23aabde42ac
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - e5e5a14b-e5f3-42a4-9ff4-1a8caa264d60
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpNotificationTemplates/64282
  response:
    body:
      string: '{"id":64282,"name":"BD_DLP_Notification_Template","subject":"DLP Violation:
        ${TRANSACTION_ID} ${RULENAME}","tlsEnabled":true,"attachContent":true,"plainTextMessage":"The
        attached content triggered a Web DLP rule for your organization.\n\nTransaction
        ID: ${TRANS[...]
