interactions:
- request:
    body: '{"name": "tests-nss-server", "status": "ENABLED", "type": "NSS_FOR_FIREWALL"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/nssServers
  response:
    body:
      string: '{"id":23226,"name":"tests-nss-server","status":"ENABLED","type":"NSS_FOR_FIREWALL"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 28fab899-776a-9007-92ab-6f9ca5b44450
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-nss-server-updated", "status": "DISABLED", "type": "NSS_FOR_FIREWALL"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.zsapi.net/zia/api/v1/nssServers/23226
  response:
    body:
      string: '{"id":23226,"name":"tests-nss-server","status":"DISABLED","state":"HEALTHY","type":"NSS_FOR_FIREWALL"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 74b7ad15-df4a-987f-ab22-2bf05007fb1f
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/nssServers?search=tests-nss-server
  response:
    body:
      string: '[{"id":13242,"name":"Azure-ZNSS-VM01","status":"ENABLED","state":"UNHEALTHY","type":"NSS_FOR_FIREWALL"},{"id":23188,"name":"TestNSSServer_1884","status":"ENABLED","state":"HEALTHY","type":"NSS_FOR_FIREWALL"},{"id":23226,"name":"tests-nss-server","status":"DISABLED","state":"HEALTHY","type":"NSS_FOR_FIREWALL"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1a0e4a23-42ac-94f5-8993-6f2a4edba6dc
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/nssServers/23226
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2bb862c1-534b-932f-92cd-11c8fd16f67f
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
