interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations
  response:
    body:
      string: '[{"id":23712563,"name":"Vancouver01","nonEditable":false,"parentId":0,"upBandwidth":0,"dnBandwidth":0,"country":"CANADA","state":"British
        Columbia","language":"NONE","tz":"CANADA_AMERICA_VANCOUVER","geoOverride":false,"latitude":0.0,"longitude":0.0,"ipAddresses":["96.53.93.170"],"vpnCredentials":[{"id":23712561,"type":"IP","ipAddress":"96.53.93.170"}],"authRequired":true,"sslScanEnabled":false,"zappSslScanEnabled":false,"xffForwardEnabled":true,"otherSubLocation":false,"ecLocation":false,"bcLocation":false,"ccLocation":false,"surrogateIP":true,"cookiesAndProxy":true,"idleTimeInMinutes":120,"displayTimeUnit":"HOUR","surrogateIPEnforcedForKnownBrowsers":true,"surrogateRefreshTimeInMinutes":60,"surrogateRefreshTimeUnit":"HOUR","kerberosAuth":false,"jwtAuth":false,"digestAuthEnabled":false,"ofwEnabled":true,"ipsControl":true,"aupEnabled":false,"cautionEnabled":false,"aupBlockInternetUntilAccepted":false,"aupForceSslInspection":false,"iotDiscoveryEnabled":false,"iotEnforcePolicySet":false,"aupTimeoutInDays":0,"childCount":0,"matchInChild":false,"staticLocationGroups":[],"dynamiclocationGroups":[{"id":8061255,"name":"Corporate
        User Traffic Group"}],"excludeFromDynamicGroups":false,"excludeFromManualGroups":false,"extranet":{"id":0},"extranetIpPool":{"id":0},"extranetDns":{"id":0},"defaultExtranetTsPool":false,"defaultExtranetDns":false,"profile":"CORPORATE","description":"Vancouver"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 09478c07-4b4b-90b5-bc73-3c183ba96d99
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations/lite
  response:
    body:
      string: '[{"id":-3,"name":"Road Warrior","parentId":0,"tz":"GMT","xffForwardEnabled":false,"aupEnabled":false,"cautionEnabled":false,"aupBlockInternetUntilAccepted":false,"aupForceSslInspection":false,"surrogateIP":false,"surrogateIPEnforcedForKnownBrowsers":false,"otherSubLocation":false,"ofwEnabled":false,"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations/23712563
  response:
    body:
      string: '{"id":23712563,"name":"Vancouver01","nonEditable":false,"parentId":0,"upBandwidth":0,"dnBandwidth":0,"country":"CANADA","state":"British
        Columbia","language":"NONE","tz":"CANADA_AMERICA_VANCOUVER","geoOverride":false,"latitude":0.0,"longitude":0.0,"ipAddresses":["96.53.93.170"],"vpnCreden[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations/23712563/sublocations
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - edfb18b0-ba6c-98e3-9797-b11f25c861d5
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations/groups
  response:
    body:
      string: '[{"id":8061255,"name":"Corporate User Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["CORPORATE"]},"locations":[{"id":23712563,"name":"Vancouver01"}],"locationsCount":1,"comments":"Default
        Location Group - Corporate User Traffic","lastModTime":1619562599,"predefined":true},{"id":8061256,"name":"Server
        Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["SERVER"]},"comments":"Default
        Location Group - Server Traffic","lastModTime":1619562599,"predefined":true},{"id":8061257,"name":"Guest
        Wifi Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["GUESTWIFI"]},"comments":"Default
        Location Group - Guest Wifi","lastModTime":1619562599,"predefined":true},{"id":8061258,"name":"IoT
        Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["IOT"]},"comments":"Default
        Location Group - IoT Traffic","lastModTime":1619562599,"predefined":true},{"id":10694169,"name":"Workload
        Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["WORKLOAD"]},"comments":"Default
        Location Group - Workload Traffic","lastModTime":1657266581,"predefined":true},{"id":12146598,"name":"SDWAN_USA","groupType":"STATIC_GROUP","comments":"SDWAN_USA","lastModUser":{"id":12006563,"name":"REDACTED"},"lastModTime":1677566555},{"id":12146599,"name":"SDWAN_CAN","groupType":"STATIC_GROUP","lastModUser":{"id":12006563,"name":"REDACTED"},"lastModTime":1676578433},{"id":12146600,"name":"SDWAN_GLOBAL","groupType":"STATIC_GROUP","lastModUser":{"id":12006563,"name":"REDACTED"},"lastModTime":1676578445},{"id":12188331,"name":"SDWAN_USA_DYNAMIC","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"name":{"matchString":"SDWAN_USA","matchType":"CONTAINS"},"countries":["NONE","UNITED_STATES"],"city":{"matchString":"San
        Jose, California","matchType":"CONTAINS"},"enforceFirewallControl":true,"profiles":["CORPORATE"]},"comments":"SDWAN_USA_DYNAMIC","lastModUser":{"id":12006563,"name":"REDACTED"},"lastModTime":1677566738},{"id":22394093,"name":"Extranet
        Group for NewExtranet 8432","defaultExtranetGroup":true,"groupType":"DYNAMIC_GROUP","extranetLocationGroup":true,"dynamicLocationGroupCriteria":{"extranet":{"id":22394092,"name":"NewExtranet
        8432"},"profiles":["EXTRANET"]},"lastModUser":{"id":19475409,"name":"GO_SDK_API"},"lastModTime":1745870027},{"id":22417756,"name":"Extranet
        Group for NewExtranet 7276","defaultExtranetGroup":true,"groupType":"DYNAMIC_GROUP","extranetLocationGroup":true,"dynamicLocationGroupCriteria":{"extranet":{"id":22417755,"name":"NewExtranet
        7276"},"profiles":["EXTRANET"]},"lastModUser":{"id":19475409,"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations/groups/lite
  response:
    body:
      string: '[{"id":8061254,"name":"Unassigned Locations","dynamicLocationGroupCriteria":{"profiles":["NONE"]}},{"id":8061255,"name":"Corporate
        User Traffic Group","dynamicLocationGroupCriteria":{"profiles":["CORPORATE"]}},{"id":8061256,"name":"Server
        Traffic Group","dynamicLocationGroupCri[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations/groups/8061255
  response:
    body:
      string: '{"id":8061255,"name":"Corporate User Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["CORPORATE"]},"locations":[{"id":23712563,"name":"Vancouver01"}],"comments":"Default
        Location Group - Corporate User Traffic","lastModTime":1619562599,"predefined":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 3f92b39b-90c9-9f6e-973f-00aa42e1369b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations/groups/count
  response:
    body:
      string: '16'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a9314fe3-cf9e-9d4c-a238-d32015bc85db
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/locations/supportedCountries
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7e63291e-8f43-948f-9b9c-abba7ca48ab9
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/region/search?country=United+States&search=San
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"Invalid or blank search
        prefix."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 1e9aa69d-e391-992e-9305-d38a6376f99a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - e1809cf1-4aa9-44d8-8c1f-752b63cff259
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
