interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dnsGateways
  response:
    body:
      string: '[{"id":2278232,"name":"Zscaler Trusted DNS Resolver","dnsGatewayType":"OFW_PDNS_REDIR_GW","primaryIpOrFqdn":"zstrustedresolver.zscalerthree.net","primaryPorts":[53,53],"protocols":["TCP","UDP"],"failureBehavior":"FAIL_RET_ERR","autoCreated":true,"natZtrGateway":true,"dnsGatewayProtocols":["UDP","TCP"]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cdd8209a-1d19-9db5-b8df-624cc9260a9c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4969'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestDNSGateway_VCR", "primaryDns": "8.8.8.8", "secondaryDns":
      "8.8.4.4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dnsGateways
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - dd5c7f68-8ab6-93ba-97d5-d273ebcc96c7
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4968'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dnsGateways/2278232
  response:
    body:
      string: '{"id":2278232,"name":"Zscaler Trusted DNS Resolver","dnsGatewayType":"OFW_PDNS_REDIR_GW","primaryIpOrFqdn":"zstrustedresolver.zscalerthree.net","primaryPorts":[53,53],"protocols":["TCP","UDP"],"failureBehavior":"FAIL_RET_ERR","autoCreated":true,"natZtrGateway":true,"dnsGatewayProtocols":["UDP","TCP"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 10c93fcd-b72e-9b5d-8d46-768d142fbc65
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4967'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
