interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '[{"id":10250311,"name":"yq","type":"DSTN_FQDN","addresses":["test3.acme.com","test1.acme.com","test2.acme.com"],"description":"this
        is an acceptance test","creatorContext":"ZIA","ipCategories":[],"countries":[],"urlCategories":[],"ipAddresses":["test3.acme.com","test1.acme.com","test2.acme.com"]},{"id":10252757,"name":"qpshkozmqk","type":"DSTN_FQDN","addresses":["test1.acme.com","test2.acme.com","test3.acme.com"],"description":"this
        is an acceptance test","creatorContext":"ZIA","ipCategories":[],"countries":[],"urlCategories":[],"ipAddresses":["test1.acme.com","test2.acme.com","test3.acme.com"]},{"id":10272762,"name":"tests-jrmkucejmp","type":"DSTN_IP","addresses":["3.217.228.0-3.217.231.255"],"description":"tests-jrmkucejmp",[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups/10250311
  response:
    body:
      string: '{"id":10250311,"name":"yq","type":"DSTN_FQDN","addresses":["test3.acme.com","test2.acme.com","test1.acme.com"],"description":"this
        is an acceptance test","creatorContext":"ZIA","ipCategories":[],"countries":[],"urlCategories":[],"ipAddresses":["test3.acme.com","test2.acme.com","test1.acme.com"]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d3914a29-481d-9cc7-9ffa-2bf2cfa4cbd8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 57ea9c75-1e02-417a-87ca-8d9c0e2540ae
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups
  response:
    body:
      string: '[{"id":10195784,"name":"tf-acc-test-ffebzpkqvt","ipAddresses":["192.168.1.2","192.168.1.1","192.168.1.3"],"description":"this
        is an acceptance test","creatorContext":"ZIA","isNonEditable":false},{"id":10237200,"name":"erxvdmatli","ipAddresses":["192.168.1.1","192.168.1.3","192.168.1.2"],"description":"this
        is an acceptance test","creatorContext":"ZIA","isNonEditable":false},{"id":10244378,"name":"tests-kcajdegtbj","ipAddresses":["192.168.2.75","192.168.1.147"],"description":"tests-kcajdegtbj","creatorContext":"EC","isNonEditable":false},{"id":10249146,"name":"ckystwtefb","ipAddresses":["192.168.1.2","192.168.1.3","192.168.1.1"],"description":"this
        is an acceptance[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups/lite
  response:
    body:
      string: '[{"id":10195784,"name":"tf-acc-test-ffebzpkqvt"},{"id":10237200,"name":"erxvdmatli"},{"id":10244378,"name":"tests-kcajdegtbj"},{"id":10249146,"name":"ckystwtefb"},{"id":10252014,"name":"tests-zeospjloex"},{"id":10252686,"name":"tf-acc-test-sxjrovzour"},{"id":10252742,"name":"qmpipnlith"},{"id[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups/10195784
  response:
    body:
      string: '{"id":10195784,"name":"tf-acc-test-ffebzpkqvt","ipAddresses":["192.168.1.1","192.168.1.2","192.168.1.3"],"description":"this
        is an acceptance test","creatorContext":"ZIA","isNonEditable":false,"extranetIpPool":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 87a561ea-d88b-9a3a-a6bb-c18b5c4e8d17
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - 57ea9c75-1e02-417a-87ca-8d9c0e2540ae
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkApplicationGroups
  response:
    body:
      string: '[{"id":774129,"name":"Microsoft Office365","networkApplications":["YAMMER","OFFICE365","SKYPE_FOR_BUSINESS","OUTLOOK","SHAREPOINT","SHAREPOINT_ADMIN","SHAREPOINT_BLOG","SHAREPOINT_CALENDAR","SHAREPOINT_DOCUMENT","SHAREPOINT_ONLINE","ONEDRIVE"],"description":"administratio_xoHMOfjM"},{"id":9977817,"name":"Microsoft
        Office365_1761585129520","networkApplications":["YAMMER","OFFICE365","SKYPE_FOR_BUSINESS","OUTLOOK","SHAREPOINT","SHAREPOINT_ADMIN","SHAREPOINT_BLOG","SHAREPOINT_CALENDAR","SHAREPOINT_DOCUMENT","SHAREPOINT_ONLINE","ONEDRIVE"],"description":"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkApplicationGroups/774129
  response:
    body:
      string: '{"id":774129,"name":"Microsoft Office365","networkApplications":["YAMMER","OFFICE365","SKYPE_FOR_BUSINESS","OUTLOOK","SHAREPOINT","SHAREPOINT_ADMIN","SHAREPOINT_BLOG","SHAREPOINT_CALENDAR","SHAREPOINT_DOCUMENT","SHAREPOINT_ONLINE","ONEDRIVE"],"description":"administratio_xoHMOfjM"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3c72ab54-746d-92cc-8adb-86986099b3b0
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 57ea9c75-1e02-417a-87ca-8d9c0e2540ae
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkApplications
  response:
    body:
      string: '[{"id":"APNS","parentCategory":"APP_SERVICE","description":"APNS_DESC","deprecated":false},{"id":"DICT","parentCategory":"APP_SERVICE","description":"DICT_DESC","deprecated":false},{"id":"EPM","parentCategory":"APP_SERVICE","description":"EPM_DESC","deprecated":false},{"id":"GARP","parentCategory":"APP_SERVICE","description":"GARP_DESC","deprecated":false},{"id":"ICLOUD","parentCategory":"APP_SERVICE","description":"ICLOUD_DESC","deprecated":false},{"id":"IOS_OTA_UPDATE","parentCategory":"APP_SERVICE","description":"IOS_OTA_UPDATE_DESC","deprecated":false},{"id":"LDAP","parentC[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkApplications/APNS
  response:
    body:
      string: '{"id":"APNS","parentCategory":"APP_SERVICE","description":"APNS_DESC","deprecated":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 258db167-68a8-94d9-b150-1f7cda15e331
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - 57ea9c75-1e02-417a-87ca-8d9c0e2540ae
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServiceGroups
  response:
    body:
      string: '[{"id":9910411,"name":"ServiceGroup01","services":[{"id":773995,"name":"ICMP_ANY","isNameL10nTag":true},{"id":773997,"name":"UDP_ANY","isNameL10nTag":true}],"description":"ServiceGroup01","creatorContext":"EC"},{"id":10588846,"name":"test_network_service_group_213ba843","services":[{"id":773995,"name":"ICMP_ANY","isNameL10nTag":true}],"description":"updated
        description","creatorContext":"ZIA"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1ac5be52-a0da-96cf-ada7-418f85288fb6
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - 57ea9c75-1e02-417a-87ca-8d9c0e2540ae
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServiceGroups/lite
  response:
    body:
      string: '[{"id":9910411,"name":"ServiceGroup01"},{"id":10588846,"name":"test_network_service_group_213ba843"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2306b274-b453-9ea0-b178-f87b3981e3d3
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - 57ea9c75-1e02-417a-87ca-8d9c0e2540ae
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/networkServiceGroups/9910411
  response:
    body:
      string: '{"id":9910411,"name":"ServiceGroup01","services":[{"id":773995,"name":"ICMP_ANY","isNameL10nTag":true},{"id":773997,"name":"UDP_ANY","isNameL10nTag":true}],"description":"ServiceGroup01","creatorContext":"EC"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b5adfbb1-8ae0-975a-9838-9897c338801e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - 57ea9c75-1e02-417a-87ca-8d9c0e2540ae
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
