interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/advancedThreatSettings
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 51618e3a-1862-9323-96c2-8c9a5c3e8089
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/advancedThreatSettings
  response:
    body:
      string: '{"riskTolerance":50,"riskToleranceCapture":false,"cmdCtlServerBlocked":true,"cmdCtlServerCapture":false,"cmdCtlTrafficBlocked":true,"cmdCtlTrafficCapture":false,"malwareSitesBlocked":true,"malwareSitesCapture":false,"activeXBlocked":true,"activeXCapture":false,"browserExploitsBlocked":true,"browserExploitsCapture":false,"fileFormatVunerabilitesBlocked":true,"fileFormatVunerabilitesCapture":false,"knownPhishingSitesBlocked":true,"knownPhishingSitesCapture":false,"suspectedPhishingSitesBlocked":true,"suspectedPhishingSitesCapture":false,"suspectAdwareSpywareSitesBlocked":true,"suspectAdwareSpywareSitesCapture":false,"webspamBlocked":true,"webspamCapture":false,"ircTunnellingBlocked":true,"ircTunnellingCapture":false,"anonymizerBlocked":true,"anonymizerCapture":false,"cookieStealingBlocked":true,"cookieStealingPCAPEnabled":false,"potentialMaliciousRequestsBlocked":true,"potentialMaliciousRequestsCapture":false,"blockCountriesCapture":false,"bitTorrentBlocked":true,"bitTorrentCapture":false,"torBlocked":true,"torCapture":false,"googleTalkBlocked":true,"googleTalkCapture":false,"sshTunnellingBlocked":true,"sshTunnellingCapture":false,"cryptoMiningBlocked":true,"cryptoMiningCapture":false,"adSpywareSitesBlocked":true,"adSpywareSitesCapture":false,"dgaDomainsBlocked":true,"alertForUnknownOrSuspiciousC2Traffic":false,"dgaDomainsCapture":false,"maliciousUrlsCapture":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d6ee0b66-208c-9017-bf74-8eb5bb25280b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/securityExceptions
  response:
    body:
      string: '{"bypassUrls":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2b6b2fd3-918d-960a-9fea-409b05e852ff
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/maliciousUrls
  response:
    body:
      string: '{"maliciousUrls":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 37557043-10f2-9d9f-b91f-b597b2e2c1ab
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '48'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"maliciousUrls": ["malicious-test-site.example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/maliciousUrls?action=ADD_TO_LIST
  response:
    body:
      string: '{"maliciousUrls":["malicious-test-site.example.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a52307ed-d889-9072-ba44-629e096d8934
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"maliciousUrls": ["malicious-test-site.example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/maliciousUrls?action=REMOVE_FROM_LIST
  response:
    body:
      string: '{"maliciousUrls":["malicious-test-site.example.com"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 829a7dbe-6752-98f6-bc4b-73da6c129b70
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"bypassUrls": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/securityExceptions
  response:
    body:
      string: '{"bypassUrls":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 15031b0c-e9bd-9e37-b9aa-cab5a1a3b2ff
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - dd464050-f9d6-42db-a072-d66ea7ac1486
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
