interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpEngines
  response:
    body:
      string: '[{"id":1,"name":"Your DLP-Engine name","engineExpression":"((D45.S
        > 0))","customDlpEngine":true,"description":"Your Description"},{"id":2,"name":"test_zia_ansible_TT40o","engineExpression":"((D63.S
        > 1))","customDlpEngine":true,"description":"test_zia_ansible_TT40o"},{"id":3,"name":"test_zia_ansible_PdiGl","engineExpression":"((D63.S
        > 1))","customDlpEngine":true,"description":"test_zia_ansible_PdiGl"},{"id":4,"name":"test_zia_ansible_sd4HU","engineExpression":"((D63.S
        > 1))","customDlpEngine":true,"description":"test_zia_ansible_sd4HU"},{"id":5,"name":"test_zia_ansible_Wcj8z","engineExpression":"((D63.S
        > 1))","customDlpEngine":true,"description":"test_zia_ansible_Wcj8z"},{"id":64,"predefinedEngineName":"CYBER_BULLY_ENG","engineExpression":"(D119.S
        > 0)","customDlpEngine":false,"description":"Detect self-harm & cyberbullying
        violations"},{"id":63,"predefinedEngineName":"HIPAA","engineExpression":"(D60.S
        > 0 AND D62.S > 5)","customDlpEngine":false,"description":"Detect HIPAA violations"},{"id":62,"predefinedEngineName":"GLBA","engineExpression":"(D61.S
        > 0 AND D62.S > 5)","customDlpEngine":false,"description":"Detect GLBA violations"},{"id":61,"predefinedEngineName":"PCI","engineExpression":"(D63.S
        > 5 AND D62.S > 5)","customDlpEngine":false,"description":"Detect PCI violations"},{"id":60,"predefinedEngineName":"OFFENSIVE_LANGUAGE","engineExpression":"(D48.S
        > 0)","customDlpEngine":false,"description":"Detect Offensive language"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 20d0c78a-5127-9797-b1a9-d05b63da094e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 5508ba3c-37fb-4b29-b973-280af2af5bd7
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpEngines/lite
  response:
    body:
      string: '[{"id":1,"name":"Your DLP-Engine name","customDlpEngine":true},{"id":2,"name":"test_zia_ansible_TT40o","customDlpEngine":true},{"id":3,"name":"test_zia_ansible_PdiGl","customDlpEngine":true},{"id":4,"name":"test_zia_ansible_sd4HU","customDlpEngine":true},{"id":5,"name":"test_zia_ansible_Wcj8z","cust[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpEngines/1
  response:
    body:
      string: '{"id":1,"name":"Your DLP-Engine name","engineExpression":"((D45.S >
        0))","customDlpEngine":true,"description":"Your Description"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 18155b26-a096-919a-a49a-af7f7dffc34f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 5508ba3c-37fb-4b29-b973-280af2af5bd7
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"data": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpEngines/validateDlpExpr
  response:
    body:
      string: '{"status":"Failed","errMsg":"Unexpected token, Error Position: 0"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 298c1114-dcfb-928c-8f11-148cc811594a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - 5508ba3c-37fb-4b29-b973-280af2af5bd7
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
