interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/workloadGroups
  response:
    body:
      string: '[{"id":17811899,"name":"BD_WORKLOAD_GROUP01","description":"BD_WORKLOAD_GROUP01","expressionJson":{"expressionContainers":[{"tagType":"ATTR","operator":"AND","tagContainer":{"tags":[{"key":"GroupName","value":"example"}],"operator":"AND"}},{"tagType":"SUBNET","operator":"AND","tagContainer":{"tags":[{"key":"Vpc-id","value":"vpcid12344"}],"operator":"AND"}}]},"expression":"\u0000\u0001\u0000\u0003\u0000\u0001\u0000\u0003\u0000
        \u0000\u0004\u0000\u0001\u0000\u0003\u0000!\u0000\u0004\u0000\u0004","lastModifiedTime":1705956482,"lastModifiedBy":{"id":8061243,"name":"REDACTED"}},{"id":17866268,"name":"BD_WORKLOAD_GROUP02","description":"BD_WORKLOAD_GROUP02","expressionJson":{"expressionContainers":[{"tagType":"ATTR","operator":"AND","tagContainer":{"tags":[{"key":"IamInstanceProfile-Arn","value":"test01"}],"operator":"AND"}},{"tagType":"ANY","operator":"AND","tagContainer":{"tags":[{"key":"GroupId","value":"123456789"}],"operator":"AND"}}]},"expression":"\u0000\u0001\u0000\u0003\u0000\u0001\u0000\u0003\u0000\"\u0000\u0004\u0000\u0001\u0[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/workloadGroups/17811899
  response:
    body:
      string: '{"id":17811899,"name":"BD_WORKLOAD_GROUP01","description":"BD_WORKLOAD_GROUP01","expressionJson":{"expressionContainers":[{"tagType":"ATTR","operator":"AND","tagContainer":{"tags":[{"key":"GroupName","value":"example"}],"operator":"AND"}},{"tagType":"SUBNET","operator":"AND","tagContainer":{"tags":[{"key":"Vpc-id","value":"vpcid12344"}],"operator":"AND"}}]},"expression":"\u0000\u0001\u0000\u0003\u0000\u0001\u0000\u0003\u0000
        \u0000\u0004\u0000\u0001\u0000\u0003\u0000!\u0000\u0004\u0000\u0004","lastModifiedTime":1705956482,"lastModifiedBy":{"id":8061243,"name":"REDACTED"}}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 246860d8-1c1e-9ce1-b82a-783ad3c10dbf
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - a1804b72-cbe7-4ad2-aa15-3c7bf1668aee
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestWorkloadGroup_VCR", "description": "Test workload group for
      VCR testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/workloadGroups
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"Workload group expression
        info is missing!"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - efe66d90-4c0e-9fd5-9e3a-b4c437df5e3f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - ab4645ed-4154-47f4-9a9f-017aab0b604a
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
