interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/eun
  response:
    body:
      string: '{"aupFrequency":"NEVER","aupDayOffset":0,"aupMessage":"","notificationType":"DEFAULT","displayReason":true,"displayCompName":true,"displayCompLogo":true,"customText":"Website
        blocked","urlCatReviewEnabled":true,"urlCatReviewSubmitToSecurityCloud":true,"urlCatReviewCustomLocation":null,"urlCatReviewText":"If
        you believe you received this message in error, please click here to request
        a review of this site.","securityReviewEnabled":true,"securityReviewSubmitToSecurityCloud":true,"securityReviewCustomLocation":null,"securityReviewText":"Click
        to request security review.","webDlpReviewEnabled":true,"webDlpReviewSubmitToSecurityCloud":false,"webDlpReviewCustomLocation":"https://redirect.acme.com","webDlpReviewText":"Click
        to request policy review.","redirectUrl":"https://redirect.acme.com","supportEmail":"REDACTED","supportPhone":"+91-9000000000","orgPolicyLink":"http://8061240.zscalerbeta.net/policy.html","cautionAgainAfter":300,"cautionPerDomain":true,"cautionCustomText":"Proceeding
        to visit the site may violate your company policy. Press the \"Continue\"
        button to access the site anyway or press the \"Back\" button on your browser
        to go back","idpProxyNotificationText":"","quarantineCustomNotificationText":"We
        are checking this file for a potential security risk.The file you attempted
        to download is being analyzed for your protection.\nIt is not blocked. The
        analysis can take up to 10 minutes, depending on the size and type of the
        file.If safe, your file downloads automatically.\nIf unsafe, the file will
        be blocked."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 9f0f1e6b-27b5-9983-b305-a2bd3b79cd48
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 32e5eb9d-8b47-4a8f-af72-83c82c7325eb
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"aupEnabled": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/eun
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"Please mention a valid
        End User Notification type."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e474a0ca-22b4-9d49-84f6-04f3396c1879
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - 302dd0ba-18ce-4ef5-9adc-567234a905be
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
