interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/cloudApplicationInstances
  response:
    body:
      string: '[{"instanceId":175137,"instanceType":"BITBUCKET","instanceName":"Bitbucket","modifiedBy":{"id":24328827,"name":"REDACTED"},"modifiedAt":1683065259,"instanceIdentifiers":[{"instanceId":175137,"instanceIdentifier":"dev.bitbucket.org","instanceIdentifierName":"dev","identifierType":"URL","modifiedAt":1683065259,"modifiedBy":{"id":24328827,"name":"REDACTED"}},{"instanceId":175137,"instanceIdentifier":"dev1.bitbucket.org","instanceIdentifierName":"dev1","identifierType":"URL","modifiedAt":1683065259,"modifiedBy":{"id":24328827,"name":"REDACTED"}}]},{"instanceId":157353,"instanceType":"BOXNET","instanceName":"Box","modifiedBy":{"id":24328827,"name":"REDACTED"},"modifiedAt":1676106104,"instanceIdentifiers":[{"instanceId":157353,"instanceIdentifier":"securitygeek01.app.box.com"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/cloudApplicationInstances?instanceType=SHAREPOINTONLINE
  response:
    body:
      string: '[{"instanceId":4106439,"instanceType":"SHAREPOINTONLINE","instanceName":"hgolku568873","modifiedBy":{"id":117810311,"name":"REDACTED"},"modifiedAt":1770833280,"instanceIdentifiers":[{"instanceId":4106439,"instanceIdentifier":"ewwjcw167233.sharepoint.com","i[...]
- request:
    body: '{"instanceName": "TestInstance_VCR", "instanceType": "SHAREPOINTONLINE"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/cloudApplicationInstances
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"Please add at least one
        instance identifier"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e416d3e3-8108-9f8b-8666-cc7fc88ec5e9
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4976'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/cloudApplicationInstances/175137
  response:
    body:
      string: '{"instanceId":175137,"instanceType":"BITBUCKET","instanceName":"Bitbucket","modifiedBy":{"id":24328827,"name":"REDACTED"},"modifiedAt":1683065259,"instanceIdentifiers":[{"instanceId":175137,"instanceIdentifier":"dev.bitbucket.org","instanceIdentifierName":"dev","identifierType":"URL","modifiedAt":1683065259,"modifiedBy":{"id":24328827,"name":"REDACTED"}},{"instanceId":175137,"instanceIdentifier":"dev1.bitbucket.org","instanceIdentifierName":"dev1","identifierType":"URL","modifiedAt":1683065259,"modifiedBy":{"id":24328827,"name":"REDACTED"}}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6f7f17e6-719b-944d-aa96-61f5992ae326
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
