interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "action": "BLOCK",
      "order": 1, "rank": 7, "urlCategories": ["ANY"], "protocols": ["ANY_RULE"],
      "deviceTrustLevels": ["UNKNOWN_DEVICETRUSTLEVEL", "LOW_TRUST", "MEDIUM_TRUST",
      "HIGH_TRUST"], "userAgentTypes": ["OPERA", "FIREFOX", "MSIE", "MSEDGE", "CHROME",
      "SAFARI", "MSCHREDGE", "OTHER"], "userRiskScoreLevels": ["LOW", "MEDIUM", "HIGH",
      "CRITICAL"], "requestMethods": ["CONNECT", "DELETE", "GET", "HEAD", "OPTIONS",
      "OTHER", "POST", "PUT", "TRACE"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules
  response:
    body:
      string: '{"id":1582216,"name":"tests-vcr0001","order":1,"protocols":["ANY_RULE"],"urlCategories":["ANY"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["CONNECT","DELETE","GET","HEAD","OPTIONS","OTHER","POST","PUT","TRACE"],"blockOverride":false,"description":"tests-vcr0002","enforceTimeValidity":false,"userAgentTypes":["OPERA","FIREFOX","MSIE","MSEDGE","CHROME","SAFARI","MSCHREDGE","OTHER"],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"capturePCAP":false,"action":"BLOCK","predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 44890c71-c4d0-9528-a956-395c4e794a62
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4977'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules/1582216
  response:
    body:
      string: '{"id":1582216,"accessControl":"READ_WRITE","name":"tests-vcr0001","order":1,"protocols":["ANY_RULE"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["OPTIONS","GET","HEAD","POST","PUT","DELETE","TRACE","CONNECT","OTHER"],"blockOverride":false,"description":"tests-vcr0002","lastModifiedTime":1764980331,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"enforceTimeValidity":false,"userAgentTypes":["OPERA","FIREFOX","MSIE","MSEDGE","CHROME","SAFARI","OTHER","MSCHREDGE"],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"cbiProfileId":0,"capturePCAP":false,"sourceIpGroups":[],"browserEunTemplateId":0,"httpHeaderProfiles":[],"httpHeaderActionProfiles":[],"action":"BLOCK","predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0d7c3f33-8b62-923f-90f0-a160b20b191c
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4976'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules/1582216
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ca06c4f5-cb5c-9395-a0f5-fee7e2d88baa
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
