interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/lite
  response:
    body:
      string: '[{"id":2097184,"name":"Recruiter"},{"id":1179666,"name":"Cybozu"},{"id":1245203,"name":"Splunk"},{"id":2228258,"name":"Nexus
        Clinical"},{"id":2162721,"name":"Avaza"},{"id":2293795,"name":"Saasu"},{"id":655370,"name":"Acrobat
        Connect"},{"id":262148,"name":"HTTP tunnel"},{"id":393222,"name":"Bing Search"},{"id":65537,"name":"Gmail"},{"id":983055,"name":"Wayfair"},{"id":720907,"name":"SugarCRM"},{"id":851981,"name":"Moo"},{"id":917518,"name":"Pivotaltracker"},{"id":2424869,"name":"OpenAI"},{"id":1245202,[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/lite?pageNumber=0&limit=10
  response:
    body:
      string: '[{"id":2097184,"name":"Recruiter"},{"id":1179666,"name":"Cybozu"},{"id":1245203,"name":"Splunk"},{"id":2228258,"name":"Nexus
        Clinical"},{"id":2162721,"name":"Avaza"},{"id":2293795,"name":"Saasu"},{"id":655370,"name":"Acrobat
        Connect"},{"id":262148,"name":"HTTP tunnel"},{"id":393222,"name":"Bing Search"},{"id":65537,"name":"Gmail"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7e54ebca-9a4d-9b93-bd18-d1957bb6f7e4
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/customTags
  response:
    body:
      string: '[{"id":1,"name":"TAG012"},{"id":2,"name":"TAG02"},{"id":3,"name":"TAG03"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - b0bfcdfd-af1e-92b0-99c9-ef2844ee955c
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"sanctionedState": "SANCTIONED"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudApplications/bulkUpdate
  response:
    body:
      string: '{"code":"UNEXPECTED_ERROR","message":"An unexpected error has occurred,
        please contact Zscaler''s support"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 643f3e5c-11b6-9d30-b09c-11c5f0da412e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - 41f5e3a6-0f71-4a4e-b5ed-001d7196ac0e
      x-zscaler-mode:
      - read-write
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/shadowIT/applications/export
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - c2c1f70e-865d-9522-a1f1-12c3fed6ba9f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 41f5e3a6-0f71-4a4e-b5ed-001d7196ac0e
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/shadowIT/applications/USER/exportCsv
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - f90609a4-09bd-9dff-ab7f-08f9a4358fd0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 41f5e3a6-0f71-4a4e-b5ed-001d7196ac0e
    status:
      code: 500
      message: Internal Server Error
version: 1
