interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/domainProfiles/lite
  response:
    body:
      string: '[{"profileId":12820,"profileName":"Profile01","includeCompanyDomains":false,"includeSubdomains":false,"customDomains":["securitygeek.io"],"predefinedEmailDomains":[]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 95d87e59-2d81-9e32-8556-7153493390c6
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/quarantineTombstoneTemplate/lite
  response:
    body:
      string: '[{"id":1441609,"name":"Template001","description":"REDACTED"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a35f4e0b-6492-9205-96d0-3a20ec92313d
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/casbEmailLabel/lite
  response:
    body:
      string: '[{"id":1441608,"name":"EmailLabel01","labelDeleted":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 8230fce5-ffc8-98e0-8bd6-df0bfe8dee80
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/casbTenant/lite
  response:
    body:
      string: '[{"tenantId":11743520,"enterpriseTenantId":"REDACTED","zscalerAppTenantId":{"id":77662,"name":"bSGALZ5H5n8fC7xgTA"},"encryptedTenantIdentityInfo":"AchFIZfzdWIC17OzWn6hYpigd4SBjlBP+pCJPmesYkxZyapnhdXnlTKsZlqdQc5E8/1bUUqJe85oyz1chkDPBMIAZGNlJ98UsHP9/wxgBSXNkW8HAtPUk6wYle8mwu0w9w==","tenantName":"Bitbucket1","saasApplication":"BITBUCKET","status":["CASB_TENANT_ACTIVE","CASB_TENANT_VALIDATION_SUCCESS"],"modifiedTime":0,"lastTenantValidationTime":1678837181,"tenantDeleted":false,"tenantWebhookEnabled":false,"reAuth":false,"featuresSupported":["CASB","SSPM"]},{"tenantId":15881081,"enterpriseTenantId":"zscaler-bd-sa.atlassian.net","zscalerAppTenantId":{"id":77663,"name":"MXDr7vtkQWPlvwsjIGUW7TPSq0056aL3"},"encryptedTenantIdentityInfo":"AchFIZfzdWIC17OzWn6hYpj9XtdZjANt9W1ZEUSvfJnDiKWecC3Y3CrjpquQmWrp6+qqveGPkJ9z3JRYtoLPyR00ssTLkgPO1Mmg2uohuwz+BnzP7qyFe3mIXaeWElaoQlucYdaKMQBFuDCWPaoX9aNKgHteL6UpP13qVVE87MkM7fGUQCeHe0wUWdB+Kh8fv6+i2j3uCRjdC6xuUl7MRJViJpr2Ji+LLdh5AqkxPJ14s3HQwIgXvge7Zy8i0FaSs70hCz5j1wJGMj2aSVlG2ijI+VINC4zNT+5L6i8AJ+5gdVoN[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/casbTenant/scanInfo
  response:
    body:
      string: '[{"tenantName":"zscaler-bd-sa","tenantId":11743271,"saasApplication":"BITBUCKET","scanInfo":{"cur_scan_start_time":0,"prev_scan_end_time":0,"scan_reset_num":1},"scanAction":0},{"tenantName":"Bitbucket1","tenantId":11743520,"saasApplication":"BITBUCKET","scanInfo":{"cur_scan_start_time":0,"prev_scan_end_time":1683231522,"scan_reset_num":1},"scanAction":0},{"tenantName":"Confluence","tenantId":11746390,"saasApplication":"CONFLUENCE","scanInfo":{"cur_scan_start_time":0,"prev_scan_end_time":1679514282,"scan_reset_num":0},"scanAction":0},{"tenantName":"Jira","tenantId":11746533,"saasApplication":"JIRA","scanInfo":{"cur_scan_start_time":0,"prev_scan_end_time":1683317443,[...]
