interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/icapServers
  response:
    body:
      string: '[{"id":2022,"name":"ZS_BD_ICAP_01","url":"icaps://192.168.100.1:1344/","status":"ENABLED"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 3e6c20ad-f020-9701-aef3-9827f92cd139
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '32'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/icapServers/lite
  response:
    body:
      string: '[{"id":2022,"name":"ZS_BD_ICAP_01"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 0166fd84-c2c6-9717-91a1-528805a40a0f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '32'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/icapServers/2022
  response:
    body:
      string: '{"id":2022,"name":"ZS_BD_ICAP_01","url":"icaps://192.168.100.1:1344/","status":"ENABLED"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - b9e78a12-bbcf-9d05-a5b0-289e97630194
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '32'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/incidentReceiverServers
  response:
    body:
      string: '[{"id":2020,"name":"ZS_BD_INC_RECEIVER_01","url":"icaps://192.168.100.1:1344/","status":"ENABLED","flags":1},{"id":2021,"name":"ZS_BD_INC_RECEIVER_02","url":"icaps://192.168.100.2:1344/","status":"ENABLED","flags":1}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - af2ec1c8-cfbd-9a9d-afa3-23b73132fb16
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '32'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/incidentReceiverServers/lite
  response:
    body:
      string: '[{"id":2020,"name":"ZS_BD_INC_RECEIVER_01","url":"icaps://192.168.100.1:1344/","flags":1},{"id":2021,"name":"ZS_BD_INC_RECEIVER_02","url":"icaps://192.168.100.2:1344/","flags":1}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 3e587071-abc0-9de3-bbd2-08df59899c38
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/incidentReceiverServers/2020
  response:
    body:
      string: '{"id":2020,"name":"ZS_BD_INC_RECEIVER_01","url":"icaps://192.168.100.1:1344/","status":"ENABLED","flags":1}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 44cbce2f-cb63-9d49-b40d-86f08b463d9a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '30'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/idmprofile
  response:
    body:
      string: '[{"profileId":4,"profileName":"BD_IDM_TEMPLATE01","profileType":"LOCAL","port":0,"scheduleType":"NONE","scheduleDay":0,"scheduleTime":0,"scheduleDisabled":false,"uploadStatus":"IDM_PROF_UPLOAD_COMPLETED","version":1,"idmClient":{"id":62488,"name":"ZS_DLP_IDX01"},"volumeOfDocuments":153025,"numDocuments":1,"lastModifiedTime":1702107695,"modifiedBy":{"id":8061243,"name":"REDACTED"}}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e334541c-c16b-9cfd-a8c3-43c81ede8adb
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '30'
      x-transaction-id:
      - 2391e11e-9091-4cb1-9cc7-abebcab3606b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/idmprofile/4
  response:
    body:
      string: '{"profileId":4,"profileName":"BD_IDM_TEMPLATE01","profileType":"LOCAL","port":0,"scheduleType":"NONE","scheduleDay":0,"scheduleTime":0,"scheduleDisabled":false,"uploadStatus":"IDM_PROF_UPLOAD_COMPLETED","version":1,"idmClient":{"id":62488,"name":"ZS_DLP_IDX01"},"volumeOfDocuments":153025,"numDocuments":1,"lastModifiedTime":1702107695,"modifiedBy":{"id":8061243,"name":"REDACTED"}}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 1069b9f2-1147-9656-be73-7eed26d5f94d
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - e1809cf1-4aa9-44d8-8c1f-752b63cff259
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpExactDataMatchSchemas
  response:
    body:
      string: '[{"schemaId":1,"edmClient":{"id":62488,"name":"ZS_DLP_IDX01"},"projectName":"BD_EDM_TEMPLATE01","revision":1,"filename":"edm_file_8061240_1","originalFileName":"Casino_MOCK_DATA.csv","fileUploadStatus":"ADP_FILE_UPLOAD_COMPLETED","schemaStatus":"EDM_INDEXING_NONE","origColCount":3,"lastModifiedBy":{"id":8061243,"name":"REDACTED"},"lastModifiedTime":1702107561,"createdBy":{"id":8061243,"name":"REDACTED"},"cellsUsed":2991,"schemaActive":true,"tokenList":[{"name":"first_name","type":"ADP_TOK_WORD","primaryKey":false,"originalColumn":4,"hashfileColumnOrder":1,"colLengthBitmap":0},{"name":"last_name","type":"ADP_TOK_WORD","primaryKey":false,"originalColumn":5,"hashfileColumnOrder":2,"colLengthBitmap":0},{"name":"email","type":"ADP_TOK_EMAILADDR","primaryKey":true,"originalColumn":6,"hashfileColumnOrder":3,"colLengthBitmap":0}],"schedulePresent":false},{"schemaId":2,"edmClient":{"id":62488,"name":"ZS_DLP_IDX01"},"projectName":"BD_EDM_TEMPLATE02","revision":1,"filename":"edm_file_8061240_2","originalFileName":"EDMLarge_Healthcare_DataSet.csv","fileUploadStatus":"ADP_FILE_UPLOAD_COMPLETED","schemaStatus":"EDM_INDEXING_NONE","origColCount":3,"lastModifiedBy":{"id":8061243,"name":"REDACTED"},"lastModifiedTime":1702107666,"createdBy":{"id":8061243,"name":"REDACTED"},"cellsUsed":2100003,"schemaActive":true,"tokenList":[{"name":"ssn","type":"ADP_TOK_SSN","primaryKey":false,"originalColumn":4,"hashfileColumnOrder":1,"colLengthBitmap":0},{"name":"dob","type":"ADP_TOK_DATE","primaryKey":false,"originalColumn":5,"hashfileColumnOrder":2,"colLengthBitmap":0},{"name":"email","type":"ADP_TOK_EMAILADDR","primaryKey":true,"originalColumn":6,"hashfileColumnOrder":3,"colLengthBitmap":0}],"schedulePresent":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 8a59a9be-4c2d-984e-9b11-1a37b03b09c6
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '55'
      x-transaction-id:
      - e1809cf1-4aa9-44d8-8c1f-752b63cff259
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dlpExactDataMatchSchemas/lite
  response:
    body:
      string: '[{"schema":{"id":2,"name":"BD_EDM_TEMPLATE02"},"tokens":[{"name":"dob","type":"ADP_TOK_DATE","primaryKey":false,"originalColumn":5,"hashfileColumnOrder":2,"colLengthBitmap":0},{"name":"email","type":"ADP_TOK_EMAILADDR","primaryKey":true,"originalColumn":6,"hashfileColumnOrder":3,"colLengthBitmap":0},{"name":"ssn","type":"ADP_TOK_SSN","primaryKey":false,"originalColumn":4,"hashfileColumnOrder":1,"colLengthBitmap":0}]},{"schema":{"id":1,"name":"BD_EDM_TEMPLATE01"},"tokens":[{"name":"first_name","type":"ADP_TOK_WORD","primaryKey":false,"originalColumn":4,"hashfileColumnOrder":1,"colLengthBitmap":0},{"name":"email","type":"ADP_TOK_EMAILADDR","primaryKey":true,"originalColumn":6,"hashfileColumnOrder":3,"colLengthBitmap":0},{"name":"last_name","type":"ADP_TOK_WORD","primaryKey":false,"originalColumn":5,"hashfileColumnOrder":2,"colLengthBitmap":0}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2b7d9b43-69b0-9809-af50-11ac016f5f52
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - e1809cf1-4aa9-44d8-8c1f-752b63cff259
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
