interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/sandbox/report/quota
  response:
    body:
      string: '[{"startTime":-1,"used":0,"allowed":3000,"scale":"DAYS","unused":3000}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e9bd414c-55dc-9f3c-9fc2-9b07cc8e7d4f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/sandbox/report/F69CA01D65E6C8F9E3540029E5F6AB92?details=summary
  response:
    body:
      string: '{"Summary":{"Summary":{"Status":"CONTENT_NOTFOUND","Message":"Content
        lookup failed."}}}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3a4dd49f-5589-923a-8ab3-abc8ba9ac6ca
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
