interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "addresses":
      ["1.1.1.1", "8.8.8.8"], "type": "DSTN_IP"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"id":10177021,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["1.1.1.1","8.8.8.8"],"description":"tests-vcr0002","ipCategories":[],"countries":[]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 831a7a9e-da76-9e97-8b83-d0bff57d4972
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/ipDestinationGroups/10177021
  response:
    body:
      string: '{"id":10177021,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["8.8.8.8","1.1.1.1"],"description":"tests-vcr0002","creatorContext":"ZIA","ipCategories":[],"countries":[],"urlCategories":[],"ipAddresses":["8.8.8.8","1.1.1.1"]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f63438a3-b7e5-9a9e-b64a-4d5f2317e204
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/ipDestinationGroups/10177021
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ec10c06a-a203-9561-b47c-c9925fb0a7b8
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '36'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
