interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ipAddress": "104.239.237.2", "comment": "tests-vcr0001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP
  response:
    body:
      string: '{"id":4338955,"ipAddress":"104.239.237.2","geoOverride":false,"latitude":37.6325999,"longitude":-97.7724999,"city":{"id":4269447,"name":"Cheney,
        Kansas, United States"},"routableIP":true,"lastModificationTime":1773373030,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-vcr0001"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ad1ffd2d-18ed-991d-9ec8-32ca98a19847
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '56'
      x-transaction-id:
      - dee87f8a-2a15-49e3-b05a-94c166d0d5a0
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vips/recommendedList?sourceIp=104.239.237.2
  response:
    body:
      string: '[{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":false,"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US","region":"NorthAmerica"},{"id":65303,"virtualIp":"165.225.10.32","privateServiceEdge":false,"datacenter":"DEN3","latitude":42.0,"longitude":-106.0,"city":"Denver","countryCode":"US","region":"NorthAmerica"},{"id":213857,"virtualIp":"170.85.96.129","privateServiceEdge":false,"datacenter":"DFW2","latitude":31.0,"longitude":-96.0,"city":"Dallas","countryCode":"US","region":"NorthAmerica"},{"id":270926,"virtualIp":"170.85.86.129","privateServiceEdge":false,"datacenter":"WAS4","latitude":38.0,"longitude":-77.0,"city":"Washington,
        DC","countryCode":"US","region":"NorthAmerica"},{"id":28524,"virtualIp":"104.129.206.159","privateServiceEdge":false,"datacenter":"ATL2","latitude":34.0,"longitude":-84.0,"city":"Atlanta,
        GA","countryCode":"US","region":"NorthAmerica"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7ec6946c-a747-96c3-bc8c-2496c5e90f5d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - dee87f8a-2a15-49e3-b05a-94c166d0d5a0
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"ipUnnumbered": true, "comment": "tests-vcr0002", "sourceIp": "104.239.237.2",
      "primaryDestVip": {"id": 170301}, "secondaryDestVip": {"id": 65303}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/greTunnels
  response:
    body:
      string: '{"id":4338955,"sourceIp":"104.239.237.2","primaryDestVip":{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":false,"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US  ","region":"NorthAmerica","dontProvision":true},"secondaryDestVip":{"id":65303,"virtualIp":"165.225.10.32","privateServiceEdge":false,"datacenter":"DEN3","latitude":42.0,"longitude":-106.0,"city":"Denver","countryCode":"US  ","region":"NorthAmerica"},"lastModificationTime":1773373033,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-vcr0002","ipUnnumbered":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a1327678-cd6e-9f8d-abea-83cf4f2c3e8b
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - dee87f8a-2a15-49e3-b05a-94c166d0d5a0
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ipUnnumbered": true, "comment": "Updated GRE Tunnel vcr0003", "sourceIp":
      "104.239.237.2", "primaryDestVip": {"id": 170301}, "secondaryDestVip": {"id":
      65303}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/greTunnels/4338955
  response:
    body:
      string: '{"id":4338955,"sourceIp":"104.239.237.2","primaryDestVip":{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":fal[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/greTunnels
  response:
    body:
      string: '[{"id":4105713,"sourceIp":"104.238.235.24","primaryDestVip":{"id":57081,"virtualIp":"165.225.208.32","privateServiceEdge":false,"datacenter":"YTO3","latitude":44.0,"longitude":-79.0,"city":"Toronto","countryCode":"CA  ","region":"NorthAmerica"},"secondaryDestVip":{"id":98509,"virtualIp":"165.225.212.34","privateServiceEdge":false,"datacenter":"YMQ1","latitude":45.0,"longitude":-73.0,"city":"Montreal","countryCode":"CA  ","region":"NorthAmerica"},"internalIpRange":"172.19.196.208","lastModificationTime":1770823693,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"GRE Tunnel Created with Terraform","ipUnnumbered":false},{"id":4106311,"sourceIp":"104.238.235.59","primaryDestVip":{"id":57081,"virtualIp":"165.225.208.32","privateServiceEdge":false,"datacenter":"YTO3","latitude":44.0,"longitude":-79.0,"city":"Toronto","countryCode":"CA  ","region":"NorthAmerica"},"secondaryDestVip":{"id":98509,"virtualIp":"165.225.2[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP/4338955
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8ce5ca34-a59d-9cd3-b9b1-ca464e1346db
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '37'
      x-transaction-id:
      - dee87f8a-2a15-49e3-b05a-94c166d0d5a0
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vips/groupByDatacenter?sourceIp=104.239.237.2
  response:
    body:
      string: '[{"datacenter":{"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":170301,"virtualIp":"170.85.14.129"}]},{"datacenter":{"datacenter":"DEN3","latitude":42.0,"longitude":-106.0,"city":"Denver","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":65303,"virtualIp":"165.225.10.32"}]},{"datacenter":{"datacenter":"DFW2","latitude":31.0,"longitude":-96.0,"city":"Dallas","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":213857,"virtualIp":"170.85.96.129"}]},{"datacenter":{"datacenter":"WAS4","latitude":38.0,"longitude":-77.0,"city":"Washington,
        DC","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":270926,"virtualIp":"170.85.86.129"}]},{"datacenter":{"datacenter":"ATL2","latitude":34.0,"longitude":-84.0,"city":"Atlanta,
        GA","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":28524,"virtualIp":"104.129.206.159"}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0e0a536f-c8fd-9161-9bea-18bdd0cc5dbe
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - dee87f8a-2a15-49e3-b05a-94c166d0d5a0
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vips?pageSize=10
  response:
    body:
      string: '[{"cloudName":"zscalerthree.net","region":"Oceania","country":"New
        Zealand","city":"Auckland","dataCenter":"AKL2","location":"173 E, 37 S","vpnIps":["147.161.216.40","147.161.216.41","147.161.216.42","147.161.216.43"],"vpnDomainName":"akl2-vpn.zscalerthree.net","greIps":["147.161.216.34"],"greDomainName":"akl2.gre.zscalerthree.net","pacIps":["147.161.216.36","147.161.216.37","147.161.216.38","147.161.216.39"],"pacDomainName":"akl2.sme.zscalerthree.net","svpnIps":["147.161.216.44"],"svpnDomainName":"akl2.svpn.zscalerthree.net"},{"cloudName":"zscalerthree.net","region":"Europe","country":"The
        Netherlands","city":"Amsterdam","dataCenter":"AMS2","location":"5 E, 52 N","vpnIps":["165.225.240.38","165.225.28.14"],"vpnDomainName":"ams2-vpn.zscalerthree.net","greIps":[],"greDomainName":"","pacIps":["165.225.240.34","165.225.240.35","165.225.240.36","165.225.240.37","165.225.28.13"],"pacDomainName":"ams2.sme.zscalerthree.net","svpnIps":["165.225.240.58","165.225.28.23"],"svpnDomainName":"a[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/vips?pageSize=10
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0b5bfdba-a20d-9b61-8a3a-aed2a927ed76
      x-oneapi-version:
      - 109.1.146
    status:
      code: 401
      message: Unauthorized
[...]
