interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "action": "BLOCK",
      "order": 1, "rank": 7, "urlCategories": ["ANY"], "protocols": ["ANY_RULE"],
      "deviceTrustLevels": ["UNKNOWN_DEVICETRUSTLEVEL", "LOW_TRUST", "MEDIUM_TRUST",
      "HIGH_TRUST"], "userAgentTypes": ["OPERA", "FIREFOX", "MSIE", "MSEDGE", "CHROME",
      "SAFARI", "MSCHREDGE", "OTHER"], "userRiskScoreLevels": ["LOW", "MEDIUM", "HIGH",
      "CRITICAL"], "requestMethods": ["CONNECT", "DELETE", "GET", "HEAD", "OPTIONS",
      "OTHER", "POST", "PUT", "TRACE"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/urlFilteringRules
  response:
    body:
      string: '{"id":1571787,"name":"tests-vcr0001","order":1,"protocols":["ANY_RULE"],"urlCategories":["ANY"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["CONNECT","DELETE","GET","HEAD","OPTIONS","OTHER","POST","PUT","TRACE"],"blockOverride":false,"description":"tests-vcr0002","enforceTimeValidity":false,"userAgentTypes":["OPERA","FIREFOX","MSIE","MSEDGE","CHROME","SAFARI","MSCHREDGE","OTHER"],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"capturePCAP":false,"action":"BLOCK","predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 700a0b36-91c2-977b-96f3-1c920d5deb47
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/urlFilteringRules/1571787
  response:
    body:
      string: '{"id":1571787,"accessControl":"READ_WRITE","name":"tests-vcr0001","order":1,"protocols":["ANY_RULE"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["OPTIONS","GET","HEAD","POST","PUT","DELETE","TRACE","CONNECT","OTHER"],"blockOverride":false,"description":"tests-vcr0002","lastModifiedTime":1764201204,"lastModifiedBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"enforceTimeValidity":false,"userAgentTypes":["OPERA","FIREFOX","MSIE","MSEDGE","CHROME","SAFARI","OTHER","MSCHREDGE"],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"cbiProfileId":0,"capturePCAP":false,"sourceIpGroups":[],"browserEunTemplateId":0,"httpHeaderProfiles":[],"httpHeaderActionProfiles":[],"action":"BLOCK","predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 11e732bb-9545-93f8-a663-b1e632255ac7
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '34'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/urlFilteringRules/1571787
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a8d2207d-d289-9526-82fe-9e0e3d07cbc8
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
