interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dnatRules
  response:
    body:
      string: '[{"action":"ALLOW","accessControl":"READ_WRITE","id":186671,"name":"Zscaler
        Trusted DNS Resolver","order":2,"rank":7,"state":"ENABLED","nwServices":[{"id":462284,"name":"DNS","isNameL10nTag":true}],"redirectPort":0,"trustedResolverRule":true,"lastModifiedTime":1766179133,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"predefined":true,"enableFullLogging":false,"defaultRule":false},{"action":"ALLOW","accessControl":"READ_WRITE","id":1244148,"name":"TestNATRule_1513","order":1,"rank":7,"description":"Test
        NAT control rule TestNATRule_1513","state":"ENABLED","srcIps":["192.168.100.0/24"],"destAddresses":["10.0.0.0/8"],"trustedResolverRule":false,"lastModifiedTime":1766179133,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"predefined":false,"enableFullLogging":false,"defaultRule":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d7ef8336-3d9c-901a-b0e6-b17e31905fc4
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dnatRules/186671
  response:
    body:
      string: '{"action":"ALLOW","accessControl":"READ_WRITE","id":186671,"name":"Zscaler
        Trusted DNS Resolver","order":2,"rank":7,"state":"ENABLED","nwServices":[{"id":462284,"name":"DNS","isNameL10nTag":true}],"redirectPort":0,"trustedResolverRule":true,"lastModifiedTime":1766179133,"lastModifiedBy":{"id":19475409,"name":"REDACTED"},"predefined":true,"enableFullLogging":false,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 4ff7df0f-ec5e-9919-8132-555ce83475cf
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
