interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "Integration test firewall rule",
      "order": 1, "rank": 7, "action": "REDIR_REQ", "redirectIp": "8.8.8.8", "destCountries":
      ["COUNTRY_CA", "COUNTRY_MX", "COUNTRY_AU", "COUNTRY_GB"], "sourceCountries":
      ["COUNTRY_CA", "COUNTRY_MX", "COUNTRY_AU", "COUNTRY_GB"], "protocols": ["ANY_RULE"],
      "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallDnsRules
  response:
    body:
      string: '{"action":"REDIR_REQ","capturePCAP":false,"id":1582154,"name":"tests-vcr0001","order":1,"rank":7,"description":"Integration
        test firewall rule","protocols":["ANY_RULE"],"state":"ENABLED","destCountries":["COUNTRY_CA","COUNTRY_MX","COUNTRY_AU","COUNTRY_GB"],"sourceCountries":["COUNTRY_CA","COUNTRY_MX","COUNTRY_AU","COUNTRY_GB"],"destIpCategories":["ANY"],"resCategories":["ANY"],"redirectIp":"8.8.8.8","isEunEnabled":false,"eunTemplateId":15,"isWebEUNEnabled":false,"defaultDnsRuleNameUsed":false,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 24a0c747-7a83-98f0-ac76-2356038e396a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallDnsRules/1582154
  response:
    body:
      string: '{"action":"REDIR_REQ","capturePCAP":false,"accessControl":"READ_WRITE","id":1582154,"name":"tests-vcr0001","order":1,"rank":7,"description":"Integration
        test firewall rule","protocols":["ANY_RULE"],"state":"ENABLED","destCountries":["COUNTRY_AU","COUNTRY_CA","COUNTRY_GB","COUNTRY_MX"],"sourceCountries":["COUNTRY_AU","COUNTRY_CA","COUNTRY_GB","COUNTRY_MX"],"redirectIp":"8.8.8.8","applications":[],"applicationGroups":[],"dnsRuleRequestTypes":[],"isEunEnabled":false,"eunTemplateId":15,"lastModifiedTime":1764979932,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"isWebEUNEnabled":false,"defaultDnsRuleNameUsed":false,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bc3ed009-1208-9341-98df-731f78216fe6
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallDnsRules/1582154
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9dfa4e5c-e823-9622-8611-95785f5c85b2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
