interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudToCloudIR
  response:
    body:
      string: '[{"id":23136553,"name":"SecurityGeekIO","status":["CASB_TENANT_ACTIVE","CASB_TENANT_VALIDATION_SUCCESS"],"modifiedTime":0,"lastModifiedBy":null,"lastTenantValidationTime":1756265489,"lastValidationMsg":null,"onboardableEntity":{"tenantAuthorizationInfo":{"type":"ZSCALER_CONNECTOR","smirBucketConfig":[{"configName":"zscalerirbucket01","metadataBucketName":"https://zscalerirbucket01.blob.core.windows.net/metadata-json","dataBucketName":"https://zscalerirbucket01.blob.core.windows.net/evidence","id":25627}],"qtnInfoCleared":true},"application":"AZUREBLOB_SMIR","zscalerAppTenantId":{"id":1498649,"name":"d8973ccd-aaff-4983-a0f0-ae3a57297387"},"enterpriseTenantId":"02ddc0c2-02a1-40f0-b91d-f1ae13bd1f63","name":"SecurityGeekIO","id":23136553,"type":"C2CIR","lastValidationTime":0}}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 0c143c72-b5df-93c1-bb7f-72bc5dcaec3a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '30'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudToCloudIR/lite
  response:
    body:
      string: '[{"id":23136553,"name":"SecurityGeekIO","status":["CASB_TENANT_ACTIVE","CASB_TENANT_VALIDATION_SUCCESS"],"modifiedTime":0,"lastModifiedBy":null,"lastTenantValidationTime":0,"lastValidationMsg":null,"onboardableEntity":{"application":"AZUREBLOB_SMIR","name":"SecurityGeekIO","id":23136553,"type":"C2CIR","lastValidationTime":0}}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a660da46-814a-9f8e-a457-d5a81ae68850
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudToCloudIR/count
  response:
    body:
      string: '1'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 85c65e15-2f8c-9a42-916b-7f5bbf84711b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 19b0f2dc-5035-4442-985b-15e99077715b
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cloudToCloudIR/23136553
  response:
    body:
      string: '{"id":23136553,"name":"SecurityGeekIO","status":["CASB_TENANT_ACTIVE","CASB_TENANT_VALIDATION_SUCCESS"],"modifiedTime":0,"lastModifiedBy":null,"lastTenantValidationTime":1756265489,"lastValidationMsg":null,"onboardableEntity":{"tenantAuthorizationInfo":{"type":"ZSCALER_CONNECTOR","smirBucket[...]
