interactions:
- request:
    body: '{"name": "tests-bandwidth-class", "webApplications": ["ACADEMICGPT", "AD_CREATIVES"],
      "urls": ["test1.acme.com", "test2.acme.com"], "urlCategories": ["AI_ML_APPS",
      "GENERAL_AI_ML"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses
  response:
    body:
      string: '{"id":16,"isNameL10nTag":true,"name":"tests-bandwidth-class","webApplications":["ACADEMICGPT","AD_CREATIVES"],"urls":["test1.acme.com","test2.acme.com"],"urlCategories":["AI_ML_APPS","GENERAL_AI_ML"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 010af4bc-d31f-9c44-9bfc-82793d68fb4f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-bandwidth-class-updated", "webApplications": ["ACADEMICGPT",
      "AD_CREATIVES"], "urls": ["test1.acme.com", "test2.acme.com", "test3.acme.com"],
      "urlCategories": ["AI_ML_APPS", "GENERAL_AI_ML", "PROFESSIONAL_SERVICES"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses/16
  response:
    body:
      string: '{"id":16,"isNameL10nTag":true,"name":"tests-bandwidth-class-updated","webApplications":["ACADEMICGPT","AD_CREATIVES"],"urls":["test1.acme.com","test3.acme.com","test2.acme.com"],"urlCategories":["AI_ML_APPS","GENERAL_AI_ML","PROFESSIONAL_SERVICES"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6be3da50-a827-96c9-b499-4b974fd4b631
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses
  response:
    body:
      string: '[{"id":2,"isNameL10nTag":true,"name":"LARGE_FILE","type":"BANDWIDTH_CAT_LARGE_FILE","fileSize":"FILE_1GB"},{"id":6,"isNameL10nTag":true,"name":"BANDWIDTH_CAT_WEBCONF","type":"BANDWIDTH_CAT_WEBCONF","applications":["CONNECT","INTERCALL"]},{"id":11,"isNameL10nTag":true,"name":"Office
        Applications","webApplications":["WINDOWS_LIVE_HOTMAIL","YAMMER","SHAREPOINTONLINE","OTHER_OFFICE365","ONEDRIVE","ONEDRIVE_PERSONAL"]},{"id":12,"isNameL10nTag":true,"name":"Productivity","webApplications":["GOTOMEETING","GOTOWEBINAR","SALESFORCE","GOOGLEANALYTICS","GOOGLEBUSINESSAPPS","EVERNOTE","TWILIO","ZOHOCRM","SUGARCRM","SLIDESHARE","ECHOSIGN","DOCUSIGN","ARIBA","DOCSTOC","GITHUB"],"urlCategories":["OTHER_BUSINESS[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses/16
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2a4c3f31-aa17-9ca8-93cc-7ac560a3b02a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
