interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/virtualZenNodes
  response:
    body:
      string: '[{"id":14933,"zgatewayId":60107,"name":"VSENode01","status":"ENABLED","inProduction":true,"ipAddress":"10.0.0.1","subnetMask":"255.255.255.0","defaultGateway":"10.0.0.10","type":"VZEN","ipSecEnabled":false,"onDemandSupportTunnelEnabled":true,"establishSupportTunnelEnabled":false,"deploymentMode":"STANDALONE","vzenSkuType":"LARGE"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 4312ce1e-7a50-911a-8a48-62e1a9ed498e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '39'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/virtualZenNodes/14933
  response:
    body:
      string: '{"id":14933,"zgatewayId":60107,"name":"VSENode01","status":"ENABLED","inProduction":true,"subnetMask":"255.255.255.0","defaultGateway":"10.0.0.10","type":"VZEN","ipSecEnabled":false,"onDemandSupportTunnelEnabled":true,"establishSupportTunnelEnabled":false,"deploymentMode":"STANDALONE","vzenSkuType":"LARGE"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fa2fc4ee-67c3-9172-b591-f069358cb298
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '39'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
