interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/riskProfiles
  response:
    body:
      string: '[{"id":35,"profileName":"All_Unsanctioned_Risk_Index","profileType":"CLOUD_APPLICATIONS","riskIndex":[1,2,3,4,5],"status":"UN_SANCTIONED","excludeCertificates":0,"poorItemsOfService":"ANY","adminAuditLogs":"ANY","dataBreach":"ANY","sourceIpRestrictions":"ANY","mfaSupport":"ANY","sslPinned":"ANY","httpSecurityHeaders":"ANY","evasive":"ANY","dnsCaaPolicy":"ANY","weakCipherSupport":"ANY","passwordStrength":"ANY","sslCertValidity":"ANY","vulnerability":"ANY","malwareScanningForContent":"ANY","fileSharing":"ANY","sslCertKeySize":"ANY","vulnerableToHeartBleed":"ANY","vulnerableToLogJam":"ANY","vulnerableToPoodle":"ANY","vulnerabilityDisclosure":"ANY","supportForWaf":"ANY","remoteScreenSharing":"ANY","senderPolicyFramework":"ANY","domainKeysIdentifiedMail":"ANY","domainBasedMessageAuth":"ANY","dataEncryptionInTransit":["ANY"],"lastModTime":1767417527,"createTime":1640191103,"modifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"customTags":[]},{"id":2271,"profileName":"test_risk_profile_367e6aa3","profileType":"CLOUD_APPLICATIONS","riskIndex":[1,2,3,4,5],"status":"SANCTIONED","excludeCertificates":0,"certifications":["CSA_STAR","CCPA","COPPA","EU_US_SWISS_PRIVACY_SHIELD","EU_US_PRIVACY_SHIELD_FRAMEWORK","CISP","AICPA"],"poorItemsOfService":"YES","adminAuditLogs":"NO","dataBreach":"YES","sourceIpRestrictions":"YES","mfaSupport":"UN_KNOWN","sslPinned":"UN_KNOWN","httpSecurityHeaders":"UN_KNOWN","evasive":"UN_KNOWN","dnsCaaPolicy":"YES","weakCipherSupport":"YES","passwordStrength":"GOOD","sslCertValidity":"YES","vulnerability":"NO","malwareScanningForContent":"ANY","fileSharing":"YES","sslCertKeySize":"BITS_38[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/riskProfiles/lite
  response:
    body:
      string: '[{"id":35,"profileName":"All_Unsanctioned_Risk_Index","profileType":"CLOUD_APPLICATIONS","status":"ANY"},{"id":2271,"profileName":"test_risk_profile_367e6aa3","profileType":"CLOUD_APPLICATIONS","status":"ANY"},{"id":2272,"profileName":"test_risk_profile_a36788a2","profileType":"CLOUD_APPLICATIONS","status":"ANY"},{"id":2273,"profileName":"test_risk_profile_25e7258e","profileType":"CLOUD_APPLICATIONS","status":"ANY"},{"id":2278,"profileName":"tests-wwchmtsply","profileType":"CLOUD_APPLICATIONS","status":"ANY"},{"id":2321,"profileName":"rp_10409df6","profileType":"CLOUD_APPLICATIONS","status":"ANY"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c947f13d-ee02-9f6a-8046-8a0c2d6348b1
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestRiskProfile_VCR", "description": "Test risk profile for VCR
      testing", "riskIndexBucket": "LOW"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/riskProfiles
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c171ff33-645b-9ead-bbc2-c25e655c08f2
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/riskProfiles/35
  response:
    body:
      string: '{"id":35,"profileName":"All_Unsanctioned_Risk_Index","profileType":"CLOUD_APPLICATIONS","riskIndex":[1,2,3,4,5],"status":"UN_SANCTIONED","excludeCertificates":0,"poorItemsOfService":"ANY","adminAuditLogs":"ANY","dataBreach":"ANY","sourceIpRestrictions":"ANY","mfaSupport":"ANY","sslPinned":"ANY","[...]
