interactions:
- request:
    body: '{"comment": "tests-static-ip", "ipAddress": "104.239.237.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP
  response:
    body:
      string: '{"id":3603318,"ipAddress":"104.239.237.2","geoOverride":false,"latitude":37.6325999,"longitude":-97.7724999,"city":{"id":4269447,"name":"Cheney,
        Kansas, United States"},"routableIP":true,"lastModificationTime":1764980303,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-static-ip"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9de12bb9-2e04-9b64-b859-c677df48917f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP/3603318
  response:
    body:
      string: '{"id":3603318,"ipAddress":"104.239.237.2","geoOverride":false,"latitude":37.6325999,"longitude":-97.7724999,"city":{"id":4269447,"name":"Cheney,
        Kansas, United States"},"routableIP":true,"lastModificationTime":1764980303,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-static-ip"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 28735fc0-463a-9891-a657-fb76cae96e7a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '34'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"ipAddress": "104.239.237.3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP/validate
  response:
    body:
      string: SUCCESS
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 83d8b5c7-42a4-9642-a6fd-55e5da1cadaf
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP/3603318
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 678d078b-36c9-9777-bd65-462bbcfc2551
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
