interactions:
- request:
    body: '{"name": "TestLabel_VCR_Integration", "description": "Test Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ruleLabels
  response:
    body:
      string: '{"id":3603316,"name":"TestLabel_VCR_Integration","description":"Test
        Description for VCR","lastModifiedTime":1764980240,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"createdBy":{"id":117810311,"name":"REDACTED"},"referencedRuleCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b7b5fc0d-aaac-90ff-bae4-b391fa5fa72a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "UpdatedLabel_VCR_Integration", "description": "Updated Description
      for VCR"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/ruleLabels/3603316
  response:
    body:
      string: '{"id":3603316,"name":"UpdatedLabel_VCR_Integration","description":"Updated
        Description for VCR","lastModifiedTime":1764980242,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"createdBy":{"id":117810311,"name":"REDACTED"},"referencedRuleCount":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 491b2ccd-56a3-97ef-a218-3435a6676b11
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/ruleLabels?search=UpdatedLabel_VCR_Integration
  response:
    body:
      string: '[{"id":3603316,"name":"UpdatedLabel_VCR_Integration","description":"Updated
        Description for VCR","lastModifiedTime":1764980242,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"createdBy":{"id":117810311,"name":"REDACTED"},"referencedRuleCount":0}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7bb85a0f-5a60-92a3-898f-7fee2d9092e0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '36'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
