interactions:
- request:
    body: '{"name": "tests-vzen-cluster", "type": "VIP", "ipAddress": "192.168.90.7",
      "subnetMask": "255.255.255.0", "defaultGateway": "192.168.90.254", "ipSecEnabled":
      false, "status": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/virtualZenClusters
  response:
    body:
      string: '{"id":23227,"name":"tests-vzen-cluster","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5d5668dd-3f41-99a3-b111-de7a4769aee8
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vzen-cluster-updated", "type": "VIP", "ipAddress": "192.168.90.7",
      "subnetMask": "255.255.255.0", "defaultGateway": "192.168.90.254", "ipSecEnabled":
      false, "status": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.zsapi.net/zia/api/v1/virtualZenClusters/23227
  response:
    body:
      string: '{"code":"EDIT_LOCK_NOT_AVAILABLE"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7979ed12-68f6-91d7-9ff3-129caa234f4c
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '21'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/virtualZenClusters/23227
  response:
    body:
      string: '{"id":23227,"zgatewayId":53177,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false,"virtualZenNodes":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d07bd1bd-af4e-9887-8f7c-109b450b2eef
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/virtualZenClusters?search=tests-vzen-cluster-updated
  response:
    body:
      string: '[{"id":23227,"zgatewayId":53177,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false,"virtualZenNodes":[]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0dc3b43c-e597-92eb-a070-dbd5d5b2b706
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/virtualZenClusters/23227
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0f6bebfb-1832-94a3-82e9-4fd773b0a8e8
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - 3da1ff33-38d1-45bf-a55b-c06a17433c25
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
