interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/adminRoles/lite
  response:
    body:
      string: '[{"id":10579,"rank":7,"name":"Super Admin","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":10580,"rank":7,"name":"Executive
        Insights App","roleType":"EXEC_INSIGHT","reportTimeDuration":-1},{"id":21073,"rank":7,"name":"DevOps_Role","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25650,"rank":7,"name":"SDWAN-VeloCloud","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25651,"rank":7,"name":"SDWAN-SilverPeak","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25652,"rank":7,"name":"Engineering_Role","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25955,"rank":7,"name":"ZIA_API_Role","roleType":"PUBLIC_API","reportTimeDuration":-1},{"id":33860,"rank":7,"name":"ZIA_API_Role01","roleType":"PUBLIC_API","reportTimeDuration":-1}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d878295b-c697-984d-b75e-0a6037dfd0f4
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/adminRoles/lite?includeAuditorRole=True
  response:
    body:
      string: '{"message":"Rate Limit (2/SECOND) exceeded","Retry-After":"1 seconds"}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      retry-after:
      - '1'
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 1d7fc7bd-be0d-9a75-bc11-035ab1fad93f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 429
      message: Too Many Requests
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/adminRoles/lite?includeAuditorRole=True
  response:
    body:
      string: '[{"id":10579,"rank":7,"name":"Super Admin","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":10580,"rank":7,"name":"Executive
        Insights App","roleType":"EXEC_INSIGHT","reportTimeDuration":-1},{"id":21073,"rank":7,"name":"DevOps_Role","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25650,"rank":7,"name":"SDWAN-VeloCloud","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25651,"rank":7,"name":"SDWAN-SilverPeak","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25652,"rank":7,"name":"Engineering_Role","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25955,"rank":7,"name":"ZIA_API_Role","roleType":"PUBLIC_API","reportTimeDuration":-1},{"id":33860,"rank":7,"name":"ZIA_API_Role01","roleType":"PUBLIC_API","reportTimeDuration":-1},{"id":39521,"rank":7,"name":"Auditor","isAuditor":true,"roleType":"ORG_ADMIN","reportTimeDuration":-1}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 36233202-0554-9587-b4fc-d1f16e963afd
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/adminRoles/10579
  response:
    body:
      string: '{"id":10579,"rank":0,"name":"Super Admin","alertingAccess":"READ_WRITE","dashboardAccess":"READ_WRITE","reportAccess":"READ_WRITE","analysisAccess":"READ_ONLY","usernameAccess":"READ_ONLY","deviceInfoAccess":"READ_ONLY","aiPromptAccess":"READ_ONLY","featurePermissions":{"POLICY_RESOURCE_MANAGEMENT":"READ_WRITE","AUDIT_LOGS":"READ_WRITE","FILE_TYPE_CONTROL":"READ_WRITE","RESTORE":"READ_WRITE","MOBILE_APP_STORE_CONTROL":"READ_WRITE","ZS_DEFINED_URL_CATEGORY_MGMT":"READ_WRITE","NAT_CONTROL":"READ_WRITE","BANDWIDTH_CLASSES":"READ_WRITE","DLP_INCIDENT_RECEIVER":"READ_WRITE","REMOTE_ASSISTANCE_MANAGEMENT":"READ_WRITE","IDENTITY_PROXY_SETTINGS":"READ_WRITE","ALERTS_CONFIGURATION":"READ_WRITE","BANDWIDTH_CONTROL":"READ_WRITE","FTP_CONTROL":"READ_WRITE","MICROSOFT_CLOUD_APP_SECURITY":"READ_WRITE","DLP_DICTIONARIES_ENGINES":"READ_WRITE","REPORTING_FIREWALL":"READ_ONLY","TENANT_PROFILE_MANAGEMENT":"READ_WRITE","GRE_TUNNELS":"READ_WRITE","THIRD_PARTY_SSL_ROOT_CERTS":"READ_WRITE","ADVANCED_SETTINGS":"READ_WRITE","IPS_CONTROL":"READ_WRITE","REPORTING_WEB_DATA":"READ_ONLY","BACKUP":"READ_WRITE","ADMINISTRATOR_MANAGEMENT":"READ_WRITE","DEVICE_MANAGEMENT":"READ_WRITE","REPORTING_URL_CATEGORIES":"READ_ONLY","URL_CLOUD_APP_CONTROL":"READ_WRITE","FIREWALL_CONTROL":"READ_WRITE","REPORTING_DLP":"READ_ONLY","ROLE_MANAGEMENT":"READ_WRITE","AZURE_VIRTUAL_WAN":"READ_WRITE","PROXY_GATEWAY":"READ_WRITE","VZEN_CONFIGURATION":"READ_WRITE","HOSTED_PAC_FILES":"READ_WRITE","DLP_NOTIFICATION_TEMPLATES":"READ_WRITE","MOBILE_MALWARE_PROTECTION":"READ_WRITE","TIME_INTERVALS":"READ_WRITE","SD_WAN":"READ_WRITE","SAAS_SECURITY_POSTURE_MGMT":"READ_WRITE","MICROSOFT_DEFENDER_FOR_ENDPOINT":"READ_WRITE","INTERMEDIATE_CA_CERTIFICATES":"READ_WRITE","OVERRIDE_EXISTING_CAT":"READ_WRITE","CROWDSTRIKE":"READ_WRITE","REPORTING_IOT":"READ_ONLY","REPORTING_SECURITY":"READ_ONLY","INLINE_DLP":"READ_WRITE","USER_MANAGEMENT":"READ_WRITE","CLIENT_CONNECTOR_PORTAL":"READ_WRITE","CUSTOM_URL_CAT":"READ_WRITE","ZIA_TRAFFIC_CAPTURE":"READ_WRITE","SECURE_BROWSING":"READ_WRITE","STATIC_IPS":"READ_WRITE","SUBCLOUDS":"READ_WRITE","SSL_POLICY":"READ_WRITE","SAAS_APPLICATION_TENANTS":"READ_WRITE","BROWSER_ISOLATION":"READ_WRITE","IP_FQDN_GROUPS":"READ_WRITE","INCIDENT_WORKFLOW":"READ_WRITE","VPN_CREDENTIALS":"READ_WRITE","NSS_CONFIGURATION":"READ_WRITE","CLOUD_SANDBOX":"READ_WRITE","SAAS_SECURITY_API":"READ_WRITE","MALWARE_PROTECTION":"READ_WRITE","DNS_CONTROL":"READ_WRITE","ADVANCED_THREAT_PROTECTION":"READ_WRITE","LOCATIONS":"READ_WRITE","FORWARDING_CONTROL":"READ_WRITE","APIKEY_MANAGEMENT":"READ_WRITE","END_POINT_DLP":"READ_WRITE","AUTHENTICATION_SETTINGS":"READ_WRITE"},"extFeaturePermissions":{"INCIDENT_WORKFLOW":"FULL"},"isNonEditable":true,"logsLimit":"UNRESTRICTED","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e087d490-7754-93d8-9210-c2729b9317b1
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - b9e02ea1-aacd-4b80-b5b7-abb2917af981
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/passwordExpiry/settings
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 31da894a-53b5-928c-8c9f-0cd39b56d934
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/passwordExpiry/settings
  response:
    body:
      string: '{"code":"INVALID_OPERATION","message":"Not allowed for one identity
        enabled tenants"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 818c9a5e-2ece-9f34-9c28-6377d31c1745
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - bca6d023-5f72-49cc-a136-55a68183db53
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
version: 1
