interactions:
- request:
    body: '{"name": "tests-vzen-cluster", "type": "VIP", "ipAddress": "192.168.90.7",
      "subnetMask": "255.255.255.0", "defaultGateway": "192.168.90.254", "ipSecEnabled":
      false, "status": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters
  response:
    body:
      string: '{"id":23426,"name":"tests-vzen-cluster","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a43d033d-0485-97cd-bcaf-4c51e0516419
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '56'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vzen-cluster-updated", "type": "VIP", "ipAddress": "192.168.90.7",
      "subnetMask": "255.255.255.0", "defaultGateway": "192.168.90.254", "ipSecEnabled":
      false, "status": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters/23426
  response:
    body:
      string: '{"id":23426,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f8009a11-8376-9cf5-a414-23c738aab854
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters/23426
  response:
    body:
      string: '{"id":23426,"zgatewayId":52930,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false,"virtualZenNodes":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9dbf7524-a02b-9857-9989-920af61168a0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters?search=tests-vzen-cluster-updated
  response:
    body:
      string: '[{"id":23426,"zgatewayId":52930,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false,"virtualZenNodes":[]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 591995a1-75dd-940a-88fe-054df7caade2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/virtualZenClusters/23426
  response:
    body:
      string: '{"id":23426,"zgatewayId":52930,"name":"tests-vzen-cluster-updated","status":"ENABLED","inProduction":false,"ipAddress":"192.168.90.7","subnetMask":"255.255.255.0","defaultGateway":"192.168.90.254","type":"VIP","ipSecEnabled":false,"onDemandSupportTunnelEnabled":false,"establishSupportTunnelEnabled":false,"virtualZenNodes":[]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6e09c099-8940-95f3-8985-8844eee74730
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
