interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/sslInspectionRules
  response:
    body:
      string: '[{"id":184200,"accessControl":"READ_WRITE","name":"Zscaler Recommended
        Exemptions","order":1,"rank":7,"endPointApplications":[],"endPointApplicationGroups":[],"roadWarriorForKerberos":false,"urlCategories":["GLOBAL_INT_GBL_SSL_BYPASS"],"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":true,"ocspCheck":false,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","description":"Zscaler
        Recommended Exemptions Rule created during the company creation","lastModifiedTime":1773325104,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"predefined":true,"defaultRule":false},{"id":184201,"accessControl":"READ_WRITE","name":"Office
        365 One Click","order":2,"rank":7,"endPointApplications":[],"endPointApplicationGroups":[],"roadWarriorForKerberos":false,"urlCategories":["GLOBAL_INT_OFC_SSL_BYPASS"],"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":true,"ocspCheck":false,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","lastModifiedTime":1773325104,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"predefined":true,"defaultRule":false},{"id":184202,"accessControl":"READ_WRITE","name":"Default
        SSL_TLS Inspection Rule","order":-1,"rank":7,"endPointApplications":[],"endPointApplicationGroups":[],"roadWarriorForKerberos":false,"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":false,"serverCertificates":"ALLOW","ocspCheck":false,"minTLSVersion":"SERVER_TLS_1_0","blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","description":"Default
        SSL_TLS Inspection Rule created during the company creation","lastModifiedTime":1619561356,"predefined":false,"defaultRule":true},{"id":449523,"accessControl":"READ_WRITE","name":"UCaaS
        One Click","order":3,"rank":7,"endPointApplications":[],"endPointApplicationGroups":[],"roadWarriorForKerberos":false,"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":true,"ocspCheck":false,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"DISABLED","lastModifiedTime":1773325104,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"predefined":true,"defaultRule":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a4d110a5-aea0-923e-bac4-18948577004f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4972'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/sslInspectionRules/184200
  response:
    body:
      string: '{"id":184200,"accessControl":"READ_WRITE","name":"Zscaler Recommended
        Exemptions","order":1,"rank":7,"endPointApplications":[],"endPointApplicationGroups":[],"roadWarriorForKerberos":false,"urlCategories":["GLOBAL_INT_GBL_SSL_BYPASS"],"action":{"type":"DO_NOT_DECRYPT","doNotDecryptSubActions":{"bypassOtherPolicies":true,"ocspCheck":false,"blockSslTrafficWithNoSniEnabled":false},"showEUN":false,"showEUNATP":false,"overrideDefaultCertificate":false},"state":"ENABLED","description":"Zscaler
        Recommended Exemptions Rule created during the company creation","lastModifiedTime":1773325104,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"predefined":true,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b64a16bd-efb4-9ceb-b7d8-47a950279596
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4970'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
