interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpEngines
  response:
    body:
      string: '[{"id":1,"name":"Credit Cards_1761585101101","engineExpression":"((D63.S
        > 1))","customDlpEngine":true,"description":"Credit Cards_test_1761180092151_test_1761191461189_test_1761418154739-test-1761429819141-test-1761429976541"},{"id":2,"name":"Credit
        Cards","engineExpression":"((D63.S > 1))","customDlpEngine":true,"description":"Credit
        Cards_test_1761180092151_test_1761191461189_test_1761418154739-test-1761429819141-test-1761429976541"},{"id":3,"name":"Canada-SSN","engineExpression":"((D50.S
        > 0))","customDlpEngine":true,"description":"Canada Social Insurance Number"},{"id":4,"name":"Br[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpEngines/lite
  response:
    body:
      string: '[{"id":1,"name":"Credit Cards_1761585101101","customDlpEngine":true},{"id":2,"name":"Credit
        Cards","customDlpEngine":true},{"id":3,"name":"Canada-SSN","customDlpEngine":true},{"id":4,"name":"Brazil-SSN","customDlpEngine":true},{"id":5,"name":"Social
        Security Numbers","customDlpEngine":true},{"id":6,"name":"Names and SSNs","customDlpEngine":true},{"id":7,"name":"SSN-With-Dashes","customDlpEngine":true},{"id":8,"name":"Credit
        Cards_1761585101101_1761587103205","customDlpEngine":true},{"id":9,"name":"kgRZw","customDlpEngine":true},{"id":10,"name":"test_engine_d80efa4f","customDlpEngine":true},{"id":11,"name":"test_engine_4dc41dfd","customDlpEngine":true},{"id":12,"name":"test_engine_58c5003c","customDlpEngine":true},{"id":13,"name":"test_engine_fe12a4ae","customDlpEngine":true},{"id":14,"name":"test_engine_675edd28","customDlpEngine":true},{"id":64,"predefinedEngineName":"CYBER_BULLY_ENG","customDlpEngine":false},{"id":63,"predefinedEngineName":"HIPAA","customDlpEngine":false},{"id":62,"predefinedEngineName":"GLBA","customDlpEngine":false},{"id":61,"predefinedEngineName":"PCI","customDlpEngine":false},{"id":60,"predefinedEngineName":"OFFENSIVE_LANGUAGE","customDlpEngine":false},{"id":59,"predefinedEngineName":"EXTERNAL","customDlpEngine":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0350abda-8572-9db4-b6c4-59a83c7de7c1
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4949'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpEngines/1
  response:
    body:
      string: '{"id":1,"name":"Credit Cards_1761585101101","engineExpression":"((D63.S
        > 1))","customDlpEngine":true,"description":"Credit Cards_test_1761180092151_test_1761191461189_test_1761418154739-test-1761429819141-test-1761429976541"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9b13d524-5252-970e-b045-952bc82931ab
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4948'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"data": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpEngines/validateDlpExpr
  response:
    body:
      string: '{"status":"Failed","errMsg":"Unexpected token, Error Position: 0"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1586a683-1ca4-971b-9fb8-4a37dd0cbb6d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4947'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
