interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "action": "BLOCK",
      "order": 1, "rank": 7, "urlCategories": ["ANY"], "protocols": ["ANY_RULE"],
      "deviceTrustLevels": ["UNKNOWN_DEVICETRUSTLEVEL", "LOW_TRUST", "MEDIUM_TRUST",
      "HIGH_TRUST"], "userAgentTypes": ["OPERA", "FIREFOX", "MSIE", "MSEDGE", "CHROME",
      "SAFARI", "MSCHREDGE", "OTHER"], "userRiskScoreLevels": ["LOW", "MEDIUM", "HIGH",
      "CRITICAL"], "requestMethods": ["CONNECT", "DELETE", "GET", "HEAD", "OPTIONS",
      "OTHER", "POST", "PUT", "TRACE"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules
  response:
    body:
      string: '{"id":1690944,"name":"tests-vcr0001","order":1,"protocols":["ANY_RULE"],"urlCategories":["ANY"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["CONNECT","DELETE","GET","HEAD","OPTIONS","OTHER","POST","PUT","TRACE"],"blockOverride":false,"description":"tests-vcr0002","enforceTimeValidity":false,"userAgentTypes":["OPERA","FIREFOX","MSIE","MSEDGE","CHROME","SAFARI","MSCHREDGE","OTHER"],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"capturePCAP":false,"usersAndGroupsSet":false,"groupsAndDepartmentsSet":false,"action":"BLOCK","predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 52df20a1-8631-933d-ae12-bc066d8dd852
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '57'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules/1690944
  response:
    body:
      string: '{"id":1690944,"accessControl":"READ_WRITE","name":"tests-vcr0001","order":1,"protocols":["ANY_RULE"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["OPTIONS","GET","HEAD","POST","PUT","DELETE","TRACE","CONNECT","OTHER"],"blockOverride":false,"description":"tests-vcr0002","lastModifiedTime":1773372484,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"enforceTimeValidity":false,"userAgentTypes":["OPERA","FIREFOX","MSIE","MSEDGE","CHROME","SAFARI","OTHER","MSCHREDGE"],"deviceTrustLevels":["UNKNOWN_DEVICETRUSTLEVEL","LOW_TRUST","MEDIUM_TRUST","HIGH_TRUST"],"userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"cbiProfileId":0,"capturePCAP":false,"sourceIpGroups":[],"browserEunTemplateId":0,"httpHeaderProfiles":[],"httpHeaderActionProfiles":[],"usersAndGroupsSet":false,"groupsAndDepartmentsSet":false,"action":"BLOCK","predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b3452549-a501-9272-b325-c7acaa92d949
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules/1690944
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fbdc3847-5561-9b04-b895-2ff0dc4840b6
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
