interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/malwarePolicy
  response:
    body:
      string: '{"blockUnscannableFiles":true,"blockPasswordProtectedArchiveFiles":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d94bbbb6-6fb3-9044-9ab7-96845266cb14
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/atpMalwareInspection
  response:
    body:
      string: '{"inspectInbound":true,"inspectOutbound":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fa4e7e71-cd28-94b3-86ea-a81b3337f3f3
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/atpMalwareProtocols
  response:
    body:
      string: '{"inspectHttp":true,"inspectFtpOverHttp":true,"inspectFtp":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - bc688469-5e26-96e9-93b4-d0287af3906f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/malwareSettings
  response:
    body:
      string: '{"virusBlocked":true,"virusCapture":false,"unwantedApplicationsBlocked":true,"unwantedApplicationsCapture":false,"trojanBlocked":true,"trojanCapture":false,"wormBlocked":true,"wormCapture":false,"adwareBlocked":true,"adwareCapture":false,"spywareBlocked":true,"spywareCapture":false,"ransomwareBlocked":true,"ransomwareCapture":false,"remoteAccessToolBlocked":true,"remoteAccessToolCapture":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d7eb3dbc-595a-9949-b647-1e070b2a7d58
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - bd9e71b3-eb18-4579-b840-8ed4310e9a89
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"inspectInbound": true, "inspectOutbound": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/atpMalwareInspection
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 09907193-8731-90df-a6f4-2a775f7b9a65
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"inspectInbound": true, "inspectOutbound": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/cyberThreatProtection/atpMalwareInspection
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - e154d8ff-1304-9518-a02d-d3455e7515a8
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
version: 1
