interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/icapServers
  response:
    body:
      string: '[{"id":1663,"name":"SGIO-ICAP01","url":"icaps://192.168.100.1:1344/","status":"ENABLED"},{"id":1808,"name":"ZS_BD_ICAP_01","url":"icaps://192.168.100.2:1344/","status":"ENABLED"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7813ffec-1bb5-94a1-b459-692bb201dcbb
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/icapServers/lite
  response:
    body:
      string: '[{"id":1663,"name":"SGIO-ICAP01"},{"id":1808,"name":"ZS_BD_ICAP_01"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 66b1fd8d-5007-9d6d-a030-a4677439e029
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/icapServers/1663
  response:
    body:
      string: '{"id":1663,"name":"SGIO-ICAP01","url":"icaps://192.168.100.1:1344/","status":"ENABLED"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3efc3594-570b-95ff-a5eb-d8937a0a7073
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/incidentReceiverServers
  response:
    body:
      string: '[{"id":1664,"name":"ZS_BD_INC_RECEIVER_01","url":"icaps://192.168.100.1:1344/","status":"ENABLED","flags":1},{"id":1809,"name":"ZS_BD_INC_RECEIVER_02","url":"icaps://192.168.100.2:1344/","status":"ENABLED","flags":1},{"id":1819,"name":"ZIR-BD-SA01","url":"icaps://44.234.89.194:1344/","status":"ENABLED","flags":1},{"id":1823,"name":"ZIR-BD-TITANIAM","url":"icaps://18.117.103.173:1344/","status":"ENABLED","flags":1}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b4aaa9d6-fdf8-91b7-b6ad-57986f52bb66
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/incidentReceiverServers/lite
  response:
    body:
      string: '[{"id":1664,"name":"ZS_BD_INC_RECEIVER_01","url":"icaps://192.168.100.1:1344/","flags":1},{"id":1809,"name":"ZS_BD_INC_RECEIVER_02","url":"icaps://192.168.100.2:1344/","flags":1},{"id":1819,"name":"ZIR-BD-SA01","url":"icaps://44.234.89.194:1344/","flags":1},{"id":1823,"name":"ZIR-BD-TITANIAM","url":"icaps://18.117.103.173:1344/","flags":1}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7db8376c-6a5c-9b3b-ab04-d99422e38faf
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/incidentReceiverServers/1664
  response:
    body:
      string: '{"id":1664,"name":"ZS_BD_INC_RECEIVER_01","url":"icaps://192.168.100.1:1344/","status":"ENABLED","flags":1}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c4534676-a076-990e-ae55-aef8542a519f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/idmprofile
  response:
    body:
      string: '[{"profileId":13,"profileName":"BD_IDM_TEMPLATE01","profileType":"LOCAL","port":0,"scheduleType":"NONE","scheduleDay":0,"scheduleTime":0,"scheduleDisabled":false,"uploadStatus":"IDM_PROF_UPLOAD_COMPLETED","version":1,"idmClient":{"id":62109,"name":"ZS_DLP_IDX01"},"volumeOfDocuments":153025,"numDocuments":1,"lastModifiedTime":1702089862,"modifiedBy":{"id":24326816,"name":"REDACTED"}}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d18c4de4-5a09-9c2b-86da-8c52cf522423
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/idmprofile/13
  response:
    body:
      string: '{"profileId":13,"profileName":"BD_IDM_TEMPLATE01","profileType":"LOCAL","port":0,"scheduleType":"NONE","scheduleDay":0,"scheduleTime":0,"scheduleDisabled":false,"uploadStatus":"IDM_PROF_UPLOAD_COMPLETED","version":1,"idmClient":{"id":62109,"name":"ZS_DLP_IDX01"},"volumeOfDocuments":153025,"numDocuments":1,"lastModifiedTime":1702089862,"modifiedBy":{"id":24326816,"name":"REDACTED"}}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3939317c-5e34-9429-a0e7-0c3f865d2024
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpExactDataMatchSchemas
  response:
    body:
      string: '[{"schemaId":4,"edmClient":{"id":62109,"name":"ZS_DLP_IDX01"},"projectName":"BD_EDM_TEMPLATE01","revision":1,"filename":"edm_file_24326813_4","originalFileName":"Casino_MOCK_DATA.csv","fileUploadStatus":"ADP_FILE_UPLOAD_COMPLETED","schemaStatus":"EDM_INDEXING_NONE","origColCount":1,"lastModifiedBy":{"id":24326816,"name":"REDACTED"},"lastModifiedTime":1702096093,"createdBy":{"id":24326816,"name":"REDACTED"},"cellsUsed":1000,"schemaActive":true,"tokenList":[{"name":"email","type":"ADP_TOK_EMAILADDR","primaryKey":true,"originalColumn":6,"hashfileColumnOrder":1,"colLengthBitmap":0}],"schedulePresent":false},{"schemaId":5,"edmClient":{"id":62109,"name":"ZS_DLP_IDX01"},"projectName":"BD_EDM_TEMPLATE02","revision":1,"filename":"edm_file_24326813_5","originalFileName":"EDMLarge_Healthcare_DataSet.csv","fileUploadStatus":"ADP_FILE_UPLOAD_COMPLETED","schemaStatus":"EDM_INDEXING_NONE","origColCount":2,"lastModifiedBy":{"id":24326816,"name":"REDACTED"},"lastModifiedTime":1702096188,"createdBy":{"id":24326816,"name":"REDACTED"},"cellsUsed":1400002,"schemaActive":true,"tokenList":[{"name":"ssn","type":"ADP_TOK_SSN","primaryKey":true,"originalColumn":4,"hashfileColumnOrder":1,"colLengthBitmap":0},{"name":"email","type":"ADP_TOK_EMAILADDR","primaryKey":false,"originalColumn":6,"hashfileColumnOrder":2,"colLengthBitmap":0}],"schedulePresent":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9a55b723-2f44-997a-bde4-3139950a37e6
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/dlpExactDataMatchSchemas/lite
  response:
    body:
      string: '[{"schema":{"id":4,"name":"BD_EDM_TEMPLATE01"},"tokens":[{"name":"email","type":"ADP_TOK_EMAILADDR","primaryKey":true,"originalColumn":6,"hashfileColumnOrder":1,"colLengthBitmap":0}]},{"schema":{"id":5,"name":"BD_EDM_TEMPLATE02"},"tokens":[{"name":"email","type":"ADP_TOK_EMAILADDR","primaryKey":false,"originalColumn":6,"hashfileColumnOrder":2,"colLengthBitmap":0},{"name":"ssn","type":"ADP_TOK_SSN","primaryKey":true,"originalColumn":4,"hashfileColumnOrder":1,"colLengthBitmap":0}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0c09bf5c-9e85-93dc-8478-5200367614e7
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
