interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/users
  response:
    body:
      string: '[{"id":29309057,"name":"adam.ashcroft","email":"adam.ashcroft@securitygeek.io","groups":[{"id":25684250,"name":"Engineering"},{"id":26231231,"name":"Normal_Internet"}],"department":{"id":25684245,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":24326816,"name":"DEFAULT
        ADMIN","email":"admin@24326813.zscalerthree.net","groups":[{"id":24326814,"name":"Service
        Admin"}],"department":{"id":24326815,"name":"Service Admin"},"comments":"Default
        Administrator","adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":117781255,"name":"William
        Guilherme","email":"admin@securitygeekio.zslogin.net","groups":[],"adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":123234156,"name":"Admin
        Test","email":"admin_test@securitygeek.io","groups":[],"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":29306493,"name":"Ajith
        Almond","email":"ajith.almond@securitygeek.io","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":25684250,"name":"Engineering"}],"department":{"id":25684245,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":29309058,"name":"Albert
        Amin","email":"albert.amin@securitygeek.io","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":25684250,"name":"Engineering"}],"department":{"id":25684245,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":29309064,"name":"Alison
        Abbas","email":"alison.abbas@securitygeek.io","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":24392492,"name":"Marketing"}],"department":{"id":25658563,"name":"Marketing"},"adminUser":false,"isNonEditable":false,"disabled":true,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":29309111,"name":"Allison
        Ashley","email":"allison.ashley@securitygeek.io","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":25684250,"name":"Engineering"}],"department":{"id":25684245,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":32458848,"name":"Amazzal
        Habib","email":"amazzal.elhabib@securitygeek.io","groups":[{"id":243268[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/departments
  response:
    body:
      string: '[{"id":68759308,"name":"A000_test_1761418096949-test-1761429754606-test-1761429914836","comments":"vilis_bgYOBk63"},{"id":68759309,"name":"A001","comments":"A001"},{"id":68759310,"name":"A002","comments":"A002"},{"id":68759311,"name":"A003","comments":"A003"},{"id":68759312,"name":"A004","comments":"A004"},{[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/groups
  response:
    body:
      string: '[{"id":62718414,"name":"A000_test_1761418099964-test-1761429757931-test-1761429917892","comments":"deporto_A7dxNtrV"},{"id":62718389,"name":"A001"},{"id":62718428,"name":"A002"},{"id":62718420,"name":"A003"},{"id":62718400,"name":"A004"},{"id":62718395,"name":"A005"},{"id":62718419,"name":"A006"},{"id":62718391,"[...]
