interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/adminUsers
  response:
    body:
      string: '[{"id":165214882,"loginName":"REDACTED","userName":"20260209142140_created","email":"REDACTED","role":{"id":18740,"name":"SDWAN-SilverPeak","isNameL10nTag":true,"extensions":{"adminRank":"7","roleType":"SDWAN"}},"adminScopescopeGroupMemberEntities":[],"adminScopeType":"ORGANIZATION","adminScopeScopeEntities":[],"disabled":false,"pwdLastModifiedTime":1770675715,"name":"20260209142140_created"},{"id":165215336,"loginName":"REDACTED","userName":"20260209143211_created","email":"REDACTED","role":{"id":18740,"name":"SDWAN-SilverPeak","isNameL10nTag":true,"extensions":{"adminRank":"7","roleType":"SDWAN"}},"comments":"20260209143211_updated","adminScopescopeGroupMemberEntities":[],"adminScopeType":"ORGANIZATION","adminScopeScopeEntities":[],"disabled":false,"pwdLastModifiedTime":1770676336,"name":"20260209143211_created"},{"id":165215387,"loginName":"REDACTED","userName":"20260209143342_created","email":"REDACTED","role":{"id":18740,"name":"SDWAN-SilverPeak","isNameL10nTag":true,"extensions":{"adminRank":"7","roleType":"SDWAN"}},"comments":"20260209143342_updated","adminScopescopeGroupMemberEntities":[],"adm[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/adminUsers?includeAuditorUsers=True
  response:
    body:
      string: '[{"id":165214882,"loginName":"REDACTED","userName":"20260209142140_created","email":"REDACTED","role":{"id":18740,"name":"SDWAN-SilverPeak","isNameL10nTag":true,"extensions":{"adminRank":"7","roleType":"SDWAN"}},"adminScopescopeGroupMemberEntities":[],"adminScopeType":"ORGANIZ[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/adminUsers/165214882
  response:
    body:
      string: '{"id":165214882,"loginName":"REDACTED","userName":"20260209142140_created","email":"REDACTED","role":{"id":18740,"name":"SDWAN-SilverPeak","isNameL10nTag":true,"extensions":{"adminRank":"7","roleType":"SDWAN"}},"adminScopescopeGroupMemberEntities":[],"adminScopeType":"ORGANIZATION","adminScopeScopeEntities":[],"disabled":false,"isPasswordLoginAllowed":true,"pwdLastModifiedTime":1770675715,"name":"20260209142140_created"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4ab77c86-a3b1-91f3-afb4-cac82e0085e7
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
