interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "type": "DSTN_IP",
      "addresses": ["192.168.100.4", "192.168.100.5"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"id":10226734,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["192.168.100.4","192.168.100.5"],"description":"tests-vcr0002","ipCategories":[],"countries":[]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 35f49038-065b-9be2-8b09-a91fcfe40980
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0003", "description": "Integration test source group",
      "ipAddresses": ["192.168.100.1", "192.168.100.2", "192.168.100.3"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups
  response:
    body:
      string: '{"id":10226739,"name":"tests-vcr0003","ipAddresses":["192.168.100.1","192.168.100.2","192.168.100.3"],"description":"Integration
        test source group"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2664e6d2-a427-941a-b5e3-02ba292afca7
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4977'
      x-ratelimit-reset:
      - '8'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0004", "description": "Integration test Forwarding Control
      Rule", "order": 1, "rank": 7, "type": "FORWARDING", "forwardMethod": "DIRECT",
      "state": "ENABLED", "destIpGroups": [{"id": 10226734}], "srcIpGroups": [{"id":
      10226739}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/forwardingRules
  response:
    body:
      string: '{"id":1582214,"name":"tests-vcr0004","type":"FORWARDING","order":1,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Integration
        test Forwarding Control Rule","srcIpGroups":[{"id":10226739}],"destIpCategories":["ANY"],"resCategories":[],"destCountries":[],"destIpGroups":[{"id":10226734}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 45d6143e-ff49-9a62-a208-a279f622a1d7
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/forwardingRules/1582214
  response:
    body:
      string: '{"accessControl":"READ_WRITE","id":1582214,"name":"tests-vcr0004","type":"FORWARDING","order":1,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Integration
        test Forwarding Control Rule","lastModifiedTime":1764980165,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"srcIpGroups":[{"id":10226739,"name":"tests-vcr0003"}],"destIpCategories":[],"resCategories":[],"destCountries":[],"destIpGroups":[{"id":10226734,"name":"tests-vcr0001"}]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f0916f2a-e924-9c6f-a27e-e8a3283912fc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - e188405e-ec96-418c-9d0f-878cc4acc7de
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/forwardingRules
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":241782,"name":"ZPA Pool For Stray
        Traffic","type":"FORWARDING","order":-2,"rank":7,"forwardMethod":"DROP","state":"ENABLED","description":"Automatically
        created ZPA Pool Stray Traffic for ZIA","lastModifiedTime":1634768070,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":537035,"name":"Client
        Connector Traffic Direct","type":"FORWARDING","order":-3,"rank":7,"forwardMethod":"DIRECT","state":"ENABLED","description":"Client
        Connector Traffic Direct","lastModifiedTime":1666399026,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":752922,"name":"ZIA
        Inspected ZPA Apps","type":"FORWARDING","order":-4,"rank":7,"forwardMethod":"ZPA","state":"DISABLED","description":"Forwards
        all ZPA application requiring ZIA inspection","lastModifiedTime":1694912902,"destIpCategories":[],"resCategories":[],"destCountries":[],"zpaAppSegments":[{"id":2387144,"name":"Inspect
        App Segments","externalId":"2"}],"zpaGateway":{"id":2387145,"name":"Auto ZPA
        Gateway"}},{"accessControl":"READ_WRITE","id":802935,"name":"Fallback mode
        of ZPA Forwarding","type":"FORWARDING","order":-5,"rank":7,"forwardMethod":"ZPA","state":"DISABLED","description":"Forwards
        all ZPA application to fallback ZPA Pool","lastModifiedTime":1696730204,"destIpCategories":[],"resCategories":[],"destCountries":[]},{"accessControl":"READ_WRITE","id":1557997,"name":"Allow
        Extranet DNS Traffic","type":"FORWARDING","order":-100,"rank":0,"locationGroups":[{"id":157892460,"name":"All
        Extranet Location Group"}],"forwardMethod":"DIRECT","state":"ENABLED","description":"Allow
        DNS traffic from Extranet Locations","lastModifiedTime":1763256806,"destIpCategories":[],"resCategories":[],"destCountries":[],"nwServices":[{"id":774003,"name":"DNS","isNameL10nTag":true}]},{"accessControl":"READ_WRITE","id":1557998,"name":"Extranet
        Traffic to ZPA","type":"FORWARDING","order":-101,"rank":0,"locationGroups":[{"id":157892460,"name":"All
        Extranet Location Group"}],"forwardMethod":"ZPA","state":"ENABLED","description":"Forwards
        all Extranet applications to ZPA","lastModifiedTime":1763256806,"destIpCategories":[],"resCategories":[],"destCountries":[],"zpaAppSegments":[{"id":10130735,"name":"Extranet
        App Segment","externalId":"3"}][...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups/10226734
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4e9868b3-b172-98ca-90ca-a9b1811244a3
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups/10226739
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 87c7d5c4-8ef4-93c1-9e00-9c4967136af3
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
