interactions:
- request:
    body: '{"name": "tests-bandwidth-class", "webApplications": ["ACADEMICGPT", "AD_CREATIVES"],
      "urls": ["test1.acme.com", "test2.acme.com"], "urlCategories": ["AI_ML_APPS",
      "GENERAL_AI_ML"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses
  response:
    body:
      string: '{"id":17,"isNameL10nTag":true,"name":"tests-bandwidth-class","webApplications":["ACADEMICGPT","AD_CREATIVES"],"urls":["test1.acme.com","test2.acme.com"],"urlCategories":["AI_ML_APPS","GENERAL_AI_ML"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a75ab1d4-02dd-97d5-9141-75adef2d68ac
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '34'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-bandwidth-class-updated", "webApplications": ["ACADEMICGPT",
      "AD_CREATIVES"], "urls": ["test1.acme.com", "test2.acme.com", "test3.acme.com"],
      "urlCategories": ["AI_ML_APPS", "GENERAL_AI_ML", "PROFESSIONAL_SERVICES"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses/17
  response:
    body:
      string: '{"id":17,"isNameL10nTag":true,"name":"tests-bandwidth-class-updated","webApplications":["ACADEMICGPT","AD_CREATIVES"],"urls":["test1.acme.com","test3.acme.com","test2.acme.com"],"urlCategories":["AI_ML_APPS","GENERAL_AI_ML","PROFESSIONAL_SERVICES"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 341d403e-ed7b-90d5-b8e2-711a71d94c14
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '32'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses
  response:
    body:
      string: '[{"id":2,"isNameL10nTag":true,"name":"LARGE_FILE","type":"BANDWIDTH_CAT_LARGE_FILE","fileSize":"FILE_1GB"},{"id":6,"isNameL10nTag":true,"name":"BANDWIDTH_CAT_WEBCONF","type":"BANDWIDTH_CAT_WEBCONF","applications":["CONNECT","INTERCALL"]},{"id":11,"isNameL10nTag":true,"name":"Office
        Applications","webApplications":["WINDOWS_LIVE_HOTMAIL","YAMMER","SHAREPOINTONLINE","OTHER_OFFICE365","ONEDRIVE","ONEDRIVE_PERSONAL"]},{"id":12,"isNameL10nTag":true,"name":"Productivity","webApplications":["GOTOMEETING","GOTOWEBINAR","SALESFORCE","GOOGLEANALYTICS","GOOGLEBUSINESSAPPS","EVERNOTE","TWILIO","ZOHOCRM","SUGARCRM","SLIDESHARE","ECHOSIGN","DOCUSIGN","ARIBA","DOCSTOC","GITHUB"],"urlCategories":["OTHER_BUSINESS[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/bandwidthClasses/lite
  response:
    body:
      string: '[{"id":2,"isNameL10nTag":true,"name":"BANDWIDTH_CAT_LARGE_FILE","type":"BANDWIDTH_CAT_LARGE_FILE"},{"id":6,"isNameL10nTag":true,"name":"BANDWIDTH_CAT_WEBCONF","type":"BANDWIDTH_CAT_WEBCONF"},{"id":7,"isNameL10nTag":true,"name":"BANDWIDTH_CAT_VOIP","type":"BANDWIDTH_CAT_VOIP"},{"id":11,"isNameL[...]
