interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/tenancyRestrictionProfile
  response:
    body:
      string: '[{"id":25700062,"name":"SGIO-MSFT-CA","appType":"MSLOGINSERVICES","description":"SGIO-MSFT-CA","itemTypePrimary":"TENANT_RESTRICTION_TENANT_DIRECTORY","itemDataPrimary":["76b66e9c-201a-49dc-bb7e-e9d77604a4c2"],"itemTypeSecondary":"TENANT_RESTRICTION_TENANT_NAME","itemDataSecondary":["securitygeek.dev","securitygeekio.ca"],"restrictPersonalO365Domains":true,"allowGoogleConsumers":false,"msLoginServicesTrV2":false,"allowGoogleVisitors":false,"allowGcpCloudStorageRead":false},{"id":25700074,"name":"SGIO-MSFT1","appType":"MSLOGINSERVICES","itemTypePrimary":"TENANT_RESTRICTION_TENANT_DIRECTORY","itemDataPrimary":["02ddc0c2-02a1-40f0-b91d-f1ae13bd1f63"],"itemTypeSecondary":"TENANT_RESTRICTION_TENANT_NAME","itemDataSecondary":["NetIPSEC.onmicrosoft.com","securitygeek.io"],"restrictPersonalO365Domains":true,"allowGoogleConsumers":false,"msLoginServicesTrV2":false,"allowGoogleVisitors":false,"allowGcpCloudStorageRead":false},{"id":66184529,"name":"zscaler_demo01","appType":"DROPBOX","description":"zscaler_demo01","itemTypePrimary":"TENANT_RESTRICTION_TEAM_ID","itemDataPrimary":["139732608"],"restrictPersonalO365Domains":false,"allowGoogleConsumers":false,"msLoginServicesTrV2":false,"allowGoogleVisitors":false,"allowGcpCloudStorageRead":false}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 52fab45a-0a58-9072-8576-97b4a444a4cb
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4965'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestRestrictionProfile_VCR", "description": "Test restriction
      profile for VCR", "restrictionType": "ALLOW"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/tenancyRestrictionProfile
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 77c757d2-e04d-9ff0-97c7-13541907f4be
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4964'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/tenancyRestrictionProfile/25700062
  response:
    body:
      string: '{"id":25700062,"name":"SGIO-MSFT-CA","appType":"MSLOGINSERVICES","description":"SGIO-MSFT-CA","itemTypePrimary":"TENANT_RESTRICTION_TENANT_DIRECTORY","itemDataPrimary":["76b66e9c-201a-49dc-bb7e-e9d77604a4c2"],"itemTypeSecondary":"TENANT_RESTRICTION_TENANT_NAME","itemDataSecondary":["securitygeek.dev","securitygeekio.ca"],"restrictPersonalO365Domains":true,"allowGoogleConsumers":false,"msLoginServicesTrV2":false,"allowGoogleVisitors":false,"allowGcpCloudStorageRead":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 83830a68-a6cc-9092-a3f4-34eb49208a45
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4963'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
