interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ipAddress": "104.239.237.2", "comment": "tests-vcr0001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/staticIP
  response:
    body:
      string: '{"id":3340005,"ipAddress":"104.239.237.2","geoOverride":false,"latitude":37.6325999,"longitude":-97.7724999,"city":{"id":4269447,"name":"Cheney,
        Kansas, United States"},"routableIP":true,"lastModificationTime":1764202285,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-vcr0001"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6eb0670c-7391-9586-94c3-c9e1aa1bb10a
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 5bd80a4f-f74e-49a0-9dd7-ca08fb84db27
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/vips/recommendedList?sourceIp=104.239.237.2
  response:
    body:
      string: '[{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":false,"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US","region":"NorthAmerica"},{"id":213857,"virtualIp":"170.85.96.129","privateServiceEdge":false,"datacenter":"DFW2","latitude":31.0,"longitude":-96.0,"city":"Dallas","countryCode":"US","region":"NorthAmerica"},{"id":65303,"virtualIp":"165.225.10.32","privateServiceEdge":false,"datacenter":"DEN3","latitude":42.0,"longitude":-106.0,"city":"Denver","countryCode":"US","region":"NorthAmerica"},{"id":270926,"virtualIp":"170.85.86.129","privateServiceEdge":false,"datacenter":"WAS4","latitude":38.0,"longitude":-77.0,"city":"Washington,
        DC","countryCode":"US","region":"NorthAmerica"},{"id":56315,"virtualIp":"165.225.218.32","privateServiceEdge":false,"datacenter":"NLD1","latitude":27.0,"longitude":-100.0,"city":"Nuevo
        Laredo","countryCode":"MX","region":"NorthAmerica"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3a0edfa3-b3f6-96cd-bb57-7f86ce3d237f
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '34'
      x-transaction-id:
      - 5bd80a4f-f74e-49a0-9dd7-ca08fb84db27
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"ipUnnumbered": true, "comment": "tests-vcr0002", "sourceIp": "104.239.237.2",
      "primaryDestVip": {"id": 170301}, "secondaryDestVip": {"id": 213857}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/greTunnels
  response:
    body:
      string: '{"id":3340005,"sourceIp":"104.239.237.2","primaryDestVip":{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":false,"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US  ","region":"NorthAmerica","dontProvision":true},"secondaryDestVip":{"id":213857,"virtualIp":"170.85.96.129","privateServiceEdge":false,"datacenter":"DFW2","latitude":31.0,"longitude":-96.0,"city":"Dallas","countryCode":"US  ","region":"NorthAmerica"},"lastModificationTime":1764202288,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-vcr0002","ipUnnumbered":true}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c13022fd-c76e-9510-92a0-27a93fe9ec82
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 5bd80a4f-f74e-49a0-9dd7-ca08fb84db27
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ipUnnumbered": true, "comment": "Updated GRE Tunnel vcr0003", "sourceIp":
      "104.239.237.2", "primaryDestVip": {"id": 170301}, "secondaryDestVip": {"id":
      213857}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.zsapi.net/zia/api/v1/greTunnels/3340005
  response:
    body:
      string: '{"id":3340005,"sourceIp":"104.239.237.2","primaryDestVip":{"id":170301,"virtualIp":"170.85.14.129","privateServiceEdge":false,"dat[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/staticIP/3340005
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0b969369-222a-9dfa-9076-420f03fa245e
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 5bd80a4f-f74e-49a0-9dd7-ca08fb84db27
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/vips/groupByDatacenter?sourceIp=104.239.237.2
  response:
    body:
      string: '[{"datacenter":{"datacenter":"CHI2","latitude":39.0,"longitude":-89.0,"city":"Chicago","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":170301,"virtualIp":"170.85.14.129"}]},{"datacenter":{"datacenter":"DFW2","latitude":31.0,"longitude":-96.0,"city":"Dallas","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":213857,"virtualIp":"170.85.96.129"}]},{"datacenter":{"datacenter":"DEN3","latitude":42.0,"longitude":-106.0,"city":"Denver","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":65303,"virtualIp":"165.225.10.32"}]},{"datacenter":{"datacenter":"WAS4","latitude":38.0,"longitude":-77.0,"city":"Washington,
        DC","countryCode":"US","region":"NorthAmerica"},"greVips":[{"id":270926,"virtualIp":"170.85.86.129"}]},{"datacenter":{"datacenter":"NLD1","latitude":27.0,"longitude":-100.0,"city":"Nuevo
        Laredo","countryCode":"MX","region":"NorthAmerica"},"greVips":[{"id":56315,"virtualIp":"165.225.218.32"}]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5e949f65-d8b6-9ca8-8567-5c26596c95e4
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 5bd80a4f-f74e-49a0-9dd7-ca08fb84db27
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/vips?pageSize=10
  response:
    body:
      string: '[{"cloudName":"zscalerthree.net","region":"Oceania","country":"New
        Zealand","city":"Auckland","dataCenter":"AKL2","location":"173 E, 37 S","vpnIps":["147.161.216.40","147.161.216.41","147.161.216.42","147.161.216.43"],"vpnDomainName":"akl2-vpn.zscalerthree.net","greIps":["147.161.216.34"],"greDomainName":"akl2.gre.zscalerthree.net","pacIps":["147.161.216.36","147.161.216.37","147.161.216.38","147.161.216.39"],"pacDomainName":"akl2.sme.zscalerthree.net","svpnIps":["147.161.216.44"],"svpnDomainName":"akl2.svpn.zscalerthree.net"},{"cloudName":"zscalerthree.net","region":"Europe","country":"The
        Netherlands","city":"Amsterdam","dataCenter":"AMS2","location":"5 E, 52 N","vpnIps":["165.225.240.38","165.225.28.14"],"vpnDomainName":"ams2-vpn.zscalerthree.net","greIps":[],"greDomainName":"","pacIps":["165.225.240.34","165.225.240.35","165.225.240.36","165.225.240.37","165.225.28.13"],"pacDomainName":"ams2.sme.zscalerthree.net","svpnIps":["165.225.240.58","165.225.28.23"],"svpnDomainName":"a[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/vips?pageSize=10
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b7871ccc-969d-9ba6-858f-93314566bb83
      x-oneapi-version:
      - 109.1.85
    status:
      code: 401
      message: Unauthorized
[...]
