interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/datacenters
  response:
    body:
      string: '[{"id":512,"name":"CA Client Node DC","provider":"Zscaler Internal","city":"San
        Jose","timezone":"NOT_SPECIFIED","lat":0,"longi":0,"latitude":0,"longitude":0,"govOnly":false,"thirdPartyCloud":false,"uploadBandwidth":0,"downloadBandwidth":0,"ownedByCustomer":false,"managedBcp":false,"dontPublish":false,"dontProvision":false,"notReadyForUse":false,"forFutureUse":false,"regionalSurcharge":false,"createTime":1486167469,"lastModifiedTime":1737119056,"virtual":false},{"id":515,"name":"SJC4","provider":"TELX","city":"San
        Jose, CA","timezone":"UNITED_STATES_AMERICA_LOS_ANGELES","lat":38,"longi":-123,"latitude":380000000,"longitude":-1230000000,"govOnly":false,"thirdPartyCloud":false,"region":{"id":2713,"name":"NorthAmerica"},"uploadBandwidth":0,"downloadBandwidth":0,"ownedByCustomer":false,"managedBcp":false,"dontPublish":false,"dontProvision":false,"notReadyForUse":false,"forFutureUse":false,"regionalSurcharge":false,"createTime":1486423112,"lastModifiedTime":1737119056,"virtual":false},{"id":517,"name":"WAS1","provider":"Coresite","city":"Washington,
        DC","timezone":"UNITED_STATES_AMERICA_NEW_YORK","lat":39,"longi":-79,"latitude":390000000,"longitude":-790000000,"govOnly":f[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/dcExclusions
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - b022309e-d887-916d-86c5-d50859ab2e23
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
