interactions:
- request:
    body: '{"name": "tests-bdwrule-vcr0001", "webApplications": ["ACADEMICGPT", "AD_CREATIVES"],
      "urls": ["test1.acme.com", "test2.acme.com"], "urlCategories": ["AI_ML_APPS",
      "GENERAL_AI_ML", "PROFESSIONAL_SERVICES"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses
  response:
    body:
      string: '{"id":18,"isNameL10nTag":true,"name":"tests-bdwrule-vcr0001","webApplications":["ACADEMICGPT","AD_CREATIVES"],"urls":["test1.acme.com","test2.acme.com"],"urlCategories":["AI_ML_APPS","GENERAL_AI_ML","PROFESSIONAL_SERVICES"]}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 79c34f4d-8403-9f5e-89a2-2e940b2c9de2
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4962'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-bdwrule-vcr0002", "description": "Integration test Bandwidth
      Rule", "order": 1, "rank": 7, "maxBandwidth": "100", "minBandwidth": "20", "protocols":
      ["WEBSOCKETSSL_RULE", "WEBSOCKET_RULE", "DOHTTPS_RULE", "TUNNELSSL_RULE", "HTTP_PROXY",
      "FOHTTP_RULE", "FTP_RULE", "HTTPS_RULE", "HTTP_RULE", "SSL_RULE", "TUNNEL_RULE"],
      "state": "ENABLED", "bandwidthClasses": [{"id": 18}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthControlRules
  response:
    body:
      string: '{"id":1690926,"name":"tests-bdwrule-vcr0002","order":1,"state":"ENABLED","description":"Integration
        test Bandwidth Rule","protocols":["WEBSOCKETSSL_RULE","WEBSOCKET_RULE","DOHTTPS_RULE","TUNNELSSL_RULE","HTTP_PROXY","FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE","SSL_RULE","TUNNEL_RULE"],"maxBandwidth":100,"minBandwidth":20,"bandwidthClasses":[{"id":18,"name":"tests-bdwrule-vcr0001"}],"rank":7,"lastModifiedTime":1773371680,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"accessControl":"READ_WRITE","defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b97a82ca-c826-9326-9dec-86efbcf340a5
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4961'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthControlRules/1690926
  response:
    body:
      string: '{"id":1690926,"name":"tests-bdwrule-vcr0002","order":1,"state":"ENABLED","description":"Integration
        test Bandwidth Rule","protocols":["WEBSOCKETSSL_RULE","WEBSOCKET_RULE","DOHTTPS_RULE","TUNNELSSL_RULE","HTTP_PROXY","FOHTTP_RULE","FTP_RULE","HTTPS_RULE","HTTP_RULE","SSL_RULE","TUNNEL_RULE"],"maxBandwidth":100,"minBandwidth":20,"bandwidthClasses":[{"id":18,"name":"tests-bdwrule-vcr0001"}],"rank":7,"lastModifiedTime":1773371680,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"accessControl":"READ_WRITE","defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c712b0e9-d25a-9191-81b5-fd67f45d463a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4960'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthControlRules/lite
  response:
    body:
      string: '[{"id":184217,"name":"Default Bandwidth Control","order":2147483647,"state":"ENABLED","description":"Updated
        description for test - 184217","maxBandwidth":100,"minBandwidth":0,"rank":7,"accessControl":"READ_WRITE","defaultRule":true},{"id":184219,"name":"Streaming
        Media[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/bandwidthClasses/18
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6c520d19-2ead-9c10-a73e-ecc2237711a9
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '48'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
