interactions:
- request:
    body: '{"ipAddress": "104.239.237.2", "comment": "tests-vcr0001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP
  response:
    body:
      string: '{"id":3603319,"ipAddress":"104.239.237.2","geoOverride":false,"latitude":37.6325999,"longitude":-97.7724999,"city":{"id":4269447,"name":"Cheney,
        Kansas, United States"},"routableIP":true,"lastModificationTime":1764980320,"lastModifiedBy":{"id":117810311,"name":"API
        Client Secret Authentication"},"comment":"tests-vcr0001"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d566f090-8df7-9101-9b5f-5cafbdb33ef4
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "IP", "preSharedKey":"REDACTED", "ipAddress": "104.239.237.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/vpnCredentials
  response:
    body:
      string: '{"id":156964610,"type":"IP","ipAddress":"104.239.237.2"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d4878658-ae5f-9645-9eee-7279f0a8a43d
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "UFQDN", "preSharedKey":"REDACTED", "fqdn": "tests-vcr0003@securitygeek.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/vpnCredentials
  response:
    body:
      string: '{"id":158928083,"type":"UFQDN","fqdn":"REDACTED"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 95cf09c9-af63-9a29-99fa-e3dd136e7531
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": [156964610, 158928083]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/vpnCredentials/bulkDelete
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4addcf97-f172-933e-b21c-534e0df95040
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/staticIP/3603319
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2d03889b-5725-9ca1-b386-16722c5f8f9c
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 2650278a-e9f6-4ee4-9536-42904cc5ef43
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
