interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/users
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f79c65db-dab5-9b74-8e45-f49f07b78268
      x-oneapi-version:
      - 109.1.85
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/users
  response:
    body:
      string: '[{"id":29309057,"name":"adam.ashcroft","email":"REDACTED","groups":[{"id":25684250,"name":"Engineering"},{"id":26231231,"name":"Normal_Internet"}],"department":{"id":25684245,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":24326816,"name":"DEFAULT
        ADMIN","email":"REDACTED","groups":[{"id":24326814,"name":"Service Admin"}],"department":{"id":24326815,"name":"Service
        Admin"},"comments":"Default Administrator","adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":117781255,"name":"William
        Guilherme","email":"REDACTED","groups":[],"adminUser":true,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":123234156,"name":"Admin
        Test","email":"REDACTED","groups":[],"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":29306493,"name":"Ajith
        Almond","email":"REDACTED","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":25684250,"name":"Engineering"}],"department":{"id":25684245,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":29309058,"name":"Albert
        Amin","email":"REDACTED","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":25684250,"name":"Engineering"}],"department":{"id":25684245,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":29309064,"name":"Alison
        Abbas","email":"REDACTED","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":24392492,"name":"Marketing"}],"department":{"id":25658563,"name":"Marketing"},"adminUser":false,"isNonEditable":false,"disabled":true,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":29309111,"name":"Allison
        Ashley","email":"REDACTED","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":25684250,"name":"Engineering"}],"department":{"id":25684245,"name":"Engineering"},"adminUser":false,"isNonEditable":false,"pwdLastModifiedTime":0,"deleted":false,"pilotUser":false},{"id":32458848,"name":"Amazzal
        Habib","email":"REDACTED","groups":[{"id":24326814,"name":"Service Admin"},{"id":25684250,"na[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/departments
  response:
    body:
      string: '[{"id":68759308,"name":"A000_test_1761418096949-test-1761429754606-test-1761429914836","comments":"vilis_bgYOBk63"},{"id":68759309,"name":"A001","comments":"A001"},{"id":68759310,"name":"A002","comments":"A002"},{"id":68759311,"name":"A003","comments":"A003"},{"id":68759312,"name":"A004","comments":"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/groups
  response:
    body:
      string: '[{"id":62718414,"name":"A000_test_1761418099964-test-1761429757931-test-1761429917892","comments":"deporto_A7dxNtrV"},{"id":62718389,"name":"A001"},{"id":62718428,"name":"A002"},{"id":62718420,"name":"A003"},{"id":62718400,"name":"A004"},{"id":62718395,"name":"A005"},{"id":62718419,"name":"A006"},{"id":62[...]
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
