interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/zpaGateways
  response:
    body:
      string: '[{"id":18614602,"name":"Auto Extranet ZPA Gateway","zpaServerGroup":{"id":0,"name":"Auto
        Server Group"},"zpaAppSegments":[{"id":0,"name":"Inspect App Segments","externalId":"2"}],"lastModifiedBy":{"id":65544,"name":"REDACTED"},"lastModifiedTime":1758054219,"description":"Predefined
        Extranet ZPA gateway for ZIA inspection of Extranet App Segments"},{"id":18661667,"name":"ZPA_GW01","zpaServerGroup":{"id":0,"name":"test_zpa_server_group_sLUQi","externalId":"72058304855158914"},"lastModifiedBy":{"id":19474996,"name":"REDACTED"},"lastModifiedTime":1759161459,"description":"ZPA_GW01"},{"id":17682691,"name":"Auto
        ZPA Gateway","zpaServerGroup":{"id":0,"name":"Auto Server Group"},"zpaAppSegments":[{"id":0,"name":"Inspect
        App Segments","externalId":"2"}],"lastModifiedBy":{"id":65544,"name":"REDACTED"},"lastModifiedTime":1692235143,"description":"Predefined
        ZPA gateway for ZIA inspection of App Segments","readOnly":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 798922e3-64f7-99b5-8cad-8f219401f1c1
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/zpaGateways/18614602
  response:
    body:
      string: '{"code":"RESOURCE_NOT_FOUND","message":"No server group is found with
        the id. Check if any is provisioned in ZPA tenant 72058304855015424"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - f06b95ff-ab44-9802-bca2-0fbc03aa3f42
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/zpaGateways?search=Gateway
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - f61fc751-3e13-91ef-aced-71e8fc492a8e
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/zpaGateways?search=Gateway
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 743e4aa2-6a49-9099-85aa-bf6af67c5186
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
version: 1
