interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "type": "DSTN_IP",
      "addresses": ["192.168.100.4", "192.168.100.5"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups
  response:
    body:
      string: '{"id":10596673,"name":"tests-vcr0001","type":"DSTN_IP","addresses":["192.168.100.4","192.168.100.5"],"description":"tests-vcr0002","ipCategories":[],"countries":[]}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 26246a13-b66e-9669-a806-9991462f19a7
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0003", "description": "Integration test source group",
      "ipAddresses": ["192.168.100.1", "192.168.100.2", "192.168.100.3"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups
  response:
    body:
      string: '{"id":10596678,"name":"tests-vcr0003","ipAddresses":["192.168.100.1","192.168.100.2","192.168.100.3"],"description":"Integration
        test source group"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a820e6fa-e134-9172-ae4f-6e906ded9260
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0004", "description": "Integration test firewall rule",
      "action": "BLOCK_DROP", "order": 1, "rank": 7, "destCountries": ["COUNTRY_CA",
      "COUNTRY_US", "COUNTRY_MX", "COUNTRY_AU", "COUNTRY_GB"], "state": "ENABLED",
      "destIpGroups": [{"id": 10596673}], "srcIpGroups": [{"id": 10596678}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallIpsRules
  response:
    body:
      string: '{"id":1690930,"name":"tests-vcr0004","order":1,"rank":7,"action":"BLOCK_DROP","excludeContextShieldEndPoint":false,"capturePCAP":false,"state":"ENABLED","description":"Integration
        test firewall rule","srcIpGroups":[{"id":10596678}],"destIpCategories":["ANY"],"resCategories":[],"destCountries":["COUNTRY_CA","COUNTRY_US","COUNTRY_MX","COUNTRY_AU","COUNTRY_GB"],"destIpGroups":[{"id":10596673}],"isEunEnabled":false,"eunTemplateId":16,"defaultRule":false,"enableFullLogging":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1e52646a-b813-92f8-af34-dcc024ca43be
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallIpsRules/1690930
  response:
    body:
      string: '{"accessControl":"READ_WRITE","id":1690930,"name":"tests-vcr0004","order":1,"rank":7,"action":"BLOCK_DROP","excludeContextShieldEndPoint":false,"capturePCAP":false,"state":"ENABLED","description":"Integration
        test firewall rule","lastModifiedTime":1773371809,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"srcIpGroups":[{"id":10596678,"name":"tests-vcr0003"}],"destIpCategories":[],"resCategories":[],"destCountries":["COUNTRY_AU","COUNTRY_CA","COUNTRY_GB","COUNTRY_MX","COUNTRY_US"],"sourceCountries":[],"destIpGroups":[{"id":10596673,"name":"tests-vcr0001"}],"isEunEnabled":false,"eunTemplateId":16,"defaultRule":false,"enableFullLogging":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 38c3cbd3-8b55-9592-9b82-ac096f466ce5
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/firewallIpsRules
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":184228,"name":"Default Cloud IPS
        Rule","order":0,"rank":7,"action":"BLOCK_DROP","excludeContextShieldEndPoint":false,"capturePCAP":false,"state":"ENABLED","description":"_test_1761191399599_test_1761418085011-test-1761429740961-test-1761429901739","lastModifiedTime":1761584738,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"destIpCategories":[],"resCategories":[],"destCountries":[],"isEunEnabled":false,"eunTemplateId":16,"predefined":true,"defaultRule":false,"enableFullLogging":true},{"accessControl":"READ_WRITE","id":1536551,"name":"Default
        Cloud IPS Rule_1761584734259","order":-1,"rank":7,"action":"BLOCK_DROP","excludeContextShieldEndPoint":false,"capturePCAP":false,"state":"ENABLED","description":"_test_1761191399599_test_1761418085011-test-1761429740961-test-1761429901739","lastModifiedTime":1761584750,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"destIpCategories":[],"resCategories":[],"destCountries":[],[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipDestinationGroups/10596673
  response:
    body:
      string: ''
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2cfa3074-74b4-93ae-9951-03934c4a097e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/ipSourceGroups/10596678
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2be1dd9c-9b3b-96a1-971b-3173d35f9a60
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '56'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
