interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/orgInformation
  response:
    body:
      string: '{"orgId":24326813,"name":"William Guilherme","hqLocation":"USA","domains":["securitygeek.io","sgiodeveloper.ca","securitygeekio.zslogin.net"],"geoLocation":"NORTH_AMERICA","industryVertical":"SERVICES","addrLine1":"Your
        company HQ location address","city":"Vancouver","state":"British Columbia","zipcode":"V2Y
        0B1","country":"CANADA","employeeCount":"RANGE_2001_5000","language":"EN","timezone":"CANADA_AMERICA_VANCOUVER","alertTimer":"MINUTES_30","pdomain":"24326813.zscalerthree.net","internalCompany":false,"primaryBusinessContactName":"William
        Guilherme","primaryBusinessContactEmail":"REDACTED","legacyInsightsReportWasEnabled":false,"logoBase64Data":"iVBORw0KGgoAAAANSUhEUgAAASEAAACvCAMAAACFDpg1AAAA/1BMVEX///86OjwTmIo2NjgAk4QAkYIAi3wlJSggICMAeWdbn5QAlocSlYYxMTP4+/vTrmzCnmdBQUN0uK/b6+jV1dVcXF3z8/NisKa219JCpJiRkZIcHCBVVVY0oJQsLC9MqJ2o0MqEv7eqqqrw+f6QxL21tbUAAAB/f4CHh4jg8/2fn5/R7vyAsqljY2R3d3jr6+vMzMzf39/AwMDL7PzG4NyWlpavr7DQqF5XV1lLS0y/6PyVvrfOpVfKpmnYuIFpppyfxL07koT069359e7kz6zp17zIqHfbvoy9lVb17uLXwaJgfXgAVUhpiIQAa16ClJJEc20AGg5+mJRndnQfX1aY0UBfAAARQElEQVR4nO2deWPaOBrGZWSQKbVbEiAUESclxVBSm6OBxu1Mr9mdnd3ZOXZ3vv9nWZ22fACGGIgJzx8t2JKxfnl1vboA2K9[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/orgInformation/lite
  response:
    body:
      string: '{"orgId":24326813,"name":"William Guilherme","cloudName":"zscalerthree.net","domains":["securitygeek.io","sgiodeveloper.ca","securitygeekio.zslogin.net"],"language":"EN","timezone":"CANADA_AMERICA_VANCOUVER","orgDisabled":false}'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 667b8caa-590c-97f2-b74c-230902bf1438
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4968'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/subscriptions
  response:
    body:
      string: '[{"id":"AV_AS","status":"TRIAL","licenses":150,"startDate":1718089200,"strStartDate":"06/11/2024","strEndDate":"07/10/2029","endDate":1878447599,"sku":"Anti
        Virus and Anti Spam","updatedAtTimestamp":1769671668,"subscribed":true},{"id":"ZIA_ATP","status":"TRIAL","licenses":300,"startDate":1718089200,"strStartDate":"06/11/2024","strEndDate":"07/10/2029","endDate":1878447599,"sku":"Advanced
        Threat Protection","updatedAtTimestamp":1769671668,"subscribed":true},{"id":"URL_FILTER","status":"TRIAL","licenses":150,"startDate":1718089200,"strStartDate":"06/11/2024","strEndDate":"07/10/2029","endDate":1878447599,"sku":"URL
        Filter","updatedAtTimestamp":1769671668,"subscribed":true},{"id":"ZMAN_WEB_2_0","statu[...]
