interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/zpaGateways
  response:
    body:
      string: '[{"id":2387145,"name":"Auto ZPA Gateway","zpaServerGroup":{"id":0,"name":"Auto
        Server Group"},"zpaAppSegments":[{"id":0,"name":"Inspect App Segments","externalId":"2"}],"lastModifiedBy":{"id":65544,"name":"REDACTED"},"lastModifiedTime":1694912902,"description":"Predefined
        ZPA gateway for ZIA inspection of App Segments","readOnly":true},{"id":9727909,"name":"ZPAGW02","zpaServerGroup":{"id":0,"name":"Example100","externalId":"216196257331370169"},"zpaAppSegments":[{"id":0,"name":"app03","externalId":"216196257331372698"},{"id":0,"name":"app02","externalId":"216196257331372697"}],"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"lastModifiedTime":1755899371},{"id":10545942,"name":"test_zpa_gateway_02d0e25b","zpaServerGroup":{"id":0,"name":"Example100","externalId":"216196257331370169"},"zpaAppSegments":[{"id":0,"name":"a[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/zpaGateways?search=Gateway
  response:
    body:
      string: '[{"id":2387145,"name":"Auto ZPA Gateway","zpaServerGroup":{"id":0,"name":"Auto
        Server Group"},"zpaAppSegments":[{"id":0,"name":"Inspect App Segments","externalId":"2"}],"lastModifiedBy":{"id":65544,"name":"REDACTED"},"lastModifiedTime":1694912902,"description":"Predefined
     [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/zpaGateways/2387145
  response:
    body:
      string: '{"code":"RESOURCE_NOT_FOUND","message":"No server group is found with
        the id. Check if any is provisioned in ZPA tenant 216196257331281920"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 35f37b01-8947-9255-b070-0511134a9761
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4973'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 404
      message: Not Found
version: 1
