interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "action": "BLOCK",
      "order": 1, "rank": 7, "severity": "RULE_SEVERITY_HIGH", "protocols": ["FTP_RULE",
      "HTTPS_RULE", "HTTP_RULE"], "cloudApplications": ["WINDOWS_LIVE_HOTMAIL"], "userRiskScoreLevels":
      ["LOW", "MEDIUM", "HIGH", "CRITICAL"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/webDlpRules
  response:
    body:
      string: '{"id":1571783,"order":1,"protocols":["FTP_RULE","HTTPS_RULE","HTTP_RULE"],"description":"tests-vcr0002","fileTypes":[],"cloudApplications":["WINDOWS_LIVE_HOTMAIL"],"minSize":0,"action":"BLOCK","state":"ENABLED","matchOnly":false,"withoutContentInspection":false,"inspectHttpGetEnabled":false,"name":"tests-vcr0001","userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"dlpDownloadScanEnabled":false,"zccNotificationsEnabled":false,"severity":"RULE_SEVERITY_HIGH"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 837839be-1e65-99eb-984c-1c96ab6e77de
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4963'
      x-ratelimit-reset:
      - '4'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/webDlpRules/1571783
  response:
    body:
      string: '{"accessControl":"READ_WRITE","id":1571783,"order":1,"protocols":["FTP_RULE","HTTPS_RULE","HTTP_RULE"],"rank":0,"description":"tests-vcr0002","fileTypes":[],"fileTypeCategories":[],"cloudApplications":["WINDOWS_LIVE_HOTMAIL"],"minSize":0,"action":"BLOCK","state":"ENABLED","matchOnly":false,"lastModifiedTime":1764200999,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"receiver":{},"withoutContentInspection":false,"inspectHttpGetEnabled":false,"name":"tests-vcr0001","userRiskScoreLevels":["LOW","MEDIUM","HIGH","CRITICAL"],"dlpDownloadScanEnabled":false,"zccNotificationsEnabled":false,"severity":"RULE_SEVERITY_HIGH","subRules":[],"sourceIpGroups":[],"eunTemplateId":0,"ucTemplateId":0}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 31718c82-6eb2-9bdb-9812-7d6d02c314c0
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/webDlpRules
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - a66bf229-c091-96cd-ae0e-5346f38db059
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/webDlpRules/lite
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - d9f2dc19-71de-92e4-a846-eefbd5b27e3d
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"name": "TestDLPRule_VCR_Updated", "description": "Updated DLP Web Rule",
      "action": "BLOCK", "order": 1, "rank": 7, "severity": "RULE_SEVERITY_HIGH",
      "protocols": ["FTP_RULE", "HTTPS_RULE", "HTTP_RULE"], "cloudApplications": ["WINDOWS_LIVE_HOTMAIL"],
      "userRiskScoreLevels": ["LOW", "MEDIUM", "HIGH", "CRITICAL"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/webDlpRules/1571783
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 10c72bea-85b6-974a-b0b1-b9f98d72d9a4
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/webDlpRules/lite
  response:
    body:
      string: '[{"accessControl":"READ_WRITE","id":1118124,"fileTypes":["FTCATEGORY_PYTHON","FTCATEGORY_ACCDB","FTCATEGORY_SQL","FTCATEGORY_MSC","FTCATEGORY_BASH_SCRIPTS","FTCATEGORY_SHELL_SCRAP","FTCATEGORY_SCZIP","FTCATEGORY_VISUAL_BASIC_SCRIPT","FTCATEGORY_POWERSHELL"],"fileTypeCategories":[{"id":72,"name":"FTCATEGORY_PYTHON","parent":"EXECUTABLES"},{"id":131,"name":"FTCATEGORY_ACCDB","parent":"DATABASE"},{"id":94,"name":"FTCATEGORY_SQL","parent":"DATABASE"},{"id":134,"name":"FTCATEGORY_MSC","parent":"EXECUTABLES"},{"id":116,"name":"FTCATEGORY_BASH_SCRIPTS","parent":"EXECUTABLES"},{"id":119,"name":"FTCATEGORY_SHELL_SCRAP","parent":"EXECUTABLES"},{"id":56,"name":"FTCATEGORY_SCZIP","parent":"ARCHIVES"},{"id":95,"name":"FTCATEGORY_VISUAL_BASIC_SCRIPT","parent":"EXECUTABLES"},{"id":86,"name":"FTCATEGORY_POWERSHELL","parent":"EXECUTABLES"}],"cloudApplications":[],"minSize":0,"state":"ENABLED","matchOnly":false,"receiver":{"id":25627,"name":"zscalerirbucket01","type":"C2CIR","tenant":{"id":23136553,"name":"SecurityGeekIO"}},"withoutContentInspection":false,"inspectHttpGetEnabled":false,"name":"DLP_Rule_1","dlpDownloadScanEnabled":false,"zccNotificationsEnabled":false,"severity":"RULE_SEVERITY_INFO","sourceIpGroups":[]}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 0b32a2dd-3760-9428-b346-5d523c0427cc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 9b7e3853-26eb-4565-ab4b-31b3646f87af
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "TestDLPRule_VCR_Updated", "description": "Updated DLP Web Rule",
      "action": "BLOCK", "order": 1, "rank": 7, "severity": "RULE_SEVERITY_HIGH",
      "protocols": ["FTP_RULE", "HTTPS_RULE", "HTTP_RULE"], "cloudApplications": ["WINDOWS_LIVE_HOTMAIL"],
      "userRiskScoreLevels": ["LOW", "MEDIUM", "HIGH", "CRITICAL"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zia/api/v1/webDlpRules/1571783
  response:
    body:
      string: '{"code":"RESOURCE_NOT_FOUND","message":"Rule with id 1571783 does not
        exist."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 3f30d5e8-3e1c-9b20-89e0-562a85fa4753
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '9'
      x-transaction-id:
      - e020341f-c580-4781-b4fc-7df8c6cc4641
      x-zscaler-mode:
      - read-write
    status:
      code: 404
      message: Not Found
version: 1
