interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514320,"certExpDate":2601650320,"description":"Zscaler
        Intermediate CA Certificate","currentState":"CERT_READY","publicKey":"-----BEGIN
        PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtsdgoSYvvGWGRBnzAlut\nauIZV5VvYfB4S7JF2Ebz8WxqO2WKH5jRKSsu7z6WB+HjYeBp2XY8H3ioyvDa5eTT\nKeIeK0QB3k3QeU8a+WpC1FJUxHOEBugkie7M9p6Qpe+Qv1/AX2NophOHcU42g+gy\nPL/+jk5FgJ8IQnaH7lZKb/vtmk0TK6gdcGjQeKQDenbds7MQjrWlFFKk7aHbAHC8\n6EobT+EzRPnPa435oQ027vDHc2NFOfHPqrkimUdqAy/2fWYLZp8V6UVSYX+k/+mn\nTTqBBCetb0AKTq5f62CjCh0enIQzTEff2OhtnRB6nzC+X9I8oP/Es3VabrwTCLVO\nkwIDAQAB\n-----END
        PUBLIC KEY-----\n"},{"id":6978,"name":"IntermediateCert01","type":"CUSTOM_SW","region":"GLOBAL","status":"ENABLED","defaultCertificate":false,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":0,"certExpDate":0,"description":"IntermediateCert01","currentState":"PUBKEY_DONE","publicKey":"-----BEGIN
        PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyDPAV15dSPUEqEH02Bh+\nquF0FL8f+fNYpZHBH/j8C52o83bs1QN/zs2Z1Cu7BIKg6UCM2k0JzSyLsVBEifHg\nmXACaCSndv9s9zRjvX5muYqM3bP4gMPw6GzhHjEpcFJB09mTZjDDF3c7s+xrJLzT\nC9l7i2HvgB5P0HKEa2nQTwZslByAJR6UuJzc52AgyERRXXsozKQ56E+/Jt+dICjI\nrMA8d3OOY/+1cFSDZhPseOg6PE7wOUDu4xhsCIBGAhE7QXUSVCfrOguq7k30kOUL\niAAcKDOMz1NUyFGof7ncfU7kBZd3az9dOT2v7YpO/HNVmG4sUE8k1q/lraVSWErG\nnQIDAQAB\n-----END
        PUBLIC KEY-----\n","keyGenerationTime":1757967567}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - ffdf13cd-b861-98a0-86ee-5262d11bb2c8
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/lite
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514320,"certExpDate":2601650320,"description":"Zscaler
        Intermediate CA Certificate","currentState":"CERT_READY"},{"id":6978,"name":"IntermediateCert01","type":"CUSTOM_SW","region":"GLOBAL","status":"ENABLED","defaultCertificate":false,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":0,"certExpDate":0,"description":"IntermediateCert01","currentState":"PUBKEY_DONE"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 46a753e8-e6a0-9386-b911-2fcee33f5cb8
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/readyToUse
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","defaultCertificate":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 23219ea0-a992-9912-a444-3094c5322a0a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - b8b2ad22-3f70-4a3c-beb3-5be707d91e6e
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/1
  response:
    body:
      string: '{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514320,"certExpDate":2601650320,"description":"Zscaler
        Intermediate CA Certificate","curr[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/lite/1
  response:
    body:
      string: '{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514320,"certExpDate":2601650320,"description":"Zscaler
        Intermediate CA Certificate","currentState":"CERT_READY"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7a36cb3f-116c-9550-b65e-dac705351022
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 32e5eb9d-8b47-4a8f-af72-83c82c7325eb
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/showCert/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 684a6bc1-f1ae-9f9a-af97-955d58bcbd21
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '48'
      x-transaction-id:
      - 32e5eb9d-8b47-4a8f-af72-83c82c7325eb
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/showCsr/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7fa59b13-2a94-95a9-b1bb-54b3e39e2edc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '48'
      x-transaction-id:
      - 32e5eb9d-8b47-4a8f-af72-83c82c7325eb
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/downloadCsr/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 2a2dea64-7a88-9a96-b0d2-e15a327d6cc8
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 8b954864-803b-44a0-a08d-d49004055dbd
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/downloadPublicKey/1
  response:
    body:
      string: '-----BEGIN PUBLIC KEY-----

        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtsdgoSYvvGWGRBnzAlut

        auIZV5VvYfB4S7JF2Ebz8WxqO2WKH5jRKSsu7z6WB+HjYeBp2XY8H3ioyvDa5eTT

        KeIeK0QB3k3QeU8a+WpC1FJUxHOEBugkie7M9p6Qpe+Qv1/AX2NophOHcU42g+gy

        PL/+jk5FgJ8IQnaH7lZKb/vtmk0TK6gdcGjQeKQDenbds7MQjrWlFFKk7aHbAHC8

        6EobT+EzRPnPa435oQ027vDHc2NFOfHPqrkimUdqAy/2fWYLZp8V6UVSYX+k/+mn

        TTqBBCetb0AKTq5f62CjCh0enIQzTEff2OhtnRB6nzC+X9I8oP/Es3VabrwTCLVO

        kwIDAQAB

        -----END PUBLIC KEY-----

        '
    headers:
      content-disposition:
      - attachment; filename="Zscaler Intermediate CA Certificate-PublicKey.pem"
      content-transfer-encoding:
      - binary
      content-type:
      - application/octet-stream
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 217f81e5-b493-9a42-b5f2-bb257f354c88
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 8b954864-803b-44a0-a08d-d49004055dbd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/verifyKeyAttestation/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 0c4fb101-ba1a-933e-8023-7cefbff5a7f5
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 8b954864-803b-44a0-a08d-d49004055dbd
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate?search=Zscaler
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","type":"ZSCALER","region":"GLOBAL","status":"ENABLED","defaultCertificate":true,"keyType":"RSA_2K","fallbackCertId":0,"certStartDate":1738514320,"certExpDate":2601650320,"description":"Zscaler
        Intermediate CA Cert[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/readyToUse?search=Zscaler
  response:
    body:
      string: '[{"id":1,"name":"Zscaler Intermediate CA Certificate","defaultCertificate":true}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 495b824a-6e53-9469-aa6d-5330aca402a2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '36'
      x-transaction-id:
      - 3e4a8d06-bd48-4130-979f-d63cd1fc65ce
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/finalizeCert/1
  response:
    body:
      string: '{"code":"INVALID_INPUT_ARGUMENT","message":"This operation is not applicable
        for the Zscaler root certificate"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - c727d6e3-3d86-91bf-90c6-e20b6e05f660
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - 3e4a8d06-bd48-4130-979f-d63cd1fc65ce
      x-zscaler-mode:
      - read-write
    status:
      code: 403
      message: Forbidden
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/intermediateCaCertificate/uploadCertChain/1
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 8d37a3b0-9e68-971e-ad62-e2013d323772
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - 3e4a8d06-bd48-4130-979f-d63cd1fc65ce
      x-zscaler-mode:
      - read-write
    status:
      code: 415
      message: Unsupported Media Type
version: 1
