interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/locations/groups
  response:
    body:
      string: '[{"id":24326828,"name":"Corporate User Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["CORPORATE"]},"locations":[{"id":149873535,"name":"Location01"}],"locationsCount":1,"comments":"Default
        Location Group - Corporate User Traffic","lastModTime":1619561356,"predefined":true},{"id":24326829,"name":"Server
        Traffic Group","groupType":"DYNAMIC_GROUP","dynamicLocationGroupCriteria":{"profiles":["SERVER"]},"locations":[{"id":166080180,"name":"Location_20260219040945"},{"id":166862881,"name":"Location_20260227110338"},{"id":166873020,"name":"Location_20260227170256"},{"id":167080684,"name":"Location_20260302161529"},{"id":167698587,"name":"Location_20260309104402"}],"locationsCount":5,"comments":"Default
        Location Group - Server Traffic","lastModTime":[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/locations/groups/lite
  response:
    body:
      string: '[{"id":24326827,"name":"Unassigned Locations","dynamicLocationGroupCriteria":{"profiles":["NONE"]}},{"id":24326828,"name":"Corporate
        User Traffic Group","dynamicLocationGroupCriteria":{"profiles":["CORPORATE"]}},{"id":24326829,"name":"Server
        Traffic Group","dynamicLocationGroupCriteria":{"profiles":["SERVER"]}},{"id":24326830,"name":"Guest
        Wifi Group","dynamicLocationGroupCriteria":{"profiles":["GUESTWIFI"]}},{"id":24326831,"name":"IoT
        Traffic Group","dynamicLocationGroupCriteria":{"profiles":["IOT"]}},{"id":59050241,"name":"Workload
        Traffic Group","dynamicLocationGroupCriteria":{"profiles":["WORKLOAD"]}},{"id":66754704,"name":"SDWAN_CAN"},{"id":66754715,"name":"SDWAN_GLOBAL"},{"id":66754722,"name":"SDWAN_USA"},{"id":157892460,"name":"All
        Extranet Location Group","extranetLocationGroup":true,"dynamicLocationGroupCriteria":{"profiles":["EXTRANET"]},"predefined":true},{"id":165104836,"name":"Extranet
        Group for test_KDFV0unbx0","defaultExtranetGroup":true,"extranetLocationGroup":true,"dynamicLocationGroupCriteria":{"extranet":{"id":165104835},"profiles":["EXTRANET"]}},{"id":165182493,"name":"Extranet
        Group for 20260209083516_created","defaultExtranetGroup":true,"extranetLocationGroup":true,"dynamicLocationGroupCriteria":{"extranet":{"id":165182492},"profiles":["EXTRANET"]}},{"id":165183657,"name":"Extranet
        Group for 20260209084412_created","defaultExtranetGroup":true,"extranetLocationGroup":true,"dynamicLocationGroupCriteria":{"extranet":{"id":165183656},"profiles":["EXTRANET"]}},{"id":165183952,"name[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/locations/groups/count
  response:
    body:
      string: '36'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4c0d3aa1-6a8a-90a8-be7b-f4bfba32ddd4
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4959'
      x-ratelimit-reset:
      - '3'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
version: 1
