interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/extranet
  response:
    body:
      string: '[{"id":22417761,"name":"NewExtranet 1002","description":"NewExtranet
        1031 test","extranetDNSList":[{"id":1324194,"name":"NewExtranet 5816","primaryDNSServer":"8.8.8.8","secondaryDNSServer":"4.4.2.2","useAsDefault":true}],"extranetIpPoolList":[{"id":1324195,"name":"NewExtranet
        4356","ipStart":"192.168.200.1","ipEnd":"192.168.200.21","useAsDefault":true}],"createdAt":1746337248,"modifiedAt":1757089560},{"id":22417757,"name":"NewExtranet
        1930","description":"NewExtranet 8220","extranetDNSList":[{"id":1324190,"name":"NewExtranet
        5624","primaryDNSServer":"8.8.8.8","secondaryDNSServer":"4.4.2.2","useAsDefault":true}],"extranetIpPoolList":[{"id":1324191,"name":"NewExtranet
        9589","ipStart":"192.168.200.1","ipEnd":"192.168.200.21","useAsDefault":true}],"createdAt":1746336338,"modifiedAt":1746336338},{"id":22417759,"name":"NewExtranet
        2669","description":"Ne[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/extranet/22417761
  response:
    body:
      string: '{"id":22417761,"name":"NewExtranet 1002","description":"NewExtranet
        1031 test","extranetDNSList":[{"id":1324194,"name":"NewExtranet 5816","primaryDNSServer":"8.8.8.8","secondaryDNSServer":"4.4.2.2","useAsDefault":true}],"extranetIpPoolList":[{"id":1324195,"name":"NewExtranet
        4356","ipStart":"192.168.200.1","ipEnd":"192.168.200.21","useAsDefault":true}],"createdAt":1746337248,"modifiedAt":1757089560}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7ed7fb44-68cc-948f-aab4-caf208305b6f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - 38c8207b-f2e7-4100-a779-124b7cb8369f
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestExtranet_VCR", "cloudName": "TestCloud_VCR", "locationIds":
      []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/extranet
  response:
    body:
      string: '{"message":"Request body is invalid."}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 47d58495-5f1d-9efa-a7d9-1013df8e5f68
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '39'
      x-transaction-id:
      - e83b5cf0-8615-46bf-bcdc-9038e0597b42
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
version: 1
