interactions:
- request:
    body: '{"name": "tests-vcr0001", "description": "Integration test firewall rule",
      "order": 1, "rank": 7, "action": "REDIR_REQ", "redirectIp": "8.8.8.8", "destCountries":
      ["COUNTRY_CA", "COUNTRY_MX", "COUNTRY_AU", "COUNTRY_GB"], "sourceCountries":
      ["COUNTRY_CA", "COUNTRY_MX", "COUNTRY_AU", "COUNTRY_GB"], "protocols": ["ANY_RULE"],
      "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zia/api/v1/firewallDnsRules
  response:
    body:
      string: '{"action":"REDIR_REQ","capturePCAP":false,"id":1571781,"name":"tests-vcr0001","order":1,"rank":7,"description":"Integration
        test firewall rule","protocols":["ANY_RULE"],"state":"ENABLED","destCountries":["COUNTRY_CA","COUNTRY_MX","COUNTRY_AU","COUNTRY_GB"],"sourceCountries":["COUNTRY_CA","COUNTRY_MX","COUNTRY_AU","COUNTRY_GB"],"destIpCategories":["ANY"],"resCategories":["ANY"],"redirectIp":"8.8.8.8","isEunEnabled":false,"eunTemplateId":15,"isWebEUNEnabled":false,"defaultDnsRuleNameUsed":false,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1035d82a-74aa-9c13-8554-cd2744fbcf0b
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4972'
      x-ratelimit-reset:
      - '5'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/firewallDnsRules/1571781
  response:
    body:
      string: '{"action":"REDIR_REQ","capturePCAP":false,"accessControl":"READ_WRITE","id":1571781,"name":"tests-vcr0001","order":1,"rank":7,"description":"Integration
        test firewall rule","protocols":["ANY_RULE"],"state":"ENABLED","destCountries":["COUNTRY_AU","COUNTRY_CA","COUNTRY_GB","COUNTRY_MX"],"sourceCountries":["COUNTRY_AU","COUNTRY_CA","COUNTRY_GB","COUNTRY_MX"],"redirectIp":"8.8.8.8","applications":[],"applicationGroups":[],"dnsRuleRequestTypes":[],"isEunEnabled":false,"eunTemplateId":15,"lastModifiedTime":1764200877,"lastModifiedBy":{"id":117810311,"name":"oauth-ipm2ol7odg7hp$@24326813.zscalerthree.net"},"isWebEUNEnabled":false,"defaultDnsRuleNameUsed":false,"defaultRule":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b522328c-f013-989d-b42e-493bbc3649f6
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zia/api/v1/firewallDnsRules/1571781
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c65d2922-4e30-9c4b-90fd-bec5628e7922
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - d12cf6fb-c5cd-4dc2-a132-8157d492d761
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
