interactions:
- request:
    body: grant_type=client_credentials&client_id=iplmcq3k7060d&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://securitygeekio.zsloginbeta.net/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":86399}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 10000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/adminRoles/lite
  response:
    body:
      string: '[{"id":10579,"rank":7,"name":"Super Admin","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":10580,"rank":7,"name":"Executive
        Insights App","roleType":"EXEC_INSIGHT","reportTimeDuration":-1},{"id":21073,"rank":7,"name":"DevOps_Role","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25650,"rank":7,"name":"SDWAN-VeloCloud","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25651,"rank":7,"name":"SDWAN-SilverPeak","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25652,"rank":7,"name":"Engineering_Role","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":25955,"rank":7,"name":"ZIA_API_Role","roleType":"PUBLIC_API","reportTimeDuration":-1},{"id":33860,"rank":7,"name":"ZIA_API_Role01","roleType":"PUBLIC_API","reportTimeDuration":-1}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 017e4e68-2129-9d77-a399-c584d96083f1
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 11481e46-38f3-4d41-92e7-cd3c830d919d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"userName": "tests-vcr0001", "loginName": "tests-vcr0002@example.com",
      "email": "tests-vcr0003@example.com", "adminScopeType": "ORGANIZATION", "comments":
      "Test admin user created by integration tests", "role": {"id": 10579}, "password":"REDACTED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zia/api/v1/adminUsers
  response:
    body:
      string: '{"message":"Administrator account requested to be added/updated has
        a higher or equal rank than current administrator"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 7ee96178-a2c8-9e5c-9afe-a371ad2c7f14
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - 11481e46-38f3-4d41-92e7-cd3c830d919d
      x-zscaler-mode:
      - read-write
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/adminUsers?includeAuditorUsers=True
  response:
    body:
      string: '[{"id":22725462,"loginName":"REDACTED","userName":"auditor01","role":{"id":39521,"name":"Auditor"},"comments":"auditor01","disabled":false,"isAuditor":true,"pwdLastModifiedTime":0,"newLocationCreateAllowed":false,"name":"auditor01"}]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 57b60335-85de-951a-9891-1f084f195176
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 11481e46-38f3-4d41-92e7-cd3c830d919d
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/adminUsers?includeAdminUsers=True
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5d473434-420b-9aea-b3ba-633503b5b1a6
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zia/api/v1/adminUsers?includeAdminUsers=True
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - ae1963cf-c5e4-9f3f-a88f-58551af32b0d
      x-oneapi-version:
      - 109.1.92
    status:
      code: 401
      message: Unauthorized
version: 1
