interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/adminRoles/lite
  response:
    body:
      string: '[{"id":11521,"rank":7,"name":"Super Admin","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":11522,"rank":7,"name":"Executive
        Insights App","roleType":"EXEC_INSIGHT","reportTimeDuration":-1},{"id":12404,"rank":7,"name":"Engineering_Role","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":18740,"rank":7,"name":"SDWAN-SilverPeak","roleType":"SDWAN","reportTimeDuration":-1},{"id":18756,"rank":7,"name":"SDWAN-VeloCloud","roleType":"SDWAN","reportTimeDuration":-1},{"id":36357,"rank":7,"name":"Firewall-Admin-API-Role","roleType":"PUBLIC_API","reportTimeDuration":-1},{"id":51987,"rank":7,"name":"Role_Test_OneAPI","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":51988,"rank":7,"name":"API_Role01","roleType":"PUBLIC_API","reportTimeDuration":-1},{"id":72345,"rank":7,"name":"API_Role_READONLY","roleType":"PUBLIC_API","reportTimeDuration":-1}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss; detail=shadow-mode
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c0f31e8a-79d7-97a0-8d10-d2a0fcf23949
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - be989c62-a108-44f8-b077-59f56ba6f6fe
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/adminRoles/lite?includeAuditorRole=True
  response:
    body:
      string: '[{"id":11521,"rank":7,"name":"Super Admin","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":11522,"rank":7,"name":"Executive
        Insights App","roleType":"EXEC_INSIGHT","reportTimeDuration":-1},{"id":12404,"rank":7,"name":"Engineering_Role","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":18740,"rank":7,"name":"SDWAN-SilverPeak","roleType":"SDWAN","reportTimeDuration":-1},{"id":18756,"rank":7,"name":"SDWAN-VeloCloud","roleType":"SDWAN","reportTimeDuration":-1},{"id":18999,"rank":7,"name":"Auditor","isAuditor":true,"roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":36357,"rank":7,"name":"Firewall-Admin-API-Role","roleType":"PUBLIC_API","reportTimeDuration":-1},{"id":51987,"rank":7,"name":"Role_Test_OneAPI","roleType":"ORG_ADMIN","reportTimeDuration":-1},{"id":51988,"rank":7,"name":"API_Role01","roleType":"PUBLIC_API","reportTimeDuration":-1},{"id":72345,"rank":7,"name":"API_Role_READONLY","roleType":"PUBLIC_API","reportTimeDuration":-1}]'
    headers:
      cache-status:
      - EdgeCache; fwd=miss; detail=shadow-mode
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cb1dbee3-c81e-935d-8e2b-0f71ff90ba43
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - be989c62-a108-44f8-b077-59f56ba6f6fe
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/adminRoles/lite?includePartnerRole=True
  response:
    body:
      string: '[{"id":11521,"rank":7,"name":"Super Admin","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":11522,"rank":7,"name":"Executive
        Insights App","roleType":"EXEC_INSIGHT","reportTimeDuration":-1},{"id":12404,"rank":7,"name":"Engineering_Role","roleType":"EX[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zia/api/v1/adminRoles/lite?includeApiRole=True
  response:
    body:
      string: '[{"id":11521,"rank":7,"name":"Super Admin","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN","reportTimeDuration":-1},{"id":11522,"rank":7,"name":"Executive
        Insights App","roleType":"EXEC_INSIGHT","reportTimeDuration":-1},{"id":12404,"rank":7,"name":"Engineering_Role","roleType":"EXEC_I[...]
