interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1b65b8df-b5d1-9e78-a817-c56b21966bf1
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules?search=Default
  response:
    body:
      string: '[]'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b0e100aa-d975-91ac-a083-1e1a02db86da
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/advancedUrlFilterAndCloudAppSettings
  response:
    body:
      string: '{"code":"EDIT_LOCK_NOT_AVAILABLE"}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 39be8ce8-6d6d-9631-8024-55e50be81128
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 409
      message: Conflict
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/advancedUrlFilterAndCloudAppSettings
  response:
    body:
      string: '{"enableDynamicContentCat":true,"considerEmbeddedSites":true,"enforceSafeSearch":false,"safeSearchApps":[],"enableOffice365":true,"enableMsftO365":false,"enableUcaasZoom":false,"enableUcaasLogMeIn":false,"enableUcaasRingCentral":false,"enableUcaasWebex":false,"enableChatGptPrompt":false,"enableMicrosoftCoPilotPrompt":false,"enableGeminiPrompt":false,"enablePOEPrompt":false,"enableMetaPrompt":false,"enablePerPlexityPrompt":false,"enableDeepSeekPrompt":false,"enableWriterPrompt":false,"enableGrokPrompt":false,"enableMistralAIPrompt":false,"enableClaudePrompt":false,"enableGrammarlyPrompt":false,"enableNewlyRegisteredDomains":false,"enableBlockOverrideForNonAuthUser":false,"enableCIPACompliance":false,"enableUcaasTalkdesk":false,"zveloDbLookupDisabled":false,"enableCreativeCommonsSearchResults":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 070921ba-a499-9687-b41f-fefceeea6fd4
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TestURLRule_VCR", "description": "Test URL filtering rule for
      VCR", "order": 1, "rank": 7, "action": "BLOCK", "urlCategories": ["OTHER_ADULT_MATERIAL"],
      "protocols": ["HTTPS_RULE", "HTTP_RULE"], "state": "ENABLED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules
  response:
    body:
      string: '{"id":1690943,"name":"TestURLRule_VCR","order":1,"protocols":["HTTPS_RULE","HTTP_RULE"],"urlCategories":["OTHER_ADULT_MATERIAL"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["OPTIONS","GET","HEAD","POST","PUT","DELETE","TRACE","CONNECT","OTHER","PROPFIND","PROPPATCH","MOVE","MKCOL","LOCK","COPY","UNLOCK","PATCH"],"blockOverride":false,"description":"Test
        URL filtering rule for VCR","enforceTimeValidity":false,"capturePCAP":false,"usersAndGroupsSet":false,"groupsAndDepartmentsSet":false,"action":"BLOCK","predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e77b3ec6-217e-9fe4-bcd2-40c34222c1fe
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules/1690943
  response:
    body:
      string: '{"id":1690943,"accessControl":"READ_WRITE","name":"TestURLRule_VCR","order":1,"protocols":["HTTPS_RULE","HTTP_RULE"],"urlCategories":["OTHER_ADULT_MATERIAL"],"excludeSrcCountries":false,"state":"ENABLED","rank":7,"requestMethods":["OPTIONS","GET","HEAD","POST","PUT","DELETE","TRACE","CONNECT","OTHER","PROPFIND","PROPPATCH","MOVE","MKCOL","LOCK","COPY","UNLOCK","PATCH"],"blockOverride":false,"description":"Test
        URL filtering rule for VCR","lastModifiedTime":1773372467,"lastModifiedBy":{"id":117810311,"name":"REDACTED"},"enforceTimeValidity":false,"cbiProfileId":0,"capturePCAP":false,"sourceIpGroups":[],"browserEunTemplateId":0,"httpHeaderProfiles":[],"httpHeaderActionProfiles":[],"usersAndGroupsSet":false,"groupsAndDepartmentsSet":false,"action":"BLOCK","predefined":false}'
    headers:
      content-disposition:
      - attachment; filename="api.json"
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3666e6e7-ed18-98a4-8c55-3f8be2879a71
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zia/api/v1/urlFilteringRules/1690943
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename="api.json"
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - af61629b-b41e-9f6a-a363-a570151dcfb5
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '3'
      x-transaction-id:
      - 61fe504f-898a-4b1c-87dc-88dcdd8e09cd
      x-zscaler-mode:
      - read-write
    status:
      code: 204
      message: No Content
version: 1
