interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/ztw/api/v1/location
  response:
    body:
      string: '[{"id":36788941,"name":"AWS-CAN-ca-central-1-vpc-096108eb5d9e68d71","nonEditable":false,"parentId":0,"upBandwidth":0,"dnBandwidth":0,"country":"CANADA","state":"British
        Columbia","language":"NONE","tz":"CANADA_AMERICA_VANCOUVER","geoOverride":false,"authRequired":false,"sslScanEnabled":false,"zappSslScanEnabled":false,"xffForwardEnabled":true,"otherSubLocation":false,"ecLocation":true,"bcLocation":false,"ccLocation":true,"surrogateIP":false,"cookiesAndProxy":false,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"kerberosAuth":false,"jwtAuth":false,"digestAuthEnabled":false,"ofwEnabled":true,"ipsControl":true,"aupEnabled":false,"cautionEnabled":false,"aupBlockInternetUntilAccepted":false,"aupForceSslInspection":false,"iotDiscoveryEnabled":false,"iotEnforcePolicySet":false,"aupTimeoutInDays":0,"childCount":0,"matchInChild":false,"staticLocationGroups":[],"dynamiclocationGroups":[{"id":59050241,"name":"Workload
        Traffic Group"}],"excludeFromDynamicGroups":false,"excludeFromManualGroups":false,"defaultExtranetTsPool":false,"defaultExtranetDns":false,"profile":"WORKLOAD","description":"163.29.63.139","subLocScopeEnabled":true,"vpcInfo":{"cloudProvider":"AWS","cloudMeta":{"name":"vpc-096108eb5d9e68d71","id":1}}},{"id":45772677,"name":"nostrud
        qui dolore","nonEditable":false,"parentId":0,"upBandwidth":0,"dnBandwidth":0,"country":"NONE","language":"NONE","tz":"GMT","geoOverride":false,"authRequired":false,"sslScanEnabled":true,"zappSslScanEnabled":false,"xffForwardEnabled":true,"otherSubLocation":true,"ecLocation":false,"bcLocation":false,"ccLocation":true,"surrogateIP":true,"cookiesAndProxy":false,"idleTimeInMinutes":40594054,"displayTimeUnit":"MINUTE","surrogateIPEnforcedForKnownBrowsers":true,"surrogateRefreshTimeInMinutes":79446126,"surrogateRefreshTimeUnit":"HOUR","kerberosAuth":true,"jwtAuth":false,"digestAuthEnabled":false,"ofwEnabled":true,"ipsControl":true,"aupEnabled":false,"cautionEnabled":true,"aupBlockInternetUntilAccepted":false,"aupForceSslInspection":false,"iotDiscoveryEnabled":false,"iotEnforcePolicySet":false,"aupTimeoutInDays":0,"childCount":0,"matchInChild":false,"staticLocationGroups":[],"dynamiclocationGroups":[{"id":59050241,"name":"Workload
        Traffic Group"}],"excludeFromDynamicGroups":true,"excludeFromManualGroups":true,"defaultExtranetTsPool":false,"defaultExtranetDns":false,"profile":"WORKLOAD","description":"et
        Ut ullamco"}]'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7d522789-8db3-9093-aa4c-b4b7678ccf9d
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 2c21dfab-5d28-48d0-b107-ae13bb85bfa1
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/ztw/api/v1/location/36788941
  response:
    body:
      string: '{"id":36788941,"name":"AWS-CAN-ca-central-1-vpc-096108eb5d9e68d71","nonEditable":false,"parentId":0,"upBandwidth":0,"dnBandwidth":0,"country":"CANADA","state":"British
        Columbia","language":"NONE","tz":"CANADA_AMERICA_VANCOUVER","geoOverride":false,"authRequired":false,"sslScanEnabled":false,"za[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/ztw/api/v1/location/lite
  response:
    body:
      string: '[{"id":36788941,"name":"AWS-CAN-ca-central-1-vpc-096108eb5d9e68d71","nonEditable":false,"parentId":0,"upBandwidth":0,"dnBandwidth":0,"country":"NONE","language":"NONE","tz":"CANADA_AMERICA_VANCOUVER","geoOverride":false,"authRequired":false,"sslScanEnabled":false,"zappSslScanEnabled":false,"xffForwardEnabl[...]
