interactions:
- request:
    body: '{"name": "tests-ztw-template-vcr0001", "template": {"templatePrefix": "ztw-prefix-vcr0001",
      "xffForwardEnabled": true, "authRequired": true, "cautionEnabled": false, "aupEnabled":
      true, "aupTimeoutInDays": 30, "ofwEnabled": true, "ipsControl": true, "enforceBandwidthControl":
      true, "upBandwidth": 10, "dnBandwidth": 10}, "desc": "tests-ztw-template-vcr0001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/ztw/api/v1/locationTemplate
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f814dd6e-c5df-9cb7-ae8e-66fedaced4b2
      x-oneapi-version:
      - 109.1.85
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-ztw-template-vcr0001", "template": {"templatePrefix": "ztw-prefix-vcr0001",
      "xffForwardEnabled": true, "authRequired": true, "cautionEnabled": false, "aupEnabled":
      true, "aupTimeoutInDays": 30, "ofwEnabled": true, "ipsControl": true, "enforceBandwidthControl":
      true, "upBandwidth": 10, "dnBandwidth": 10}, "desc": "tests-ztw-template-vcr0001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/ztw/api/v1/locationTemplate
  response:
    body:
      string: '{"id":3342552,"name":"tests-ztw-template-vcr0001","desc":"tests-ztw-template-vcr0001","template":{"templatePrefix":"ztw-prefix-vcr0001","xffForwardEnabled":true,"authRequired":true,"cautionEnabled":false,"aupEnabled":true,"aupTimeoutInDays":30,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":true,"upBandwidth":10,"dnBandwidth":10,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":true}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c588786d-0363-912f-a4ab-d91980a6e905
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 4216b9eb-a431-4871-aad8-1967e34821b9
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/ztw/api/v1/locationTemplate
  response:
    body:
      string: '[{"id":82273,"name":"Default Location Template","desc":"Created during
        company provisioning","template":{"xffForwardEnabled":false,"authRequired":false,"cautionEnabled":false,"aupEnabled":false,"aupTimeoutInDays":0,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":false,"upBandwidth":0,"dnBandwidth":0,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":true,"lastModTime":1639554322},{"id":82521,"name":"aws-ca-central-1","template":{"templatePrefix":"AWS-CAN","xffForwardEnabled":true,"authRequired":false,"cautionEnabled":false,"aupEnabled":false,"aupTimeoutInDays":0,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":false,"upBandwidth":0,"dnBandwidth":0,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":true,"lastModUid":{"id":36599332,"name":"REDACTED"},"lastModTime":1639777998},{"id":3342552,"name":"tests-ztw-template-vcr0001","desc":"tests-ztw-template-vcr0001","template":{"templatePrefix":"ztw-prefix-vcr0001","xffForwardEnabled":true,"authRequired":true,"cautionEnabled":false,"aupEnabled":true,"aupTimeoutInDays":30,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":true,"upBandwidth":10,"dnBandwidth":10,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":true,"lastModUid":{"id":130185934,"name":"REDACTED"},"lastModTime":1764206354}]'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e2729d05-cf92-9c12-a63a-c3472adfb7f2
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 4216b9eb-a431-4871-aad8-1967e34821b9
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-ztw-template-vcr0001", "desc": "Updated integration test
      location template", "template": {"templatePrefix": "ztw-prefix-vcr0001", "xffForwardEnabled":
      true, "authRequired": true, "cautionEnabled": false, "aupEnabled": true, "aupTimeoutInDays":
      30, "ofwEnabled": true, "ipsControl": true, "enforceBandwidthControl": true,
      "upBandwidth": 20, "dnBandwidth": 20}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
   [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/ztw/api/v1/locationTemplate/3342552
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 714a4b01-8361-934c-92dd-c40397ceaa0d
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 4216b9eb-a431-4871-aad8-1967e34821b9
    status:
      code: 204
      message: No Content
version: 1
