interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/ztw/api/v1/provUrl
  response:
    body:
      string: '[{"id":82522,"name":"AWS-CAN","desc":"AWS Canada","provUrl":"connector.zscalerthree.net/api/v1/provUrl?name=AWS-CAN","provUrlType":"CLOUD","provUrlData":{"zsCloudDomain":"zscalerthree.net","orgId":24326813,"configServer":"ecservice.zscalerthree.net","registrationServer":"ecservice.zscalerthree.net","apiServer":"connector.zscalerthree.net","pacServer":"pac.zscalerthree.net","locationTemplate":{"id":82521,"name":"aws-ca-central-1","template":{"templatePrefix":"AWS-CAN","xffForwardEnabled":true,"authRequired":false,"cautionEnabled":false,"aupEnabled":false,"aupTimeoutInDays":0,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":false,"upBandwidth":0,"dnBandwidth":0,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":false,"lastModUid":{"id":36599332,"name":"bac-admin@24326813.zscalerthree.net"},"lastModTime":1639777998},"cloudProviderType":"AWS","formFactor":"SMALL","cellEdgeDeploy":false},"status":"DEPLOYED","lastModUid":{"id":36599332,"name":"bac-admin@24326813.zscalerthree.net"},"lastModTime":1639778142}]'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 20744462-5910-9d65-b016-7b935a259eee
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 2c21dfab-5d28-48d0-b107-ae13bb85bfa1
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/ztw/api/v1/provUrl/82522
  response:
    body:
      string: '{"id":82522,"name":"AWS-CAN","desc":"AWS Canada","provUrl":"connector.zscalerthree.net/api/v1/provUrl?name=AWS-CAN","provUrlType":"CLOUD","provUrlData":{"zsCloudDomain":"zscalerthree.net","orgId":24326813,"configServer":"ecservice.zscalerthree.net","registrationServer":"ecservice.zscalerthree.net","apiServ[...]
