interactions:
- request:
    body: grant_type=client_credentials&client_id=ipm2ol7odg7hp&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/ztw/api/v1/adminRoles
  response:
    body:
      string: '[{"id":16712,"rank":0,"name":"Super Admin","policyAccess":"NONE","alertingAccess":"READ_WRITE","dashboardAccess":"NONE","reportAccess":"NONE","analysisAccess":"NONE","usernameAccess":"NONE","deviceInfoAccess":"READ_ONLY","adminAcctAccess":"READ_WRITE","featurePermissions":{"EDGE_CONNECTOR_PUBLIC_CLOUD_CONFIG_MANAGEMENT":"READ_WRITE","EDGE_CONNECTOR_NSS_CONFIGURATION":"READ_WRITE","EDGE_CONNECTOR_TEMPLATE":"READ_WRITE","REMOTE_ASSISTANCE_MANAGEMENT":"READ_WRITE","EDGE_CONNECTOR_CLOUD_PROVISIONING":"READ_WRITE","EDGE_CONNECTOR_DASHBOARD":"READ_ONLY","APIKEY_MANAGEMENT":"READ_WRITE","EDGE_CONNECTOR_LOCATION_MANAGEMENT":"READ_WRITE","EDGE_CONNECTOR_ADMIN_MANAGEMENT":"READ_WRITE","EDGE_CONNECTOR_FORWARDING":"READ_WRITE"},"extFeaturePermissions":{},"isNonEditable":true,"logsLimit":"UNRESTRICTED","roleType":"EDGE_CONNECTOR_ADMIN","reportTimeDuration":-1},{"id":16713,"rank":7,"name":"Read-only
        Admin","policyAccess":"NONE","alertingAccess":"NONE","dashboardAccess":"NONE","reportAccess":"NONE","analysisAccess":"NONE","usernameAccess":"NONE","deviceInfoAccess":"READ_ONLY","adminAcctAccess":"READ_ONLY","featurePermissions":{"EDGE_CONNECTOR_PUBLIC_CLOUD_CONFIG_MANAGEMENT":"READ_ONLY","EDGE_CONNECTOR_TEMPLATE":"READ_ONLY","REMOTE_ASSISTANCE_MANAGEMENT":"READ_ONLY","EDGE_CONNECTOR_CLOUD_PROVISIONING":"READ_ONLY","EDGE_CONNECTOR_DASHBOARD":"READ_ONLY","APIKEY_MANAGEMENT":"READ_ONLY","EDGE_CONNECTOR_LOCATION_MANAGEMENT":"READ_ONLY","EDGE_CONNECTOR_ADMIN_MANAGEMENT":"READ_ONLY","EDGE_CONNECTOR_FORWARDING":"READ_ONLY"},"extFeaturePermissions":{},"logsLimit":"UNRESTRICTED","roleType":"EDGE_CONNECTOR_ADMIN","reportTimeDuration":-1}]'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - dbbb6a16-f9f5-9e9b-9a75-e4b8995aad3f
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 2c21dfab-5d28-48d0-b107-ae13bb85bfa1
    status:
      code: 200
      message: OK
version: 1
