interactions:
- request:
    body: '{"name": "tests-ztw-template-vcr0001", "template": {"templatePrefix": "ztw-prefix-vcr0001",
      "xffForwardEnabled": true, "authRequired": true, "cautionEnabled": false, "aupEnabled":
      true, "aupTimeoutInDays": 30, "ofwEnabled": true, "ipsControl": true, "enforceBandwidthControl":
      true, "upBandwidth": 10, "dnBandwidth": 10}, "desc": "tests-ztw-template-vcr0001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/ztw/api/v1/locationTemplate
  response:
    body:
      string: '{"id":3332495,"name":"tests-ztw-template-vcr0001","desc":"tests-ztw-template-vcr0001","template":{"templatePrefix":"ztw-prefix-vcr0001","xffForwardEnabled":true,"authRequired":true,"cautionEnabled":false,"aupEnabled":true,"aupTimeoutInDays":30,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":true,"upBandwidth":10,"dnBandwidth":10,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":true}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6bbe96fe-dc56-9995-8bb5-6df0016dfbe8
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 2c21dfab-5d28-48d0-b107-ae13bb85bfa1
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/ztw/api/v1/locationTemplate
  response:
    body:
      string: '[{"id":82273,"name":"Default Location Template","desc":"Created during
        company provisioning","template":{"xffForwardEnabled":false,"authRequired":false,"cautionEnabled":false,"aupEnabled":false,"aupTimeoutInDays":0,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":false,"upBandwidth":0,"dnBandwidth":0,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":true,"lastModTime":1639554322},{"id":82521,"name":"aws-ca-central-1","template":{"templatePrefix":"AWS-CAN","xffForwardEnabled":true,"authRequired":false,"cautionEnabled":false,"aupEnabled":false,"aupTimeoutInDays":0,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":false,"upBandwidth":0,"dnBandwidth":0,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":true,"lastModUid":{"id":36599332,"name":"bac-admin@24326813.zscalerthree.net"},"lastModTime":1639777998},{"id":3332495,"name":"tests-ztw-template-vcr0001","desc":"tests-ztw-template-vcr0001","template":{"templatePrefix":"ztw-prefix-vcr0001","xffForwardEnabled":true,"authRequired":true,"cautionEnabled":false,"aupEnabled":true,"aupTimeoutInDays":30,"ofwEnabled":true,"ipsControl":true,"enforceBandwidthControl":true,"upBandwidth":10,"dnBandwidth":10,"idleTimeInMinutes":0,"surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"surrogateIP":false},"editable":true,"lastModUid":{"id":130185934,"name":"ztw-api@24326813.zscalerthree.net"},"lastModTime":1764187994}]'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4f6a6688-077c-955e-a8e1-63879e3ad7c3
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 2c21dfab-5d28-48d0-b107-ae13bb85bfa1
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-ztw-template-vcr0001", "desc": "Updated integration test
      location template", "template": {"templatePrefix": "ztw-prefix-vcr0001", "xffForwardEnabled":
      true, "authRequired": true, "cautionEnabled": false, "aupEnabled": true, "aupTimeoutInDays":
      30, "ofwEnabled": true, "ipsControl": true, "enforceBandwidthControl": true,
      "upBandwidth": 20, "dnBandwidth": 20}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
   [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/ztw/api/v1/locationTemplate/3332495
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 988e2d58-5d28-92cf-932e-0d8f7dc383ac
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 2c21dfab-5d28-48d0-b107-ae13bb85bfa1
    status:
      code: 204
      message: No Content
version: 1
