interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"loginName": "john.doe1@securitygeek.io", "displayName": "John Doe", "firstName":
      "John", "lastName": "Doe", "primaryEmail": "john.doe1@securitygeek.io", "secondaryEmail":
      "jdoe1@acme.com", "status": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/ziam/admin/api/v1/users
  response:
    body:
      string: '{"loginName":"REDACTED","displayName":"John Doe","firstName":"John","lastName":"Doe","primaryEmail":"REDACTED","secondaryEmail":"REDACTED","department":{},"status":true,"customAttrsInfo":{},"id":"iidkfk0g906h3","source":"API","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"}}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2172bb9a-9829-9ae8-af97-d0b5e0143e06
      x-oneapi-version:
      - 109.1.146-hotfix-20260409
      x-ratelimit-limit:
      - 500, 500;w=1, 20000;w=60
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '499'
      - '999'
      x-ratelimit-reset:
      - '1'
      - '1'
      x-transaction-id:
      - b62654b0-0511-4ea5-9034-ebcf708a72f9
    status:
      code: 201
      message: Created
- request:
    body: '{"loginName": "john.doe1@securitygeek.io", "displayName": "John Doe", "firstName":
      "John", "lastName": "Doe", "primaryEmail": "john.doe1@securitygeek.io", "secondaryEmail":
      "jdoe1@acme.com", "status": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/ziam/admin/api/v1/users/iidkfk0g906h3
  response:
    body:
      string: '{"loginName":"REDACTED","displayName":"John Doe","firstName":"John","lastName":"Doe","primaryEmail":"REDACTED","secondaryEmail":"REDACTED","department":{},"status":true,"customAttrsInfo":{},"id":"iidkfk0g906h3","source":"API","idp":{"id":"h1siolf1f0737","name":"SGIO_Okta_IDP"}}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e3fc254b-c1be-9842-b7ff-bdee0a6180cf
      x-oneapi-version:
      - 109.1.146-hotfix-20260409
      x-ratelimit-limit:
      - 500, 500;w=1, 20000;w=60
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '495'
      - '999'
      x-ratelimit-reset:
      - '1'
      - '1'
      x-transaction-id:
      - b62654b0-0511-4ea5-9034-ebcf708a72f9
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/ziam/admin/api/v1/users
  response:
    body:
      string: '{"pageOffset":0,"pageSize":100,"totalRecord":218,"records":[{"loginName":"REDACTED","displayName":"assentator_iIiNEcNN","firstName":"Brenda","lastName":"Bowers","primaryEmail":"REDACTED","department":{"id":"tpsipgof807kh","name":"Finance"},"status":true,"customAttrsInfo":{},"id":"ihsipgqq7062m","source":"SCIM","idp":{}},{"loginName":"REDACTED","displayName":"Charles
        Keenan","firstName":"Charles","lastName":"Keenan","primaryEmail":"REDACTED","department":{"id":"tpsipgof807kh","name":"Finance"},"status":true,"customAttrsInfo":{},"id":"ihsipgqq9068[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/ziam/admin/api/v1/users/iidkfk0g906h3
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8b743d3b-96a9-9852-9d56-0c6b27da731b
      x-oneapi-version:
      - 109.1.146-hotfix-20260409
      x-ratelimit-limit:
      - 500, 500;w=1, 20000;w=60
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '493'
      - '998'
      x-ratelimit-reset:
      - '1'
      - '1'
      x-transaction-id:
      - b62654b0-0511-4ea5-9034-ebcf708a72f9
    status:
      code: 204
      message: No Content
version: 1
