interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/ziam/admin/api/v1/resource-servers
  response:
    body:
      string: '{"pageOffset":0,"pageSize":100,"totalRecord":2,"records":[{"id":"jhlm4bhr7g7j2","name":"Zscaler
        APIs","displayName":"Zscaler APIs","description":"Zscaler APIs endpoint","primaryAud":"https://api.zscaler.com","defaultApi":true,"serviceScopes":[{"service":{"id":"hiajb8ukv070u","name":"BI","displayName":"Business
        Insights","cloudName":"zscalerthree.net","orgName":"William Guilherme","zapsOnboarded":false},"scopes":[{"id":"hiajb8ukv070u::hqajb90e5g728","name":"Role:BI
        Read-only Admin"},{"id":"hiajb8ukv070u::hqajb90e7g729","name":"Role:BI Super
        Admin"}]},{"service":{"id":"hics5nem2g7qg","name":"ZRA","displayName":"Risk360","cloudName":"zscalerthree.net","orgName":"William
        Guilherme","zapsOnboarded":false},"scopes":[{"id":"hics5nem2g7qg::hqcs5nf4og7ql","name":"Role:Risk360
        Read-only Admin"},{"id":"hics5nem2g7qg::hqcs5nf4n07qk","name":"Role:Risk360
        Super Admin"}]},{"ser[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/ziam/admin/api/v1/resource-servers/jhlm4bhr7g7j2
  response:
    body:
      string: '{"id":"jhlm4bhr7g7j2","name":"Zscaler APIs","displayName":"Zscaler
        APIs","description":"Zscaler APIs endpoint","primaryAud":"https://api.zscaler.com","defaultApi":true,"serviceScopes":[{"service":{"id":"hiajb8ukv070u","name":"BI","displayName":"Business
        Insig[...]
