interactions:
- request:
    body: '{"content": "What is the capital of France?", "direction": "IN"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us1.zseclipse.net/v1/detection/resolve-and-execute-policy
  response:
    body:
      string: '{"transactionId":"773031f7-77ec-42ce-92d6-925b7ea04a18","statusCode":404,"errorMsg":"Policy
        not found","detectorErrorCount":0,"direction":"IN","responseDetectorPolicyIsPresent":false}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"content": "Test content for policy execution", "direction": "IN"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us1.zseclipse.net/v1/detection/execute-policy
  response:
    body:
      string: '{"transactionId":"0b2f989a-cbd2-4337-bb15-da189941d845","statusCode":404,"errorMsg":"Policy
        not found","detectorErrorCount":0,"direction":"IN"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content": "Third distinct test content for zaiguard", "direction": "IN"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us1.zseclipse.net/v1/detection/resolve-and-execute-policy
  response:
    body:
      string: '{"transactionId":"e9b465fc-c3d4-4365-a555-1742b0872a24","statusCode":404,"errorMsg":"Policy
        not found","detectorErrorCount":0,"direction":"IN","responseDetectorPolicyIsPresent":false}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
