interactions:
- request:
    body: '{"api_key": "REDACTED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ztb.test.zscaler.com/api/v3/api-key-auth/login
  response:
    body:
      string: '{"result":{"delegate_token":"vcr-playback-token-12345"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v2/Site/
  response:
    body:
      string: '{"result":{"count":0,"md5":"","rows":[]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v2/Site/?search=test&page=1&limit=10
  response:
    body:
      string: '{"result":{"count":0,"md5":"","rows":[]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v2/Site/app_segments
  response:
    body:
      string: '{"cluster_token":"","count":0,"result":[],"token":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v2/Site/names
  response:
    body:
      string: '{"result":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v2/Site/MD5
  response:
    body:
      string: '{"result":"mock-md5-value"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
