interactions:
- request:
    body: '{"api_key": "REDACTED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ztb.test.zscaler.com/api/v3/api-key-auth/login
  response:
    body:
      string: '{"result":{"delegate_token":"vcr-playback-token-12345"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v3/CloudGateway/hubs
  response:
    body:
      string: '{"count":0,"result":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v3/CloudGateway/hubs?search=prod&page=1&limit=10
  response:
    body:
      string: '{"count":0,"result":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v3/CloudGateway/s2s_hubs
  response:
    body:
      string: '{"result":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vcr-playback-token-12345
      Content-Type:
      - application/json
    method: GET
    uri: https://ztb.test.zscaler.com/api/v3/CloudGateway/s2s_hubs?provider=aws
  response:
    body:
      string: '{"result":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
