interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations
  response:
    body:
      string: '{"results":[{"id":"3f61a446-1a0d-11f0-94e8-8a5f4d45e80c","name":"AssuredPartners"}],"total_results":1}

        '
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 908f991a-fdf8-93c5-aed4-c0804971fa62
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - ad7ffeaf-bdcd-49c0-9ea4-d8cfd6daa58e
    status:
      code: 200
      message: OK
version: 1
