interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations
  response:
    body:
      string: '{"results":[{"id":"3f61a446-1a0d-11f0-94e8-8a5f4d45e80c","name":"AssuredPartners"}],"total_results":1}

        '
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 517fe924-d1f4-9988-b008-757085e37b17
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - ad7ffeaf-bdcd-49c0-9ea4-d8cfd6daa58e
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations/3f61a446-1a0d-11f0-94e8-8a5f4d45e80c/lookalike-domains
  response:
    body:
      string: '{"results":[{"original_domain":"assuredpartners.com","lookalike_raw":"assuredartners.com","risk_category":"Watchlist
        Lookalike","risk_score":26,"deception_method":["Omission"],"registrar":null,"is_registered":false,"registered_by":null,"created_date":"2025-04-17T01:45:58.005556Z","updated_date":"2025-12-02T18:19:27.654555Z","expiration_date":null,"status":"NOT_VERIFIED"},{"original_domain":"assuredpartners.com","lookalike_raw":"assuredprtners.com","risk_category":"Watchlist
        Lookalike","risk_score":26,"deception_method":["Omission"],"registrar":null,"is_registered":false,"registered_by":null,"created_date":"2025-04-17T02:14:16.375519Z","updated_date":"2025-12-02T18:24:35.136194Z","expiration_date":null,"status":"NOT_VERIFIED"},{"original_domain":"assuredpartners.com","lookalike_raw":"assurepartners.com","risk_category":"Watch[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations/3f61a446-1a0d-11f0-94e8-8a5f4d45e80c/lookalike-domains/assuredartners.com/details
  response:
    body:
      string: '{"original_domain":"assuredpartners.com","lookalike_raw":"assuredartners.com","risk_category":"Watchlist
        Lookalike","risk_score":26,"deception_method":["Omission"],"registrar":null,"is_registered":false,"registered_by":null,"created_date":"2025-04-17T01:45:58.005556Z","updated_date":"2025-12-02T18:19:27.654555Z","expiration_date":null,"status":"NOT_VERIFIED","description":"This
        domain is suspected of being a lookalike domain due to the use of omission
        deception. Threat actors can leverage Omission deception to create domain
        names visually similar to an actual company domain by dropping a letter at
        the middle of an original domain name, for example: \"zscler.com\".  The resulting
        lookalike domain can be abused to manipulate users into trusting the domain
        due to visual similarity with the original domain name, resulting in potential
        phishing attacks.\n"}

        '
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 79e01bae-43da-9758-bba1-de1218b82044
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '996'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - ad7ffeaf-bdcd-49c0-9ea4-d8cfd6daa58e
    status:
      code: 200
      message: OK
version: 1
