interactions:
- request:
    body: grant_type=client_credentials&client_id=102q7dt7r3807p4&client_secret=REDACTED&audience=https%3A%2F%2Fapi.zscaler.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":11999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 150, 150;w=1, 100000;w=60, 10000;w=60
      x-ratelimit-remaining:
      - '149'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations
  response:
    body:
      string: '{"results":[{"id":"3f61a446-1a0d-11f0-94e8-8a5f4d45e80c","name":"AssuredPartners"}],"total_results":1}

        '
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 06cfb1ba-0b45-90e0-84b5-42b0b560e278
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - ad7ffeaf-bdcd-49c0-9ea4-d8cfd6daa58e
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations/3f61a446-1a0d-11f0-94e8-8a5f4d45e80c/findings
  response:
    body:
      string: '{"results":[{"id":"8abfc6a2b3058cb75de44c4c65ca4641","name":"HTTP Missing
        Common Security Header - Set-Cookie","country":null,"profile_id":"95b8762a-1a0d-11f0-94e8-8a5f4d45e80c","impacted_asset_name":"https://hettleandrews.co.uk","impacted_asset_id":"0005335d676ab2036cd0d7ec13fb8e75","risk_score":"30","risk_level":"Low","type":"HTTP_COMMON_SECURITY_HEADER_MISSING","scan_type":"WEB","first_seen":"2025-04-15T17:17:30.447885Z","last_seen":"2025-12-02T15:26:30.764608Z","category":"MISCONFIGURATION","status":"NOT_VERIFIED"},{"id":"af65bd98ffbcf113521c878c48c088e0","name":"HTTP
        Missing Common Security Header - Cross-Origin-Embedder-Policy","country":null,"profile_id":"95b8762a-1a0d-11f0-94e8-8a5f4d45e80c","impacted_asset_name":"https://hettleandrews.co.uk","impacted_asset_id":"0005335d676ab2036cd0d7ec13fb8e75","risk_score":"30","risk_level":"Low","type":"HTTP_COMMON_SECURITY_HEADER_MISSING","scan_type":"WEB","first_seen":"2025-04-15T17:17:30.447885Z","last_seen":"2[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations/3f61a446-1a0d-11f0-94e8-8a5f4d45e80c/findings/8abfc6a2b3058cb75de44c4c65ca4641/details
  response:
    body:
      string: '{"country":null,"impacted_asset_name":"https://hettleandrews.co.uk","impacted_asset_id":"0005335d676ab2036cd0d7ec13fb8e75","risk_score":"30","risk_level":"Low","type":"","scan_type":"WEB","first_seen":"2025-04-15T17:17:30.447885Z","last_seen":"2025-12-02T15:26:30.764608Z","category":"MISCONFIGURATION","status":"NOT_VERIFIED","description":"Website
        detected as missing common security HTTP headers, ensure using these headers
        to best protect the website"}

        '
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - be3264ce-71fd-9128-82ac-68472180e5ee
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - ad7ffeaf-bdcd-49c0-9ea4-d8cfd6daa58e
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations/3f61a446-1a0d-11f0-94e8-8a5f4d45e80c/findings/8abfc6a2b3058cb75de44c4c65ca4641/evidence
  response:
    body:
      string: '{"content":"{\"actual_result\":\"\",\"header\":\"Set-Cookie\"}"}

        '
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 611ec71e-ab9d-929b-abdb-cd0e14243986
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - ad7ffeaf-bdcd-49c0-9ea4-d8cfd6daa58e
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/easm/easm-ui/v1/organizations/3f61a446-1a0d-11f0-94e8-8a5f4d45e80c/findings/8abfc6a2b3058cb75de44c4c65ca4641/scan-output
  response:
    body:
      string: '{"content":"{\"request\":{\"method\":\"GET\",\"url\":\"https://hettleandrews.co.uk\"},\"status\":\"301
        Moved Permanently\",\"status_code\":301,\"content_length\":0,\"headers\":{\"Content-Length\":[\"0\"],\"Location\":[\"https://www.assuredpartners.co.uk/locations/birmingham/\"]},\"body\":null}","source_type":"HTTP"}

        '
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 11af4692-7d04-99d6-8507-314ff1ed74c4
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - ad7ffeaf-bdcd-49c0-9ea4-d8cfd6daa58e
    status:
      code: 200
      message: OK
version: 1
