interactions:
- request:
    body: '{"name": "tests-pracon-vcr0001", "description": "tests-pracon-vcr0002",
      "enabled": true, "latitude": "37.33874", "longitude": "-121.8852525", "location":
      "San Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331395916","modifiedTime":"1764977011","creationTime":"1764977011","modifiedBy":"216196257331372705","name":"tests-pracon-vcr0001","enabled":true,"description":"tests-pracon-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cd8afe8e-098d-90ed-a300-61f1ee5b1165
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4935'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-pracon-vcr0003", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331395917","modifiedTime":"1764977012","creationTime":"1764977012","modifiedBy":"216196257331372705","name":"tests-pracon-vcr0003","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 37f4799a-62e4-9a47-b386-6cb9e1a6ab2f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4934'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-pracon-vcr0004", "description": "tests-pracon-vcr0005",
      "dynamicDiscovery": true, "appConnectorGroups": [{"id": "216196257331395916"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331395918","name":"tests-pracon-vcr0004","description":"tests-pracon-vcr0005","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331395916","name":"tests-pracon-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7603ab17-8bf1-99e9-bf4d-2d6228181ed3
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4933'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-pracon-vcr0006.acme.com", "description": "tests-pracon-vcr0006.acme.com",
      "enabled": true, "domainNames": ["tests-pracon-vcr0006.acme.com"], "segmentGroupId":
      "216196257331395917", "commonAppsDto": {"appsConfig": [{"enabled": true, "applicationPort":
      "3389", "applicationProtocol": "RDP", "connectionSecurity": "ANY", "domain":
      "tests-pracon-vcr0006.acme.com", "appTypes": ["SECURE_REMOTE_ACCESS"]}]}, "serverGroups":
      [{"id": "216196257331395918"}], "tcpPortRanges": ["3389", "3389"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application
  response:
    body:
      string: '{"id":"216196257331395919","domainNames":["tests-pracon-vcr0006.acme.com"],"name":"tests-pracon-vcr0006.acme.com","description":"tests-pracon-vcr0006.acme.com","serverGroups":[{"id":"216196257331395918","enabled":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":false}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["3389","3389"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"commonAppsDto":{"appsConfig":[{"name":"tests-pracon-vcr0006.acme.com","praAppId":"216196257331395920","enabled":true,"applicationPort":"3389","applicationProtocol":"RDP","connectionSecurity":"ANY","domain":"tests-pracon-vcr0006.acme.com","hidden":false,"portal":false,"appId":"216196257331395919","trustUntrustedCert":false,"allowOptions":false,"appTypes":["SECURE_REMOTE_ACCESS"],"adpEnabled":false}]},"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"segmentGroupId":"216196257331395917"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7103ef52-102a-9786-a29e-0fe5cd4dd62c
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4932'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/getAppsByType?search=name%2BEQ%2Btests-pracon-vcr0006.acme.com&applicationType=SECURE_REMOTE_ACCESS&expandAll=false
  response:
    body:
      string: '{"totalPages":"1","totalCount":"0","list":[{"id":"216196257331395920","name":"tests-pracon-vcr0006.acme.com","enabled":true,"applicationPort":"3389","applicationProtocol":"RDP","domain":"tests-pracon-vcr0006.acme.com","appId":"216196257331395919","hidden":false,"connectionSecurity":"ANY","microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 70351a2c-353a-952b-9979-1da0ff42ab6b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4931'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v2/admin/customers/216196257331281920/clientlessCertificate/issued
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331369559","modifiedTime":"1759942769","creationTime":"1696448400","modifiedBy":"216196257331372702","name":"jenkins.bd-hashicorp.com","description":"jenkins.bd-hashicorp.com","validFromInEpochSec":"1696447903","validToInEpochSec":"1759519903","certificate":"-----BEGIN
        CERTIFICATE-----\nMIIF1DCCBLygAwIBAgITIQAAACHKOSdOysELPgAAAAAAITANBgkqhkiG9w0BAQsF\nADBaMRMwEQYKCZImiZPyLGQBGRYDY29tMRwwGgYKCZImiZPyLGQBGRYMYmQtaGFz\naGljb3JwMSUwIwYDVQQDExxiZC1oYXNoaWNvcnAtVkNEMTI2LVNSVjAxLUNBMB4X\nDTIzMTAwNDE5MzE0M1oXDTI1MTAwMzE5MzE0M1owfjELMAkGA1UEBhMCVVMxCzAJ\nBgNVBAgTAkNBMRAwDgYDVQQHEwdTYW5Kb3NlMRcwFQYDVQQKEw5TZWN1cml0eUdl\nZWtJTzEVMBMGA1UECxMMSVREZXBhcnRtZW50MSAwHgYDVQQDExdqZW5raW5zLnNl\nY3VyaXR5Z2Vlay5pbzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKjP\n[...]
- request:
    body: '{"name": "tests-pracon-vcr0007", "description": "tests-pracon-vcr0008",
      "enabled": true, "domain": "tests-pracon-vcr0009acme.com", "certificateId":
      "216196257331369559", "userNotificationEnabled": true, "userNotification": "zscaler_python_sdk
      Test PRA Portal"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/praPortal
  response:
    body:
      string: '{"id":"216196257331395921","modifiedTime":"1764977013","creationTime":"1764977013","modifiedBy":"216196257331372705","name":"tests-pracon-vcr0007","enabled":true,"description":"tests-pracon-vcr0008","certificateId":"216196257331369559","domain":"tests-pracon-vcr0009acme.com","userNotification":"zscaler_python_sdk
        Test PRA Portal","userNotificationEnabled":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e566a732-f221-9497-972c-907e6cd5c9da
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4929'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-pracon-vcr0010", "description": "tests-pracon-vcr0011",
      "enabled": true, "praApplication": {"id": "216196257331395920"}, "praPortals":
      [{"id": "216196257331395921"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/praConsole
  response:
    body:
      string: '{"id":"216196257331395922","modifiedTime":"1764977013","creationTime":"1764977013","modifiedBy":"216196257331372705","name":"tests-pracon-vcr0010","enabled":true,"description":"tests-pracon-vcr0011","praApplication":{"id":"216196257331395920","modifiedTime":"1764977012","creationTime":"1764977012","modifiedBy":"216196257331372705","name":"tests-pracon-vcr0006.acme.com","enabled":true,"domain":"tests-pracon-vcr0006.acme.com","appId":"216196257331395919","hidden":false,"applicationProtocol":"RDP","applicationPort":"3389","connectionSecurity":"ANY","microtenantName":"Default"},"praPortals":[{"id":"216196257331395921","enabled":true}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 13a4a600-64ef-95d9-8096-82265864584a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4928'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/praConsole/216196257331395922
  response:
    body:
      string: '{"id":"216196257331395922","modifiedTime":"1764977013","creationTime":"1764977013","modifiedBy":"216196257331372705","name":"tests-pracon-vcr0010","enabled":true,"description":"tests-pracon-vcr0011","praApplication":{"id":"216196257331395920[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/praPortal/216196257331395921
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 61b809b0-f7a0-9f2a-aeb5-401fb0ff628a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4922'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331395919?forceDelete=true
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 59838d1b-0a70-9f15-a492-10bf22ea8552
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4921'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331395918
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5280ea4a-4391-923d-9e32-de9f964d84b7
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4920'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331395917
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 81f485d1-39e0-9514-91e8-0e4014d12b25
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4919'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331395916
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 99c6e40f-8055-9ddb-a42e-49dc9ec34f14
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4918'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
