interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v2/admin/customers/216196257331281920/clientlessCertificate/issued
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331369559","modifiedTime":"1759942769","creationTime":"1696448400","modifiedBy":"216196257331372702","name":"jenkins.bd-hashicorp.com","description":"jenkins.bd-hashicorp.com","validFromInEpochSec":"1696447903","validToInEpochSec":"1759519903","certificate":"-----BEGIN
        CERTIFICATE-----\nMIIF1DCCBLygAwIBAgITIQAAACHKOSdOysELPgAAAAAAITANBgkqhkiG9w0BAQsF\nADBaMRMwEQYKCZImiZPyLGQBGRYDY29tMRwwGgYKCZImiZPyLGQBGRYMYmQtaGFz\naGljb3JwMSUwIwYDVQQDExxiZC1oYXNoaWNvcnAtVkNEMTI2LVNSVjAxLUNBMB4X\nDTIzMTAwNDE5MzE0M1oXDTI1MTAwMzE5MzE0M1owfjELMAkGA1UEBhMCVVMxCzAJ\nBgNVBAgTAkNBMRAwDgYDVQQHEwdTYW5Kb3NlMRcwFQYDVQQKEw5TZWN1cml0eUdl\nZWtJTzEVMBMGA1UECxMMSVREZXBhcnRtZW50MSAwHgYDVQQDExdqZW5raW5zLnNl\nY3VyaXR5Z2Vlay5pbzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKjP\n[...]
- request:
    body: '{"name": "tests-praport-vcr0001", "description": "tests-praport-vcr0002",
      "enabled": true, "domain": "tests-praport-vcr0003acme.com", "certificateId":
      "216196257331369559", "userNotificationEnabled": true, "userNotification": "zscaler_python_sdk
      Test PRA Portal"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/praPortal
  response:
    body:
      string: '{"id":"216196257331394582","modifiedTime":"1764191922","creationTime":"1764191922","modifiedBy":"216196257331372705","name":"tests-praport-vcr0001","enabled":true,"description":"tests-praport-vcr0002","certificateId":"216196257331369559","domain":"tests-praport-vcr0003acme.com","userNotification":"zscaler_python_sdk
        Test PRA Portal","userNotificationEnabled":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 14c076cd-e228-9f2d-a308-83d9f6cf448d
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4904'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/praPortal
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"id":"216196257331387235","modifiedTime":"1761677811","creationTime":"1761677811","modifiedBy":"216196257331372702","name":"portal01","enabled":true,"description":"portal01","domain":"portal01-securitygeek-io.pra.p.zscalerportal.net","userNotification":"portal01","userNotificationEnabled":true,"userPortalGid":"216196257331387233","extLabel":"portal01","extDomainTranslation":"securitygeek.io","approvalReviewers":["wguilherme@securitygeek.io"],"extDomain":"securitygeek.io","extDomainName":"securitygeek-io.pra.p.zscalerportal.net","microtenantName":"Default"},{"id":"216196257331394582","modifiedTime":"1764191922","creationTime":"1764191922","modifiedBy":"216196257331372705","name":"tests-praport-vcr0001","enabled":true,"description":"tests-praport-vcr0002","certificateId":"216196257331369559","certificateName":"jenkins.bd-hashicorp.com","cName":"216196257331394582.216196257331281920.pra.p.zpa-app.net","domain":"tests-praport-vcr0003acme.com","userNotification":"zscaler_python_sdk
        Test PRA Portal","userNotificationEnabled":true,"microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5e6438e2-f809-96c1-bdf8-72a2fa499b28
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4903'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/praPortal/216196257331394582
  response:
    body:
      string: '{"id":"216196257331394582","modifiedTime":"1764191922","creationTime":"1764191922","modifiedBy":"216196257331372705","name":"tests-praport-vcr0001","enabled":true,"description":"tests-praport-vcr0002","certificateId":"216196257331369559","certificateName":"jenkins.bd-hashicorp.com","cName":"216196257331394582.216196257331281920.pra.p.zpa-app.net","domain":"tests-praport-vcr0003acme.com","userNotification":"zscaler_python_sdk
        Test PRA Portal","userNotificationEnabled":true,"microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7e7ed508-dff1-9653-91a8-e54ed299c093
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4902'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/praPortal/216196257331394582
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c1267853-4942-978c-972c-c9ba8e7965d6
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4897'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
