interactions:
- request:
    body: '{"name": "tests-appseg-vcr0001", "description": "tests-appseg-vcr0002",
      "enabled": true, "latitude": "37.33874", "longitude": "-121.8852525", "location":
      "San Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331404636","modifiedTime":"1773369874","creationTime":"1773369874","modifiedBy":"216196257331372705","name":"tests-appseg-vcr0001","enabled":true,"description":"tests-appseg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f397e514-5d5c-9815-ad64-e6a9924b398f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4855'
      x-ratelimit-reset:
      - '27'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-appseg-vcr0003", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331404637","modifiedTime":"1773369874","creationTime":"1773369874","modifiedBy":"216196257331372705","name":"tests-appseg-vcr0003","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0","readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c5df0f14-06fb-909e-ab2b-b8337dbcfe83
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4854'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-appseg-vcr0004", "description": "tests-appseg-vcr0005",
      "dynamicDiscovery": true, "appConnectorGroups": [{"id": "216196257331404636"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331404638","name":"tests-appseg-vcr0004","description":"tests-appseg-vcr0005","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331404636","name":"tests-appseg-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bdfca4a4-7fb5-9a16-b9c4-bdfa6e43fa49
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4853'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-appsegment-vcr0006.bd-redhat.com", "description": "tests-appsegment-vcr0006.bd-redhat.com",
      "enabled": true, "domainNames": ["tests-appsegment-vcr0006.bd-redhat.com"],
      "segmentGroupId": "216196257331404637", "serverGroups": [{"id": "216196257331404638"}],
      "tcpPortRanges": ["9001", "9001"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application
  response:
    body:
      string: '{"id":"216196257331404639","domainNames":["tests-appsegment-vcr0006.bd-redhat.com"],"name":"tests-appsegment-vcr0006.bd-redhat.com","description":"tests-appsegment-vcr0006.bd-redhat.com","serverGroups":[{"id":"216196257331404638","enabled":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":false}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9001","9001"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"segmentGroupId":"216196257331404637"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - af50e22b-a42f-9c45-971d-cc939f548273
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4852'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application?search=name%2BEQ%2Btests-appsegment-vcr0006.bd-redhat.com
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"modifiedTime":"1773369874","creationTime":"1773369874","modifiedBy":"216196257331372705","id":"216196257331404639","domainNames":["tests-appsegment-vcr0006.bd-redhat.com"],"name":"tests-appsegment-vcr0006.bd-redhat.com","description":"tests-appsegment-vcr0006.bd-redhat.com","serverGroups":[{"id":"216196257331404638","modifiedTime":"1773369874","creationTime":"1773369874","modifiedBy":"216196257331372705","name":"tests-appseg-vcr0004","enabled":false,"description":"tests-appseg-vcr0005","configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9001","9001"],"tcpPortRange":[{"from":"9001","to":"9001"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"healthReporting":"ON_ACCESS","useInDrMode":false,"tcpKeepAlive":"0","selectConnectorCloseToApp":false,"matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"policyStyle":"NONE","readOnly":false,"zscalerManaged":false,"microtenantName":"Default","segmentGroupId":"216196257331404637","segmentGroupName":"tests-appseg-vcr0003"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7b48f077-d52b-9b54-b4d4-e72cac88aa20
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4851'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331404639
  response:
    body:
      string: '{"modifiedTime":"1773369874","creationTime":"1773369874","modifiedBy":"216196257331372705","id":"216196257331404639","domainNames":["tests-appsegment-vcr0006.bd-redhat.com"],"name":"tests-appsegment-vcr0006.bd-redhat.com","description":"tests-appsegment-vcr0006.bd-redhat.com","serverGroups":[{"id":"216196257331404638","modifiedTime":"1773369874","creationTime":"1773369874","modifiedBy":"216196257331372705","name":"tests-appseg-vcr0004","enabled":false,"description":"tests-appseg-vcr0005","configSpace":"DEFAULT","weight":"0","passive":false,"extranetEnabled":false,"dynamicDiscovery":true}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9001","9001"],"tcpPortRange":[{"from":"9001","to":"9001"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"healthReporting":"ON_ACCESS","useInDrMode":false,"tcpKeepAlive":"0","selectConnectorCloseToApp":false,"matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"policyStyle":"NONE","readOnly":false,"zscalerManaged":false,"microtenantName":"Default","segmentGroupId":"216196257331404637","segmentGroupName":"tests-appseg-vcr0003"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 59d6d276-a01e-9e6e-8dab-edc8b0d90e28
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4850'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-appsegment-vcr0006.bd-redhat.com", "description": "Updated
      vcr0007", "enabled": true, "domainNames": ["tests-appsegment-vcr0006.bd-redhat.com"],
      "segmentGroupId": "216196257331404637", "serverGroups": [{"id": "216196257331404638"}],
      "tcpPortRanges": ["9002", "9002"], "tcpPortRange": [], "udpPortRanges": [],
      "udpPortRange": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331404639
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a5341e6e-ba7f-9040-bbaf-e495ac59056f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4849'
      x-ratelimit-reset:
      - '23'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331404639?forceDelete=true
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8568bdb4-ef79-9bd2-b715-5a0a605567ac
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4847'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331404638
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 380892f3-4799-90dc-aed6-743384472bd5
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4846'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331404636
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 52352470-eb9a-9e04-b1a3-e6115f63c65a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4845'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331404637
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ca80a4ef-46a1-9ff2-b0d7-b2ae19d4bda0
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4844'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
version: 1
