interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/machineGroup
  response:
    body:
      string: '{"totalPages":"1","totalCount":"9","list":[{"id":"216196257331291115","modifiedTime":"1726871100","creationTime":"1638488366","modifiedBy":"216196257331281921","name":"BD-MGR01","enabled":true,"description":"BD-MGR01"},{"id":"216196257331374012","modifiedTime":"1726871130","creationTime":"1726871130","modifiedBy":"216196257331281921","name":"BD-MGR02","enabled":true,"description":"BD-MGR02"},{"id":"216196257331374013","modifiedTime":"1726871145","creationTime":"1726871145","modifiedBy":"216196257331281921","name":"BD
        MGR 03","enabled":true,"description":"BD MGR 03"},{"id":"216196257331374014","modifiedTime":"1726871160","creationTime":"1726871160","modifiedBy":"216196257331281921","name":"B[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/machineGroup/216196257331291115
  response:
    body:
      string: '{"id":"216196257331291115","modifiedTime":"1726871100","creationTime":"1638488366","modifiedBy":"216196257331281921","name":"BD-MGR01","enabled":true,"description":"BD-MGR01","readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - de97f5e3-89f2-9e6a-91bd-9bd5a9f78f22
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4957'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
version: 1
