interactions:
- request:
    body: '{"name": "tests-srv-vcr0001", "description": "tests-srv-vcr0002", "enabled":
      true, "address": "192.168.200.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server
  response:
    body:
      string: '{"id":"216196257331394557","modifiedTime":"1764191885","creationTime":"1764191885","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001","address":"192.168.200.1","enabled":true,"description":"tests-srv-vcr0002","configSpace":"DEFAULT"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 44ff2346-fa8b-9467-b925-07d2fff83460
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '55'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/216196257331394557
  response:
    body:
      string: '{"id":"216196257331394557","modifiedTime":"1764191885","creationTime":"1764191885","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001","address":"192.168.200.1","enabled":true,"description":"tests-srv-vcr0002","configSpace":"DEFAULT"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c5209106-854c-936a-8fa1-fa21324a39e7
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '55'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331388877","modifiedTime":"1762497160","creationTime":"1762497160","modifiedBy":"216196257331372705","name":"ExampleServer01","address":"192.168.1.1","enabled":true,"description":"ExampleServer01","configSpace":"DEFAULT"},{"id":"216196257331389970","modifiedTime":"1763017548","creationTime":"1763017548","modifiedBy":"216196257331372705","name":"ExampleServer02","address":"192.168.1.1","enabled":true,"description":"ExampleServer02","configSpace":"DEFAULT"},{"id":"216196257331394557","modifiedTime":"1764191886","creationTime":"1764191885","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001
        Updated","address":"192.168.200.1","enabled":true,"configSpace":"DEFAULT"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4f6ba760-ac93-9c0f-9a08-bad5b9aba3f7
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/summary
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331388877","name":"ExampleServer01","enabled":true},{"id":"216196257331389970","name":"ExampleServer02","enabled":true},{"id":"216196257331394557","name":"tests-srv-vcr0001
        Updated","enabled":true}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4741fa86-f297-9f2c-88fc-7d82378aa9d8
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/216196257331394557
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - aeca1fbe-12da-99b1-b47d-7bd1bfeece59
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
