interactions:
- request:
    body: '{"name": "tests-seg-vcr0001", "description": "tests-seg-vcr0002", "enabled":
      true, "latitude": "37.33874", "longitude": "-121.8852525", "location": "San
      Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileId": "0", "isPublic": "TRUE"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serviceEdgeGroup
  response:
    body:
      string: '{"id":"216196257331395929","modifiedTime":"1764977024","creationTime":"1764977024","modifiedBy":"216196257331372705","name":"tests-seg-vcr0001","enabled":true,"description":"tests-seg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","isPublic":"TRUE","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","cityCountry":"San
        Jose, US","countryCode":"US","useInDrMode":false,"exclusiveForBusinessContinuity":false,"graceDistanceEnabled":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8b59e197-353c-9e72-a8ce-0f2baa1a2dee
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4860'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serviceEdgeGroup/216196257331395929
  response:
    body:
      string: '{"id":"216196257331395929","modifiedTime":"1764977024","creationTime":"1764977024","modifiedBy":"216196257331372705","name":"tests-seg-vcr0001","enabled":true,"description":"tests-seg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradePriority":"WEEK","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","isPublic":"TRUE","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","cityCountry":"San
        Jose, US","countryCode":"US","useInDrMode":false,"exclusiveForBusinessContinuity":false,"graceDistanceEnabled":false,"readOnly":false,"zscalerManaged":false,"microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7ad80eb9-f4fa-962d-9cc6-bfefadcacec5
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4859'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serviceEdgeGroup
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"id":"216196257331382979","modifiedTime":"1745902929","creationTime":"1745887239","modifiedBy":"216196257331281921","name":"Service-Edge-Group-1","enabled":true,"description":"Service-Edge-Group-1","versionProfileId":"2","overrideVersionProfile":true,"versionProfileName":"New
        Release","upgradePriority":"WEEK","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","isPublic":"TRUE","location":"120
        Holger Way, San Jose, CA 95134, USA","latitude":"37.4181643","longitude":"-121.9531325","cityCountry":"San
        Jose, US","countryCode":"US","useInDrMode":false,"exclusiveForBusinessContinuity":false,"graceDistanceEnabled":true,"graceDistanceValue":"10.0","graceDistanceValueUnit":"MILES","trustedNetworks":[{"id":"216196257331369931","creationTime":"1696823882","modifiedBy":"72057594037928115","name":"BDTrustedNetwork02
        (zscalerthree.net)","networkId":"3c3e55e7-cfe1-4abf-974f-276ac586309b","zscalerCloud":"zscalerthree"},{"id":"216196257331369930","creationTime":"1696823868","modifiedBy":"72057594037928115","name":"BDTrustedNetwork01
        (zscalerthree.net)","networkId":"928c092b-3fe1-49bb-b01f-0618e4f38468","zscalerCloud":"zscalerthree"}],"readOnly":false,"zscalerManaged":false,"microtenantName":"Default","serviceEdges":[{"id":"216196257331382980","modifiedTime":"1745904984","creationTime":"1745887249","modifiedBy":"216196257331281921","name":"RHEL9
        - Ottawa ZPA PSE - 2","description":"RHEL9 - Ottawa ZPA PSE - 2","fingerprint":"cqmJND8WJe2R1vELpEp/VgdQh9nN5xwr+GHVWGaOkPU=","issuedCertId":"10066551","enabled":true,"privateBrokerVersion":{"id":"216196257331382980","modifiedTime":"1746114829","creationTime":"1745887256","modifiedBy":"72057594037928156","currentVersion":"24.692.9","systemStartTime":"1745980851","applicationStartTime":"1745887246","lastConnectTime":"1746113107634938","lastDisconnectTime":"1746114829030650","platform":"el9","runtimeOS":"Red
        Hat Enterprise Linux 9.5","brokerId":"72057594037934933","ctrlChannelStatus":"ZPN_STATUS_DISCONNECTED","privateIp":"172.17.0.5","publicIp":"162.156.26.44","loneWarrior":true,"tunnelId":"qgJcEWgpjojKESWiR1I3","upgradeAttempt":"0","sargeVersion":"24.566.1","platformDetail":"Docker-Zscaler
        RedHat Image - ZSIVersion: 2024.11","osUpgradeEnabled":false,"serviceEdgeGroupId":"216196257331382979"},"upgradeAttempt":"0","provisioningKeyId":"46174"},{"id":"216196257331382981","modifiedTime":"1745906022","creationTime":"1745887254","modifiedBy":"216196257331281921","name":"Ottawa_ZPA_SVC_Edge-2","fingerprint":"g+wkdFNFRp4U2aJAhUZGCIIk2M2SKaVpj6vo3jCNvXM=","issuedCertId":"10066552","enabled":true,"privateBrokerVersion":{"id":"216196257331382981","modifiedTime":"1746114827","creationTime":"1745887262","modifiedBy":"72057594037928156","currentVersion":"24.692.9","systemStartTime":"1745980851","applicationStartTime":"1745887254","lastCo[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serviceEdgeGroup/216196257331395929
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 163bd32d-eafc-9b10-828b-2e9b0c4d76c2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4855'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
