interactions:
- request:
    body: '{"name": "tests-appseg-vcr0001", "description": "tests-appseg-vcr0002",
      "enabled": true, "latitude": "37.33874", "longitude": "-121.8852525", "location":
      "San Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331394543","modifiedTime":"1764191870","creationTime":"1764191870","modifiedBy":"216196257331372705","name":"tests-appseg-vcr0001","enabled":true,"description":"tests-appseg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2e739ead-437b-956a-9a21-02580c94f2d3
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4836'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-appseg-vcr0003", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331394544","modifiedTime":"1764191870","creationTime":"1764191870","modifiedBy":"216196257331372705","name":"tests-appseg-vcr0003","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cd028a6c-7466-99bc-8ce9-9cd057feab36
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4835'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-appseg-vcr0004", "description": "tests-appseg-vcr0005",
      "dynamicDiscovery": true, "appConnectorGroups": [{"id": "216196257331394543"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331394545","name":"tests-appseg-vcr0004","description":"tests-appseg-vcr0005","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331394543","name":"tests-appseg-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2e647677-e337-9d31-be26-528b2ed66a25
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4834'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-appsegment-vcr0006.bd-redhat.com", "description": "tests-appsegment-vcr0006.bd-redhat.com",
      "enabled": true, "domainNames": ["tests-appsegment-vcr0006.bd-redhat.com"],
      "segmentGroupId": "216196257331394544", "serverGroups": [{"id": "216196257331394545"}],
      "tcpPortRanges": ["9001", "9001"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application
  response:
    body:
      string: '{"id":"216196257331394546","domainNames":["tests-appsegment-vcr0006.bd-redhat.com"],"name":"tests-appsegment-vcr0006.bd-redhat.com","description":"tests-appsegment-vcr0006.bd-redhat.com","serverGroups":[{"id":"216196257331394545","enabled":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":false}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9001","9001"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"segmentGroupId":"216196257331394544"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 184fcbcf-78f9-965e-ad8a-7b3f087cf6e5
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4833'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application?search=name%2BEQ%2Btests-appsegment-vcr0006.bd-redhat.com
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"modifiedTime":"1764191871","creationTime":"1764191871","modifiedBy":"216196257331372705","id":"216196257331394546","domainNames":["tests-appsegment-vcr0006.bd-redhat.com"],"name":"tests-appsegment-vcr0006.bd-redhat.com","description":"tests-appsegment-vcr0006.bd-redhat.com","serverGroups":[{"id":"216196257331394545","modifiedTime":"1764191870","creationTime":"1764191870","modifiedBy":"216196257331372705","name":"tests-appseg-vcr0004","enabled":false,"description":"tests-appseg-vcr0005","configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9001","9001"],"tcpPortRange":[{"from":"9001","to":"9001"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"healthReporting":"ON_ACCESS","useInDrMode":false,"tcpKeepAlive":"0","selectConnectorCloseToApp":false,"matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"policyStyle":"NONE","readOnly":false,"zscalerManaged":false,"microtenantName":"Default","segmentGroupId":"216196257331394544","segmentGroupName":"tests-appseg-vcr0003"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 72d2a961-c6af-9ce2-8c37-d497bc661bfb
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4832'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331394546
  response:
    body:
      string: '{"modifiedTime":"1764191871","creationTime":"1764191871","modifiedBy":"216196257331372705","id":"216196257331394546","domainNames":["tests-appsegment-vcr0006.bd-redhat.com"],"name":"tests-appsegment-vcr0006.bd-redhat.com","description":"tests-appsegment-vcr0006.bd-redhat.com","serverGroups":[{"id":"216196257331394545","modifiedTime":"1764191870","creationTime":"1764191870","modifiedBy":"216196257331372705","name":"tests-appseg-vcr0004","enabled":false,"description":"tests-appseg-vcr0005","configSpace":"DEFAULT","weight":"0","passive":false,"extranetEnabled":false,"dynamicDiscovery":true}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9001","9001"],"tcpPortRange":[{"from":"9001","to":"9001"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"healthReporting":"ON_ACCESS","useInDrMode":false,"tcpKeepAlive":"0","selectConnectorCloseToApp":false,"matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"policyStyle":"NONE","readOnly":false,"zscalerManaged":false,"microtenantName":"Default","segmentGroupId":"216196257331394544","segmentGroupName":"tests-appseg-vcr0003"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5de3f085-ed76-9911-9acc-9447611051ea
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4831'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-appsegment-vcr0006.bd-redhat.com", "description": "Updated
      vcr0007", "enabled": true, "domainNames": ["tests-appsegment-vcr0006.bd-redhat.com"],
      "segmentGroupId": "216196257331394544", "serverGroups": [{"id": "216196257331394545"}],
      "tcpPortRanges": ["9002", "9002"], "tcpPortRange": [], "udpPortRanges": [],
      "udpPortRange": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331394546
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ac3cd868-c81c-9dff-9d44-6898b57d507c
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4830'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331394546?forceDelete=true
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f0b38804-b329-9759-818e-f9dc6b89967c
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4828'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331394545
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6ce29dd0-63df-918f-b6de-f57cddd95ea4
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4827'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331394543
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 738cf52f-d1ba-9387-92ae-848ac07ba830
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4826'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331394544
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 28e01717-ff59-9eec-be6f-7e5a2f28c49a
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4825'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
