interactions:
- request:
    body: '{"name": "tests-srvg-vcr0001", "description": "tests-srvg-vcr0002", "enabled":
      true, "latitude": "37.33874", "longitude": "-121.8852525", "location": "San
      Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331395927","modifiedTime":"1764977023","creationTime":"1764977023","modifiedBy":"216196257331372705","name":"tests-srvg-vcr0001","enabled":true,"description":"tests-srvg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 23a3b463-8b37-9255-a0d8-79479aae5d2f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4869'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-srvg-vcr0001", "description": "tests-srvg-vcr0002", "dynamicDiscovery":
      true, "appConnectorGroups": [{"id": "216196257331395927"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331395928","name":"tests-srvg-vcr0001","description":"tests-srvg-vcr0002","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331395927","name":"tests-srvg-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8477884f-f715-919b-bcfd-93e59696149b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4868'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331395928
  response:
    body:
      string: '{"modifiedTime":"1764977023","creationTime":"1764977023","modifiedBy":"216196257331372705","id":"216196257331395928","enabled":false,"name":"tests-srvg-vcr0001","description":"tests-srvg-vcr0002","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"readOnly":false,"zscalerManaged":false,"microtenantName":"Default","dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331395927","modifiedTime":"1764977023","creationTime":"1764977023","modifiedBy":"216196257331372705","name":"tests-srvg-vcr0001","enabled":true,"description":"tests-srvg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"location":"San
        Jose, CA, USA","dnsQueryType":"IPV4_IPV6","cityCountry":"San Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 01c0058a-af6c-9c81-8b20-074416d63cfa
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4867'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "216196257331395928", "modifiedTime": "1764977023", "creationTime":
      "1764977023", "modifiedBy": "216196257331372705", "enabled": false, "name":
      "tests-srvg-vcr0001 Updated", "description": "tests-srvg-vcr0002", "ipAnchored":
      false, "configSpace": "DEFAULT", "weight": null, "extranetEnabled": false, "microtenantName":
      "Default", "extranetDTO": null, "readOnly": false, "restrictionType": null,
      "zscalerManaged": false, "dynamicDiscovery": true, "applications": [], "appConnectorGroups":
      [{"id": "216196257331395927", "ipAcl": [], "modifiedTime": "1764977023", "creationTime":
      "1764977023", "modifiedBy": "216196257331372705", "name": "tests-srvg-vcr0001",
      "enabled": true, "description": "tests-srvg-vcr0002", "versionProfileId": "0",
      "overrideVersionProfile": true, "versionProfileName": null, "upgradePriority":
      null, "versionProfileVisibilityScope": null, "upgradeTimeInSecs": null, "upgradeDay":
      null, "location": "San Jose, CA, USA", "latitude": null, "longitude": null,
      "dnsQueryType": "IPV4_IPV6", "connectorGroupType": "APP", "cityCountry": "San
      Jose, US", "countryCode": "US", "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true, "praEnabled": true, "useInDrMode": false,
      "wafDisabled": false, "microtenantId": null, "microtenantName": null, "siteId":
      null, "siteName": null, "lssAppConnectorGroup": false, "readOnly": null, "restrictionType":
      null, "zscalerManaged": null, "dcHostingInfo": null, "serverGroups": []}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331395928
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7e1c1fd7-16c5-9b65-86f0-2f6ed75b4f38
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4865'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"modifiedTime":"1734772058","creationTime":"1698164996","modifiedBy":"216196257331372702","id":"216196257331370169","enabled":true,"name":"Example100","description":"Example100
        test","applications":[{"id":"216196257331370170","name":"app09","enabled":true},{"id":"216196257331370171","name":"app04","enabled":true},{"id":"216196257331370172","name":"app06","enabled":true},{"id":"216196257331370175","name":"app11","enabled":true},{"id":"216196257331370177","name":"app10","enabled":true},{[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331395927
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 68d0de81-ed7e-9b23-a28b-8c6fc165d18c
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4861'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
