interactions:
- request:
    body: '{"name": "tests-uportlnk-vcr0001", "description": "tests-uportlnk-vcr0002",
      "enabled": true, "userNotification": "tests-uportlnk-vcr0002", "userNotificationEnabled":
      true, "managedByZs": true, "domain": "securitygeek.io", "extLabel": "tests-uplnk-vcr0003",
      "extDomainName": "-securitygeek-io.b.zscalerportal.net", "extDomain": "securitygeek.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"id":"216196257331395931","modifiedTime":"1764977027","creationTime":"1764977027","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","domain":"tests-uplnk-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uportlnk-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uplnk-vcr0003","extDomain":"securitygeek.io","extDomainName":"-securitygeek-io.b.zscalerportal.net"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e33a7121-4ed7-957b-8e64-c1a1f4be310f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4846'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-uportlnk-vcr0001", "description": "tests-uportlnk-vcr0002",
      "enabled": true, "link": "server1.example.com", "userNotificationEnabled": true,
      "iconText": "", "protocol": "https://", "userPortals": [{"id": "216196257331395931"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink
  response:
    body:
      string: '{"id":"216196257331395932","modifiedTime":"1764977027","creationTime":"1764977027","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","link":"server1.example.com","protocol":"https://","userPortals":[{"id":"216196257331395931","enabled":true}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f7a30880-8ce7-907c-8553-11be9f72e54b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4845'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink/216196257331395932
  response:
    body:
      string: '{"id":"216196257331395932","modifiedTime":"1764977027","creationTime":"1764977027","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","link":"server1.example.com","protocol":"https://","userPortals":[{"id":"216196257331395931","modifiedTime":"1764977027","creationTime":"1764977027","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","domain":"tests-uplnk-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uportlnk-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uplnk-vcr0003"}],"microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 364a8d3b-a694-9615-bc45-313524fd7d12
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4844'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-uportlnk-vcr0001 Updated", "enabled": true, "link": "server1.example.com",
      "userNotificationEnabled": true, "iconText": "", "protocol": "https://", "userPortalIds":
      ["216196257331395931"], "userPortals": [{"id": "216196257331395931"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink/216196257331395932
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0b693f20-bb7d-955b-8377-69bd36f0c973
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4843'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"id":"216196257331395932","modifiedTime":"1764977027","creationTime":"1764977027","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001
        Updated","enabled":true,"link":"server1.example.com","protocol":"https://","userPortals":[{"id":"216196257331395931","modifiedTime":"1764977027","creationTime":"1764977027","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","domain":"tests-uplnk-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uportlnk-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uplnk-vcr0003"}],"microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 08134c77-0364-98b6-b3cb-2f63ad6f3899
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4841'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331395931
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d6409255-4aef-95e8-bd17-e27f76dc62ff
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4839'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
