interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/authDomains
  response:
    body:
      string: '{"authDomains":["securitygeek.io","securitygeekio.zslogin.net"]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2661f0d1-7031-9f4f-88a9-e3f540e7f99f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4956'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-micro-vcr0001", "description": "tests-micro-vcr0002", "enabled":
      true, "privilegedApprovalsEnabled": true, "criteriaAttribute": "AuthDomain"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants
  response:
    body:
      string: '{"id":"216196257331395900","modifiedTime":"1764976989","creationTime":"1764976989","modifiedBy":"216196257331372705","name":"tests-micro-vcr0001","description":"tests-micro-vcr0002","enabled":true,"operator":"OR","criteriaAttribute":"AuthDomain","privilegedApprovalsEnabled":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 31749d6a-6dd4-9ec9-b5da-62accf42c40b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4955'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants/216196257331395900
  response:
    body:
      string: '{"id":"216196257331395900","modifiedTime":"1764976989","creationTime":"1764976989","modifiedBy":"216196257331372705","name":"tests-micro-vcr0001","description":"tests-micro-vcr0002","enabled":true,"operator":"OR","criteriaAttribute":"AuthDomain","privilegedApprovalsEnabled":true,"scopeOrder":"1"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c3484d97-d19e-9a20-99f6-7e1020434743
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4954'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"id":"216196257331395900","modifiedTime":"1764976990","creationTime":"1764976989","modifiedBy":"216196257331372705","name":"tests-micro-vcr0001","description":"tests-micro-vcr0001","enabled":true,"operator":"OR","criteriaAttribute":"AuthDomain","privilegedApprovalsEnabled":true,"scopeOrder":"1"},{"id":"0","name":"Default","description":"This
        is the default Microtenant for users not associated to any Microtenant","enabled":true,"operator":"OR","privilegedApprovalsEnabled":true,"scopeOrder":"2"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0577cdb7-4800-9f77-b5db-17d5057eb3f2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4952'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants/summary
  response:
    body:
      string: '[{"id":"216196257331395900","name":"tests-micro-vcr0001","enabled":true},{"id":"0","name":"Default","enabled":true}]'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3a890b71-a689-9dfa-9b73-474c286a1ac2
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4951'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants/216196257331395900
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f9700dfa-34ee-9ff0-8d55-438f6b90b026
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4950'
      x-ratelimit-reset:
      - '50'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
