interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/policyType/CLIENT_FORWARDING_POLICY
  response:
    body:
      string: '{"id":"216196257331281929","modifiedTime":"1773369249","creationTime":"1619672239","modifiedBy":"216196257331372705","name":"Bypass_Policy","enabled":true,"description":"Bypass
        policies.","policyType":"4","sorted":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 993cf812-066f-9c7c-aa24-bd065a2d0c9e
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '4'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-apfr1-vcr0001", "description": "Integration test Client
      Forwarding Rule V1", "ruleOrder": null, "action": "INTERCEPT", "conditions":
      [{"operator": "OR", "operands": [{"objectType": "CLIENT_TYPE", "lhs": "id",
      "rhs": "zpn_client_type_exporter"}, {"objectType": "CLIENT_TYPE", "lhs": "id",
      "rhs": "zpn_client_type_zapp"}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281929/rule
  response:
    body:
      string: '{"id":"216196257331404615","modifiedTime":"1773369837","creationTime":"1773369837","modifiedBy":"216196257331372705","name":"tests-apfr1-vcr0001","description":"Integration
        test Client Forwarding Rule V1","ruleOrder":"2","priority":"2","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","conditions":[{"id":"46277375","modifiedTime":"1773369837","creationTime":"1773369837","modifiedBy":"216196257331372705","operator":"OR","negated":false,"operands":[{"id":"46277376","modifiedTime":"1773369837","creationTime":"1773369837","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_exporter"},{"id":"46277377","modifiedTime":"1773369837","creationTime":"1773369837","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_zapp"}]}],"defaultRuleName":"Default_Rule","defaultRule":false,"readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8dc72ff0-58a9-9346-9b29-6f1daa725653
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '3'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281929/rule/216196257331404615
  response:
    body:
      string: '{"id":"216196257331404615","modifiedTime":"1773369837","creationTime":"1773369837","modifiedBy":"216196257331372705","name":"tests-apfr1-vcr0001","description":"Integration
        test Client Forwarding Rule V1","ruleOrder":"2","priority":"2","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","devicePostureFailureNotificationEnabled":false,"policySetId":"216196257331281929","conditions":[{"id":"46277375","modifiedTime":"1773369837","creationTime":"1773369837","modifiedBy":"216196257331372705","operator":"OR","negated":false,"operands":[{"id":"46277376","modifiedTime":"1773369837","creationTime":"1773369837","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_exporter","name":"zpn_client_type_exporter","conditionId":"46277375"},{"id":"46277377","modifiedTime":"1773369837","creationTime":"1773369837","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_zapp","name":"zpn_client_type_zapp","conditionId":"46277375"}],"ruleGid":"216196257331404615"}],"defaultRuleName":"Default_Rule","defaultRule":false,"readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b62f9f37-6e4c-9afb-9f11-b3578ebc5220
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '3'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/rules/policyType/CLIENT_FORWARDING_POLICY
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331401659","modifiedTime":"1771284873","creationTime":"1770169455","modifiedBy":"216196257331372702","name":"DevTest","ruleOrder":"1","priority":"3","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","devicePostureFailureNotificationEnabled":false,"policySetId":"216196257331281929","defaultRuleName":"Default_Rule","defaultRule":false,"readOnly":false,"zscalerManaged":false},{"id":"216196257331404615","modifiedTime":"1773369838","creationTime":"1773369837","mod[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281929/rule/216196257331404615
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 576909ec-8b68-996f-9725-7aab0cfee277
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '2'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
version: 1
