interactions:
- request:
    body: '{"name": "John-pracred-vcr0001", "description": "tests-pracred-vcr0002",
      "credentialType": "PASSWORD", "userDomain": "securitygeek.io", "password":"REDACTED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential
  response:
    body:
      string: '{"id":"17004","modifiedTime":"1764977015","creationTime":"1764977015","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1764977015","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bc1b6d62-11be-9aea-88f5-243d81489a8a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4917'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential
  response:
    body:
      string: '{"totalPages":"1","totalCount":"19","list":[{"id":"17004","modifiedTime":"1764977015","creationTime":"1764977015","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1764977015","microtenantName":"Default"},{"id":"14669","modifiedTime":"1744391586","creationTime":"1744391586","modifiedBy":"216196257331281921","name":"ngmgmt/a000","description":"ngmgmt/a000","userName":"ngmgmt/a000","credentialType":"USERNAME_PASSWORD","lastCredentialResetTime":"1744391586","microtenantName":"Default"},{"id":"14671","modifiedTime":"1744391597","creationTime":"1744391597","modifiedBy":"216196257331281921","name":"ngmgmt/a001","description":"ngmgmt/a001","userName":"ngmgmt/a001","credentialType":"USERNAME_PASSWORD","lastCredentialResetTime":"1744391597","microtenantName":"Default"},{"id":"14673","modifiedTime":"1744391608","creationTime":"1744391608","modifiedBy":"21619625733128[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential/17004
  response:
    body:
      string: '{"id":"17004","modifiedTime":"1764977015","creationTime":"1764977015","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1764977015","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a37f4da0-5480-92a0-8ab2-33a7a1a09645
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4915'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential/17004
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - dde81106-52d1-92ce-9ed1-ca9b78cf3181
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4912'
      x-ratelimit-reset:
      - '25'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
