interactions:
- request:
    body: '{"id": null, "name": "tests-tg-vcr0001", "description": "tests-tg-vcr0002",
      "microtenantId": null, "microtenantName": null, "tags": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/tagGroup
  response:
    body:
      string: '{"id":"72058304855174577","name":"tests-tg-vcr0001","description":"tests-tg-vcr0002"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 628f535e-fa4e-9336-8d15-2435951633f3
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '983'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/tagGroup/72058304855174577
  response:
    body:
      string: '{"modifiedTime":"1773287587","creationTime":"1773287587","modifiedBy":"72058304855085872","id":"72058304855174577","name":"tests-tg-vcr0001","description":"tests-tg-vcr0002"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5e71cbda-9886-997c-9d94-aebcd5a7faf9
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '982'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sortBy": {"sortName": "name", "sortOrder": "ASC"}, "pageBy": {"page":
      1, "pageSize": 100, "validPage": 0, "validPageSize": 0}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/tagGroup/search
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"modifiedTime":"1773287587","creationTime":"1773287587","modifiedBy":"72058304855085872","id":"72058304855174577","name":"tests-tg-vcr0001
        Updated","description":"tests-tg-vcr0002"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - b6331084-3923-9a9f-91f3-2fe7c70f12a1
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '980'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/tagGroup/72058304855174577
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 0fd14af2-73db-9bd1-ae71-a80009717ccc
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '978'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 204
      message: No Content
version: 1
