interactions:
- request:
    body: '{"id": null, "name": "tests-ns-vcr0001", "description": "tests-ns-vcr0001",
      "enabled": true, "origin": "CUSTOM", "type": "STATIC", "microtenantId": null,
      "microtenantName": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/namespace
  response:
    body:
      string: '{"id":"72058304855174573","name":"tests-ns-vcr0001","description":"tests-ns-vcr0001","enabled":true,"origin":"CUSTOM","type":"STATIC"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - bf69f9a1-9b33-9ad6-9a76-4addd8dd496c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '992'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 201
      message: Created
- request:
    body: '{"id": null, "customerId": null, "name": "tests-tk-vcr0002", "description":
      "tests-tk-vcr0002", "enabled": true, "namespaceId": null, "origin": "CUSTOM",
      "type": "STATIC", "microtenantId": null, "microtenantName": null, "skipAudit":
      false, "tagValues": [{"id": null, "name": "val-vcr0003"}, {"id": null, "name":
      "val-vcr0004"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/namespace/72058304855174573/tagKey
  response:
    body:
      string: '{"id":"72058304855174574","name":"tests-tk-vcr0002","description":"tests-tk-vcr0002","customerId":"72058304855015424","namespaceId":"72058304855174573","enabled":true,"origin":"CUSTOM","tagValues":[{"id":"72058304855174575","name":"val-vcr0003"},{"id":"72058304855174576","name":"val-vcr0004"}],"type":"STATIC","skipAudit":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - f6a7ce17-d9f7-9eb3-872f-ed252a4c7596
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '991'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/namespace/72058304855174573/tagKey/72058304855174574
  response:
    body:
      string: '{"modifiedTime":"1773287586","creationTime":"1773287586","modifiedBy":"72058304855085872","id":"72058304855174574","name":"tests-tk-vcr0002","description":"tests-tk-vcr0002","customerId":"72058304855015424","namespaceId":"72058304855174573","enabled":true,"origin":"CUSTOM","tagValues":[{"id":"72058304855174575","name":"val-vcr0003"},{"id":"72058304855174576","name":"val-vcr0004"}],"type":"STATIC","skipAudit":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 6847e1e3-7806-9874-bb07-1121541fea7c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '990'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sortBy": {"sortName": "name", "sortOrder": "ASC"}, "pageBy": {"page":
      1, "pageSize": 100, "validPage": 0, "validPageSize": 0}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/namespace/72058304855174573/tagKey/search
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"modifiedTime":"1773287586","creationTime":"1773287586","modifiedBy":"72058304855085872","id":"72058304855174574","name":"tests-tk-vcr0002
        Updated","description":"tests-tk-vcr0002","customerId":"72058304855015424","namespaceId":"72058304855174573","enabled":true,"origin":"CUSTOM","tagValues":[{"id":"72058304855174575","name":"val-vcr0003"},{"id":"72058304855174576","name":"val-vcr0004"}],"type":"STATIC","skipAudit":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 8c10a939-7151-9ceb-afff-6372093ebdc0
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '988'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 200
      message: OK
- request:
    body: '{"enabled": false, "tagKeyIds": ["72058304855174574"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/namespace/72058304855174573/tagKey/bulkUpdateStatus
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - 5a9f1db0-8d73-9696-9018-030008440697
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '987'
      x-ratelimit-reset:
      - '54'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.beta.zsapi.net/zpa/mgmtconfig/v1/admin/customers/72058304855015424/namespace/72058304855174573
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.beta.zsapi.net
      x-oneapi-request-id:
      - fbf5de94-78cd-9318-bfb7-845184666064
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 1000, 1000;w=60
      x-ratelimit-remaining:
      - '984'
      x-ratelimit-reset:
      - '53'
      x-transaction-id:
      - ac12ba21-fe1f-4f43-915c-47652ef2f985
    status:
      code: 204
      message: No Content
version: 1
