interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/authDomains
  response:
    body:
      string: '{"authDomains":["securitygeek.io","securitygeekio.zslogin.net"]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 28d837b6-5ff8-95e9-a204-3cf5fe3c7f37
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4950'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-micro-vcr0001", "description": "tests-micro-vcr0002", "enabled":
      true, "privilegedApprovalsEnabled": true, "criteriaAttribute": "AuthDomain"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants
  response:
    body:
      string: '{"id":"216196257331394559","modifiedTime":"1764191894","creationTime":"1764191894","modifiedBy":"216196257331372705","name":"tests-micro-vcr0001","description":"tests-micro-vcr0002","enabled":true,"operator":"OR","criteriaAttribute":"AuthDomain","privilegedApprovalsEnabled":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b2ffd01f-b145-9830-b354-4fb1d311c06d
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4949'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants/216196257331394559
  response:
    body:
      string: '{"id":"216196257331394559","modifiedTime":"1764191894","creationTime":"1764191894","modifiedBy":"216196257331372705","name":"tests-micro-vcr0001","description":"tests-micro-vcr0002","enabled":true,"operator":"OR","criteriaAttribute":"AuthDomain","privilegedApprovalsEnabled":true,"scopeOrder":"1"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f05f1cd0-9de2-99ee-beaf-a0b9fe88fc65
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4948'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"id":"216196257331394559","modifiedTime":"1764191894","creationTime":"1764191894","modifiedBy":"216196257331372705","name":"tests-micro-vcr0001","description":"tests-micro-vcr0001","enabled":true,"operator":"OR","criteriaAttribute":"AuthDomain","privilegedApprovalsEnabled":true,"scopeOrder":"1"},{"id":"0","name":"Default","description":"This
        is the default Microtenant for users not associated to any Microtenant","enabled":true,"operator":"OR","privilegedApprovalsEnabled":true,"scopeOrder":"2"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7ec2b536-b2e7-9922-a058-18ac2ca4310f
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4946'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants/summary
  response:
    body:
      string: '[{"id":"216196257331394559","name":"tests-micro-vcr0001","enabled":true},{"id":"0","name":"Default","enabled":true}]'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 34453181-91ff-9968-acc7-265a7f8db5dc
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4945'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/microtenants/216196257331394559
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e87a9075-5e6c-93fe-a0e4-fb872a70012b
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4944'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
