interactions:
- request:
    body: '{"name": "tests-uportlnk-vcr0001", "description": "tests-uportlnk-vcr0002",
      "enabled": true, "userNotification": "tests-uportlnk-vcr0002", "userNotificationEnabled":
      true, "managedByZs": true, "domain": "securitygeek.io", "extLabel": "tests-uplnk-vcr0003",
      "extDomainName": "-securitygeek-io.b.zscalerportal.net", "extDomain": "securitygeek.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"id":"216196257331404683","modifiedTime":"1773369941","creationTime":"1773369941","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","domain":"tests-uplnk-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uportlnk-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uplnk-vcr0003","extDomain":"securitygeek.io","extDomainName":"-securitygeek-io.b.zscalerportal.net"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5f1e4afe-95cc-9006-bd03-454f3fa12b9a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4891'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-uportlnk-vcr0001", "description": "tests-uportlnk-vcr0002",
      "enabled": true, "link": "server1.example.com", "userNotificationEnabled": true,
      "iconText": "", "protocol": "https://", "userPortals": [{"id": "216196257331404683"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink
  response:
    body:
      string: '{"id":"216196257331404684","modifiedTime":"1773369941","creationTime":"1773369941","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","link":"server1.example.com","protocol":"https://","userPortals":[{"id":"216196257331404683","enabled":true}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3273cb08-8864-9cc2-97c4-0e6fdabdc5bb
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4890'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink/216196257331404684
  response:
    body:
      string: '{"id":"216196257331404684","modifiedTime":"1773369941","creationTime":"1773369941","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","link":"server1.example.com","protocol":"https://","userPortals":[{"id":"216196257331404683","modifiedTime":"1773369941","creationTime":"1773369941","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","domain":"tests-uplnk-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uportlnk-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uplnk-vcr0003"}],"microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 630802cc-ad3b-995b-bd8b-063e09409fa2
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4889'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-uportlnk-vcr0001 Updated", "enabled": true, "link": "server1.example.com",
      "userNotificationEnabled": true, "iconText": "", "protocol": "https://", "userPortalIds":
      ["216196257331404683"], "userPortals": [{"id": "216196257331404683"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink/216196257331404684
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 76b861b6-9751-9705-b8d0-46d660a759dd
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4888'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"id":"216196257331404684","modifiedTime":"1773369941","creationTime":"1773369941","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001
        Updated","enabled":true,"link":"server1.example.com","protocol":"https://","userPortals":[{"id":"216196257331404683","modifiedTime":"1773369941","creationTime":"1773369941","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","domain":"tests-uplnk-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uportlnk-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uplnk-vcr0003"}],"microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 339b75bc-24dc-9b0f-bdcc-2c220924721f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4886'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331404683
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c391040c-ec75-949c-8727-1ce55a5317bc
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4884'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 204
      message: No Content
version: 1
