interactions:
- request:
    body: '{"name": "tests-praap-vcr0001", "description": "tests-praap-vcr0002", "enabled":
      true, "latitude": "37.33874", "longitude": "-121.8852525", "location": "San
      Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331404687","modifiedTime":"1773370054","creationTime":"1773370054","modifiedBy":"216196257331372705","name":"tests-praap-vcr0001","enabled":true,"description":"tests-praap-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 36dc4806-0f61-9094-808f-82247fd6543f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '26'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-praap-vcr0003", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331404688","modifiedTime":"1773370056","creationTime":"1773370056","modifiedBy":"216196257331372705","name":"tests-praap-vcr0003","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0","readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d98d8c02-81d6-93b2-9b63-b9be3d7a4150
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '24'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-praap-vcr0004", "description": "tests-praap-vcr0005", "dynamicDiscovery":
      true, "appConnectorGroups": [{"id": "216196257331404687"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331404689","name":"tests-praap-vcr0004","description":"tests-praap-vcr0005","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331404687","name":"tests-praap-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4edfb41b-b9d0-95ff-89ee-dd23cad64bbd
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '22'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-praap-vcr0006.acme.com", "description": "tests-praap-vcr0006.acme.com",
      "enabled": true, "domainNames": ["tests-praap-vcr0006.acme.com"], "segmentGroupId":
      "216196257331404688", "serverGroups": [{"id": "216196257331404689"}], "tcpPortRanges":
      ["9000", "9000"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application
  response:
    body:
      string: '{"id":"216196257331404690","domainNames":["tests-praap-vcr0006.acme.com"],"name":"tests-praap-vcr0006.acme.com","description":"tests-praap-vcr0006.acme.com","serverGroups":[{"id":"216196257331404689","enabled":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":false}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9000","9000"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"segmentGroupId":"216196257331404688"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e09b4a38-2dfd-9fd0-aba3-eb7379a7b78c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 201
      message: Created
- request:
    body: '{"emailIds": ["carol.kirk@securitygeek.io"], "status": "ACTIVE", "workingHours":
      {"startTimeCron": "0 0 16 ? * SUN,MON,TUE,WED,THU,FRI,SAT", "endTimeCron": "0
      0 0 ? * MON,TUE,WED,THU,FRI,SAT,SUN", "startTime": "09:00", "endTime": "17:00",
      "days": ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"], "timeZone": "America/Vancouver"},
      "startTime": 1773370054, "endTime": 1804819654, "applications": [{"id": "216196257331404690"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/approval
  response:
    body:
      string: '{"id":"20472","modifiedTime":"1773370063","creationTime":"1773370063","modifiedBy":"216196257331372705","startTime":"1773370054","endTime":"1804819654","workingHours":{"startTimeCron":"0
        0 16 ? * SUN,MON,TUE,WED,THU,FRI,SAT","endTimeCron":"0 0 0 ? * MON,TUE,WED,THU,FRI,SAT,SUN","startTime":"09:00","endTime":"17:00","days":["SUN","MON","TUE","WED","THU","FRI","SAT"],"timeZone":"America/Vancouver"},"status":"ACTIVE","emailIds":["REDACTED"],"applications":[{"id":"216196257331404690","icmpAccessType":"NONE","bypassType":"NEVER","configSpace":"DEFAULT","cnameConfig":"NOFLATTEN","ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","useInDrMode":false,"matchStyle":"EXCLUSIVE","selectConnectorCloseToApp":false,"weightedLoadBalancing":false,"extranetEnabled":false,"adpEnabled":false,"apiProtectionEnabled":false,"autoAppProtectEnabled":false,"fqdnDnsCheck":false,"policyStyle":"NONE"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c9221e49-a2bd-93aa-8345-1d152648bcb6
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/approval
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"id":"20472","modifiedTime":"1773370063","creationTime":"1773370063","modifiedBy":"216196257331372705","startTime":"1773370054","endTime":"1804819654","workingHours":{"startTimeCron":"0
        0 16 ? * SUN,MON,TUE,WED,THU,FRI,SAT","endTimeCron":"0 0 0 ? * MON,TUE,WED,THU,FRI,SAT,SUN","startTime":"09:00","endTime":"17:00","days":["SUN","MON","TUE","WED","THU","FRI","SAT"],"timeZone":"America/Vancouver"},"status":"ACTIVE","emailIds":["REDACTED"],"applications":[{"id":"216196257331404690","modifiedTime":"1773370061","creationTime":"1773370061","modifiedBy":"216196257331372705","name":"tests-praap-vcr0006.acme.com","domainName":"tests-praap-vcr0006.acme.com","domainNames":["tests-praap-vcr0006.acme.com"],"description":"tests-praap-vcr0006.acme.com","enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9000","9000"],"doubleEncrypt":false,"healthCheckType":"DEFAULT","icmpAccessType":"NONE","bypassType":"NEVER","configSpace":"DEFAULT","cnameConfig":"NOFLATTEN","ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","useInDrMode":false,"matchStyle":"EXCLUSIVE","selectConnectorCloseToApp":false,"weightedLoadBalancing":false,"extranetEnabled":false,"adpEnabled":false,"apiProtectionEnabled":false,"autoAppProtectEnabled":false,"fqdnDnsCheck":false,"policyStyle":"NONE","tcpPortRange":[{"from":"9000","to":"9000"}]}]}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d44b1eca-041f-9f07-a7e7-cca7541e3a40
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '17'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/approval/20472
  response:
    body:
      string: '{"id":"20472","modifiedTime":"1773370063","creationTime":"1773370063","modifiedBy":"216196257331372705","startTime":"1773370054","endTime":"1804819654","workingHours":{"startTimeCron":"0
        0 16 ? * SUN,MON,TUE,WED,THU,FRI,SAT","endTimeCron":"0 0 0 ? [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331404690?forceDelete=true
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 213b3e44-22e0-9846-9351-2532b931dddd
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331404689
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a8c57482-cfc9-997b-9302-b53e5dfb233f
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4979'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331404688
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f59c981a-6c81-99aa-a758-5d4e65d7d252
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4978'
      x-ratelimit-reset:
      - '8'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331404687
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6eca9987-08a5-96f4-b8bc-cd3a157e0294
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4977'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - 8ced442c-b1c8-4b50-9c71-4905c419012a
    status:
      code: 204
      message: No Content
version: 1
