interactions:
- request:
    body: '{"name": "tests-approtcc-vcr0001", "description": "tests-approtcc-vcr0001",
      "action": "PASS", "defaultAction": "PASS", "paranoiaLevel": "1", "severity":
      "CRITICAL", "type": "RESPONSE", "rules": [{"type": "RESPONSE_HEADERS", "conditions":
      [{"lhs": "SIZE", "op": "GE", "rhs": "1000"}], "names": ["test"]}, {"type": "RESPONSE_BODY",
      "conditions": [{"lhs": "SIZE", "op": "GE", "rhs": "1000"}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom
  response:
    body:
      string: '{"id":"216196257331404635","modifiedTime":"1773369871","creationTime":"1773369871","modifiedBy":"216196257331372705","name":"tests-approtcc-vcr0001","description":"tests-approtcc-vcr0001","severity":"CRITICAL","controlNumber":"4500001","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","action":"PASS","protocolType":"HTTP","type":"RESPONSE","controlRuleJson":"[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]","rules":[{"type":"RESPONSE_HEADERS","names":["test"],"conditions":[{"lhs":"SIZE","op":"GE","rhs":"1000"}]},{"type":"RESPONSE_BODY","conditions":[{"lhs":"SIZE","op":"GE","rhs":"1000"}]}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 97010567-e298-9cf6-a398-2c96bfb905b1
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4867'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom/216196257331404635
  response:
    body:
      string: '{"id":"216196257331404635","modifiedTime":"1773369871","creationTime":"1773369871","modifiedBy":"216196257331372705","name":"tests-approtcc-vcr0001","description":"tests-approtcc-vcr0001","severity":"CRITICAL","controlNumber":"4500001","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","protocolType":"HTTP","type":"RESPONSE","controlRuleJson":"[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fa8f610b-2dac-9b81-bfba-022bf5eeb44c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4866'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"action": null, "actionValue": null, "associatedInspectionProfileNames":
      [], "controlException": null, "controlNumber": "4500001", "controlRuleJson":
      "[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]",
      "controlType": null, "creationTime": "1773369871", "defaultAction": "PASS",
      "defaultActionValue": null, "description": "tests-approtcc-vcr0001", "id": "216196257331404635",
      "modifiedBy": "216196257331372705", "modifiedTime": "1773369871", "name": "tests-approtcc-vcr0001
      Updated", "paranoiaLevel": "1", "protocolType": "HTTP", "rules": [], "severity":
      "CRITICAL", "type": "RESPONSE", "version": "1.0"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom/216196257331404635
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7c9d1d95-73e1-9939-9fbe-8642611eff35
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4864'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom
  response:
    body:
      string: '{"totalPages":"1","currentCount":"2","totalCount":"2","list":[{"id":"216196257331381968","modifiedTime":"1730769864","creationTime":"1730769864","modifiedBy":"216196257331281921","name":"Example_App_Protection_Custom_Control01","description":"Example_App_Protection_Custom_Control01","severity":"CRITICAL","controlNumber":"4500000","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","protocolType":"HTTP","type":"REQUEST","controlRuleJson":"[{\"type\":\"REQUEST_HEADERS\",\"names\":[\"test2\",\"test3\",\"test1\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\[...]
[...]
