interactions:
- request:
    body: '{"name": "tests-srv-vcr0001", "description": "tests-srv-vcr0002", "enabled":
      true, "address": "192.168.200.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server
  response:
    body:
      string: '{"id":"216196257331404642","modifiedTime":"1773369886","creationTime":"1773369886","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001","address":"192.168.200.1","enabled":true,"description":"tests-srv-vcr0002","configSpace":"DEFAULT"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9803d9d2-ec95-9b24-acc8-d634f3331162
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4832'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/216196257331404642
  response:
    body:
      string: '{"id":"216196257331404642","modifiedTime":"1773369886","creationTime":"1773369886","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001","address":"192.168.200.1","enabled":true,"description":"tests-srv-vcr0002","configSpace":"DEFAULT"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 53cdc1ca-ccd8-95f5-89e8-8cdd1dd6637a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4831'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331388877","modifiedTime":"1762497160","creationTime":"1762497160","modifiedBy":"216196257331372705","name":"ExampleServer01","address":"192.168.1.1","enabled":true,"description":"ExampleServer01","configSpace":"DEFAULT"},{"id":"216196257331389970","modifiedTime":"1763017548","creationTime":"1763017548","modifiedBy":"216196257331372705","name":"ExampleServer02","address":"192.168.1.1","enabled":true,"description":"ExampleServer02","configSpace":"DEFAULT"},{"id":"216196257331404642","modifiedTime":"1773369886","creationTime":"1773369886","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001
        Updated","address":"192.168.200.1","enabled":true,"configSpace":"DEFAULT"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6b81dc61-e7d3-9ffd-80e1-4235bbbd104a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4828'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/summary
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331388877","name":"ExampleServer01","enabled":true},{"id":"216196257331389970","name":"ExampleServer02","enabled":true},{"id":"216196257331404642","name":"tests-srv-vcr0001
        Updated","enabled":true}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0ef738f7-abab-903f-a012-1a3aa69bebee
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4827'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/216196257331404642
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8b1b2954-1d0e-9bf8-b613-3dbadb4c4209
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4826'
      x-ratelimit-reset:
      - '13'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
version: 1
