interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/isolation/profiles
  response:
    body:
      string: '{"totalPages":"1","currentCount":"6","totalCount":"6","list":[{"id":"216196257331370022","creationTime":"1697861444","modifiedBy":"216196257331282070","name":"BD   SA   Profile","description":"BD   SA   Profile","enabled":true,"isolationTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","isolationProfileId":"dff035b0-ee81-42dd-ae35-1f988d202745","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/dff035b0-ee81-42dd-ae35-1f988d202745/zpa/render"},{"id":"216196257331370024","creationTime":"1697861444","modifiedBy":"216196257331282070","name":"BD  SA
        Profile","description":"BD  SA Profile","enabled":true,"isolationTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","isolationProfileId":"0ed80569-fb12-479e-910f-cbe7cf57e8c4","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/0ed80569-fb12-479e-910f-cbe7cf57e8c4/zpa/render"},{"id":"216196257331370023","creationTime":"1697861444","modifiedBy":"216196257331282070","name":"BD
        SA Profile","description":"BD SA Profile","enabled":true,"isolationTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","isolationProfileId":"e72dd090-9ea8-47ca-8ff0-cab348d56c66","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/e72dd090-9ea8-47ca-8ff0-cab348d56c66/zpa/render"},{"id":"216196257331286656","modifiedTime":"1696830629","creationTime":"1632023548","modifiedBy":"216196257331281921","name":"BD_SA_Profile1","description":"BD_SA_Profile1","enabled":true,"isolationTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","isolationProfileId":"0068dde3-ba14-453c-a481-201c5a3004d1","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/0068dde3-ba14-453c-a481-201c5a3004d1/zpa/render"},{"id":"216196257331369954","creationTime":"1696880734","modifiedBy":"216196257331281921","name":"BD_SA_Profile2","description":"BD_SA_Profile2","enabled":true,"isolationTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","isolationProfileId":"af04f088-c48d-4777-ad81-4f29ed523f81","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/af04f088-c48d-4777-ad81-4f29ed523f81/zpa/render"},{"id":"216196257331390285","creationTime":"1763085582","modifiedBy":"216196257331372705","name":"Example200","description":"Example200","enabled":true,"isolationTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","isolationProfileId":"233a8c46-093e-4711-9f71-cb81bdfe21ab","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/233a8c46-093e-4711-9f71-cb81bdfe21ab/zpa/render"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c0e84cf5-ba64-90ea-b186-f775a60098f2
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4804'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/cbiconfig/cbi/api/customers/216196257331281920/zpaprofiles
  response:
    body:
      string: '[{"id":"216196257331286656","modifiedTime":"1696830629","creationTime":"1632023548","modifiedBy":"216196257331281921","name":"BD_SA_Profile1","cbiTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","cbiProfileId":"0068dde3-ba14-453c-a481-201c5a3004d1","description":"BD_SA_Profile1","cbiUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/0068dde3-ba14-453c-a481-201c5a3004d1/zpa/render","enabled":true},{"id":"216196257331370024","creationTime":"1697861444","modifiedBy":"216196257331282070","name":"BD  SA
        Profile","cbiTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","cbiProfileId":"0ed80569-fb12-479e-910f-cbe7cf57e8c4","description":"BD  SA
        Profile","cbiUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/0ed80569-fb12-479e-910f-c[...]
