interactions:
- request:
    body: '{"name": "tests-uport-vcr0001", "description": "tests-uport-vcr0002", "enabled":
      true, "userNotification": "tests-uport-vcr0002", "userNotificationEnabled":
      true, "managedByZs": true, "domain": "securitygeek.io", "extLabel": "tests-uport-vcr0003",
      "extDomainName": "-securitygeek-io.b.zscalerportal.net", "extDomain": "securitygeek.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"id":"216196257331395930","modifiedTime":"1764977026","creationTime":"1764977026","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"-securitygeek-io.b.zscalerportal.net"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 27aca795-cb7f-9d16-9a1a-0cf42af543b6
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4852'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331395930
  response:
    body:
      string: '{"id":"216196257331395930","modifiedTime":"1764977026","creationTime":"1764977026","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"securitygeek-io.p.zscalerportal.net","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e205b296-2d10-98aa-b0bc-ff6f7c7e3f36
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4851'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"id":"216196257331395930","modifiedTime":"1764977026","creationTime":"1764977026","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001
        Updated","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"securitygeek-io.p.zscalerportal.net","microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 77778502-5a07-99a3-b56c-b9f61cee769a
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4848'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331395930
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8cb647c8-ced5-93a3-bee7-c4eb16c616ee
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4847'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
