interactions:
- request:
    body: '{"name": "tests-acg-vcr0001", "description": "tests-acg-vcr0002", "enabled":
      true, "latitude": "37.33874", "longitude": "-121.8852525", "location": "San
      Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: "{\n \"detail\": \"unauthorized\",\n \"type\": \"\",\n \"title\": \"\",\n
        \"status\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-oneapi-api-category:
      - public
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 98977d3b-d3d3-9dc1-af09-18e07b93e979
      x-oneapi-version:
      - 109.1.146
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-acg-vcr0001", "description": "tests-acg-vcr0002", "enabled":
      true, "latitude": "37.33874", "longitude": "-121.8852525", "location": "San
      Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331404706","modifiedTime":"1773370832","creationTime":"1773370832","modifiedBy":"216196257331372705","name":"tests-acg-vcr0001","enabled":true,"description":"tests-acg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ddde8042-df85-9f93-9c3e-3c8da9b51bce
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 533ce3bb-0c3d-4601-b795-824c40ab8a0e
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331404706
  response:
    body:
      string: '{"id":"216196257331404706","modifiedTime":"1773370832","creationTime":"1773370832","modifiedBy":"216196257331372705","name":"tests-acg-vcr0001","enabled":true,"description":"tests-acg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradePriority":"WEEK","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","version":{"version_profile_gid":"0","versionProfileName":"Default","sargeVersion":"26.52.3","childVersion":"26.52.3","latestPlatform":"el9"},"location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"microtenantName":"Default","lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4d609541-e8f4-924d-9b39-f07bea4501b7
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '28'
      x-transaction-id:
      - 533ce3bb-0c3d-4601-b795-824c40ab8a0e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"totalPages":"1","totalCount":"4","list":[{"id":"216196257331370194","modifiedTime":"1745905872","creationTime":"1698330410","modifiedBy":"216196257331281921","name":"RHEL9
        - Ottawa ZPA PSE - 1","enabled":true,"description":"Example100","versionProfileId":"2","overrideVersionProfile":true,"versionProfileName":"New
        Release","upgradePriority":"WEEK","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","version":{"version_profile_gid":"2","versionProfileName":"New
        Release","sargeV[...]
[...]
