interactions:
- request:
    body: '{"name": "John-pracred-vcr0001", "description": "tests-pracred-vcr0002",
      "credentialType": "PASSWORD", "userDomain": "securitygeek.io", "password":"REDACTED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential
  response:
    body:
      string: '{"id":"16711","modifiedTime":"1764191921","creationTime":"1764191921","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1764191921","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1b642d5f-331d-9cca-9bb4-de154aeebaa1
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4911'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential
  response:
    body:
      string: '{"totalPages":"1","totalCount":"7","list":[{"id":"16711","modifiedTime":"1764191921","creationTime":"1764191921","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1764191921","microtenantName":"Default"},{"id":"14669","modifiedTime":"1744391586","creationTime":"1744391586","modifiedBy":"216196257331281921","name":"ngmgmt/a000","description":"ngmgmt/a000","userName":"ngmgmt/a000","credentialType":"USERNAME_PASSWORD","lastCredentialResetTime":"1744391586","microtenantName":"Default"},{"id":"14671","modifiedTime":"1744391597","creationTime":"1744391597","modifiedBy":"216196257331281921","name":"ngmgmt/a001","description":"ngmgmt/a001","userName":"ngmgmt/a001","credentialType":"USERNAME_PASSWORD","lastCredentialResetTime":"1744391597","microtenantName":"Default"},{"id":"14673","modifiedTime":"1744391608","creationTime":"1744391608","modifiedBy":"21619625733128[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential/16711
  response:
    body:
      string: '{"id":"16711","modifiedTime":"1764191921","creationTime":"1764191921","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1764191921","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 958bae8e-3228-9714-bd6f-ebb2aba28bcc
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4909'
      x-ratelimit-reset:
      - '19'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential/16711
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 431ac471-2a1c-9be5-96eb-29b25aa116b0
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4906'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
