interactions:
- request:
    body: '{"name": "tests-uportlnk-vcr0001", "description": "tests-uportlnk-vcr0002",
      "enabled": true, "userNotification": "tests-uportlnk-vcr0002", "userNotificationEnabled":
      true, "managedByZs": true, "domain": "securitygeek.io", "extLabel": "tests-uplnk-vcr0003",
      "extDomainName": "-securitygeek-io.b.zscalerportal.net", "extDomain": "securitygeek.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"id":"216196257331394590","modifiedTime":"1764191934","creationTime":"1764191934","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","domain":"tests-uplnk-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uportlnk-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uplnk-vcr0003","extDomain":"securitygeek.io","extDomainName":"-securitygeek-io.b.zscalerportal.net"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1d406ccf-8969-98c6-bc68-7f292b3c9457
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4840'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-uportlnk-vcr0001", "description": "tests-uportlnk-vcr0002",
      "enabled": true, "link": "server1.example.com", "userNotificationEnabled": true,
      "iconText": "", "protocol": "https://", "userPortals": [{"id": "216196257331394590"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink
  response:
    body:
      string: '{"id":"216196257331394591","modifiedTime":"1764191934","creationTime":"1764191934","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","link":"server1.example.com","protocol":"https://","userPortals":[{"id":"216196257331394590","enabled":true}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - da9d3373-74c4-9cb2-b70a-01c4530a1979
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4839'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink/216196257331394591
  response:
    body:
      string: '{"id":"216196257331394591","modifiedTime":"1764191934","creationTime":"1764191934","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","link":"server1.example.com","protocol":"https://","userPortals":[{"id":"216196257331394590","modifiedTime":"1764191934","creationTime":"1764191934","modifiedBy":"216196257331372705","name":"tests-uportlnk-vcr0001","enabled":true,"description":"tests-uportlnk-vcr0002","domain":"tests-uplnk-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uportlnk-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uplnk-vcr0003"}],"microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2bb260b0-6518-9df1-ad2a-f93513a2cc1b
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4838'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-uportlnk-vcr0001 Updated", "enabled": true, "link": "server1.example.com",
      "userNotificationEnabled": true, "iconText": "", "protocol": "https://", "userPortalIds":
      ["216196257331394590"], "userPortals": [{"id": "216196257331394590"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink/216196257331394591
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - dd5236ec-d225-9595-a108-4be8c1099ecc
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4837'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortalLink
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"id":"216196257331387234","modifiedTime":"1761677744","creationTime":"1761677744","modifiedBy":"216196257331372702","name":"app2.securitygeek.io","enabled":true,"link":"app2.securitygeek.io","userPortals":[{"id":"216196257331387233","modifiedTime":"1761677728","creationTime":"1761677728","modifiedBy":"216196257331372702","name":"portal01","enabled":true,"description":"portal01","domain":"portal01-securitygeek-io.p.zscalerportal.net","userNotification":"portal01","userNotificationEnabled":true,[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331394590
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 032941ec-92ac-9231-9e43-b00e2b9c2bac
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4833'
      x-ratelimit-reset:
      - '5'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
