interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v2/admin/customers/216196257331281920/posture
  response:
    body:
      string: '{"totalPages":"1","totalCount":"14","list":[{"id":"216196257331285223","modifiedTime":"1631571278","creationTime":"1631571278","modifiedBy":"72057594037928115","name":"CrowdStrike_ZPA_Pre-ZTA
        (zscalerthree.net)","postureUdid":"d0b05ecf-b36e-4b28-ab83-f8665a32fd73","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalerthree"},{"id":"216196257331285221","modifiedTime":"1631571230","creationTime":"1631571230","modifiedBy":"72057594037928115","name":"CrowdStrike_ZPA_ZTA_40
        (zscalerthree.net)","postureUdid":"13ba3d97-aefb-4acc-9e54-6cc230dee4a5","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalerthree"},{"id":"216196257331285222","modifiedTime":"1631571253","creationTime":"1631571253","modifiedBy":"72057594037928115","name":"Cr[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/posture/216196257331285223
  response:
    body:
      string: '{"id":"216196257331285223","modifiedTime":"1631571278","creationTime":"1631571278","modifiedBy":"72057594037928115","name":"CrowdStrike_ZPA_Pre-ZTA
        (zscalerthree.net)","postureUdid":"d0b05ecf-b36e-4b28-ab83-f8665a32fd73","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalerthree"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1fe5af5a-1735-9662-975e-0cd7b343b3e6
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4948'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
version: 1
