interactions:
- request:
    body: '{"name": "tests-srvg-vcr0001", "description": "tests-srvg-vcr0002", "enabled":
      true, "latitude": "37.33874", "longitude": "-121.8852525", "location": "San
      Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331394586","modifiedTime":"1764191930","creationTime":"1764191930","modifiedBy":"216196257331372705","name":"tests-srvg-vcr0001","enabled":true,"description":"tests-srvg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cef692b8-17ef-96a1-8157-91902fe52a67
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4863'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-srvg-vcr0001", "description": "tests-srvg-vcr0002", "dynamicDiscovery":
      true, "appConnectorGroups": [{"id": "216196257331394586"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331394587","name":"tests-srvg-vcr0001","description":"tests-srvg-vcr0002","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331394586","name":"tests-srvg-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a9d3fcec-f4ae-91d5-9191-6c11d39cc035
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4862'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331394587
  response:
    body:
      string: '{"modifiedTime":"1764191930","creationTime":"1764191930","modifiedBy":"216196257331372705","id":"216196257331394587","enabled":false,"name":"tests-srvg-vcr0001","description":"tests-srvg-vcr0002","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"readOnly":false,"zscalerManaged":false,"microtenantName":"Default","dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331394586","modifiedTime":"1764191930","creationTime":"1764191930","modifiedBy":"216196257331372705","name":"tests-srvg-vcr0001","enabled":true,"description":"tests-srvg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"location":"San
        Jose, CA, USA","dnsQueryType":"IPV4_IPV6","cityCountry":"San Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 39ad3662-a585-92f0-9e93-ad2c3a01858a
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4861'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "216196257331394587", "modifiedTime": "1764191930", "creationTime":
      "1764191930", "modifiedBy": "216196257331372705", "enabled": false, "name":
      "tests-srvg-vcr0001 Updated", "description": "tests-srvg-vcr0002", "ipAnchored":
      false, "configSpace": "DEFAULT", "weight": null, "extranetEnabled": false, "microtenantName":
      "Default", "extranetDTO": null, "readOnly": false, "restrictionType": null,
      "zscalerManaged": false, "dynamicDiscovery": true, "applications": [], "appConnectorGroups":
      [{"id": "216196257331394586", "ipAcl": [], "modifiedTime": "1764191930", "creationTime":
      "1764191930", "modifiedBy": "216196257331372705", "name": "tests-srvg-vcr0001",
      "enabled": true, "description": "tests-srvg-vcr0002", "versionProfileId": "0",
      "overrideVersionProfile": true, "versionProfileName": null, "upgradePriority":
      null, "versionProfileVisibilityScope": null, "upgradeTimeInSecs": null, "upgradeDay":
      null, "location": "San Jose, CA, USA", "latitude": null, "longitude": null,
      "dnsQueryType": "IPV4_IPV6", "connectorGroupType": "APP", "cityCountry": "San
      Jose, US", "countryCode": "US", "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true, "praEnabled": true, "useInDrMode": false,
      "wafDisabled": false, "microtenantId": null, "microtenantName": null, "siteId":
      null, "siteName": null, "lssAppConnectorGroup": false, "readOnly": null, "restrictionType":
      null, "zscalerManaged": null, "dcHostingInfo": null, "serverGroups": []}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331394587
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7b8b5bce-f51d-9301-9929-aae1b07c48fa
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4859'
      x-ratelimit-reset:
      - '10'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"modifiedTime":"1734772058","creationTime":"1698164996","modifiedBy":"216196257331372702","id":"216196257331370169","enabled":true,"name":"Example100","description":"Example100
        test","applications":[{"id":"216196257331370170","name":"app09","enabled":true},{"id":"216196257331370171","name":"app04","enabled":true},{"id":"216196257331370172","name":"app06","enabled":true},{"id":"216196257331370175","name":"app11","enabled":true},{"id":"216196257331370177","name":"app10","enabled":true},{[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331394586
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4aa719f0-746a-9a66-9de9-91994172504b
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4855'
      x-ratelimit-reset:
      - '9'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
