interactions:
- request:
    body: '{"name": "tests-approtcc-vcr0001", "description": "tests-approtcc-vcr0001",
      "action": "PASS", "defaultAction": "PASS", "paranoiaLevel": "1", "severity":
      "CRITICAL", "type": "RESPONSE", "rules": [{"type": "RESPONSE_HEADERS", "conditions":
      [{"lhs": "SIZE", "op": "GE", "rhs": "1000"}], "names": ["test"]}, {"type": "RESPONSE_BODY",
      "conditions": [{"lhs": "SIZE", "op": "GE", "rhs": "1000"}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom
  response:
    body:
      string: '{"id":"216196257331395891","modifiedTime":"1764976968","creationTime":"1764976968","modifiedBy":"216196257331372705","name":"tests-approtcc-vcr0001","description":"tests-approtcc-vcr0001","severity":"CRITICAL","controlNumber":"4500001","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","action":"PASS","protocolType":"HTTP","type":"RESPONSE","controlRuleJson":"[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]","rules":[{"type":"RESPONSE_HEADERS","names":["test"],"conditions":[{"lhs":"SIZE","op":"GE","rhs":"1000"}]},{"type":"RESPONSE_BODY","conditions":[{"lhs":"SIZE","op":"GE","rhs":"1000"}]}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b7de5028-14e1-972b-8c78-6bf77fe588e1
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4848'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom/216196257331395891
  response:
    body:
      string: '{"id":"216196257331395891","modifiedTime":"1764976968","creationTime":"1764976968","modifiedBy":"216196257331372705","name":"tests-approtcc-vcr0001","description":"tests-approtcc-vcr0001","severity":"CRITICAL","controlNumber":"4500001","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","protocolType":"HTTP","type":"RESPONSE","controlRuleJson":"[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 47e72b9f-122d-9b62-91c9-71cfe96c82ad
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4847'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"action": null, "actionValue": null, "associatedInspectionProfileNames":
      [], "controlException": null, "controlNumber": "4500001", "controlRuleJson":
      "[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]",
      "controlType": null, "creationTime": "1764976968", "defaultAction": "PASS",
      "defaultActionValue": null, "description": "tests-approtcc-vcr0001", "id": "216196257331395891",
      "modifiedBy": "216196257331372705", "modifiedTime": "1764976968", "name": "tests-approtcc-vcr0001
      Updated", "paranoiaLevel": "1", "protocolType": "HTTP", "rules": [], "severity":
      "CRITICAL", "type": "RESPONSE", "version": "1.0"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom/216196257331395891
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a20bc720-9cd0-9167-b3f5-630dad2a44d9
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4845'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom
  response:
    body:
      string: '{"totalPages":"1","currentCount":"2","totalCount":"2","list":[{"id":"216196257331381968","modifiedTime":"1730769864","creationTime":"1730769864","modifiedBy":"216196257331281921","name":"Example_App_Protection_Custom_Control01","description":"Example_App_Protection_Custom_Control01","severity":"CRITICAL","controlNumber":"4500000","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","protocolType":"HTTP","type":"REQUEST","controlRuleJson":"[{\"type\":\"REQUEST_HEADERS\",\"names\":[\"test2\",\"test3\",\"test1\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\[...]
[...]
