interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v2/admin/customers/216196257331281920/posture
  response:
    body:
      string: '{"totalPages":"1","totalCount":"14","list":[{"id":"216196257331285223","modifiedTime":"1631571278","creationTime":"1631571278","modifiedBy":"72057594037928115","name":"CrowdStrike_ZPA_Pre-ZTA
        (zscalerthree.net)","postureUdid":"d0b05ecf-b36e-4b28-ab83-f8665a32fd73","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalerthree"},{"id":"216196257331285221","modifiedTime":"1631571230","creationTime":"1631571230","modifiedBy":"72057594037928115","name":"CrowdStrike_ZPA_ZTA_40
        (zscalerthree.net)","postureUdid":"13ba3d97-aefb-4acc-9e54-6cc230dee4a5","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalerthree"},{"id":"216196257331285222","modifiedTime":"1631571253","creationTime":"1631571253","modifiedBy":"72057594037928115","name":"Cr[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/posture/216196257331285223
  response:
    body:
      string: '{"id":"216196257331285223","modifiedTime":"1631571278","creationTime":"1631571278","modifiedBy":"72057594037928115","name":"CrowdStrike_ZPA_Pre-ZTA
        (zscalerthree.net)","postureUdid":"d0b05ecf-b36e-4b28-ab83-f8665a32fd73","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalerthree"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 943a3a4e-1419-9a1d-b915-304ad16f6de7
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4942'
      x-ratelimit-reset:
      - '44'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
version: 1
