interactions:
- request:
    body: '{"name": "tests-sg-vcr0001", "description": "tests-sg-vcr0002", "enabled":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331395926","modifiedTime":"1764977022","creationTime":"1764977022","modifiedBy":"216196257331372705","name":"tests-sg-vcr0001","description":"tests-sg-vcr0002","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6aefd28e-b577-9ef0-98e4-60dce52aa933
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4875'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331395926
  response:
    body:
      string: '{"id":"216196257331395926","modifiedTime":"1764977022","creationTime":"1764977022","modifiedBy":"216196257331372705","name":"tests-sg-vcr0001","description":"tests-sg-vcr0002","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0","readOnly":false,"zscalerManaged":false,"microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0adcde5b-a829-90aa-9198-1594fa39f8d8
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4874'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"totalPages":"1","totalCount":"4","list":[{"id":"216196257331370167","modifiedTime":"1747063244","modifiedBy":"216196257331281921","name":"Example100","description":"Example100
        test","enabled":true,"applications":[{"id":"216196257331370170","modifiedTime":"1759942784","creationTime":"1698164996","modifiedBy":"216196257331372705","name":"app09","domainName":"app9.securitygeek.io","domainNames":["app9.securitygeek.io"],"description":"app09.securitygeek.io","enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["1009","1009"],"doubleEncrypt":false,"healthCheckType":"DEFAULT","icmpAccessType":"NONE","bypassType":"NEVER","configSpace":"DEFAULT","ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","useInDrMode":false,"matchStyle":"EXCLUSIVE","selectConnectorCloseToApp":false,"weightedLoadBalancing":false,"extranetEnabled":false,"adpEnabled":false,"apiProtectionEnabled":false,"autoAppProtectEnabled":false,"fqdnDnsCheck":false,"policyStyle":"NONE","tcpPortRange":[{"from":"1009","to":"1009"}]},{"id":"216196257331370171","modifiedTime":"1759942783","creationTime":"1698164996","modifiedBy":"216196257331372705","name":"app04","domainName":"app4.securitygeek.io","domainNames":["app4.securitygeek.io"],"description":"app04.securitygeek.io","enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["1004","1004"],"doubleEncrypt":false,"healthCheckType":"DEFAULT","icmpAccessType":"NONE","bypassType":"NEVER","configSpace":"DEFAULT","ipAnchored":false,"bypassOnReauth":false,"inspectT[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331395926
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7f4627f9-f0fe-965b-9d35-5a8d55bb69bc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4870'
      x-ratelimit-reset:
      - '18'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
