interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/actionTypes
  response:
    body:
      string: '["PASS","BLOCK","REDIRECT","ALLOW"]'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d5242df1-5e95-9784-b25a-eeb898027b9f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4841'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/severityTypes
  response:
    body:
      string: '["CRITICAL","ERROR","WARNING","INFO"]'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 42a9aa85-1cca-9b10-9434-d3234b76c750
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4840'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/controlTypes
  response:
    body:
      string: '["WEBSOCKET_PREDEFINED","WEBSOCKET_CUSTOM","THREATLABZ","CUSTOM","PREDEFINED","API_PREDEFINED","ADP_PREDEFINED"]'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 9c0e9eb0-e6eb-9db2-bb6f-f5942a58df61
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4839'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom/httpMethods
  response:
    body:
      string: '["GET","HEAD","POST","OPTIONS","PUT","PATCH","DELETE","CHECKOUT","COPY","LOCK","MERGE","MKACTIVITY","MKCOL","MOVE","PROPFIND","PROPPATCH","UNLOCK","TRACE","CONNECT"]'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8218e7aa-cead-94cd-ac00-0bbaf2b37751
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4838'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/predefined/versions
  response:
    body:
      string: '["OWASP_CRS/4.8.0","OWASP_CRS/3.3.5","OWASP_CRS/3.3.0"]'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0c16b05b-58e9-9162-931e-c81c1b39a910
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4837'
      x-ratelimit-reset:
      - '11'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/predefined?version=OWASP_CRS%2F4.8.0
  response:
    body:
      string: '[{"controlGroup":"Protocol Issues","predefinedInspectionControls":[{"id":"72057594037935359","modifiedTime":"1740244373","creationTime":"1740244373","name":"Failed
        to parse request body","description":"Failed to parse request body","severity":"CRITICAL","controlNumber":"200002","version":"OWASP_CRS/4.8.0","paranoiaLevel":"1","defaultAction":"PASS","controlType":"PREDEFINED","protocolType":"HTTP","controlGroup":"Protocol
        Issues"},{"id":"72057594037935360","modifiedTime":"1740244373","creationTime":"1740244373","name":"Multipart
        request body failed strict validation","description":"Multipart request body
        failed strict validation","severity":"CRITICAL","controlNumber":"200003","version":"OWASP_CRS/4.8.0","paranoiaLevel":"1","defaultAction":"PASS","controlType":"PREDEFINED","protocolType":"HTTP","controlGroup":"Protocol
        Issues"},{"id":"7205759403793536[...]
