interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/cbiconfig/cbi/api/customers/216196257331281920/zpaprofiles
  response:
    body:
      string: '[{"id":"216196257331286656","modifiedTime":"1696830629","creationTime":"1632023548","modifiedBy":"216196257331281921","name":"BD_SA_Profile1","cbiTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","cbiProfileId":"0068dde3-ba14-453c-a481-201c5a3004d1","description":"BD_SA_Profile1","cbiUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/0068dde3-ba14-453c-a481-201c5a3004d1/zpa/render","enabled":true},{"id":"216196257331370024","creationTime":"1697861444","modifiedBy":"216196257331282070","name":"BD  SA
        Profile","cbiTenantId":"ba55848a-36c0-4a09-800f-40660606d5a3","cbiProfileId":"0ed80569-fb12-479e-910f-cbe7cf57e8c4","description":"BD  SA
        Profile","cbiUrl":"https://redirect.isolation.zscaler.com/tenant/americas-se/profile/0ed80569-fb12-479e-910f-cbe7cf57e8c4/zpa/render","enabled":true},{"id":"216196257331390285","creationTime":"1763085582","modifiedBy":"21619625733137270[...]
