interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/machineGroup
  response:
    body:
      string: '{"totalPages":"1","totalCount":"9","list":[{"id":"216196257331291115","modifiedTime":"1726871100","creationTime":"1638488366","modifiedBy":"216196257331281921","name":"BD-MGR01","enabled":true,"description":"BD-MGR01"},{"id":"216196257331374012","modifiedTime":"1726871130","creationTime":"1726871130","modifiedBy":"216196257331281921","name":"BD-MGR02","enabled":true,"description":"BD-MGR02"},{"id":"216196257331374013","modifiedTime":"1726871145","creationTime":"1726871145","modifiedBy":"216196257331281921","name":"BD
        MGR 03","enabled":true,"description":"BD MGR 03"},{"id":"216196257331374014","modifiedTime":"1726871160","creationTime":"1726871160","modifiedBy":"216196257331281921","name":"B[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/machineGroup/216196257331291115
  response:
    body:
      string: '{"id":"216196257331291115","modifiedTime":"1726871100","creationTime":"1638488366","modifiedBy":"216196257331281921","name":"BD-MGR01","enabled":true,"description":"BD-MGR01","readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 92d8e771-d2be-9a22-bea6-2553b98c2683
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4951'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
version: 1
