interactions:
- request:
    body: '{"name": "tests-srvg-vcr0001", "description": "tests-srvg-vcr0002", "enabled":
      true, "latitude": "37.33874", "longitude": "-121.8852525", "location": "San
      Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331404707","modifiedTime":"1773370874","creationTime":"1773370874","modifiedBy":"216196257331372705","name":"tests-srvg-vcr0001","enabled":true,"description":"tests-srvg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b02f7255-648f-9685-884b-d00ed75c7258
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - 533ce3bb-0c3d-4601-b795-824c40ab8a0e
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-srvg-vcr0001", "description": "tests-srvg-vcr0002", "dynamicDiscovery":
      true, "appConnectorGroups": [{"id": "216196257331404707"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331404708","name":"tests-srvg-vcr0001","description":"tests-srvg-vcr0002","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331404707","name":"tests-srvg-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b90aa0f3-7c85-9550-bb81-25b841933f6d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - 533ce3bb-0c3d-4601-b795-824c40ab8a0e
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331404708
  response:
    body:
      string: '{"modifiedTime":"1773370874","creationTime":"1773370874","modifiedBy":"216196257331372705","id":"216196257331404708","enabled":false,"name":"tests-srvg-vcr0001","description":"tests-srvg-vcr0002","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"readOnly":false,"zscalerManaged":false,"microtenantName":"Default","dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331404707","modifiedTime":"1773370874","creationTime":"1773370874","modifiedBy":"216196257331372705","name":"tests-srvg-vcr0001","enabled":true,"description":"tests-srvg-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"location":"San
        Jose, CA, USA","dnsQueryType":"IPV4_IPV6","cityCountry":"San Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cbe0997a-ec3a-9293-a553-dfc23bce83ea
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - 533ce3bb-0c3d-4601-b795-824c40ab8a0e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "216196257331404708", "modifiedTime": "1773370874", "creationTime":
      "1773370874", "modifiedBy": "216196257331372705", "enabled": false, "name":
      "tests-srvg-vcr0001 Updated", "description": "tests-srvg-vcr0002", "ipAnchored":
      false, "configSpace": "DEFAULT", "weight": null, "extranetEnabled": false, "microtenantName":
      "Default", "extranetDTO": null, "readOnly": false, "restrictionType": null,
      "zscalerManaged": false, "dynamicDiscovery": true, "applications": [], "appConnectorGroups":
      [{"id": "216196257331404707", "ipAcl": [], "modifiedTime": "1773370874", "creationTime":
      "1773370874", "modifiedBy": "216196257331372705", "name": "tests-srvg-vcr0001",
      "enabled": true, "description": "tests-srvg-vcr0002", "versionProfileId": "0",
      "overrideVersionProfile": true, "versionProfileName": null, "upgradePriority":
      null, "versionProfileVisibilityScope": null, "upgradeTimeInSecs": null, "upgradeDay":
      null, "location": "San Jose, CA, USA", "latitude": null, "longitude": null,
      "dnsQueryType": "IPV4_IPV6", "connectorGroupType": "APP", "cityCountry": "San
      Jose, US", "countryCode": "US", "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true, "praEnabled": true, "useInDrMode": false,
      "wafDisabled": false, "microtenantId": null, "microtenantName": null, "siteId":
      null, "siteName": null, "lssAppConnectorGroup": false, "readOnly": null, "restrictionType":
      null, "zscalerManaged": null, "dcHostingInfo": null, "serverGroups": []}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331404708
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 24295803-9f32-94e1-aa60-6c0807d1233a
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '46'
      x-transaction-id:
      - 533ce3bb-0c3d-4601-b795-824c40ab8a0e
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"modifiedTime":"1734772058","creationTime":"1698164996","modifiedBy":"216196257331372702","id":"216196257331370169","enabled":true,"name":"Example100","description":"Example100
        test","applications":[{"id":"216196257331370170","name":"app09","enabled":true},{"id":"216196257331370171","name":"app04","enabled":true},{"id":"216196257331370172","name":"app06","enabled":true},{"id":"216196257331370175","name":"app11","enabled":true},{"id":"216196257331370177","name":"app10","enabled":true},{[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331404707
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3d9dae89-c644-9020-b9af-955ffb01b3f8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 533ce3bb-0c3d-4601-b795-824c40ab8a0e
    status:
      code: 204
      message: No Content
version: 1
