interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/policyType/ACCESS_POLICY
  response:
    body:
      string: '{"id":"216196257331281925","modifiedTime":"1764976913","creationTime":"1619672239","modifiedBy":"216196257331372705","name":"Global_Policy","enabled":true,"description":"The
        rules in this policy set are executed first.","policyType":"1","sorted":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 82b69243-0a42-91a9-b191-98e6b1ad1a3b
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4955'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "customMsg":
      null, "ruleOrder": null, "action": "ALLOW", "appConnectorGroups": [], "appServerGroups":
      []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281925/rule
  response:
    body:
      string: '{"id":"216196257331395875","modifiedTime":"1764976945","creationTime":"1764976945","modifiedBy":"216196257331372705","name":"tests-vcr0001","description":"tests-vcr0002","ruleOrder":"1","priority":"1","policyType":"1","operator":"AND","action":"ALLOW","disabled":"0","defaultRule":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 05316cd6-ef07-9147-b5c9-1599bc424136
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4954'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/rules/policyType/ACCESS_POLICY
  response:
    body:
      string: '{"totalPages":"1","totalCount":"5","list":[{"id":"216196257331395875","modifiedTime":"1764976945","creationTime":"1764976945","modifiedBy":"216196257331372705","name":"tests-vcr0001","description":"tests-vcr0002","ruleOrder":"1","priority":"5","policyType":"1","operator":"AND","action":"ALLOW","disabled":"0","extranetEnabled":false,"devicePostureFailureNotificationEnabled":false,"policySetId":"216196257331281925","defaultRule":false,"readOnly":false,"zscalerManaged":false},{"id":"216196257331395876","modifiedTime":"1764976945","creationTime":"1764976945","modifiedBy":"216196257331372705","name":"tests-vcr0003","description":"tests-vcr0004","ruleOrder":"2","priority":"4","policyType":"1","operator":"AND","action":"ALLOW","disabled":"0","extranetEnabled":false,"devicePostureFailureNotificationEnabled":false,"policySetId":"216196257331281925","defaultRule":false,"readOnly":false,"zscalerManaged":false},{"id":"216196257331395877","modifiedTime":"1764976946","cr[...]
[...]
- request:
    body: '["216196257331395879", "216196257331395878", "216196257331395877", "216196257331395876",
      "216196257331395875"]'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281925/reorder
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4d468098-4ed4-9045-898c-5039ac45e81e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4943'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281925/rule/216196257331395875
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4fec8564-8b39-9b3e-8e77-6360f1f0c48e
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4940'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281925/rule/216196257331395879
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f55f2499-a571-99d3-91e7-8664e424df12
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4932'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
