interactions:
- request:
    body: '{"name": "tests-praap-vcr0001", "description": "tests-praap-vcr0002", "enabled":
      true, "latitude": "37.33874", "longitude": "-121.8852525", "location": "San
      Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331395912","modifiedTime":"1764976991","creationTime":"1764976991","modifiedBy":"216196257331372705","name":"tests-praap-vcr0001","enabled":true,"description":"tests-praap-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ecad7a31-5332-913e-95c0-1c68561103c0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4947'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-praap-vcr0003", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331395913","modifiedTime":"1764976993","creationTime":"1764976993","modifiedBy":"216196257331372705","name":"tests-praap-vcr0003","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8ca13f28-5c59-9fd5-b460-055abcf953ad
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4946'
      x-ratelimit-reset:
      - '47'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-praap-vcr0004", "description": "tests-praap-vcr0005", "dynamicDiscovery":
      true, "appConnectorGroups": [{"id": "216196257331395912"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331395914","name":"tests-praap-vcr0004","description":"tests-praap-vcr0005","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331395912","name":"tests-praap-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6fbd03ef-a3b9-98c3-a2e4-35677a534f4f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4945'
      x-ratelimit-reset:
      - '45'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-praap-vcr0006.acme.com", "description": "tests-praap-vcr0006.acme.com",
      "enabled": true, "domainNames": ["tests-praap-vcr0006.acme.com"], "segmentGroupId":
      "216196257331395913", "serverGroups": [{"id": "216196257331395914"}], "tcpPortRanges":
      ["9000", "9000"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application
  response:
    body:
      string: '{"id":"216196257331395915","domainNames":["tests-praap-vcr0006.acme.com"],"name":"tests-praap-vcr0006.acme.com","description":"tests-praap-vcr0006.acme.com","serverGroups":[{"id":"216196257331395914","enabled":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":false}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9000","9000"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"segmentGroupId":"216196257331395913"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - da17efdc-f810-9eaa-be10-fa1641941ea0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4944'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{"emailIds": ["carol.kirk@securitygeek.io"], "status": "ACTIVE", "workingHours":
      {"startTimeCron": "0 0 16 ? * SUN,MON,TUE,WED,THU,FRI,SAT", "endTimeCron": "0
      0 0 ? * MON,TUE,WED,THU,FRI,SAT,SUN", "startTime": "09:00", "endTime": "17:00",
      "days": ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"], "timeZone": "America/Vancouver"},
      "startTime": 1764976991, "endTime": 1796426591, "applications": [{"id": "216196257331395915"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/approval
  response:
    body:
      string: '{"id":"18382","modifiedTime":"1764977000","creationTime":"1764977000","modifiedBy":"216196257331372705","startTime":"1764976991","endTime":"1796426591","workingHours":{"startTimeCron":"0
        0 16 ? * SUN,MON,TUE,WED,THU,FRI,SAT","endTimeCron":"0 0 0 ? * MON,TUE,WED,THU,FRI,SAT,SUN","startTime":"09:00","endTime":"17:00","days":["SUN","MON","TUE","WED","THU","FRI","SAT"],"timeZone":"America/Vancouver"},"status":"ACTIVE","emailIds":["REDACTED"],"applications":[{"id":"216196257331395915","icmpAccessType":"NONE","bypassType":"NEVER","configSpace":"DEFAULT","cnameConfig":"NOFLATTEN","ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","useInDrMode":false,"matchStyle":"EXCLUSIVE","selectConnectorCloseToApp":false,"weightedLoadBalancing":false,"extranetEnabled":false,"adpEnabled":false,"apiProtectionEnabled":false,"autoAppProtectEnabled":false,"fqdnDnsCheck":false,"policyStyle":"NONE"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - f2c31ef6-8503-9f6e-812d-9a6f64bd2eae
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4943'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/approval
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"id":"18382","modifiedTime":"1764977000","creationTime":"1764977000","modifiedBy":"216196257331372705","startTime":"1764976991","endTime":"1796426591","workingHours":{"startTimeCron":"0
        0 16 ? * SUN,MON,TUE,WED,THU,FRI,SAT","endTimeCron":"0 0 0 ? * MON,TUE,WED,THU,FRI,SAT,SUN","startTime":"09:00","endTime":"17:00","days":["SUN","MON","TUE","WED","THU","FRI","SAT"],"timeZone":"America/Vancouver"},"status":"ACTIVE","emailIds":["REDACTED"],"applications":[{"id":"216196257331395915","modifiedTime":"1764976998","creationTime":"1764976998","modifiedBy":"216196257331372705","name":"tests-praap-vcr0006.acme.com","domainName":"tests-praap-vcr0006.acme.com","domainNames":["tests-praap-vcr0006.acme.com"],"description":"tests-praap-vcr0006.acme.com","enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["9000","9000"],"doubleEncrypt":false,"healthCheckType":"DEFAULT","icmpAccessType":"NONE","bypassType":"NEVER","configSpace":"DEFAULT","cnameConfig":"NOFLATTEN","ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","useInDrMode":false,"matchStyle":"EXCLUSIVE","selectConnectorCloseToApp":false,"weightedLoadBalancing":false,"extranetEnabled":false,"adpEnabled":false,"apiProtectionEnabled":false,"autoAppProtectEnabled":false,"fqdnDnsCheck":false,"policyStyle":"NONE","tcpPortRange":[{"from":"9000","to":"9000"}]}]}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e10beb3c-1c19-9f9d-8d56-25fc4274f89c
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4942'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/approval/18382
  response:
    body:
      string: '{"id":"18382","modifiedTime":"1764977000","creationTime":"1764977000","modifiedBy":"216196257331372705","startTime":"1764976991","endTime":"1796426591","workingHours":{"startTimeCron":"0
        0 16 ? * SUN,MON,TUE,WED,THU,FRI,SAT","endTimeCron":"0 0 0 ? [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331395915?forceDelete=true
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cf5b0970-1590-983a-a185-c43ab54b79f7
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4939'
      x-ratelimit-reset:
      - '35'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331395914
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3c8808c1-86a7-9296-a13e-1b4bfa0ee1aa
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4938'
      x-ratelimit-reset:
      - '33'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331395913
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 05856ab4-3113-9ee7-9000-daec2efb2008
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4937'
      x-ratelimit-reset:
      - '31'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup/216196257331395912
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b2a74302-e047-9bc1-af19-b3a8a0fd1475
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4936'
      x-ratelimit-reset:
      - '29'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
