interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/policyType/ACCESS_POLICY
  response:
    body:
      string: '{"id":"216196257331281925","modifiedTime":"1773369848","creationTime":"1619672239","modifiedBy":"216196257331372705","name":"Global_Policy","enabled":true,"description":"The
        rules in this policy set are executed first.","policyType":"1","sorted":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cfb8abc1-82ea-901f-8a44-68972ab2ab0d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4950'
      x-ratelimit-reset:
      - '52'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-vcr0001", "description": "tests-vcr0002", "customMsg":
      null, "ruleOrder": null, "action": "ALLOW", "appConnectorGroups": [], "appServerGroups":
      []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281925/rule
  response:
    body:
      string: '{"id":"216196257331404624","modifiedTime":"1773369849","creationTime":"1773369849","modifiedBy":"216196257331372705","name":"tests-vcr0001","description":"tests-vcr0002","ruleOrder":"1","priority":"1","policyType":"1","operator":"AND","action":"ALLOW","disabled":"0","defaultRule":false,"readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ce42715d-fd44-919b-9a52-7707e4a3a6ab
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4949'
      x-ratelimit-reset:
      - '51'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281925/rule/216196257331404624/reorder/1
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8e4638cd-c07e-9fae-8c87-631325985332
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4939'
      x-ratelimit-reset:
      - '49'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/policyType/ACCESS_POLICY
  response:
    body:
      string: "{\n  \"exception\" : \"invalid.toomanyrequests\",\n  \"id\" : \"invalid.toomanyrequests\",\n
        \ \"reason\" : \"Exceeded the number of requests allowed.\"\n}"
    headers:
      content-type:
      - application/json
      retry-after:
      - 4s
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5a98bb18-4e47-9e3e-ab46-adb7bd924a36
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4932'
      x-ratelimit-reset:
      - '48'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281925/rule/216196257331404624
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d4e2cf26-713d-9810-801f-8871b53398bd
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4928'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281925/rule/216196257331404628
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 84535ca3-affe-966a-a2e1-8ba9a24fa4da
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4920'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
version: 1
