interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/policyType/CLIENT_FORWARDING_POLICY
  response:
    body:
      string: '{"id":"216196257331281929","modifiedTime":"1764976939","creationTime":"1619672239","modifiedBy":"216196257331372705","name":"Bypass_Policy","enabled":true,"description":"Bypass
        policies.","policyType":"4","sorted":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e99e4003-6855-93f7-9752-9704525f97fc
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-apfr2-vcr0001", "description": "Integration test Client
      Forwarding Rule V2", "ruleOrder": null, "action": "INTERCEPT", "conditions":
      [{"operator": "OR", "operands": [{"objectType": "CLIENT_TYPE", "values": ["zpn_client_type_exporter",
      "zpn_client_type_zapp"]}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v2/admin/customers/216196257331281920/policySet/216196257331281929/rule
  response:
    body:
      string: '{"id":"216196257331395872","modifiedTime":"1764976939","creationTime":"1764976939","modifiedBy":"216196257331372705","name":"tests-apfr2-vcr0001","description":"Integration
        test Client Forwarding Rule V2","ruleOrder":"1","priority":"2","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","extranetEnabled":false,"devicePostureFailureNotificationEnabled":false,"privilegedCapabilities":{},"privilegedPortalCapabilities":{},"conditions":[{"id":"42059006","modifiedTime":"1764976939","creationTime":"1764976939","modifiedBy":"216196257331372705","operator":"OR","negated":false,"operands":[{"id":"42059007","modifiedTime":"1764976939","creationTime":"1764976939","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_exporter"},{"id":"42059008","modifiedTime":"1764976939","creationTime":"1764976939","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_zapp"}]}],"defaultRuleName":"Default_Rule","defaultRule":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2e5fe877-4b1c-9035-aeca-17f255b449b6
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281929/rule/216196257331395872
  response:
    body:
      string: '{"id":"216196257331395872","modifiedTime":"1764976939","creationTime":"1764976939","modifiedBy":"216196257331372705","name":"tests-apfr2-vcr0001","description":"Integration
        test Client Forwarding Rule V2","ruleOrder":"1","priority":"2","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","devicePostureFailureNotificationEnabled":false,"policySetId":"216196257331281929","conditions":[{"id":"42059006","modifiedTime":"1764976939","creationTime":"1764976939","modifiedBy":"216196257331372705","operator":"OR","negated":false,"operands":[{"id":"42059007","modifiedTime":"1764976939","creationTime":"1764976939","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_exporter","name":"zpn_client_type_exporter","conditionId":"42059006"},{"id":"42059008","modifiedTime":"1764976939","creationTime":"1764976939","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_zapp","name":"zpn_client_type_zapp","conditionId":"42059006"}],"ruleGid":"216196257331395872"}],"defaultRuleName":"Default_Rule","defaultRule":false,"readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6921fd09-081e-9c58-baa5-1c078e85f04f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/rules/policyType/CLIENT_FORWARDING_POLICY
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"id":"216196257331395872","modifiedTime":"1764976940","creationTime":"1764976939","modifiedBy":"216196257331372705","name":"tests-apfr2-vcr0001","description":"Updated
        rule vcr0002","ruleOrder":"1","priority":"2","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","devicePostureFailureNotificationEnabled":false,"policySetId":"216196257331281929","conditions":[{"id":"42059009","modifiedTime":"1764976940","creationTime":"1764976940","modifiedBy":"216196257331372705","op[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281929/rule/216196257331395872
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b682c734-ab5d-977f-8519-e3251ba71d4f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '40'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
