interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/policyType/CLIENT_FORWARDING_POLICY
  response:
    body:
      string: '{"id":"216196257331281929","modifiedTime":"1764191837","creationTime":"1619672239","modifiedBy":"216196257331372705","name":"Bypass_Policy","enabled":true,"description":"Bypass
        policies.","policyType":"4","sorted":true}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6ed6470d-88d2-9766-8391-2157357f1b5d
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-apfr2-vcr0001", "description": "Integration test Client
      Forwarding Rule V2", "ruleOrder": null, "action": "INTERCEPT", "conditions":
      [{"operator": "OR", "operands": [{"objectType": "CLIENT_TYPE", "values": ["zpn_client_type_exporter",
      "zpn_client_type_zapp"]}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v2/admin/customers/216196257331281920/policySet/216196257331281929/rule
  response:
    body:
      string: '{"id":"216196257331394523","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","name":"tests-apfr2-vcr0001","description":"Integration
        test Client Forwarding Rule V2","ruleOrder":"1","priority":"2","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","extranetEnabled":false,"devicePostureFailureNotificationEnabled":false,"privilegedCapabilities":{},"privilegedPortalCapabilities":{},"conditions":[{"id":"41632509","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","operator":"OR","negated":false,"operands":[{"id":"41632510","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_exporter"},{"id":"41632511","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_zapp"}]}],"defaultRuleName":"Default_Rule","defaultRule":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fc13c338-28f4-9a61-b997-acb99472dd1e
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '43'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281929/rule/216196257331394523
  response:
    body:
      string: '{"id":"216196257331394523","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","name":"tests-apfr2-vcr0001","description":"Integration
        test Client Forwarding Rule V2","ruleOrder":"1","priority":"2","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","devicePostureFailureNotificationEnabled":false,"policySetId":"216196257331281929","conditions":[{"id":"41632509","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","operator":"OR","negated":false,"operands":[{"id":"41632510","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_exporter","name":"zpn_client_type_exporter","conditionId":"41632509"},{"id":"41632511","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_zapp","name":"zpn_client_type_zapp","conditionId":"41632509"}],"ruleGid":"216196257331394523"}],"defaultRuleName":"Default_Rule","defaultRule":false,"readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c11ab91e-beee-964b-88e1-d50b3ccd6726
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '42'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/rules/policyType/CLIENT_FORWARDING_POLICY
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"id":"216196257331394523","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","name":"tests-apfr2-vcr0001","description":"Updated
        rule vcr0002","ruleOrder":"1","priority":"2","policyType":"4","operator":"AND","action":"INTERCEPT","disabled":"0","devicePostureFailureNotificationEnabled":false,"policySetId":"216196257331281929","conditions":[{"id":"41632512","modifiedTime":"1764191838","creationTime":"1764191838","modifiedBy":"216196257331372705","op[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/policySet/216196257331281929/rule/216196257331394523
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 14ceb7e1-3806-931e-b761-34afcefe720e
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '41'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
