interactions:
- request:
    body: '{"name": "tests-uport-vcr0001", "description": "tests-uport-vcr0002", "enabled":
      true, "userNotification": "tests-uport-vcr0002", "userNotificationEnabled":
      true, "managedByZs": true, "domain": "securitygeek.io", "extLabel": "tests-uport-vcr0003",
      "extDomainName": "-securitygeek-io.b.zscalerportal.net", "extDomain": "securitygeek.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"id":"216196257331404682","modifiedTime":"1773369940","creationTime":"1773369940","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"-securitygeek-io.b.zscalerportal.net"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 3fd3ffd1-5a4b-969f-98e9-6ae15c7fadfb
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4897'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331404682
  response:
    body:
      string: '{"id":"216196257331404682","modifiedTime":"1773369940","creationTime":"1773369940","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"securitygeek-io.p.zscalerportal.net","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d1f74f95-5fb8-95a4-95c9-98a1d82105d9
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4896'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"id":"216196257331404682","modifiedTime":"1773369940","creationTime":"1773369940","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001
        Updated","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"securitygeek-io.p.zscalerportal.net","microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e90ce128-f048-96e6-adff-11b9226a7bf6
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4893'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331404682
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d4e79a28-4ccb-9f1c-a334-e04a18cd8a5d
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4892'
      x-ratelimit-reset:
      - '20'
      x-transaction-id:
      - 39998292-7bb5-48c8-abfc-a236c3bceb8e
    status:
      code: 204
      message: No Content
version: 1
