interactions:
- request:
    body: '{"name": "John-pracred-vcr0001", "description": "tests-pracred-vcr0002",
      "credentialType": "PASSWORD", "userDomain": "securitygeek.io", "password":"REDACTED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential
  response:
    body:
      string: '{"id":"18483","modifiedTime":"1773369921","creationTime":"1773369921","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1773369921","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cfb11da7-09c6-9e2a-abb5-4553accfa786
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4971'
      x-ratelimit-reset:
      - '39'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential
  response:
    body:
      string: '{"totalPages":"3","totalCount":"44","list":[{"id":"18483","modifiedTime":"1773369921","creationTime":"1773369921","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1773369921","microtenantName":"Default"},{"id":"14669","modifiedTime":"1744391586","creationTime":"1744391586","modifiedBy":"216196257331281921","name":"ngmgmt/a000","description":"ngmgmt/a000","userName":"ngmgmt/a000","credentialType":"USERNAME_PASSWORD","lastCredentialResetTime":"1744391586","microtenantName":"Default"},{"id":"14671","modifiedTime":"1744391597","creationTime":"1744391597","modifiedBy":"216196257331281921","name":"ngmgmt/a001","description":"ngmgmt/a001","userName":"ngmgmt/a001","credentialType":"USERNAME_PASSWORD","lastCredentialResetTime":"1744391597","microtenantName":"Default"},{"id":"14673","modifiedTime":"1744391608","creationTime":"1744391608","modifiedBy":"21619625733128[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential/18483
  response:
    body:
      string: '{"id":"18483","modifiedTime":"1773369921","creationTime":"1773369921","modifiedBy":"216196257331372705","name":"John-pracred-vcr0001","description":"tests-pracred-vcr0002","credentialType":"PASSWORD","lastCredentialResetTime":"1773369921","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 14de7647-7afc-91f5-bc98-4949cfe5354c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4969'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/credential/18483
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0935d09c-2a85-9fd0-95b8-3bae89a0560c
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4966'
      x-ratelimit-reset:
      - '38'
      x-transaction-id:
      - 226c6db1-956e-490b-a401-e617cf588fdb
    status:
      code: 204
      message: No Content
version: 1
