interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v2/admin/customers/216196257331281920/network
  response:
    body:
      string: '{"totalPages":"1","totalCount":"20","list":[{"id":"216196257331372849","modifiedTime":"1726180958","creationTime":"1726180958","modifiedBy":"72057594037928115","name":"BDTrustedNetwork
        (zscalerthree.net)","networkId":"01b54e90-39c1-43e1-a484-6d5c33c65195","zscalerCloud":"zscalerthree"},{"id":"216196257331369930","modifiedTime":"1696823868","creationTime":"1696823868","modifiedBy":"72057594037928115","name":"BDTrustedNetwork01
        (zscalerthree.net)","networkId":"928c092b-3fe1-49bb-b01f-0618e4f38468","zscalerCloud":"zscalerthree"},{"id":"216196257331372841","modifiedTime":"1726180714","creationTime":"1726180714","modifiedBy":"72057594037928115","name":"BD
        TrustedNetwork01 (zscalerthree.net)","networkId":"b2f1cfd0-915a-46c1-925c-c3a65ada29e5","zscaler[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/network/216196257331372849
  response:
    body:
      string: '{"id":"216196257331372849","modifiedTime":"1726180958","creationTime":"1726180958","modifiedBy":"72057594037928115","name":"BDTrustedNetwork
        (zscalerthree.net)","networkId":"01b54e90-39c1-43e1-a484-6d5c33c65195","zscalerCloud":"zscalerthree"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b04e8aa3-0b68-98d7-8f65-9c07b042a58e
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4847'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
version: 1
