interactions:
- request:
    body: '{"name": "tests-approtcc-vcr0001", "description": "tests-approtcc-vcr0001",
      "action": "PASS", "defaultAction": "PASS", "paranoiaLevel": "1", "severity":
      "CRITICAL", "type": "RESPONSE", "rules": [{"type": "RESPONSE_HEADERS", "conditions":
      [{"lhs": "SIZE", "op": "GE", "rhs": "1000"}], "names": ["test"]}, {"type": "RESPONSE_BODY",
      "conditions": [{"lhs": "SIZE", "op": "GE", "rhs": "1000"}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom
  response:
    body:
      string: '{"id":"216196257331394542","modifiedTime":"1764191868","creationTime":"1764191868","modifiedBy":"216196257331372705","name":"tests-approtcc-vcr0001","description":"tests-approtcc-vcr0001","severity":"CRITICAL","controlNumber":"4500001","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","action":"PASS","protocolType":"HTTP","type":"RESPONSE","controlRuleJson":"[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]","rules":[{"type":"RESPONSE_HEADERS","names":["test"],"conditions":[{"lhs":"SIZE","op":"GE","rhs":"1000"}]},{"type":"RESPONSE_BODY","conditions":[{"lhs":"SIZE","op":"GE","rhs":"1000"}]}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1cbef287-8645-985e-a6f2-432ae95c733c
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4848'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom/216196257331394542
  response:
    body:
      string: '{"id":"216196257331394542","modifiedTime":"1764191868","creationTime":"1764191868","modifiedBy":"216196257331372705","name":"tests-approtcc-vcr0001","description":"tests-approtcc-vcr0001","severity":"CRITICAL","controlNumber":"4500001","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","protocolType":"HTTP","type":"RESPONSE","controlRuleJson":"[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 7f3895ae-d258-9c2b-a94a-711addf7e130
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4847'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"action": null, "actionValue": null, "associatedInspectionProfileNames":
      [], "controlException": null, "controlNumber": "4500001", "controlRuleJson":
      "[{\"type\":\"RESPONSE_HEADERS\",\"names\":[\"test\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]},{\"type\":\"RESPONSE_BODY\",\"conditions\":[{\"lhs\":\"SIZE\",\"op\":\"GE\",\"rhs\":\"1000\"}]}]",
      "controlType": null, "creationTime": "1764191868", "defaultAction": "PASS",
      "defaultActionValue": null, "description": "tests-approtcc-vcr0001", "id": "216196257331394542",
      "modifiedBy": "216196257331372705", "modifiedTime": "1764191868", "name": "tests-approtcc-vcr0001
      Updated", "paranoiaLevel": "1", "protocolType": "HTTP", "rules": [], "severity":
      "CRITICAL", "type": "RESPONSE", "version": "1.0"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom/216196257331394542
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 50451006-0b4e-9d4e-823d-abe269640853
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4845'
      x-ratelimit-reset:
      - '12'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/inspectionControls/custom
  response:
    body:
      string: '{"totalPages":"1","currentCount":"2","totalCount":"2","list":[{"id":"216196257331381968","modifiedTime":"1730769864","creationTime":"1730769864","modifiedBy":"216196257331281921","name":"Example_App_Protection_Custom_Control01","description":"Example_App_Protection_Custom_Control01","severity":"CRITICAL","controlNumber":"4500000","version":"1.0","paranoiaLevel":"1","defaultAction":"PASS","protocolType":"HTTP","type":"REQUEST","controlRuleJson":"[{\"type\":\"REQUEST_HEADERS\",\"names\":[\"test2\",\"test3\",\"test1\"],\"conditions\":[{\"lhs\":\"SIZE\",\"op\[...]
[...]
