interactions:
- request:
    body: '{"name": "tests-uport-vcr0001", "description": "tests-uport-vcr0002", "enabled":
      true, "userNotification": "tests-uport-vcr0002", "userNotificationEnabled":
      true, "managedByZs": true, "domain": "securitygeek.io", "extLabel": "tests-uport-vcr0003",
      "extDomainName": "-securitygeek-io.b.zscalerportal.net", "extDomain": "securitygeek.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"id":"216196257331394589","modifiedTime":"1764191933","creationTime":"1764191933","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"-securitygeek-io.b.zscalerportal.net"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - bd264860-1ca6-912a-8978-0b9fea7dc23e
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4846'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331394589
  response:
    body:
      string: '{"id":"216196257331394589","modifiedTime":"1764191933","creationTime":"1764191933","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"securitygeek-io.p.zscalerportal.net","microtenantName":"Default"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 993d8dd7-fd9a-9b30-b8fd-4fdc5f45494c
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4845'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal
  response:
    body:
      string: '{"totalPages":"1","totalCount":"2","list":[{"id":"216196257331387233","modifiedTime":"1761677728","creationTime":"1761677728","modifiedBy":"216196257331372702","name":"portal01","enabled":true,"description":"portal01","domain":"portal01-securitygeek-io.p.zscalerportal.net","userNotification":"portal01","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"portal01","extDomain":"securitygeek.io","extDomainName":"securitygeek-io.p.zscalerportal.net","microtenantName":"Default"},{"id":"216196257331394589","modifiedTime":"1764191933","creationTime":"1764191933","modifiedBy":"216196257331372705","name":"tests-uport-vcr0001
        Updated","enabled":true,"description":"tests-uport-vcr0002","domain":"tests-uport-vcr0003-securitygeek-io.p.zscalerportal.net","userNotification":"tests-uport-vcr0002","userNotificationEnabled":true,"extDomainTranslation":"securitygeek.io","extLabel":"tests-uport-vcr0003","extDomain":"securitygeek.io","extDomainName":"securitygeek-io.p.zscalerportal.net","microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b5edf70e-4bcd-9ea7-a0d5-eb5980c6f83c
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4842'
      x-ratelimit-reset:
      - '7'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.zsapi.net/zpa/mgmtconfig/v1/admin/customers/216196257331281920/userPortal/216196257331394589
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 5fade5ad-2f2d-9c21-b290-81c90c29ad51
      x-oneapi-version:
      - 109.1.85
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4841'
      x-ratelimit-reset:
      - '6'
      x-transaction-id:
      - e26fb582-cab3-4dd8-ba10-7ad0a92ba93c
    status:
      code: 204
      message: No Content
version: 1
