interactions:
- request:
    body: '{"name": "tests-srv-vcr0001", "description": "tests-srv-vcr0002", "enabled":
      true, "address": "192.168.200.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server
  response:
    body:
      string: '{"id":"216196257331395898","modifiedTime":"1764976981","creationTime":"1764976981","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001","address":"192.168.200.1","enabled":true,"description":"tests-srv-vcr0002","configSpace":"DEFAULT"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 58b3d412-89c3-9aae-8a36-63b8a77ee6a0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/216196257331395898
  response:
    body:
      string: '{"id":"216196257331395898","modifiedTime":"1764976981","creationTime":"1764976981","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001","address":"192.168.200.1","enabled":true,"description":"tests-srv-vcr0002","configSpace":"DEFAULT"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b5a0df9c-6b92-9f97-a3eb-eedcede86c07
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331388877","modifiedTime":"1762497160","creationTime":"1762497160","modifiedBy":"216196257331372705","name":"ExampleServer01","address":"192.168.1.1","enabled":true,"description":"ExampleServer01","configSpace":"DEFAULT"},{"id":"216196257331389970","modifiedTime":"1763017548","creationTime":"1763017548","modifiedBy":"216196257331372705","name":"ExampleServer02","address":"192.168.1.1","enabled":true,"description":"ExampleServer02","configSpace":"DEFAULT"},{"id":"216196257331395898","modifiedTime":"1764976982","creationTime":"1764976981","modifiedBy":"216196257331372705","name":"tests-srv-vcr0001
        Updated","address":"192.168.200.1","enabled":true,"configSpace":"DEFAULT"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - cc476962-2f95-9ebb-8e86-f50d2a683824
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/summary
  response:
    body:
      string: '{"totalPages":"1","totalCount":"3","list":[{"id":"216196257331388877","name":"ExampleServer01","enabled":true},{"id":"216196257331389970","name":"ExampleServer02","enabled":true},{"id":"216196257331395898","name":"tests-srv-vcr0001
        Updated","enabled":true}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0c27450f-4edb-9a54-b266-cddf7fe01383
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/server/216196257331395898
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 85992482-a08e-9cdf-9276-b14fde2f912f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '58'
      x-transaction-id:
      - 637a137c-e94b-41e5-823b-19fc15cbf8a0
    status:
      code: 204
      message: No Content
version: 1
