interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 500, 500;w=1, 100000;w=60
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-apspra-vcr0001", "description": "tests-apspra-vcr0002",
      "enabled": true, "latitude": "37.33874", "longitude": "-121.8852525", "location":
      "San Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331404701","modifiedTime":"1773370799","creationTime":"1773370799","modifiedBy":"216196257331372705","name":"tests-apspra-vcr0001","enabled":true,"description":"tests-apspra-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 007e92f2-53dc-9e27-9e59-d5649e23c4b8
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-apspra-vcr0003", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331404702","modifiedTime":"1773370800","creationTime":"1773370800","modifiedBy":"216196257331372705","name":"tests-apspra-vcr0003","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0","readOnly":false,"zscalerManaged":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - b822b651-dd0d-992a-a9dd-bea6f6dfbe94
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-apspra-vcr0004", "description": "tests-apspra-vcr0005",
      "enabled": true, "dynamicDiscovery": true, "appConnectorGroups": [{"id": "216196257331404701"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331404703","enabled":true,"name":"tests-apspra-vcr0004","description":"tests-apspra-vcr0005","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331404701","name":"tests-apspra-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0227de95-9f6b-95b4-a08b-683545dcec43
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-pra-vcr0006.bd-redhat.com", "description": "tests-pra-vcr0006.bd-redhat.com",
      "enabled": true, "domainNames": ["tests-pra-vcr0006.bd-redhat.com"], "segmentGroupId":
      "216196257331404702", "commonAppsDto": {"appsConfig": [{"enabled": true, "applicationPort":
      "2222", "applicationProtocol": "SSH", "domain": "tests-pra-vcr0006.bd-redhat.com",
      "appTypes": ["SECURE_REMOTE_ACCESS"]}]}, "serverGroups": [{"id": "216196257331404703"}],
      "tcpPortRanges": ["2222", "2222"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application
  response:
    body:
      string: '{"id":"216196257331404704","domainNames":["tests-pra-vcr0006.bd-redhat.com"],"name":"tests-pra-vcr0006.bd-redhat.com","description":"tests-pra-vcr0006.bd-redhat.com","serverGroups":[{"id":"216196257331404703","enabled":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":false}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["2222","2222"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"commonAppsDto":{"appsConfig":[{"name":"tests-pra-vcr0006.bd-redhat.com","praAppId":"216196257331404705","enabled":true,"applicationPort":"2222","applicationProtocol":"SSH","domain":"tests-pra-vcr0006.bd-redhat.com","hidden":false,"portal":false,"appId":"216196257331404704","trustUntrustedCert":false,"allowOptions":false,"appTypes":["SECURE_REMOTE_ACCESS"],"adpEnabled":false}]},"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"segmentGroupId":"216196257331404702"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 20b32647-8eb7-9a75-a4f1-fcdb468f06cf
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4997'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/getAppsByType?applicationType=SECURE_REMOTE_ACCESS&expandAll=false
  response:
    body:
      string: '{"totalPages":"1","totalCount":"0","list":[{"id":"216196257331404705","name":"tests-pra-vcr0006.bd-redhat.com","enabled":true,"applicationPort":"2222","applicationProtocol":"SSH","domain":"tests-pra-vcr0006.bd-redhat.com","appId":"216196257331404704","hidden":false,"microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 2580d8a8-ee5f-9f38-b335-beb402dda953
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-pra-vcr0006.bd-redhat.com", "description": "Updated vcr0007",
      "enabled": true, "domainNames": ["tests-pra-vcr0006.bd-redhat.com"], "segmentGroupId":
      "216196257331404702", "commonAppsDto": {"appsConfig": [{"enabled": true, "applicationPort":
      "2222", "applicationProtocol": "SSH", "domain": "tests-pra-vcr0006.bd-redhat.com",
      "appTypes": ["SECURE_REMOTE_ACCESS"], "appId": "216196257331404704", "praAppId":
      "216196257331404705"}]}, "serverGroups": [{"id": "216196257331404703"}], "tcpPortRanges":
      ["2222", "2222"], "tcpPortRange": [], "udpPortRanges": [], "udpPortRange": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331404704
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - d0c254de-1b26-9f36-99c8-d470a184ef05
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-reset:
      - '60'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331404704?forceDelete=true
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fbdae362-da91-9e1e-befc-3c80e140d763
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331404703
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 4dc82748-dc73-93ea-8da9-fa4fd3ab71fd
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331404702
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 6b308667-44f8-946e-a3b9-8e254c34d3e3
      x-oneapi-version:
      - 109.1.146
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4992'
      x-ratelimit-reset:
      - '59'
      x-transaction-id:
      - 292bff92-891f-4c67-97dd-54b6feb6d067
    status:
      code: 204
      message: No Content
version: 1
