interactions:
- request:
    body: '{"name": "tests-apspra-vcr0001", "description": "tests-apspra-vcr0002",
      "enabled": true, "latitude": "37.33874", "longitude": "-121.8852525", "location":
      "San Jose, CA, USA", "upgradeDay": "SUNDAY", "upgradeTimeInSecs": "66600", "overrideVersionProfile":
      true, "versionProfileName": "Default", "versionProfileId": "0", "dnsQueryType":
      "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp": true, "tcpQuickAckAssistant":
      true, "tcpQuickAckReadAssistant": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/appConnectorGroup
  response:
    body:
      string: '{"id":"216196257331395940","modifiedTime":"1764977384","creationTime":"1764977384","modifiedBy":"216196257331372705","name":"tests-apspra-vcr0001","enabled":true,"description":"tests-apspra-vcr0002","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"readOnly":false,"zscalerManaged":false,"lssAppConnectorGroup":false}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a183df79-0906-91c7-b607-d8098e6ea6b5
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-apspra-vcr0003", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331395941","modifiedTime":"1764977384","creationTime":"1764977384","modifiedBy":"216196257331372705","name":"tests-apspra-vcr0003","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ec32f1a9-9d70-94b3-a42e-648548b0d52f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4988'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-apspra-vcr0004", "description": "tests-apspra-vcr0005",
      "enabled": true, "dynamicDiscovery": true, "appConnectorGroups": [{"id": "216196257331395940"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup
  response:
    body:
      string: '{"id":"216196257331395942","enabled":true,"name":"tests-apspra-vcr0004","description":"tests-apspra-vcr0005","ipAnchored":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331395940","name":"tests-apspra-vcr0001","useInDrMode":false,"connectorGroupType":"APP","wafDisabled":false,"lssAppConnectorGroup":false}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 56eeaae4-4f98-9ea3-b3b2-b34a341497e6
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "tests-pra-vcr0006.bd-redhat.com", "description": "tests-pra-vcr0006.bd-redhat.com",
      "enabled": true, "domainNames": ["tests-pra-vcr0006.bd-redhat.com"], "segmentGroupId":
      "216196257331395941", "commonAppsDto": {"appsConfig": [{"enabled": true, "applicationPort":
      "2222", "applicationProtocol": "SSH", "domain": "tests-pra-vcr0006.bd-redhat.com",
      "appTypes": ["SECURE_REMOTE_ACCESS"]}]}, "serverGroups": [{"id": "216196257331395942"}],
      "tcpPortRanges": ["2222", "2222"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application
  response:
    body:
      string: '{"id":"216196257331395943","domainNames":["tests-pra-vcr0006.bd-redhat.com"],"name":"tests-pra-vcr0006.bd-redhat.com","description":"tests-pra-vcr0006.bd-redhat.com","serverGroups":[{"id":"216196257331395942","enabled":false,"configSpace":"DEFAULT","extranetEnabled":false,"dynamicDiscovery":false}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["2222","2222"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"commonAppsDto":{"appsConfig":[{"name":"tests-pra-vcr0006.bd-redhat.com","praAppId":"216196257331395944","enabled":true,"applicationPort":"2222","applicationProtocol":"SSH","domain":"tests-pra-vcr0006.bd-redhat.com","hidden":false,"portal":false,"appId":"216196257331395943","trustUntrustedCert":false,"allowOptions":false,"appTypes":["SECURE_REMOTE_ACCESS"],"adpEnabled":false}]},"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"apiProtectionEnabled":false,"fqdnDnsCheck":false,"weightedLoadBalancing":false,"extranetEnabled":false,"segmentGroupId":"216196257331395941"}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 60c28013-6e09-909d-a327-a46ec14faee0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '16'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/getAppsByType?applicationType=SECURE_REMOTE_ACCESS&expandAll=false
  response:
    body:
      string: '{"totalPages":"1","totalCount":"0","list":[{"id":"216196257331395944","name":"tests-pra-vcr0006.bd-redhat.com","enabled":true,"applicationPort":"2222","applicationProtocol":"SSH","domain":"tests-pra-vcr0006.bd-redhat.com","appId":"216196257331395943","hidden":false,"microtenantName":"Default"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 77333b64-2f2f-9fb8-8008-fee6da630e9f
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-pra-vcr0006.bd-redhat.com", "description": "Updated vcr0007",
      "enabled": true, "domainNames": ["tests-pra-vcr0006.bd-redhat.com"], "segmentGroupId":
      "216196257331395941", "commonAppsDto": {"appsConfig": [{"enabled": true, "applicationPort":
      "2222", "applicationProtocol": "SSH", "domain": "tests-pra-vcr0006.bd-redhat.com",
      "appTypes": ["SECURE_REMOTE_ACCESS"], "appId": "216196257331395943", "praAppId":
      "216196257331395944"}]}, "serverGroups": [{"id": "216196257331395942"}], "tcpPortRanges":
      ["2222", "2222"], "tcpPortRange": [], "udpPortRanges": [], "udpPortRange": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331395943
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - e6c0450c-cf9f-9944-8def-42b9d44a47b0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331395943?forceDelete=true
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 09cdd3e2-29a6-94d5-8dde-363f75670c46
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '15'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup/216196257331395942
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - ddf939e3-ec4b-9f94-80ca-fc2e32b06fc5
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4982'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/zpa/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331395941
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 65f3bf43-7266-988c-b4d1-18ce617733d0
      x-oneapi-version:
      - 109.1.92
      x-ratelimit-limit:
      - 5000, 5000;w=60
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '14'
      x-transaction-id:
      - a4ea1f39-5e9e-4657-be3b-c2f5ed973c5e
    status:
      code: 204
      message: No Content
version: 1
