interactions:
- request:
    body: '{"name": "tests-lp-vcr0001", "type": "xai", "public": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-providers
  response:
    body:
      string: '{"id":29109,"name":"tests-lp-vcr0001","type":"xai","createTimeMillis":1784750616073,"updateTimeMillis":1784750616073,"public":true}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a31db233-fcc1-9960-bfd9-8d195258af51
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-providers/29109
  response:
    body:
      string: '{"id":29109,"name":"tests-lp-vcr0001","type":"xai","createTimeMillis":1784750616073,"updateTimeMillis":1784750616073,"public":true}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 1465dbb9-3a65-9ace-9a11-5b6bddf017ed
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-providers/name/tests-lp-vcr0001
  response:
    body:
      string: '{"id":29109,"name":"tests-lp-vcr0001","type":"xai","createTimeMillis":1784750616073,"updateTimeMillis":1784750616073,"public":true}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 75e85abe-8172-9cf7-9e2a-343c4cca15fa
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-provider-types
  response:
    body:
      string: '{"items":[{"type":"openai","name":"OpenAI","description":"Metadata
        for OpenAI APIs","servers":{"public":{"accepted":false,"key":null,"allowedValues":null},"private":{"accepted":true,"key":"publicApi","allowedValues":null}}},{"type":"anthropic","name":"Anthropic","description":"Metadata
        for Anthropic APIs","servers":{"public":{"accepted":false,"key":null,"allowedValues":null},"private":{"accepted":true,"key":"publicApi","allowedValues":null}}},{"type":"azure","name":"Azure","description":"Metadata
        for Azure APIs","servers":{"public":{"accepted":false,"key":null,"allowedValues":null},"private":{"accepted":true,"key":"publicApi","allowedValues"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-provider-types/xai
  response:
    body:
      string: '{"type":"xai","name":"xAI","description":"Metadata for Grok APIs","servers":{"public":{"accepted":false,"key":null,"allowedValues":null},"private":{"accepted":false,"key":null,"allowedValues":null}}}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 75d4046d-2ebb-910a-aa65-58777ab8ee85
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '995'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-providers
  response:
    body:
      string: '{"items":[{"id":1480,"name":"Anthropic","type":"xai","createTimeMillis":1775163852257,"updateTimeMillis":1775163852257,"public":true},{"id":6104,"name":"Default
        Bolt Provider","type":"bolt","createTimeMillis":1775790150705,"updateTimeMillis":1775790150705,"public":true},{"id":29103,"name":"BDAnthropic","type":"xai","createTimeMillis":1784744445921,"updateTimeMillis":1784744445921,"public":true},{"id":29109,"name":"tests-lp-vcr0001","type":"xai","createTimeMillis":1784750616073,"updateTimeMillis":1784750616073,"public":true},{"id":6099,"name":"Default
        Anthropic Provider","type":"anthropic","createTimeMillis":1775790150684,"updateTimeMillis":1775790150684,"public":true},{"id":6100,"name":"Default
        Azure Provider","type":"azure","createTimeMillis":1775790150688,"updateTimeMillis":1775790150688,"public":true},{"id":6101,"name":"Default
        Bedrock-Agent Provider","type":"bedrock-agent","servers":{"publicApi":["bedrock-agent-runtime.us-east-1.amazonaws.com"]},"createTimeMillis":1775790150692,"updateTimeMillis":1775790150692,"public":true},{"id":6102,"name":"Default
        Bedrock-Anthropic Provider","type":"bedrock-anthropic","servers":{"publicApi":["bedrock-runtime.us-east-1.amazonaws.com"]},"createTimeMillis":1775790150697,"updateTimeMillis":1775790150697,"public":true},{"id":6103,"name":"Default
        Bedrock-Unified Provider","type":"bedrock-unified","servers":{"publicApi":["bedrock-runtime.us[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-providers/29109
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - c8bba3cc-9d7f-92b0-9a33-a2a5490d3e1d
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '993'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 204
      message: No Content
version: 1
