interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-providers/name/Default%20Anthropic%20Provider
  response:
    body:
      string: '{"id":6099,"name":"Default Anthropic Provider","type":"anthropic","createTimeMillis":1775790150684,"updateTimeMillis":1775790150684,"public":true}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - a616d807-3103-90f1-a747-c42a918b3375
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{"providerId": 6099, "name": "tests-lpc-vcr0001", "apiCredentials": {"type":
      "API_KEY", "key": "REDACTED"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-provider-credentials
  response:
    body:
      string: '{"id":753,"providerId":6099,"name":"tests-lpc-vcr0001","createTimeMillis":1784750615254,"updateTimeMillis":1784750615254}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 230b0a70-0577-95cb-87b8-ead379e3aad7
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-provider-credentials/753
  response:
    body:
      string: '{"id":753,"providerId":6099,"name":"tests-lpc-vcr0001","createTimeMillis":1784750615254,"updateTimeMillis":1784750615254}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - edc3299e-7e89-9c1e-96ed-a6bb9a63a91c
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-provider-credentials/name/tests-lpc-vcr0001
  response:
    body:
      string: '{"id":753,"providerId":6099,"name":"tests-lpc-vcr0001","createTimeMillis":1784750615254,"updateTimeMillis":1784750615254}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 8b379cdf-1cf4-9235-be76-097330467580
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '996'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-provider-credentials
  response:
    body:
      string: '{"items":[{"id":744,"providerId":6099,"name":"Anthropic_API01","createTimeMillis":1784745192169,"updateTimeMillis":1784745192169,"expireTimeMillis":1785481200000},{"id":747,"providerId":6099,"name":"Anthropic_API02","createTimeMillis":1784745463518,"updateTimeMillis":1784745463518},{"id":739,"providerId":6099,"name":"Anthropic_API_Key","createTimeMillis":1784654432715,"updateTimeMillis":1784743942727,"expireTimeMillis":1785481200000},{"id":753,"providerId":6099,"name":"tests-lpc-vcr0001Updated","createTimeMillis":1784750615254,"updateTimeMillis":1784750615591}]}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 11ee10f7-99d5-95a0-b8d0-bdd7186fa1c6
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '993'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-provider-credentials/753
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - dde2d1d1-2c9c-9a61-a4ce-1f89e9ba7464
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '992'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 204
      message: No Content
version: 1
