interactions:
- request:
    body: grant_type=client_credentials&client_id=REDACTED&client_secret=REDACTED&audience=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.test.zscaler.com/oauth2/v1/token
  response:
    body:
      string: '{"access_token":"REDACTED_TOKEN","token_type":"Bearer","expires_in":83999}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - 240, 500;w=1, 240;w=1, 735;w=1
      x-ratelimit-remaining:
      - '239'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-providers/name/Default%20Anthropic%20Provider
  response:
    body:
      string: '{"id":6099,"name":"Default Anthropic Provider","type":"anthropic","createTimeMillis":1775790150684,"updateTimeMillis":1775790150684,"public":true}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 0e079b7c-f0eb-9ef5-a9dc-e8548dfac767
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-applications/name/App01
  response:
    body:
      string: '{"id":647,"name":"App01","ownerEmail":"REDACTED","applicationSettings":{"includeEventContents":true,"encryptEventContents":false},"createTimeMillis":1769657108803,"updateTimeMillis":1774752266885}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - befc6fbd-388f-96f1-9d3c-65531e80c808
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-provider-credentials
  response:
    body:
      string: '{"items":[{"id":744,"providerId":6099,"name":"Anthropic_API01","createTimeMillis":1784745192169,"updateTimeMillis":1784745192169,"expireTimeMillis":1785481200000},{"id":747,"providerId":6099,"name":"Anthropic_API02","createTimeMillis":1784745463518,"updateTimeMillis":1784745463518},{"id":739,"providerId":6099,"name":"Anthropic_API_Key","createTimeMillis":1784654432715,"updateTimeMillis":1784743942727,"expireTimeMillis":1785481200000}]}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fc4f7372-33e7-9f54-abd1-5c9d63f95d2a
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{"applicationId": 647, "providerId": 6099, "providerCredentialsId": 744,
      "name": "tests-lac-vcr0001", "mode": "PROXY"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-application-credentials
  response:
    body:
      string: '{"id":2154,"applicationId":647,"providerId":6099,"providerCredentialsId":744,"name":"tests-lac-vcr0001","mode":"PROXY","key":"REDACTED","createTimeMillis":1784750613180,"updateTimeMillis":1784750613180}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 61d0024d-ce3d-992f-89fe-d707d2d3968a
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-application-credentials/2154
  response:
    body:
      string: '{"id":2154,"applicationId":647,"providerId":6099,"providerCredentialsId":744,"name":"tests-lac-vcr0001","mode":"PROXY","createTimeMillis":1784750613180,"updateTimeMillis":1784750613180}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 372a3940-9204-977b-8c5d-76c0fa7238e0
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-application-credentials/name/tests-lac-vcr0001
  response:
    body:
      string: '{"id":2154,"applicationId":647,"providerId":6099,"providerCredentialsId":744,"name":"tests-lac-vcr0001","mode":"PROXY","createTimeMillis":1784750613180,"updateTimeMillis":1784750613180}'
    headers:
      content-type:
      - application/json
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - fe8b85b1-7f6a-917d-b956-53d36d19ed21
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '996'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/aiguard/v1/llm-application-credentials/2154
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - 16ec8937-346f-9db5-a04c-404042932a8a
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 204
      message: No Content
version: 1
