interactions:
- request:
    body: '{"name": "tests-pol-vcr0001", "inputDetectorPolicies": [{"detector": "toxicity",
      "enabled": true, "severity": "HIGH", "configuration": {"action": "BLOCK", "threshold":
      0.87}}, {"detector": "prompt_injection", "enabled": true, "severity": "CRITICAL",
      "configuration": {"action": "BLOCK", "threshold": 0.75}}], "outputDetectorPolicies":
      [{"detector": "toxicity", "enabled": true, "severity": "CRITICAL", "configuration":
      {"action": "BLOCK", "threshold": 0.87}}, {"detector": "pii", "enabled": false,
      "severity": "CRITICAL", "configuration": {"entities": [{"action": "DETECT",
      "entityType": "CRYPTO"}, {"action": "DETECT", "entityType": "EMAIL_ADDRESS"},
      {"action": "DETECT", "entityType": "IP_ADDRESS"}, {"action": "DETECT", "entityType":
      "LOCATION"}, {"action": "DETECT", "entityType": "US_ITIN"}, {"action": "DETECT",
      "entityType": "DATE_TIME"}, {"action": "DETECT", "entityType": "URL"}, {"action":
      "DETECT", "entityType": "MEDICAL_LICENSE"}, {"action": "DETECT", "entityType":
      "STREET_ADDRESS"}, {"action": "DETECT", "entityType": "DATE_OF_BIRTH"}, {"action":
      "DETECT", "entityType": "US_DEA_NUMBER"}, {"action": "BLOCK", "entityType":
      "CREDIT_CARD"}, {"action": "BLOCK", "entityType": "US_SSN"}, {"action": "DETECT",
      "entityType": "PERSON"}, {"action": "BLOCK", "entityType": "US_PASSPORT"}, {"action":
      "BLOCK", "entityType": "US_BANK_NUMBER"}, {"action": "BLOCK", "entityType":
      "US_DRIVER_LICENSE"}, {"action": "BLOCK", "entityType": "IBAN_CODE"}, {"action":
      "BLOCK", "entityType": "SWIFT_CODE"}, {"action": "ALLOW", "entityType": "PHONE_NUMBER"}],
      "threshold": 0.5, "anonymization": "NONE", "defaultAction": "BLOCK", "replaceWithMaskedContent":
      false}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://easm.test.zscaler.com/aiguard/v1/detections/policies
  response:
    body:
      string: '{"id":2933,"name":"tests-pol-vcr0001","version":1,"inputDetectorPolicies":[{"detector":"toxicity","enabled":true,"severity":"HIGH","configuration":{"action":"BLOCK","threshold":0.87}},{"detector":"prompt_injection","enabled":true,"severity":"CRITICAL","configuration":{"action":"BLOCK","threshold":0.75}}],"outputDetectorPolicies":[{"detector":"toxicity","enabled":true,"severity":"CRITICAL","configuration":{"action":"BLOCK","threshold":0.87}},{"detector":"pii","enabled":false,"severity":"CRITICAL","configuration":{"entities":[{"action":"DETECT"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/detections/policies/2933
  response:
    body:
      string: '{"id":2933,"name":"tests-pol-vcr0001","version":1,"inputDetectorPolicies":[{"detector":"toxicity","enabled":true,"severity":"HIGH","configuration":{"action":"BLOCK","threshold":0.87}},{"detector":"prompt_injection","enabled":true,"severity":"CRITICAL","configuration":{"action":"BLOCK","t[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/detections/policies/name/tests-pol-vcr0001
  response:
    body:
      string: '{"id":2933,"name":"tests-pol-vcr0001","version":1,"inputDetectorPolicies":[{"detector":"toxicity","enabled":true,"severity":"HIGH","configuration":{"action":"BLOCK","threshold":0.87}},{"detector":"prompt_injection","enabled":true,"severity":"CRITICAL","configuration":{"[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://easm.test.zscaler.com/aiguard/v1/detections/policies
  response:
    body:
      string: '{"items":[{"id":2933,"name":"tests-pol-vcr0001Updated","version":2,"inputDetectorPolicies":[{"detector":"toxicity","enabled":true,"severity":"HIGH","configuration":{"action":"BLOCK","threshold":0.87}},{"detector":"prompt_injection","enabled":true,"severity":"CRITICAL","configuration":{"action":"BLOCK","threshold":0.75}}],"outputDetectorPolicies":[{"detector":"toxicity","enabled":true,"severity":"CRITICAL","configuration":{"action":"BLOCK","threshold":0.87}},{"detector":"pii","enabled":false,"severity":"C[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://easm.test.zscaler.com/aiguard/v1/detections/policies/2933
  response:
    body:
      string: ''
    headers:
      x-oneapi-host:
      - https://apiusw2.zsapi.net
      x-oneapi-request-id:
      - be97312f-bfc5-95ef-8dba-e4d5cdce4f29
      x-oneapi-version:
      - 111.1.54
      x-ratelimit-limit:
      - 1000, 1000;w=1
      x-ratelimit-remaining:
      - '995'
      x-ratelimit-reset:
      - '1'
      x-transaction-id:
      - c8078f6a-077d-42df-8d96-d31429769b5f
    status:
      code: 204
      message: No Content
version: 1
